

.-course-dates {
  display: grid;
  @extend .ais;
  @extend .g7;
  column-gap: var(--gutter);
  &--1-column {
    grid-template-columns: var(--3columns);
    @media (max-width: $md2+px) {
      grid-template-columns: var(--2columns);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: var(--column);
    }
  }

  &--2-columns {
    grid-template-columns: var(--2columns) var(--column);
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      grid-template-columns: var(--3columns) var(--3columns);
      margin-left: var(--columnG);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: var(--column) var(--column);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: var(--2columns) var(--2columns);
    }
  } 

  &--3-columns {
    grid-template-columns: var(--2columns) var(--column) var(--column);
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      grid-template-columns: var(--3columns) var(--2columns) var(--2columns);
      margin-left: var(--columnG);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: var(--column) var(--column) var(--column);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: var(--2columns) var(--column) var(--column);
    }
  }

  &__headers {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: -1;
    @media (min-width: $md4+px) {
      margin-bottom: calc(var(--S) - var(--XS));
    }
  }

  &__row {
    @extend .p1;
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-items: flex-start;
  }

  &__date-link {
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}