section.receive.section#receive
  .container
    .body
      .col2.n1o1
        h2.title Что вы получаете
        .row.x3col.g3
          .col3            
            h2.ta.t1 Эмоциональная польза
            ul.ul.col5
              li.ul__li Оказавшись в одной учебной группе с «такими же, как я», специалист чувствует, что его понимают, что он часть большого профессионального сообщества — это придает ему уверенности и повышает удовлетворенность своей работой. 
              li.ul__li Участие в обучающих программах, общение с опытными преподавателями и коллегами «отвлекают» специалистов от рабочей рутины и дают импульс к новым изменениям, улучшениям на своем рабочем месте.  
              li.ul__li Посещение Санкт-Петербурга — это всегда событие, которое само по себе может быть для специалиста и поощрением за достигнутые профессиональные результаты, и мотивом к дальнейшему росту и повышению качества своей работы.
          .por.n1w5.n3w6.x3contents
            img.receive__photo-a.w.cvr(src="img/about/photo1.png" alt="")
        .row.x3col.g3
          .por.n1w4.n2w5.n3w6.x3contents
            img.receive__photo-b.w.cvr(src="img/about/photo2.png" alt="")
          .col2.x3contents
            .col3            
              h2.ta.t1 Практическая польза
              ul.ul.col5
                li.ul__li Новые знания, необходимые для успешной профессиональной деятельности отдельного специалиста и развития вашей компании в целом.
                li.ul__li Обмен опытом с коллегами из других регионов и с других предприятий.
                li.ul__li Использование интеллектуальных ресурсов, опыта и достижений наших преподавателей и коллег по учебной группе для решения ваших корпоративных задач.
                li.ul__li Расширение круга профессиональных контактов, которые способствуют профессиональному росту специалиста, поддерживают его информированность по вопросам своей деятельности, обогащают его новыми идеями.
            .receive__attention.pd2.bgs
              p.t2 Наша миссия — содействие развитию личностей, организаций и предприятий России путем создания информационных продуктов и формирования пространства для профессионального общения специалистов различных областей деятельности.
