
-
  recommendedHero = {
    img: 'img/recommended/hero-ai.png',
    underTitle: 'Эра искусственного интеллекта',
    title: 'актуальные программы для специалистов: от <br>бухгалтерии до HR и юриспруденции',
    //- textIntro: '',
    //- text: [
    //-   '',
    //-   '',
    //- ],
    advantages: [
      {
        icon: 'tablet',
        text: 'В основе курсов — проверенные инструменты и практики, реальные кейсы и персонализированные рекомендации.'
      },
      {
        icon: 'repeat',
        text: 'Курсы регулярно актуализируются с учетом отраслевых трендов, изменений нормативно-правовой и законодательной базы.'
      },
      {
        icon: 'user-check',
        text: 'Преподаватели — признанные эксперты с практическим опытом.'
      },
      {
        icon: 'monitor',
        text: 'Курсы доступны очно и онлайн, в формате интерактивной трансляции.'
      },
    ],
  }

include _hero-recommended_!template