
-
  recommendedHero = {
    img: 'img/recommended/hero-digital.png',
    underTitle: 'Будущее начинается сейчас',
    title: 'Цифровая трансформация. <br class="n3hide">Каталог курсов',
    textIntro: 'Что общего между заводом, медицинской клиникой и библиотекой? Возможность оптимизации их деятельности с помощью цифровых технологий.',
    text: [
      'Цифровая трансформация стала глобальным процессом современности и охватила множество отраслей — от промышленности до сферы культуры и досуга. Цифровизация позволяет бизнесу достичь активного роста, высокого уровня экспертизы, гибкости и продуктивности. Более того, она открывает новые перспективы развития в областях, которые на первый взгляд кажутся достаточно консервативными — например, в государственном и муниципальном управлении.',
      'За последние годы мы разработали десятки курсов повышения квалификации, посвященных комплексной цифровизации бизнеса, учреждений здравоохранения, образования и культуры. Представленный ниже каталог включает также узкопрофильные курсы, сфокусированные на автоматизации производственных задач и конкретных операций в деятельности предприятий.',
    ],
    advantages: [
      {
        icon: 'tablet',
        text: 'В основе курсов — проверенные инструменты и практики, реальные кейсы и персонализированные рекомендации.'
      },
      {
        icon: 'repeat',
        text: 'Курсы регулярно актуализируются с учетом отраслевых трендов, изменений нормативно-правовой и законодательной базы.'
      },
      {
        icon: 'user-check',
        text: 'Преподаватели — признанные эксперты с многолетним опытом.'
      },
      {
        icon: 'monitor',
        text: 'Курсы доступны очно и онлайн, в формате интерактивной трансляции.'
      },
    ],
  }

include _hero-recommended_!template