@use 'sass:math';
@import 'scss-tools';
@import 'css-settings/fonts';
@import '../../web-template/src/css-libs/null';

*:focus-visible {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  color: var(--text-main);
  stroke: var(--text-main);
  stroke-width: 1.5px;
  font-size: var(--fs);
  font-weight: 400;
  font-style: normal;
  $lh: 20;
  line-height: round-to(math.div($lh, $fz), 3);
  letter-spacing: 0;
}

body {
  height: 100%;
  background-color: var(--bg-main);
}

section,
div {
  scroll-margin-top: calc(var(--header-height) + 50px);
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

// strong {
//   
// }

// b {
// 	
// }

.wrapper {
  overflow: hidden;
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: $maxWidth+px;
  min-height: 100%;
  margin: 0 auto;
}

.page {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  // max-width: $maxWidth + px;
  flex: 1 1 auto;
  margin-top: var(--header-height);
}

@import '../../web-template/src/css-libs/lightgallery';
@import '../../web-template/src/css-libs/swiper-bundle-11-2-1';

@import 'css-settings/functions';
@import 'css-settings/framework';
@import 'css-sections/content';
@import 'css-settings/elements';

// @import 'css-sections/popups';
@import 'css-sections/header';
@import 'css-sections/footer';
@import 'css-sections/pagination';
// @import 'css-sections/frame-navigation';

// @import 'css-sections/form-sign.scss';
// @import 'css-sections/form-popup-sign.scss';

@import 'css-sections/slider-main.scss';
// @import 'css-sections/slider-doctors.scss';

// @import 'css-sections/grid-videos.scss';

// @import 'css-sections/spollersPrice.scss';

@import 'css-sections/booking.scss';
@import 'css-sections/bottom-plan.scss';
@import 'css-sections/conditions.scss';
@import 'css-sections/contacts-feedback.scss';
@import 'css-sections/contacts-hotels.scss';
@import 'css-sections/courses.scss';
@import 'css-sections/choose.scss';
@import 'css-sections/feedback.scss';
@import 'css-sections/first.scss';
@import 'css-sections/hero-distance.scss';
@import 'css-sections/hero-prof.scss';
@import 'css-sections/hotels.scss';
@import 'css-sections/mailing.scss';
@import 'css-sections/map.scss';
@import 'css-sections/plan.scss';
@import 'css-sections/programms.scss';
@import 'css-sections/recommended.scss';
@import 'css-sections/results.scss';
@import 'css-sections/route.scss';
@import 'css-sections/rubrics.scss';
@import 'css-sections/subrubrics.scss';
@import 'css-sections/support.scss';
@import 'css-sections/trust.scss';

@import 'css-settings/variables-css';
