@use 'sass:math';
@import 'scss-tools';
@import 'css-settings/font-face';
@import '../../web-template/src/css-libs/null';

:root {
  // color-scheme: only light;
}

*:focus-visible {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  color: var(--text-main);
  stroke: var(--text-main);
  stroke-width: 1.5px;
  font-size: var(--fs);
  font-weight: 400;
  font-style: normal;
  $lh: 20;
  line-height: round-to(math.div($lh, $fz), 3);
  letter-spacing: 0;
}

body {
  height: 100%;
  background-color: var(--bg-main);
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

#measure {
  position: absolute;
  width: 100vw;
}

// strong {
//
// }

// b {
//
// }

.wrapper {
  overflow: hidden;
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: $maxWidth + px;
  min-height: 100%;
  margin: 0 auto;
}

.page {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  // max-width: $maxWidth + px;
  flex: 1 1 auto;
  margin-top: var(--header-height);
}

@import '../../web-template/src/css-libs/lightgallery';
@import '../../web-template/src/css-libs/swiper-bundle-11-2-1';

@import 'css-framework/functions';
@import 'css-framework/fonts';
@import 'css-framework/positions';
@import 'css-framework/images';
@import 'css-framework/hide';
@import 'css-framework/flex';
@import 'css-framework/width';
@import 'css-framework/space';
@import 'css-framework/background';
@import 'css-framework/border';
@import 'css-elements/content';
@import 'css-elements/elements';


@import '../html/components/arrow/_arrow_';
@import '../html/components/breadcrumbs/_breadcrumbs_';
@import '../html/components/burger/_burger_';
@import '../html/components/checkbox/_checkbox_';
@import '../html/components/course-dates/_course-dates_';
@import '../html/components/course-info/_course-info_';
@import '../html/components/input-wrapper/_input-wrapper_';
@import '../html/components/item-case/_item-case_';
@import '../html/components/item-client/_item-client_';
@import '../html/components/item-contact/_item-contact_';
@import '../html/components/item-course/_item-course_';
@import '../html/components/item-header-menu/_item-header-menu_';
@import '../html/components/item-header-submenu/_item-header-submenu_';
@import '../html/components/item-hotel/_item-hotel_';
@import '../html/components/item-promo/_item-promo_';
@import '../html/components/item-recommended/_item-recommended_';
@import '../html/components/menu-header/_menu-header_';
@import '../html/components/mode/_mode_';
@import '../html/components/pagination/_pagination_';
// @import '../html/components/popups/_popups_';
@import '../html/components/results-header/_results-header_';
@import '../html/components/select/_select_';
@import '../html/components/select-header/_select-header_';
@import '../html/components/slide-main/_slide-main_';
@import '../html/components/square-info/_square-info_';


@import '../html/views/all-promo/_all-promo';
@import '../html/views/booking/_booking';
@import '../html/views/bottom-plan/_bottom-plan';
@import '../html/views/cases/_cases';
@import '../html/views/center/_center';
@import '../html/views/certificate/_certificate';
@import '../html/views/conditions/_conditions';
@import '../html/views/contacts-feedback/_contacts-feedback';
@import '../html/views/contacts-hotels/_contacts-hotels';
@import '../html/views/choose/_choose';
@import '../html/views/feedback/_feedback';
@import '../html/views/first/_first';
@import '../html/views/footer/_footer';
@import '../html/views/form-recommended/_form-recommended';
@import '../html/views/header/_header';
@import '../html/views/hero-corp/_hero-corp';
@import '../html/views/hero-distance/_hero-distance';
@import '../html/views/hero-navigation/_hero-navigation';
@import '../html/views/hero-prof/_hero-prof';
@import '../html/views/hotels/_hotels';
@import '../html/views/mailing/_mailing';
@import '../html/views/map/_map';
@import '../html/views/materials/_materials';
@import '../html/views/partners/_partners';
@import '../html/views/plan/_plan';
@import '../html/views/promo/_promo';
@import '../html/views/programms/_programms';
@import '../html/views/route/_route';
@import '../html/views/rubrics/_rubrics';
@import '../html/views/slider-main/_slider-main';
@import '../html/views/slider-licenses/_slider-licenses';
@import '../html/views/subrubrics/_subrubrics';
@import '../html/views/support/_support';
@import '../html/views/trust/_trust';

@import 'css-settings/variables-css';
