%pagination-item {
  @extend .dur;
  @extend .r;
  @extend .jcc;
  @extend .aic;
  height: 45px;
  @extend .bdl;
  @extend .bd2;
  @media (max-width: $md2+px) {
    height: 35px;
  }
  @media (max-width: $md3+px) {
    height: 30px;
  }
  &:hover,
  &:focus-visible {
    border-color: var(--bg-bright);
  }
}

%pagination-control {
  @extend %pagination-item;

  width: 95px;
  @media (max-width: $md3+px) {
    width: 89px;
  }
  @media (max-width: $md4+px) {
    width: 140px;
  }
}

.-pagination {
  @extend .r;
  @extend .jcc;
  &__body {
    @extend .t2;
    @extend .r15;
    @extend .g5;
    @extend .x2jcc;
    @extend .x4wrap;
    @media (max-width: $md4+px) {
      column-gap: var(--gutter);
      width: 300px;
    }
  }

  &__prev {
    @extend %pagination-control;
    @media (max-width: $md4+px) {
      margin-right: auto;
    }
  }

  &__next {
    @extend %pagination-control;
    @media (max-width: $md4+px) {
      margin-left: auto;
    }
  }

  &__pages {
    @extend .r15;
    @extend .g5;
    @extend .jcc;
    @media (max-width: $md4+px) {
      order: -1;
      flex-basis: 100%;
    }
  }

  &__num {
    @extend %pagination-item;
    min-width: 45px;
    @media (max-width: $md2+px) {
      min-width: 35px;
    }
    @media (max-width: $md3+px) {
      min-width: 30px;
    }
    &._active {
      @extend .ts;
      @extend .bgb;
      @extend .bd;
    }
  }
}
