%pagination-item {
  @include dur;
  @include r;
  @include jcc;
  @include aic;
  height: 45px;
  @include bd2l;
  @media (max-width: $md2+px) {
    height: 35px;
  }
  @media (max-width: $md3+px) {
    height: 30px;
  }
  &:hover,
  &:focus-visible {
    border-color: #{$bg-bright};
  }
}

%pagination-control {
  @extend %pagination-item;

  width: 95px;
  @media (max-width: $md3+px) {
    width: 89px;
  }
  @media (max-width: $md4+px) {
    width: 140px;
  }
}

.pagination {
  @include r;
  @include jcc;
  &__body {
    @include t2;
    @include r15;
    @include g5;
    @include x2jcc;
    @include x4wrap;
    @media (max-width: $md4+px) {
      column-gap: var(--gutter);
      width: 300px;
    }
  }

  &__prev {
    @extend %pagination-control;
    @media (max-width: $md4+px) {
      margin-right: auto;
    }
  }

  &__next {
    @extend %pagination-control;
    @media (max-width: $md4+px) {
      margin-left: auto;
    }
  }

  &__pages {
    @include r15;
    @include g5;
    @include jcc;
    @media (max-width: $md4+px) {
      order: -1;
      flex-basis: 100%;
    }
  }

  &__num {
    @extend %pagination-item;
    min-width: 45px;
    @media (max-width: $md2+px) {
      min-width: 35px;
    }
    @media (max-width: $md3+px) {
      min-width: 30px;
    }
    &._active {
      @include ts;
      @include bgb;
      @include bd;
    }
  }
}
