-
  route = {
    id: 'msk',
    title: 'Как добраться до учебного комплекса в москве',
    intro: 'Бизнес-парк «Ямское поле», г. Москва, 3-я ул. Ямского Поля, д. 2, корп. 1, <br>ст. метро «Белорусская»',
    img: 'msk.png',
    blocks: [
      {
        icon: 'plane',
        title: 'Путь из аэропорта',
        text: [
          'Из аэропорта в город добирайтесь на аэроэкспрессе (из Внуково — до Киевского вокзала, из Домодедово — до Павелецкого вокзала, из Шереметьево — до Белорусского вокзала). Выйдя из вокзала, поезжайте на метро до станции «Белорусская».',
          'Время в пути 1–1,5 ч.'
        ],
      },
      {
        icon: 'train',
        title: 'Путь с вокзала',
        text: [
          'Рядом с вокзалом зайдите в метро. Поезжайте до станции «Белорусская». Время в пути 25–45 мин. А если вы и так прибыли на Белорусский вокзал, начинайте путь по пл. Тверская Застава до Бизнес-парка «Ямское поле».',
        ],
      },
      {
        icon: 'route',
        title: 'Путь от метро',
        text: [
          'Выйти из метро на станции «Белорусская» можно на Лесную улицу (Кольцевая линия, выход № 2) или к пл. Тверская Застава (зеленая линия, выход № 4).',
          'Поднимитесь на мост и следуйте в сторону 1-й ул. Ямского Поля. На первом перекрестке поверните налево на 3-ю ул. Ямского поля. Дойдите до входа в Бизнес-парк «Ямское поле», но не заходите внутрь.',
          'Оставив главный вход по правую руку, пройдите ещё 100 метров, до первого поворота. Поверните направо. Нужное здание будет вторым по левой стороне. Вам во второй подъезд, на второй этаж.',
          'Время в пути 10 мин.'
        ],
      },
    ]
  }

include _route_!template

//- http://localhost:1709/page-contacts.html#msk