.branch-title {
  @include twb;
  break-inside: avoid-column;
  break-after: avoid-column;
  @include r10;
  @include ais;
  &::before {
    content: '';
    vertical-align: text-top;
    position: relative;
    top: 4px;
    display: inline-block;
    @include i16;
    background-color: var(--group-color);
    @media (max-width: $md2+px) {
      top: 2px;
    }
  }

  &__main {
    line-height: 1;
  }

  &__title {
    @include t2d;
    vertical-align: middle;
  }

  &__date {
    @include wsn;
    vertical-align: middle;
    @include p1;
  }

  &__num {
    @include tb;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    @include t2;
  }
}
