.branch {
  &:not(:first-child) {
    margin-top: #{$M};
  }

  &__body {
    break-inside: avoid-column;
    @include col7;
    @include m5;
  }

  &__link {
    @include dur;
    @include p1;
    &:hover,
    &:focus-visible {
      color: var(--group-color);
    }
  }
}
