.-client-item {
  @extend .bdg;
  &:is(a) {
    &:hover,
    &:focus-visible {
      & img {
        scale: (1.05);
      }
    }
  }

  &__body {
    padding: var(--S-M);
  }

  &__about {
    overflow-wrap: break-word; /* Современный аналог word-wrap */
    word-break: auto-phrase;
    hyphens: auto; /* Красивые переносы с дефисами */
    @extend .col7;
    @extend .m4;
    padding-top: var(--S-M);
    border-top: 2px solid var(--border-gray);
  }
}
