.-client-item {
  @extend .bd2g;
  &:is(a) {
    &:hover,
    &:focus-visible {
      & img {
        scale: (1.05);
      }
    }
  }
  &__body {
    padding: calc(var(--S-M) - var(--border-reduce));
  }
}
