

.input-wrapper {
  @include col7;
  &__label {
    @include dur;
    @include p2;
  }
  &:focus-within,
  &:has(:is(input, textarea, .select):hover) {
    & .input-wrapper__label {
      color: #{$text-bright};
    }
  }
  &:has(.select._active) {
    & .input-wrapper__label {
      color: #{$text-bright};
    }
  }
  &:has(:is(.input, .select__input):user-invalid) {
    & .input-wrapper__label {
      color: #{$text-invalid};
    }
  }
  &:has(.input:disabled) {
    & .input-wrapper__label {
      color: #{$text-light};
    }
  }
}