
section.section#help
  .container
    .body.row.jcc
      .col3.n2w6.n3w10.w4
        .col7
          h2.title остались Вопросы?
          p.p1.tac Наши специалисты помогут выбрать формат обучения, сориентироваться в каталоге курсов, воспользоваться акциями. #[br.n3hide]Свяжитесь с нами удобным способом:
        .row.wrap.g3.x4tac
          .col7.n2w3.n3w5.w2.x4w4
            a.t2.link(href="+78003338844") +7 (800) 333-88-44
            p.p2 С 8:00 до 18:00 Мск #[br]Звонок по РФ бесплатный
          .col7.n2w3.n3w5.w2.x4w4
            a.t2.link(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru
            p.p2 Вы получите ответ в течение #[br.n3hide]1 рабочего дня
    

//- http://localhost:1709/page-corp.html#help