section.section
  .container
    h2.title поможем с выбором
    p.intro.m7 Нет времени на поиск программы #[br.n4hide]в большом ассортименте? #[br]Мы подберем курсы по вашим требованиям.
    .row-wrap.jcc.g5.m3
      .n1w3.n3w4.x3w2.x4c.x4w4
        a.t2.link(href="tel:+78003338844") +7 (800) 333-88-44
        p.p2.m7 Звонок по России бесплатный
      .n1w3.n3w4.x3w2.x4c.x4w4
        a.t2.link(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru
        p.p2.m7 Вы получите ответ в течение #[br.n2hide.x4hide]1 рабочего дня
