section.section.certificate
  .container
    .col2.n1o1
      h1.title Good news! Удостоверение о повышении квалификации на английском
      p.p1 Весной 2019 года мы начали выдачу удостоверений о повышении квалификации на английском языке. Получить такое удостоверение можно для любого курса, по окончании которого выдается традиционное удостоверение на русском языке.
    .row.m1.n1o2.n2o1
      img.n1w4(src="img/certificate/certificate.png", alt="")
      .col3
        h2.t1d оформление
        .col5
          p.p1 Чтобы получить удостоверение на английском, достаточно запросить его у менеджера при записи на курс по телефону #[a.link(href="tel:+78003338844") +7 (800) 333-88-44] или на сайте.
          p.t2.bright Стоимость оформления: 4 200 рублей
        p.certificate__note.p2 Обращаем внимание, что на английском языке мы выдаем удостоверения о повышении квалификации, свидетельства и сертификаты. Дипломы о профессиональной переподготовке выдаются только на русском языке.