include ../../../data/hotelsArchive

section.booking.section#booking
  .container
    h1.title.tb Бронирование гостиниц:
    form.m2.n1o1
      .booking__main.row.x3col.g3
        fieldset.n1w4.n2w5.n3w6
          legend.t2d Информация об отеле
          .col5.m4
            -
              hotelsNames = hotelsArchive.map((hotel) => {
                return hotel.name;
              })
            +inputWrapper({
              label: 'Гостиница',
              name: 'hotel',
              value: hotelsArchive[0].name,
              fieldType: 'select',
              selectConfig: {
                options: hotelsNames,
                activeIndex: 0,
              }
            })
            +inputWrapper({
              label: 'Категория номера',
              name: 'category',
              value: 'Стандарт',
              fieldType: 'select',
              selectConfig: {
                options: [
                  'Стандарт',
                  'Комфорт',
                  'Эконом',
                ],
                activeIndex: 0,
              }
            })
            +inputWrapper({
              label: 'Размещение в номере',
              name: 'accommodation',
              value: 'Одноместное',
              fieldType: 'select',
              selectConfig: {
                options: [
                  'Одноместное',
                  'Двуместное',
                ],
                activeIndex: 0,
              }
            })
            +inputWrapper({
              label: 'Дата заезда',
              type: 'date',
              inputClass: 'input--date',
              name: 'date-in',
              value: '2025-06-10'
            })
            +inputWrapper({
              label: 'Дата выезда',
              type: 'date',
              inputClass: 'input--date',
              name: 'date-out',
              value: '2025-06-10'
            })
        fieldset.n2ol1.n1w5.n3w6
          legend.t2d Информация о слушателе
          .col5.m4
            +inputWrapper({
              label: 'Код семинара',
              name: 'code',
              placeholder: '789765'
            })
            +inputWrapper({
              label: 'ФИО участника',
              name: 'fio',
              placeholder: 'Иванов Иван Иванович'
            })
            +inputWrapper({
              label: 'Электронная почта',
              type: 'email',
              name: 'email',
              placeholder: 'example@mail.ru'
            })
            +inputWrapper({
              label: 'Телефон',
              name: 'tel',
              type: 'tel',
              placeholder: '8 (999) 999-99-99'
            })
            +inputWrapper({
              label: 'Вид оплаты',
              name: 'payment',
              value: 'Наличные/Карта',
              fieldType: 'select',
              selectConfig: {
                options: [
                  'Наличные/Карта',
                  'Безналичный от юрлица',
                ],
                activeIndex: 0,
              }
            })
      footer.booking__bottom.col3.n1w4.n2w5.n3w6.m3        
        +inputWrapper({
          label: 'Примечание',
          name: 'note',
          placeholder: 'Напишите свое сообщение',
          fieldType: 'textarea',
        })
        .col5
          .row.g5.x4col
            button(type="submit").button-primary.n2w2.n3w3.w2.x4w4 Отправить
            input(type="reset" value="Отмена").button-second.n2w2.n3w3.w2.x4w4
          p.p2 Нажимая кнопку, я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных #[a.link(href="#") Политикой конфиденциальности].

//- http://localhost:1709/page-booking.html#booking