section.section
  .container
    .body
      .row.x3wrap.g3.aic.n1o1
        .col3.aie
          h2.t2d Подробнее о ЦНТИ ПРОГРЕСС, многолетней истории и преимуществах сотрудничества с нами расскажет видеоролик
          .aca.n2w2.n3w3.w2(href="#")
            +arr()
        a._popup-link(href="#video" data-platform="vk" data-video="[47184958,456239042]")
          img.n1w6.n3w7.w4.cvr(src="img/about/video.png" alt="")