header.header._lp
  .header__container._container
    a.header__logo(href="")
      img.header__img(src="", alt="")
    nav.header__navigation 
      include _header_#template_wp-menu

//- scss/css-sections/header.scss