ul.menu
  li.menu-item.current-menu-item
    a href="/home/" Home  
  li.menu-item.menu-item-has-children
    a(href="/services/") Services
    ul.sub-menu
      li.menu-item 
        a(href="/services/design/") Design      
      li.menu-item
        a(href="/services/seo/") SEO
