-
  const courses = [
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    },
    {
      name: "<b>Строительн</b>ый надзор. Реализация функций государственного надзора в ходе контрольных (надзорных) мероприятий",
      date: "25 - 29 мая 2025"
    },
    {
      name: "<b>Строительн</b>ый надзор. Реализация функций государственного надзора в ходе контрольных (надзорных) мероприятий",
      date: "25 - 29 мая 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 - 29 мая 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    }
  ];

header.header
  .header__container._container
    .header__top-level
      button.header__city.header-select._menu-btn
        .header-select__triangle.triangle
        .header-select__current-city Санкт-Петербург
        svg.header-select__svg
          use(xlink:href='img/sprite/symbols.svg#chevron-down')
        .header-select__variants-wrapper._menu-body
          .header-select__variants
            a.header-select__city._active(href="/page-main.html") Санкт-Петербург
            a.header-select__city(href="/page-main.html") Москва
      .header__icon-links
        a.header__icon-link(href="#")
          svg.header__icon-link-svg
            use(xlink:href='img/sprite/symbols.svg#plan')
          | Составить план 2025
        a.header__icon-link(href="#")
          svg.header__icon-link-svg
            use(xlink:href='img/sprite/symbols.svg#key')
          | Бронь отелей
        a.header__icon-link(href="#")
          svg.header__icon-link-svg
            use(xlink:href='img/sprite/symbols.svg#mail')
          | Рассылка
      .header__contacts
        button.header__phone.header-select._menu-btn
          .header-select__triangle.triangle
          .header-select__first-phone 8 (800) 333-88-44
          svg.header-select__svg.header-select__svg--accent
            use(xlink:href='img/sprite/symbols.svg#chevron-down')
          .header-select__variants-wrapper._menu-body
            .header-select__variants
              a.header-select__phone._active(href="tel:88003338844") 8 (800) 333-88-44
              a.header-select__phone(href="tel:88123318888") 8 (812) 331-88-88
        a.header__mail(href="mailto:client@cntiprogress.ru")
          svg.header__mail-svg
            use(xlink:href='img/sprite/symbols.svg#email')
          span.header__mail-span client@cntiprogress.ru
    .header__body
      a.header__logo-link(href="/") 
        img.header__logo-link-img(src="img/logo.svg" alt="")
      form.header__search
        .header__search-input-wrapper
          input.header__search-input(placeholder='Поиск по сайту')
          button.header__search-close
            svg.header__search-close-svg
              use(xlink:href='img/sprite/symbols.svg#x-close')
          .header__search-results.search-results
            each course in courses
              a.search-results__item(href="#") 
                p.search-results__number 71455
                p.search-results__name !{course.name}
                p.search-results__dates !{course.date}  
        button.header__search-btn Найти #[span._x2-hide курс]
      .header__burger-wrapper
        .header__burger.burger
          span.burger__line
          span.burger__line
          span.burger__line
    include _header_#template_menu.pug
    .header__info-panel
      p #[span._x3-hide Готов учебный план на 2025 год.] Расписание курсов по всем отраслевым направлениям — в одной брошюре. #[br._n3-hide] #[span._n3-hide Готов учебный план на 2025 год.]
        a.header__info-link(href="#") скачать
          svg.header__info-link-svg
            use(xlink:href='img/sprite/symbols.svg#arrow-right')

//- scss/css-sections/header.scss