include html/_mixins
doctype html
html(lang="ru")
	+head('РУБРИКА (РАЗВОДЯЩАЯ КУРСОВ)', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/breadcrumbs/_breadcrumbs_coursesA
				include html/choose/_choose_coursesA
				include html/subrubrics/_subrubrics_coursesA
				include html/courses/_courses_coursesA
			include html/footer/_footer_$common
		+js('')