extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Каталог семинаров',
				'Семинары и курсы по управлению производством'
			]
		}

block head
	+head('РУБРИКА (РАЗВОДЯЩАЯ КУРСОВ)', 'description', [], [], [])

block content 
	
	include html/views/choose/_choose_coursesA
	include html/views/subrubrics/_subrubrics_coursesA
	include html/views/courses/_courses_coursesA
	include html/blocks/help/_help_$common

block scripts
	+js([],[])