extends html/layouts/default


block settings
	+pageConfig({
		title: 'ОТЗЫВЫ',
		breadcrumbs: ['Отзывы о семинарах в Санкт-Петербурге']
	})

block content
	include data/reviewsArchive

	.section
		.container
			.col2.n1o1
				.col7
					p.tb.t2 Курс повышения квалификации 
					h1.td.t1 Перспективные полимерные материалы в промышленности — герметики, компаунды, лакокрасочные покрытия
				.col3
					.row.x3col.g5.aie
						.col5.x3row.x4col.ais.x3jcb.n1w4.n2w5.w4
							p.p1 Посетители наших семинаров оставили 15&nbsp;отзывов
							a.sa-link.link.p1.r5.aic(href="#")
								svg.i24.x2i20
									use(xlink:href='img/sprite/symbols.svg#plan')
								| Оставить отзыв
						.r30.jce.x3jcb.x4wrap.g7.w
							span.p1 Показывать:
							span.ta.p1 Все отзывы
							a.p1.hover(href="#") За последний месяц
							a.p1.hover(href="#") За последний год
					.col3
						hr.bbd2l
						each review in reviewsArchive
							+reviewItem(review, reviewConfigs.default)
				+pagination({
					totalPages: 10,
					currentPage: 2,
				})