include html/_mixins
doctype html
html(lang="ru")
	+head('РУБРИКА (РАЗВОДЯЩАЯ КУРСОВ)', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/breadcrumbs/_breadcrumbs_rubricsA
				include html/choose/_choose_rubricsA
				include html/subrubrics/_subrubrics_rubricsA
			include html/footer/_footer_$common
		+js('')