include html/_mixins
doctype html
html(lang="ru")
  +head('NAVIGATION', 'description', [], [])
  body
    .wrapper
      main#page.page(style="padding-left:20px;")
        ._container
          ol
            li
              a(href="page-main.html") ГЛАВНАЯ СТРАНИЦА
            li
              a(href="page-search.html") ПОИСК (РЕЗУЛЬТАТЫ)
            li
              a(href="page-search-empty.html") ПОИСК (ПУСТОЙ)
            li
              a(href="page-plan.html") ПЛАН
            li
              a(href="page-mailing.html") РАССЫЛКА
            li
              a(href="page-rubrics.html") РУБРИКАТОР
            li
              a(href="archive-courses.html") РУБРИКА (РАЗВОДЯЩАЯ КУРСОВ)
    +js('')