include html/_mixins
doctype html
html(lang="ru")
  +head('NAVIGATION', 'description', [], [])
  body
    .wrapper
      main#page.page(style="padding-left:20px;")
        ._container
          ol
            li
              a(href="page-main.html") ГЛАВНАЯ СТРАНИЦА
            li
              a(href="page-rubrics.html") РУБРИКАТОР
    +js('')