include html/_mixins
doctype html
html(lang="ru")
  +head('NAVIGATION', 'description', [], [])
  body
    .wrapper
      main#page.page
        ._container
          ol
            li
              a(href="page-main.html") MAIN
    +js('')