extends html/layouts/default

block settings
  +pageConfig({
    title: 'ВСЕ ШАБЛОНЫ',
    breadcrumbs: [
      'Все шаблоны',
    ]
  })

block content		
  .section
    .container
      h1.title Все шаблоны
      ol.ol.col7.m2
        li.ol__li
          a.link(href="page-rubrics.html") РУБРИКАТОР
        li.ol__li
          a.link(href="page-main.html") ГЛАВНАЯ СТРАНИЦА
        li.ol__li
          a.link(href="archive-courses.html") РУБРИКА (РАЗВОДЯЩАЯ КУРСОВ)
        li.ol__li
          a.link(href="page-search.html") ПОИСК (РЕЗУЛЬТАТЫ)
        li.ol__li
          a.link(href="page-search-empty.html") ПОИСК (ПУСТОЙ)
        li.ol__li
          a.link(href="page-plan.html") ПЛАН
        li.ol__li
          a.link(href="page-mailing.html") РАССЫЛКА
        li.ol__li
          a.link(href="page-hotels.html") ОТЕЛИ
        li.ol__li
          a.link(href="page-booking.html") БРОНИРОВАНИЕ
        li.ol__li
          a.link(href="page-feedback.html") ОБРАТНАЯ СВЯЗЬ
        li.ol__li
          a.link(href="page-contacts.html") КОНТАКТЫ
        li.ol__li
          a.link(href="page-distance.html") ДИСТАНЦИОННЫЕ КУРСЫ
        li.ol__li
          a.link(href="page-prof.html") ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА
        li.ol__li
          a.link(href="page-corp.html") КОРПОРАТИВНОЕ ОБУЧЕНИЕ
        li.ol__li
          a.link(href="archive-promo.html") АКЦИИ
        li.ol__li
          a.link(href="page-clients.html") КЛИЕНТЫ
        li.ol__li
          a.link(href="page-partners-alphabet.html") ПАРТНЕРЫ АЛФАВИТ
        li.ol__li
          a.link(href="page-partners-category.html") ПАРТНЕРЫ КАТЕГОРИИ
        li.ol__li
          a.link(href="page-materials.html") МАТЕРИАЛЫ
        li.ol__li
          a.link(href="page-center-spb.html") УЧЕБНЫЙ ЦЕНТР СПБ
        li.ol__li
          a.link(href="page-certificate.html") УДОСТОВЕРЕНИЕ
        li.ol__li
          a.link(href="archive-recommended.html") ЦНТИ ПРОГРЕСС РЕКОМЕНДУЕТ (бывш. СПЕЦПРЕДЛОЖЕНИЯ)
        li.ol__li
          a.link(href="single-recommended-digital.html") ЦИФРОВИЗАЦИЯ
        li.ol__li
          a.link(href="page-navigation.html") НАВИГАЦИЯ
        li.ol__li
          a.link(href="single-course.html") КУРС
        li.ol__li
          a.link(href="single-course--online.html") КУРС ОНЛАЙН
        li.ol__li
          a.link(href="single-recommended-ai.html") ИИ
        li.ol__li
          a.link(href="archive-reviews.html") ОТЗЫВЫ
      ul.ul.col7.m2
        li.ul__li
          a.link(href="service-pagination.html") ПАГИНАЦИЯ
        li.ul__li
          a.link(href="service-icons.html") ИКОНКИ
        li.ul__li
          a.link(href="page-main-gothic.html")  ГЛАВНАЯ СТРАНИЦА (GOTHIC)