extends html/layouts/default

block settings
  +pageConfig({
    title: 'ЗАПИСЬ НА КУРС',
    breadcrumbs: [
      'Каталог семинаров',
      'Технологам',
      'Комплексная диагностика технологического уровня предприятия. Технологический аудит. Повышение эффективности производства, надежности ',
    ]
  })

block content
  .section
    .container
      .col7.n3o1
        p.tb.t2 Запись на курс в учебном центре
        h1.t1d Комплексная диагностика технологического уровня предприятия. Технологический аудит. Повышение эффективности производства, надежности технологических процессов
