include html/_mixins
doctype html
html(lang="ru")
	+head('ПОИСК (ПУСТОЙ)', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main.page#page
				include html/blocks/breadcrumbs/_breadcrumbs_search
				include html/blocks/results/_results_search-empty
			include html/components/footer/_footer_$common
		+js([],[])