extends html/layouts/default

block settings
	+pageConfig({
		title: 'ГЛАВНАЯ СТРАНИЦА'
	})

block content	
	include html/views/slider-main/_slider-main_main
	include html/views/rubrics/_rubrics_$common
	include html/views/recommended/_recommended_main
	include html/views/trust/_trust_main
	include html/views/programms/_programms_main