extends html/layouts/default

block settings
  +pageConfig({
    title: 'ЗАПИСЬ НА КУРС',
    breadcrumbs: [
      'Каталог семинаров',
      'Технологам',
      'Регистрация на курс 72250',
    ]
  })

block content
  include html\views\head-sign\_head-sign_sign
  include html\views\contur\_contur_sign
  include html\views\form-sign\_form-sign_sign