extends html/layouts/default

block settings
	+pageConfig({
		title: 'ОБРАТНАЯ СВЯЗЬ',
		breadcrumbs: [
			'Обратная связь'
		]
	})

block content	
	include html/views/feedback/_feedback_feedback
	include html/views/contacts-feedback/_contacts-feedback_feedback