extends html/layouts/default

block settings
	+pageConfig({
		title: 'ПАРТНЕРЫ КАТЕГОРИИ',
		breadcrumbs: [
			'Партнеры ЦНТИ Прогресс',
		]
	})

block content		
	include html/views/partners/_partners-categories_partners-category