extends html/layouts/default

block settings
	+pageConfig({
		title: 'УСПЕШНАЯ РЕГИСТРАЦИЯ',
	})
	
block content
	.section
		.container
			.n1o1.col1
				.col3
					.col5
						p.tb.t1 Вы зарегистрировались на курс:
						h1.t1d Комплексная диагностика технологического уровня предприятия. Технологический аудит. Повышение эффективности производства, надежности технологических процессов
					.row.x4wrap.g5.aie.jcb
						p.t2 Код курса: #[span.ta 72250]
						button.button-second.n1w3.n3w4.w2.x4w4 Распечатать
				.x2wide.pd2.bgs
					p.p1.tac #[span.tb Фамилия Имя Отчество], мы получили Вашу заявку на участие в курсе. #[br]На Вашу электронную почту #[a.link(href="mailto:example@mail.ru") example@mail.ru] отправлено #[br.n3hide]письмо с подтверждением регистрации. #[br]Благодарим Вас за интерес к мероприятиям ЦНТИ ПРОГРЕСС!
				.col3
					.row.x3col.g7
						p.t2d.n3w3 Период проведения:
						p.t2 с 10 марта по 14 марта 2026 года
					.row.x3col.g7
						p.t2d.n3w3 Место проведения:
						.col7
							p.t2 Учебный комплекс ЦНТИ Прогресс г. Санкт-Петербург, Васильевский остров, Средний пр-т, д. 36/40 ст. метро "Василеостровская"
							.r5.aic
								svg.i24
									use(xlink:href='img/sprite/symbols.svg#phone')
								p.t2 #[a.hover(href="tel:88003338844") 8 (800) 333-88-44], #[a.hover(href="tel:+78123318888") +7(812)331-88-88]
					.row.x3col.g7
						p.t2d.n3w3 Стоимость участия:
						p.tb.t2 54 800 руб
				.col5
					p.t2d Если Вы не получили письмо
					p.p1 Если #[span.tb в течение 1 рабочего дня] Вы не получили письмо с подтверждением регистрации и #[span.tb до начала мероприятия осталось менее 5 рабочих дней], обязательно позвоните по телефону #[a.link-b(href="tel:+78123318888") +7(812)331-88-88] (с 8:00 до 18:00 по московскому времени). #[br]Наши менеджеры ответят на Ваши вопросы и будут рады оказать поддержку.