include html/_mixins
doctype html
html(lang="ru")
	+head('ПЕРЕПОДГОТОВКА', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/breadcrumbs/_breadcrumbs_distance
				include html/hero-prof/_hero-prof_prof
				include html/courses/_courses_prof
				include html/section-help/_section-help_$common
			include html/footer/_footer_$common
		+js([],[])