include html/_mixins
doctype html
html(lang="ru")
	+head('РУБРИКАТОР', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/rubrics/_rubrics_$common
			include html/footer/_footer_$common
		+js([],[])