extends html/layouts/default

block settings
	+pageConfig({
		title: 'ДИСТАНЦИОННЫЕ КУРСЫ',
		breadcrumbs: [
			'Список дистанционных курсов',
		]
	})

block content	
	include html/views/hero-distance/_hero-distance_distance
	include html/views/courses/_courses_distance
	include html/views/help/_help_$common