extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Бронирование гостиниц',
			]
		}

block head
	+head('БРОНИРОВАНИЕ', 'description', [], [], [])

block content	
	include html/views/booking/_booking_booking

block scripts
	+js([],[])