extends html/layouts/default

block settings
	+pageConfig({
		title: 'КОРПОРАТИВНОЕ ОБУЧЕНИЕ',
	})
block content	
	include html/views/hero-corp/_hero-corp_corp
	include html/views/help-corp/_help-corp_corp
	include html/views/cases/_cases_corp
	include html/views/form-corp/_form-corp_corp
	include html/views/slider-licenses/_slider-licenses_corp

