extends html/layouts/default

block settings
	+pageConfig({
		title: 'КЛИЕНТЫ',
		breadcrumbs: [
			'Постоянные клиенты на семинарах ЦНТИ ПРОГРЕСС',
		]
	})

block content 	
	include html/views/partners/_partners_clients
