extends html/layouts/default

block settings
	+pageConfig({
		title: 'УЧЕБНЫЙ ЦЕНТР СПБ',
		breadcrumbs: [ 
			'Межотраслевой Учебный центр ЦНТИ Прогресс',
		],
	})
	
	//- +pageConfig({
	//- 	title: 'УЧЕБНЫЙ ЦЕНТР СПБ',
	//- 	breadcrumbs: [ 
	//- 		'Межотраслевой Учебный центр ЦНТИ Прогресс',
	//- 	],
	//- 	styles: { 
	//- 		external: [
	//- 			'https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css',
	//- 		]
	//- 	},
	//- 	scripts: {
	//- 		head: [
	//- 			'https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js'
	//- 		],
	//- 	}
	//- })

block content		
	include html/views/center/_center_center-spb
	//- include html/views/tour/_tour_center-spb