extends html/layouts/default

block settings
	+pageConfig({
		title: 'ПАРТНЕРЫ АЛФАВИТ',
		breadcrumbs: [
			'Партнеры ЦНТИ Прогресс',
		],
	})

block content	
	include html/views/partners-alphabet/_partners-alphabet_partners-alphabet