include html/_mixins
doctype html
html(lang="ru")
	+head('ГЛАВНАЯ СТРАНИЦА', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main.page#page
				include html/blocks/slider-main/_slider-main_main
				include html/blocks/rubrics/_rubrics_$common
				include html/blocks/recommended/_recommended_main
				include html/blocks/trust/_trust_main
				include html/blocks/programms/_programms_main
			include html/components/footer/_footer_$common
		+js([],[])