include html/_mixins
doctype html
html(lang="ru")
	+head('MAIN', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/hero/_hero_main
			include html/footer/_footer_$common
		+js('')