extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Список дистанционных курсов',
			]
		}

block head
	+head('ДИСТАНЦИОННЫЕ КУРСЫ', 'description', [], [], [])

block content	
	include html/views/hero-distance/_hero-distance_distance
	include html/views/courses/_courses_distance
	include html/blocks/help/_help_$common

block scripts
	+js([],[])