include html/_mixins
doctype html
html(lang="ru")
	+head('ПЛАН', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main.page#page
				include html/blocks/plan/_plan_plan
				include html/blocks/bottom-plan/_bottom-plan
			include html/components/footer/_footer_$common
		+js([],[])