extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Поиск'
			]
		}

block head
	+head('ПОИСК (РЕЗУЛЬТАТЫ)', 'description', [], [], [])

block content
	include html/views/results/_results_search

block scripts
	+js([],[])