include html/_mixins
doctype html
html(lang="ru")
	+head('ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main.page#page
				include html/blocks/breadcrumbs/_breadcrumbs_distance
				include html/blocks/hero-prof/_hero-prof_prof
				include html/blocks/courses/_courses_prof
			include html/components/footer/_footer_$common
		+js([],[])