extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Партнеры ЦНТИ Прогресс',
			]
		}

block head
	+head('ПАРТНЕРЫ АЛФАВИТ', 'description', [], [], [])

block content 	
	include html/blocks/partners-alphabet/_partners-alphabet_partners-alphabet

block scripts
	+js([],[])