include html/_mixins
doctype html
html(lang="ru")
	+head('ГЛАВНАЯ СТРАНИЦА', 'description', [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/slider-main/_slider-main_main
				include html/rubrics/_rubrics_$common
				include html/recommended/_recommended_main
				include html/trust/_trust_main
				include html/programms/_programms_main
			include html/footer/_footer_$common
		+js([],[])