extends html/layouts/default

block settings
	+pageConfig({
		title: 'ПЛАН',
		scripts: {
			external: ['https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.1.0/index.min.js'],
		},
	})

block content	
	include html/views/plan/_plan_plan
	include html/views/bottom-plan/_bottom-plan