extends html/layouts/default

block settings
	+pageConfig({
		title: 'БРОНИРОВАНИЕ',
		breadcrumbs: [
			'Бронирование гостиниц',
		],
		scripts: {
			external: ['https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.1.0/index.min.js'],
		},
	})
	
block content	
	include html/views/booking/_booking_booking