extends html/layouts/default

block settings
	+pageConfig({
		title: 'ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА',
		breadcrumbs: [
			'Профессиональная переподготовка',
		]
	})

block content	
	include html/views/hero-prof/_hero-prof_prof
	include html/views/courses/_courses_prof