include html/_mixins
doctype html
html(lang="ru")
	+head('ОБРАТНАЯ СВЯЗЬ', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main#page.page
				include html/blocks/breadcrumbs/_breadcrumbs_feedback
				include html/blocks/feedback/_feedback_feedback
				include html/blocks/contacts-feedback/_contacts-feedback_feedback
			include html/components/footer/_footer_$common
		+js([],[])