include html/_mixins
doctype html
html(lang="ru")
	+head('ДИСТАНЦИОННЫЕ КУРСЫ', 'description', [], [], [])
	body
		.wrapper
			include html/header/_header_$common
			main.page#page
				include html/breadcrumbs/_breadcrumbs_distance
				include html/hero-distance/_hero-distance_distance
				include html/courses/_courses_distance
				include html/section-help/_section-help_$common
			include html/footer/_footer_$common
		+js([],[])