include html/_mixins
doctype html
html(lang="ru")
	+head('РАССЫЛКА', 'description', [], [], [])
	body
		.wrapper
			include html/components/header/_header_$common
			main.page#page
				include html/views/mailing/_mailing_mailing
			include html/components/footer/_footer_$common
		+js([],[])