extends html/layouts/default

block settings
	-
		page = {
			breadcrumbs: [
				'Поиск'
			]
		}

block head
	+head('ПОИСК (ПУСТОЙ)', 'description', [], [], [])

block content	
	include html/views/results/_results_search-empty

block scripts
	+js([],[])