extends html/layouts/default

block settings
  +pageConfig({
    title: 'ПАГИНАЦИЯ'
  })

block content	
  .section
    .container
      -
        pagintaionClass = 'm3';
      each i, total in Array(12).fill()
        -
          if(total === 0) continue;
        - 
          totalPages = total + 1;
        p.m3 Количество страниц пагинации: !{totalPages} 
        each y, current in Array(total + 1).fill()
          -
            currentPage = current + 1;
          include html/views/pagination/_pagination_!template