extends html/layouts/default

block settings
  +pageConfig({
    title: 'ИКОНКИ'
  })

block content	
  .section
    .container.col1
      .row.wrap.g5(style="stroke-width:2")
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#arrow-right')
          p.p1 arrow-right
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#arrowhead')
          p.p1 arrowhead
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#attention')
          p.p1 attention
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#building')
          p.p1 building
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#calendar-check')
          p.p1 calendar-check
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#check')
          p.p1 check
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#chevron-down')
          p.p1 chevron-down
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#clock')
          p.p1 clock
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#home')
          p.p1 home
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#message')
          p.p1 message
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#monitor')
          p.p1 monitor
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#tablet')
          p.p1 tablet
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#email')
          p.p1 email
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#food')
          p.p1 food
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#hand')
          p.p1 hand
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#info')
          p.p1 info
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#key')
          p.p1 key
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#location')
          p.p1 location
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#mail')
          p.p1 mail
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#pdf-download')
          p.p1 pdf-download
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#pin')
          p.p1 pin
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#plan')
          p.p1 plan
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#plane')
          p.p1 plane
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#route')
          p.p1 route
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#search')
          p.p1 search
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#smile')
          p.p1 smile
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#tg')
          p.p1 tg
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#train')
          p.p1 train
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#user-check')
          p.p1 user-check
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#vk')
          p.p1 vk
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#wifi')
          p.p1 wifi
        .col7.aic.n3w2
          svg.i24
            use(xlink:href='img/sprite/symbols.svg#x-close')
          p.p1 x-close
      .row.wrap.g5
        .col7.aic.n3w2
          img(src="img/icons/checkbox-check-m-blue.svg", alt="")
          p.p1 checkbox-check-m-blue
        .col7.aic.n3w2
          img(src="img/icons/checkbox-check-l.svg", alt="")
          p.p1 checkbox-check-l
        .col7.aic.n3w2
          img(src="img/icons/checkbox-check-l-blue.svg", alt="")
          p.p1 checkbox-check-l-blue
        .col7.aic.n3w2
          img(src="img/icons/checkbox-check-m.svg", alt="")
          p.p1 checkbox-check-m
        .col7.aic.n3w2
          img(src="img/icons/checkbox-empty-m-blue.svg", alt="")
          p.p1 checkbox-empty-m-blue
        .col7.aic.n3w2
          img(src="img/icons/checkbox-empty-l.svg", alt="")
          p.p1 checkbox-empty-l
        .col7.aic.n3w2
          img(src="img/icons/checkbox-empty-l-blue.svg", alt="")
          p.p1 checkbox-empty-l-blue
        .col7.aic.n3w2
          img(src="img/icons/checkbox-empty-m.svg", alt="")
          p.p1 checkbox-empty-m
        .col7.aic.n3w2
          img(src="img/icons/chevron-l.svg", alt="")
          p.p1 chevron-l
        .col7.aic.n3w2
          img(src="img/icons/chevron-m.svg", alt="")
          p.p1 chevron-m