extends html/layouts/default

block settings
	+pageConfig({
		title: 'ИИ',
		breadcrumbs: [
			'ЦНТИ Прогресс рекомендует',
			'Цифровая трансформация. Каталог курсов',
		]
	})

block content		
	include html/views/hero-recommended/_hero-recommended_recommendedS-ai
	include html/views/courses/_courses_recommendedS-ai
	include html/views/form-recommended/_form-recommended_digitalizationS