extends html/layouts/default

block settings
	+pageConfig({
		title: 'ЦИФРОВИЗАЦИЯ',
		breadcrumbs: [
			'ЦНТИ Прогресс рекомендует',
			'Цифровая трансформация. Каталог курсов',
		]
	})

block content		
	include html/views/hero-digitalization/_hero-digitalization_digitalization