extends html/layouts/default

block settings
	+pageConfig({
		title: 'КУРС',
		breadcrumbs: [
			'Каталог семинаров',
			'Семинары и курсы по управлению производством',
		]
	})

block content		
	include html/views/course/_course_courseS
	include html/views/popup-dates/_popup-dates_course