section.trust.section#trust
  .container
    .body.col2
      .row.aie.x3ais.x4contents
        .n2w4.n3w6.w2.x4w4
          h2.t1d.twb Доверьте обучение центру #[span.ta с многолетним опытом]
          .m2
            ul.ul.col5
              li.ul__li-bright
                span #[span.tb Сосредоточьтесь на обучении], а мы обеспечим комфортную обстановку, европейский сервиси быструю работу с документами.
              li.ul__li
                span Проанализируйте с преподавателями рабочие задачи и #[span.tb найдите свежее решение.]
              li.ul__li
                span Перед каждым курсом #[span.tb мы анализируем состав слушателей] и корректируем содержание обучения с учетом их интересов.
              li.ul__li
                span Используйте курс для установления новых связей: 28 лет мы #[span.tb обучаем и объединяем лучшие предприятия] со всей страны.
        .trust__photos.row.n2w8.n3w6.w2.x4w4
          img.trust__photos-img-narrow.cvr.n2w3.w2.x4w4(src="img/main/trust/photo1.png" alt="")
          img.trust__photos-img.cvr.x3hide.n2w5.n3w6(src="img/main/trust/photo2.png" alt="")
      footer.row.x3wrap.g5.n1o2.n3o1
        .col7.aic.n1w2.n3w3.w2
          p.a1 1800
          p.subtitle курсов и семинаров#[br]ежегодно
        .col7.aic.n3w2.w2
          p.a1 90
          p.subtitle тематических#[br]рубрик
        .col7.aic.n3w2.w2
          p.a1 30
          p.subtitle отраслевых#[br]направлений
        a.aca-link.col6.aic.jce.n1w2.n3w3.w2(href="#")
          +arr(class="n3w2 x3w1 x4w2")
          p.subtitle Составить#[br]план обучения

//- http://localhost:1709/page-main.html#trust