.mode {
  @include dur;
  @include sd;
  @include td;
  @include b1;
  @include r10;
  @include aic;
  @include jcc;
  padding: calc(10px - var(--border-reduce)) calc(20px - var(--border-reduce));
  @media (max-width: $md2+px) {
    padding-inline: calc(15px - var(--border-reduce));
  }
  @media (max-width: $md3+px) {
    padding-block: calc(5px - var(--border-reduce));
  }

  &._active {
    cursor: auto;
  }

  &:is(span) {
    background-color: #{$bg-second};
  }

  &:is(a, button):not(._active) {
    &:hover,
    &:focus-visible {
      color: #{$hover};
      stroke: #{$hover};
    }
  }
}
