mixin mode(props = {})
  - 
    const {
      text = '',
      href = false,
      icon = 'info'
    } = props

  - const Tag = href ? 'a' : 'span'
  #{Tag}.-mode(
    href=href || false
  )&attributes(attributes)
    p.b1 #{text}
    svg.sd.i24.x2i20
      use(xlink:href=`img/sprite/symbols.svg#${icon}`)