.-mode {
  @extend .r10;
  @extend .aic;
  @extend .jcc;
  @extend .n3w3;
  @extend .w2;
  @extend .bdl;
  padding: 9px 5px;
  @media (max-width: $md4+px) {
    padding-block: 5px;
  }
  &:is(:not(a)) {
    background-color: var(--bg-second);
  }
}
