mixin modeSvg(icon)
  svg.i24.x2i20
    use(xlink:href=`img/sprite/symbols.svg#${icon}`)

mixin mode(props = {})
  - 
    const {
      tag = 'span',
      text = '',
      icon = 'info',
      iconBefore = false
    } = props

  #{tag}.mode&attributes(attributes)
    if iconBefore
      +modeSvg(icon)
    span #{text}
    unless iconBefore
      +modeSvg(icon)