.mode {
  @include dur;
  @include sd;
  @include td;
  @include b1;
  @include r10;
  @include aic;
  @include jcc;
  padding: 10px 20px;
  @media (max-width: $md2+px) {
    padding-inline: 15px;
  }
  &._active {
    cursor: auto;
  }

  &:is(span) {
    background-color: #{$bg-second};
  }

  &:is(a, button):not(._active) {
    &:hover,
    &:focus-visible {
      color: #{$hover};
      stroke: #{$hover};
    }
  }
}
