.footer {
  @include ts;
  @include w;
  @include pd1;
  @include bgd;
  &__grid {
    @media (min-width: $md3+px) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: #{$XS};
    }
    @media (min-width: $md4+px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--gutter);
      row-gap: #{$M};
    }
  }

  &__column-wrapper {
    @include por;
    @include n4contents;
    @media (max-width: $md4+px) {
      padding-bottom: #{$M};
      margin-bottom: #{$M};
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        display: block;
        width: calc(100% + 20px);
        height: 2px;
        background-color: #{$bg-second};
      }
    }
  }

  &__last-column {
    @include col4;
    grid-row: span 2;
  }

  &__column-title {
    @include ttu;
    @include x4tac;
    font-family: 'RobotoCondensed';
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    font-weight: 700;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }

  &__bright,
  &__accent {
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: -15px;
      translate: 0 -50%;
      display: block;
      width: 10px;
      height: 10px;
    }
  }

  &__bright {
    &::before {
      background-color: #{$bg-bright};
    }
  }

  &__accent {
    &::before {
      background-color: #{$bg-accent};
    }
  }

  &__icon-fill {
    @include dur;
    @include i24;
    stroke: none;
    fill: #{$text-second};
    &:hover,
    &:focus-visible {
      fill: #{$hover};
    }
  }

  &__additional {
    @include col5;
    @include x4tac;
    @include x4aic;
    @media (min-width: $md3+px) {
      grid-column: span 3;
    }
    @media (max-width: $md4+px) {
      flex-direction: column-reverse;
    }
  }

  &__additional-p {
    @include tl;
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 14;
    line-height: round-to(math.div($lh, $fs), 3);
    font-style: italic;
  }
}
