.footer {

  &__grid {
    @media (min-width: $md3+px) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: var(--XS);
    }
    @media (min-width: $md4+px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--gutter);
      row-gap: var(--M);
    }
  }

  &__column-wrapper {
    @media (max-width: $md4+px) {
      padding-bottom: var(--M);
      margin-bottom: var(--M);
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        display: block;
        width: calc(100% + 20px);
        height: 2px;
        background-color: var(--bg-second);
      }
    }
  }

  &__last-column {
    grid-row: span 2;
  }

  &__column-title {
    font-family: 'RobotoCondensed';
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    font-weight: 700;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }

  &__bright,
  &__accent {
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: -15px;
      translate: 0 -50%;
      display: block;
      width: 10px;
      height: 10px;
    }
  }

  &__bright {
    &::before {
      background-color: var(--bg-bright);
    }
  }

  &__accent {
    &::before {
      background-color: var(--bg-accent);
    }
  }

  &__icon-fill {
    stroke: none;
    fill: var(--text-second);
    &:hover,
    &:focus-visible {
      fill: var(--hover);
    }
  }

  &__additional {
    @media (min-width: $md3+px) {
      grid-column: span 3;
    }
    @media (max-width: $md4+px) {
      flex-direction: column-reverse;
    }
  }

  &__additional-p {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 14;
    line-height: round-to(math.div($lh, $fs), 3);
    font-style: italic;
  }
}
