.header-select {
  text-align: left;
  @include por;
  @include r10;
  @include aic;
  @media (max-width: $md1+px) {
    column-gap: 5px;
  }

  &._active {
    & .header-select__svg {
      rotate: 180deg;
    }
    & .triangle {
      opacity: 1;
      visibility: visible;
    }
    & .header-select__variants-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }

  &__variants-wrapper {
    cursor: auto;
    @include dur;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include w;
    padding-top: 10px;
  }

  &__variants-border {
    @include r;
    @include jcc;
    padding: 18px 0;
    @include bgm;
    @include bd2;
    box-shadow: var(--shadow);
    @media (max-width: $md1+px) {
      padding: 13px 0;
    }
    @media (max-width: $md2+px) {
      padding: 8px 0;
    }
  }

  &__variants {
    @include col;
    @include g7;
    @media (min-width: $md1+px) {
      row-gap: #{$S};
    }
  }
}