.plan {

  &__spoller {
    padding: 20px var(--columnG) 18px;
    @media (max-width: $md2+px) {
      padding-top: #{$S};
      padding-bottom: 13px;
    }
    @media (max-width: $md3+px) {
      padding-inline: 63px;
    }
    @media (max-width: $md4+px) {
      padding-inline: 20px;
    }
  }

  &__spoller-title {
    text-align: left;
    &::after {
      transition-duration: #{$transition};
      content: url('../img/icons/chevron-l.svg');
      height: 24px;
      @media (max-width: $md3+px) {
        content: url('../img/icons/chevron-m.svg');
        height: 20px;
      }
    }
    &._active {
      &::after {
        rotate: 180deg;
      }
    }
  }

  &__format {
    min-height: 30px;
  }
}