include ../../../data/rubricsArchive

section.section.plan#plan
  .container
    .n3o1
      .col2
        h1.t1d Создайте учебный план в конструкторе
        p.twb.p1 Создайте свой план в 3 простых шага — выберите время обучения, тематику курсов и город. Конструктор сформирует для вас pdf-расписание, с которым удобно планировать обучение.
      form.m1
        .row.aic
          p.ta.a1.r.jce.n3w1 1.
          fieldset
            legend.t2d Выберите интервал
            .dates.m5
              label.dates__date
                span.p1.ta с
                .datepicker
                  input.datepicker__input(value="17.02.2025")
              label.dates__date
                span.p1.ta по
                .datepicker
                  input.datepicker__input(value="16.02.2026")
        section.m3
          .row.aic
            p.ta.a1.r.jce.n3w1 2.
            h2.t2d Выберите рубрики. Кликните на рубрику, чтобы увидеть подрубрики и выбрать нужные. Это займет полминуты.        
          .m5(data-spollers)
            each branch in rubricsArchive
              .plan__spoller.bbd2l(style="--group-color:var(--" + branch.color + ")" data-checkbox-group)
                button.plan__spoller-title.r.jcb.w(data-spoller)
                  +branchTitle({
                    tag: 'span',
                    title: branch.title,
                    num: true,
                  })
                .m5
                  fieldset.col7
                    +checkbox({
                      label: 'Выбрать все',
                      all: true
                    })
                    each rubric in branch.rubrics
                      +checkbox({
                        label: rubric.name,
                        item: true
                      })
        .row.aic.m3
          p.ta.a1.r.jce.n3w1 3.
          fieldset
            legend.t2d Выберите место
            .plan__format.r30.g7.x4wrap.m5
              +checkbox({
                label: 'Санкт-Петербург',
                name: 'format'
              })
              +checkbox({
                label: 'Москва',
                name: 'format'
              })
              +checkbox({
                label: 'Онлайн',
                name: 'format'
              })
        section.row.aic.x4col.m1
          h2.t1d.n1w3.n3w4.n4w2 готово! теперь можно
          button.button-primary.n3w3.w2.x4w4(type="submit") Скачать план

//- http://localhost:1709/page-plan.html#plan