%hotel-table {
  @media (min-width: $md4+px) {
    table-layout: fixed;
  }
  border-collapse: collapse;
  width: 100%;
}

%td {
  text-align: left;
  padding: 10px 0;
  @media (min-width: $md3+px) {
    white-space: nowrap;
  }
  @media (max-width: $md3+px) {
    padding-left: 10px;
  }
  @media (max-width: $md4+px) {
    padding: 10px 5px;
  }

  &:first-child {
    @media (min-width: $md3+px) {
      width: var(--4columnsG);
      padding-left: var(--columnG);
    }
  }
  &:nth-child(2) {
    @media (min-width: $md3+px) {
      width: var(--3columnsG);
    }
  }
}

.hotel-item {
  @include section;
  @include col3;

  &__img {
    @include w;
    height: 60px;
    @include cvr;
    @media (max-width: $md1+px) {
      height: 45px;
    }
    @media (max-width: $md2+px) {
      height: 37px;
    }
    @media (max-width: $md3+px) {
      height: 35px;
    }
    @media (max-width: $md3+px) {
      width: 46px;
    }
    @media (max-width: $md4+px) {
      width: var(--column);
      height: 52px;
    }
  }

  &__img-main {
    @include w;
    height: 210px;
    @include cvr;
    @media (max-width: $md1+px) {
      height: 165px;
    }
    @media (max-width: $md2+px) {
      height: 142px;
    }
    @media (max-width: $md3+px) {
      height: 119px;
    }
    @media (max-width: $md4+px) {
      height: 170px;
    }
  }

  &__table-3 {
    @extend %hotel-table;
  }

  &__table-4 {
    @extend %hotel-table;
    & th,
    td {
      &:nth-child(3) {
        @media (min-width: $md3+px) {
          width: var(--3columnsG);
        }
      }
    }
  }

  & th {
    font-weight: 400;
    vertical-align: top;
    @extend %td;
  }

  & td {
    @extend %td;
  }
}
