%hotel-table {
  border-collapse: collapse;
  @include fs;
  @include n1w6;
  @include n2w8;
  @media (max-width: $md2+px) {
    width: 100%;
  }
}

%td {
  text-align: left;
  padding: 10px;
  @media (min-width: $md3+px) {
    white-space: nowrap;
  }
  @media (max-width: $md4+px) {
    padding: 10px 5px;
  }
}

.hotel-item {
  @extend .section;
  // &__icons {}

  // &__icon {
  // }

  &__gallery {
    @include row;
    @include x4wrap;
    @include m3;
    @media (max-width: $md4+px) {
      row-gap: 20px;
    }
  }

  &__gallery-img {
    @include w;
    aspect-ratio: 282/209;
    @include cvr;
  }

  // &__attention {
  // }

  &__table-2 {
    @extend %hotel-table;
    table-layout: fixed;
  }

  &__table-3 {
    @extend %hotel-table;
    @media (min-width: $md1+px) {
      table-layout: fixed;
    }
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      table-layout: fixed;
    }
  }

  &__table-4 {
    @extend %hotel-table;
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      & th,
      td {
        width: calc(var(--3columns) + 20px);
        &:first-child,
        &:last-child {
          width: calc(var(--3columns) + 10px);
        }
      }
    }
  }

  & tr {
    &:nth-child(2n) {
      background-color: #{$bg-second};
    }
  }

  & th {
    font-weight: 400;
    vertical-align: top;
    @extend %td;
    @media (min-width: $md1+px) {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  & td {
    @extend %td;
  }
}
