.licenses-slider {
  padding: var(--M) 0;
  &__swiper {
    overflow: visible;
  }

  &__slide {
    &:not(.swiper-slide-visible) {
      visibility: hidden;
    }
  }

  &__navigation {
    @media (min-width: $md3+px) {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
    }
    @media (max-width: $md3+px) {
      margin: var(--M) var(--columnG) 0;
    }
  }

  &__prev {
    rotate: 90deg;
  }

  &__next {
    rotate: -90deg;
  }

  &__img {
    aspect-ratio: 180/249;
  }
}
