.partners {
  &__categories {
    @media (min-width: $md2+px) {
      columns: 4 var(--3columns);
    }
    @media (min-width: $md3+px) {
      columns: 3 var(--4columns);
    }
    @media (min-width: $md4+px) {
      columns: 2 var(--2columns);
    }
  }

  &__category {
    display: block;
    &:not(:first-child) {
      margin-top: #{$XS};
    }
    &._active {
      color: #{$hover};
    }
  }

  &__letters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
  }

  &__letter {
    width: 40px;
    &._active,
    &:hover,
    &:focus-visible {
      border-color: #{$border};
    }
    &._active {
      color: #{$hover};
    }
  }

  &__grid {
    display: grid;
    gap: $S;
    @media (min-width: $md2+px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width: $md3+px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $md4+px) {
      grid-template-columns: repeat(3, 1fr);
    }
    grid-template-columns: repeat(2, 1fr);
    &:not(:has( ._active)) {
      display: none;
    }
  }
  &__button {
    @media (min-width: $md2+px) {
      grid-column: 3/4;
    }
    @media (min-width: $md3+px) {
      grid-column: 2/4;
    }
    @media (min-width: $md4+px) {
      grid-column: 2/3;
    }
    grid-column: 1/3;
  }
}
