include ../../../data/partnersArchive

-
  firstLetters = partnersArchive
    .map(item => item.name.charAt(0).toUpperCase()) // Берем первую букву и делаем заглавной
    .filter((letter, index, array) => array.indexOf(letter) === index) // Убираем дубликаты
    .sort() // Сортируем по алфавиту

  partners = {
    items: partnersArchive,
  }

section.section.partners#partners(data-filters)
  .container
    .n1o1
      h1.title Партнеры ЦНТИ Прогресс
      .col5.m2
        p.p1 ЦНТИ Прогресс гордится многолетними партнерскими отношениями с ведущими научными и образовательными учреждениями, отраслевыми институтами, крупнейшими производственными предприятиями и организациями.
        p.p1 Мы благодарим наших Интернет-партнеров за плодотворную совместную работу.
    .partners__letters.m2
      each letter in firstLetters
        button.partners__letter.p1(data-filter=letter)= letter
    .partners__grid.m1
      each item in partnersArchive
        +itemClient(item)(class='_active' data-item=item.name.charAt(0).toUpperCase())
    .row.jcc
      button.button-second.n1w2.n3w4.w2.x4w4.m3(data-reset-all) Сбросить

//- http://localhost:1709/page-partners-alphabet.html#partners