include ../../../data/clientsArchive

-
  clientsArchiveFiltered = clientsArchive.map(item => ({
    ...item,               
    desc: ''             
  }));

section.section.partners#partners
  .container
    .n1o1
      h1.title Постоянные клиенты на семинарах ЦНТИ Прогресс
      .col5.m2
        p.p1 Компании – лидеры современной экономики России и стран СНГ доверяют повышение квалификации своих сотрудников ЦНТИ Прогресс.
        p.p1 За 27 лет работы #[span.ta свыше 50 000 компаний] стали нашими клиентами и постоянными партнерами.
        p.p1 Среди них такие компании, как АК "АЛРОСА", ОАО "КАМАЗ", ОАО "СЕВЕРСТАЛЬ", ООО "Газпром трансгаз", ОАО "Новокузнецкий металлургический комбинат", ОАО "АВТОВАЗ", ОАО "МЕГАФОН" и многие другие.
        p.p1 #[span.ta Более 20 000 специалистов] и руководителей #[span.ta ежегодно] проходят повышение квалификации в ЦНТИ Прогресс.
      section.col5.m3
        h2.t2.ta Посмотрите видеоотзывы участников семинаров
        p.p1 В ЦНТИ Прогресс уже обучились представители:
        ul.ul
          li.ul__li 85 регионов России
          li.ul__li 14 государств бывшего СССР
          li.ul__li 5 государств Европы и Северной Америки
    .partners__grid.m1
      each item in clientsArchiveFiltered
        +itemClient(item)


//- http://localhost:1709/page-clients.html#partners