.partners {
  &__categories {
    @media (min-width: $md2+px) {
      columns: 4 var(--3columns);
    }
    @media (min-width: $md3+px) {
      columns: 3 var(--4columns);
    }
    @media (min-width: $md4+px) {
      columns: 2 var(--2columns);
    }
  }

  &__category {
    display: block;
    &:not(:first-child) {
      margin-top: var(--XS);
    }
    &._active {
      color: var(--hover);
    }
  }

  &__letters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
  }

  &__letter {
    width: 40px;
    &._active,
    &:hover,
    &:focus-visible {
      border-color: var(--border);
    }
    &._active {
      color: var(--hover);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: var(--gutter);
    @media (max-width: $md3+px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
    }
  }
}
