include ../../data/rubricsArchive

section.plan.section
  .plan__container.container
    .plan__body
      .plan__intro
        h1.plan__title.t1 Создайте учебный план в конструкторе
        .plan__intro-text
          p.p1 Создайте свой план в 3 простых шага — выберите время обучения, тематику курсов и город. Конструктор сформирует для вас pdf-расписание, с которым удобно планировать обучение.
      .plan__main
        .plan__block
          .plan__block-top
            p.plan__block-num.a1 1.
            .plan__block-top-main
              h2.plan__block-name.t2 Выберите интервал
              .plan__dates.dates
                .dates__date
                  span.dates__date-span.p1 с
                  .datepicker
                    input.datepicker__input(value="17.02.2025")
                .dates__date
                  span.dates__date-span.p1 по
                  .datepicker
                    input.datepicker__input(value="16.02.2026")
        .plan__block
          .plan__block-top
            p.plan__block-num.a1 2.
            .plan__block-top-main
              h2.plan__block-name.t2 Выберите рубрики. Кликните на рубрику, чтобы увидеть подрубрики и выбрать нужные. Это займет полминуты.        
          .plan__spollers.branch-spollers(data-spollers)
            each branch in rubricsArchive
              .branch-spollers__spoller(style="--group-color:var(--" + branch.color + ")" data-checkbox-group)
                button.branch-spollers__spoller-title(data-spoller)
                  h2.branch-title
                    span.branch-title__main
                      span.branch-title__title !{branch.title}
                      |  
                      span.branch-title__num(data-checkbox-num)
                .branch-spollers__spoller-body
                  .branch-spollers__checkboxes
                    label.checkbox
                      input.checkbox__input(type="checkbox" data-checkbox-all)
                      .checkbox__span-wrapper
                        span.checkbox__span Выбрать все
                    each rubric in branch.rubrics
                      label.checkbox
                        input.checkbox__input(type="checkbox" data-checkbox-item)
                        .checkbox__span-wrapper
                          span.checkbox__span !{rubric.name}
        .plan__block
          .plan__block-top
            p.plan__block-num.a1 3.
            .plan__block-top-main
              h2.plan__block-name.t2 Выберите место
              .plan__checkboxes
                label.checkbox
                  input.checkbox__input(type="checkbox" checked)
                  .checkbox__span-wrapper
                    span.checkbox__span Санкт-Петербург
                label.checkbox
                  input.checkbox__input(type="checkbox")
                  .checkbox__span-wrapper
                    span.checkbox__span Москва
                label.checkbox
                  input.checkbox__input(type="checkbox")
                  .checkbox__span-wrapper
                    span.checkbox__span Онлайн
      .plan__download
        h3.plan__download-title.t1 готово! теперь можно
        a.plan__download-link.button--primary(href="#" download) Скачать план