
-
  promo = {
    percents: [
      {
        title: '5%',
        text: 'Вы отправляете <br class="x4hide">на обучение <br class="n3hide">4–10 человек <br class="x4hide">в течение года',
      },
      {
        title: '7%',
        text: 'Вы отправляете <br class="x4hide">на обучение <br class="n3hide">11–15 <br class="x1hide">человек <br class="n1hide x4hide">в течение года',
      },
      {
        title: '10%',
        text: 'Вы отправляете <br class="x4hide">на обучение <br class="n3hide">от 16 человек <br class="x4hide">в течение года',
      },
    ],
  }

section.section.promo
  .container
    .n1o1
      h2.t1d Корпоративная программа «Частые гости»
      img.w.m2(src="img/promo/hero.png", alt="")
      section.n2o1.m2
        h2.title Система прогрессивных скидок для компаний
        p.p1.tac.m5 Мы хотим сделать обучение максимально комфортным и выгодным для тех компаний, которые ежегодно обучают у нас большое количество сотрудников. Подключайтесь к программе лояльности «Частые гости» и копите скидки.
        section.n1o1.m3
          h3.subtitle Больше слушателей — больше скидка
          .promo__percents.row-wrap.jcc.g5.m5
            each percent in promo.percents
              .col7.aic.n1w2.n2w3.n3w4.x4w4
                p.a1.accent !{percent.title}
                p.p1.tac !{percent.text}
      section.m1
        h2.t2d Важные условия участия
        .row-wrap.ais.g5.m3
          .col5.n1w8.n2w10.n3w12.x3w4
            p.p1 Чтобы вступить в программу, скачайте заявку, заполните и отправьте её на почту #[a.link(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru]
            ul.ul.col5
              li.ul__li Действие программы распространяется на стандартные курсы и тренинги (как очные, так и онлайн).
              li.ul__li Программа скидок закрепляется за предприятием и действует автоматически после поступления полной предоплаты за первых 3 слушателей (начиная с 4-го участника).
              li.ul__li Программа скидок действует в течение одного календарного года. Условия акции не переносятся на следующий год. Участие в программе необходимо подтверждать ежегодно.
              li.ul__li Скидки по накопительной программе не суммируются с другими действующими акциями и спецпредложениями.
              li.ul__li В расчет идут все слушатели от предприятия, которые обучились в ЦНТИ Прогресс в течение текущего календарного года. При этом перерасчет стоимости обучения ранее приехавших слушателей не производится.
          a.promo__link.acb-link.link-bright.col5.cg15.aic.n2w2.n3w5.x4w4
            .promo__link-arr.arr
              .arr__line              
              svg.arr__head
                use(xlink:href='img/sprite/symbols.svg#arrowhead')
            p.p1.tac Заполнить #[br.x2hide]заявку на участие