section.hotels-contacts#contacts
  .container
    .hotels-contacts__section.section-bg.r40.x3col.g5.jcc.x1jcb
      .col7
        h2.t1d.x4tac Бронируйте по телефону #[br.n1hide.x3hide]#[br.n4hide]или почтой
        p.p1.x1hide Свяжитесь с нами любым удобным способом 
      hr.rbd2a.x3hide
      .n3contents.row.x4col.g5
        .hotels-contacts__contact.col7.ais.x4aic
          a.t2.sa-link.link.r10.x2cg5.aic(href="mailto:hotel@cntiprogress.ru")
            svg.i24.x2i16
              use(xlink:href='img/sprite/symbols.svg#mail')
            span hotel@cntiprogress.ru
          span.hotels-contacts__contact-sign.p1 Вы получите ответ в течение дня
        hr.rbd2a.bbd2a
        .hotels-contacts__contact.col7.ais.x4aic
          a.t2.sa-link.link.r10.x2cg5.aic(href="tel:89216503779")
            svg.i24.x2i16
              use(xlink:href='img/sprite/symbols.svg#phone-call')
            span 8 (921) 650-37-79
          span.hotels-contacts__contact-sign.p1 С 8:00 до 17:00 пн-пт (Мск)

//- http://localhost:1709/page-hotels.html#contacts