-
  rubricsArchive = [
    {
      id: "safety",
      title: "Промышленность. Инновационный менеджмент",
      color: "jade",
      courses: [
        {
          name: "Оперативное планирование производственной деятельности цеха/участка. Современные способы управления производством",
          description: "Курс посвящен вопросам технического и нормативного регулирования в области пожарной опасности строительных материалов и огнестойкости строительных конструкций. Рассматривается порядок разработки проектной и рабочей документации для огнезащиты. Обзор современных программных комплексов для расчета огнестойкости СК.",
          items: [
            {
              company: "ПАО «Сигнал»",
              format: "Очно в г. Ставрополь на территории компании",
              date: "Март 2026"
            }
          ]
        },
        {
          name: "Мастер — руководитель производственного коллектива. Развитие управленческих навыков линейного руководителя. Практикум",
          description: "Семинар-практикум ориентирован на руководителей производственных участков и цехов, которым необходимо развить или усовершенствовать навыки управления персоналом и наладить коммуникации внутри производственного коллектива.",
          items: [
            {
              company: "ООО «ИНСИС»",
              format: "Очно в г. Москва на территории компании",
              date: "Декабрь 2025"
            },
            {
              company: "АО «Красный гидропресс»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Сентябрь 2025"
            },
            {
              company: "АО «Смоленский авиационный завод»",
              format: "Очно в г. Смоленск на территории компании",
              date: "Март 2025"
            }
          ]
        },
        {
          name: "Управление научно-исследовательскими и опытно-конструкторскими работами (НИОКР)",
          description: "Ключевые вопросы деятельности руководителей и специалистов, связанных с планированием, выполнением и реализацией НИОКР. Экономическая эффективность НИОКР, права на результаты НИОКР. Практические рекомендации опытных специалистов по управлению инновационными проектами.",
          items: [
            {
              company: "ФГБОУ ВО «Вятский государственный университет» (ВятГУ)",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Октябрь 2025"
            },
            {
              company: "ООО «ПроТех Лаб» (ЕвроХим)",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Март 2025"
            }
          ]
        },
        {
          name: "Бережливое производство",
          description: "Программы возможны как для предприятий, начинающих изучение и готовящихся к внедрению системы Бережливого производства, так и для предприятий, совершенствующих систему. Рассмотрение всех инструментов Бережливого производства для устранения потерь и повышения производительности труда. Практические навыки развития применения инструментов, активный формат позволит сформировать целостный подход к внедрению и развитию Lean-технологий. Практические рекомендации экспертов с огромным опытом внедрения Бережливого производства на предприятиях.",
          items: [
            {
              company: "АО «Улан-Удэнское приборостроительное производственное объединение»",
              format: "Очно в г. Улан-Удэ на территории компании",
              date: "Август 2025"
            },
            {
              company: "ООО «Форвард»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Июнь 2025"
            },
            {
              company: "АО Корпорация «Тактическое ракетное вооружение»",
              format: "Очно в г. Королев на территории компании",
              date: "Май 2025"
            },
            {
              company: "ОКБ «Гамма»",
              format: "Очно в г. Мытищи на территории компании",
              date: "Апрель 2025"
            },
            {
              company: "ООО «Группа Компаний «Русагро»",
              format: "Очно в г. Москва на территории компании",
              date: "Февраль 2025"
            }
          ]
        },
        {
          name: "Управление цехом и производственным участком промышленного предприятия. Практикум",
          description: "Программа насыщена практическими и тренинговыми занятиями, которые помогут участникам освоить и усовершенствовать основные компетенции, необходимые линейному руководителю как в руководстве производственными процессами, так и в управлении коллективом.",
          items: [
            {
              company: "АО «Смоленский авиационный завод»",
              format: "Очно в г. Смоленск на территории компании",
              date: "Март 2025"
            }
          ]
        }
      ]
    },

    {
      id: "energy",
      title: "Строительство",
      color: "turquoise",
      courses: [
        {
          name: "Слаботочные системы — ценообразование и сметное нормирование при проектировании, пусконаладке, монтаже и техобслуживании",
          description: "Практический курс охватывает полный комплекс работ по ценообразованию и сметному нормированию слаботочных систем (СПС, СОУЭ, ОС, СКУД, СОТ, ССОИ, СПИ, СКС, ЛВС): проектно-изыскательских (ПИР), строительно-монтажных (СМР), пусконаладочных (ПНР), техническому обслуживанию (ТО). Изученный материал позволит сформировать четкий перечень необходимых работ, приобрести уверенные навыки составления сметных расчетов и обоснованно применять сметные нормы",
          items: [
            {
              company: "ООО «Спектрум»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Май 2026"
            }
          ]
        },
        {
          name: "Пожарная безопасность строительных материалов. Пределы огнестойкости строительных конструкций",
          description: "Курс посвящен вопросам технического и нормативного регулирования в области пожарной опасности строительных материалов и огнестойкости строительных конструкций. Рассматривается порядок разработки проектной и рабочей документации для огнезащиты. Обзор современных программных комплексов для расчета огнестойкости СК.",
          items: [
            {
              company: "ООО «ГПИ Сахалин»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Март 2026"
            }
          ]
        },
        {
          name: "Главный инженер проекта (школа ГИПа). Организация процесса проектирования в проектном институте в современных реалиях",
          description: "Анализ основных положений нормативных требований строительного законодательства применительно к работе ГИПа, экспертиза проектов, вопросы земельного законодательства, методы и инструменты эффективной работы ГИПа.",
          items: [
            {
              company: "ПАО «Трубная Металлургическая Компания»",
              format: "На территории инновационного центра «Сколково»",
              date: "Декабрь 2025"
            }
          ]
        },
        {
          name: "Проектирование и строительство зданий с металлическим каркасом. Расчеты и конструирование зданий и сооружений",
          description: "Курс посвящен принципам и особенностям строительства с использованием металлоконструкций. В ходе занятий — обмен мнениями, рассмотрение и экспертная оценка технико-экономических решений участников при проектировании и строительстве зданий и сооружений, обзор наиболее распространенных ошибок.",
          items: [
            {
              company: "ПАО «Северсталь»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Ноябрь 2025"
            }
          ]
        },
        {
          name: "Основания и фундаменты: проектирование, строительство, контроль",
          description: "От расчёта котлована и BIM-моделирования до контроля качества — освоение всех этапов на реальных практических задачах.",
          items: [
            {
              company: "ПАО «Северсталь»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Ноябрь 2025"
            }
          ]
        }
      ]
    },
    {
      id: "construction",
      title: "Энергетика. Инженерные сети",
      color: "turquoise",
      courses: [
        {
          name: "Структурированные системы мониторинга и управления инженерными системами зданий и сооружений. СМИС. Проектирование, строительство и эксплуатация",
          description: "Курс является необходимым для подготовки сотрудников компаний, претендующих на получение свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства. В программе: требования к СМИС и ее подсистемам, современные технологии создания СМИС",
          items: [
            {
              company: "ПАО «Газпром»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Апрель 2026"
            }
          ]
        },
        {
          name: "Проектирование, строительство, эксплуатация технологических трубопроводов",
          description: "Нормативно-правовые и нормативно-технические требования к проектированию и эксплуатации технологических трубопроводов, особенности разработки проектной документации, трассировки и обвязки технологического оборудования",
          items: [
            {
              company: "ООО «Эр Ликид»",
              format: "Очно в учебном центре ЦНТИ ПРОГРЕСС (Москва)",
              date: "Сентябрь 2025"
            }
          ]
        },
        {
          name: "Электроснабжение промышленных предприятий и объектов инфраструктуры",
          description: "Программа курса подробно рассматривает сложные вопросы проектирования электроснабжения, выбора, монтажа и эксплуатации оборудования, вопросы импортозамещения для электроснабжения промышленных предприятий и объектов инфраструктуры",
          items: [
            {
              company: "АО «Гипронииавиапром»",
              format: "В г. Казань на территории компании",
              date: "Май 2025"
            }
          ]
        },
        {
          name: "Энергоменеджмент предприятия. Практика организации и внедрения. Внутренний аудит",
          description: "Российские и международные консультанты расскажут о правильном внедрении энергоменеджмента, об ошибках, необходимых ресурсах и возможных результатах, а представители предприятий поделятся своим опытом, достижениями и сложностями работы системы энергоменеджмента",
          items: [
            {
              company: "АО «Апатит»",
              format: "В г. Череповец на территории компании",
              date: "Март 2025"
            }
          ]
        }
      ]
    },
    
    {
      id: "realEstate",
      title: "Землепользование. Экология",
      color: "lime",
      courses: [
        {
          name: "Проектирование и эксплуатация водозаборных скважин. Лицензирование. Оценка запасов подземных вод. Новые требования природоохранного законодательства",
          description: "Программа охватывает весь цикл работ c источниками подземных вод: от получения лицензии на проведение поисково-разведочных работ, оценки эксплуатационных запасов подземных вод, особенностей проектирования и строительства водозаборных скважин до эксплуатации объектов водоснабжения и отчетности.",
          items: [
            {
              company: "АО «Транснефть - Верхняя Волга»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Апрель 2026"
            }
          ]
        },
        {
          name: "Отбор проб объектов окружающей среды. Требования к специалистам, осуществляющим отбор проб",
          description: "В программе: особенности отбора проб для различных методов, природных сред и полевых условий. Рекомендации по оценке качества воздуха, воды и почвы, замерам уровней радиации, электромагнитного излучения. Требования к аккредитации испытательных лабораторий",
          items: [
            {
              company: "НЧОУ ВО «Технический университет УГМК»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Март 2026"
            }
          ]
        },
        {
          name: "Обращение с твердыми коммунальными отходами",
          description: "Программа разработана с учетом последних изменений экологического и санитарного законодательства в сфере обращения с отходами и включает в себя комментарии к нововведениям, анализ отмененных и вступивших в силу нормативных правовых актов (НПА), «пробелы» в НПА",
          items: [
            {
              company: "АО «Невский экологический оператор»",
              format: "В г. Санкт-Петербург на территории компании",
              date: "Декабрь 2025"
            }
          ]
        },
        {
          name: "Лесной кодекс РФ. Сложные вопросы применения лесного законодательства",
          description: "Сравнительный анализ всех видов/целей лесопользования; новое о лесном реестре с 2025 г.; лесная амнистия до 2026 г.; перевод земель лесного фонда в другие категории, капитальные и некапитальные объекты для разных лесов; защитные леса и защитные участки лесов; прочие категории земель с лесами: городские леса, леса на землях сельскохозяйственного назначения, леса на землях обороны",
          items: [
            {
              company: "ООО «Пилар»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Сентябрь 2025"
            }
          ]
        },
        {
          name: "Обустройство нефтегазовых месторождений. Общий курс по землеустройству. Лесопользование. Кадастровая деятельность. Градостроительная документация",
          description: "На курсе рассматриваются вопросы охраны и государственного мониторинга недр, изменения природоохранного законодательства в области недропользования, учета запасов и нормирования полезных ископаемых и иных ресурсов недр, практические вопросы лицензирования при пользовании недрами и многие другие вопросы",
          items: [
            {
              company: "ООО «Прикладной инженерный и учебный центр \"Сапфир\"»",
              format: "В г. Санкт-Петербург на территории компании",
              date: "Май 2025"
            }
          ]
        }
      ]
    },
    {
      id: "hr",
      title: "Менеджмент. Управление персоналом. Офис",
      color: "apricot",
      courses: [
        {
          name: "Трудовое право: актуальная судебная практика",
          description: "На курсе будут рассмотрены наиболее распространенные ситуации, приводящие к трудовым конфликтам, их последствия, а также тенденции в судебной практике. Опытный эксперт расскажет о мерах профилактики и процедуре разрешения трудовых конфликтов",
          items: [
            {
              company: "ПАО «Ростелеком»",
              format: "В г. Санкт-Петербург на территории компании",
              date: "Июнь 2026"
            }
          ]
        },
        {
          name: "Управление персоналом и деловые коммуникации",
          description: "В ходе обучения участники разобрали и отработали в ходе тренингов, мастер-классов и деловых игр нюансы деловой коммуникации. Коммуникация с подчиненным и с руководителем - что общего и в чем разница? Как аргументировать свою позицию и управлять ожиданиями сотрудников и партнеров, как строить рабочие альянсы и разрешать различные виды конфликтов.",
          items: [
            {
              company: "НКО «Фонд регионального развития»",
              format: "В г. Тюмень на территории компании",
              date: "Апрель 2026"
            }
          ]
        },
        {
          name: "Система управления персоналом в организации",
          description: "В программе мы рассмотрели комплексный подход к управлению персоналом: от кадрового планирования до антикризисного управления. В ходе обучения участники разобрали жизненный цикл сотрудника в компании и роль руководителя на разных этапах, мотивацию, оплату труда, их взаимосвязь и инструменты влияния на вовлеченность персонала. А так же, нестандартные льготы и бонусы, используемые на рынке труда в 2025 году.",
          items: [
            {
              company: "ООО «Группа Компаний \"Русагро\"»",
              format: "В г. Москва на территории компании",
              date: "Март 2026"
            }
          ]
        },
        {
          name: "Системный клиентский сервис: от стратегии до внедрения",
          description: "На курсе: готовые инструменты и работающие алгоритмы для создания и внедрения системы клиентского сервиса — от сбора данных до корректировки процессов, анализ клиентского опыта, сервисные метрики и актуальные способы получения обратной связи, разрешение конфликтных ситуаций с клиентами",
          items: [
            {
              company: "Филиал АО «Сетевая компания» — «Дирекция по обслуживанию потребителей»",
              format: "Очно в учебном центре ЦНТИ ПРОГРЕСС (Санкт-Петербург)",
              date: "Сентябрь 2025"
            }
          ]
        },
        {
          name: "Управление проектами — правила, практика, результаты",
          description: "Интенсивный курс-практикум позволит в сжатые сроки освоить стандарты и методы управления проектами (Project Management) и отработать полученные знания на практических занятиях. Каждый день вы будете разрабатывать собственный проект, который сможете внедрить на практике. В пакет участника входят уникальные авторские разработки — готовые шаблоны, макеты, подборки материалов",
          items: [
            {
              company: "Филиал ООО «Нестле Россия» в Вязниковском районе Владимирской области",
              format: "В г. Вязники на территории компании",
              date: "Август 2025"
            }
          ]
        }
      ]
    },
    {
      id: "office",
      title: "Финансовый менеджмент. Право. ВЭД",
      color: "gold",
      courses: [
        {
          name: "Договор: как правильно составить и проверить",
          description: "Курс разработан для специалистов без юридического образования. В программе курса: составление, выбор формы и содержания договора; особенности составления долгосрочных договоров; рекомендации по оформлению сопроводительной документации; автоматизация договорной работы",
          items: [
            {
              company: "ПАО &laquo;Магнитогорский металлургический комбинат&raquo;",
              format: "Очно в г. Магнитогорск на территории компании",
              date: "Март 2025"
            }
          ]
        },
        {
          name: "Претензионная и исковая работа с учетом изменений ГК, ГПК, АПК и КАС РФ",
          description: "Все этапы претензионной работы в одном курсе от практикующих юристов. Подробный разбор типичных ошибок и практические рекомендации на всех стадиях процесса; от правильного оформления претензионной переписки до организации взаимодействия с судебными приставами",
          items: [
            {
              company: "ООО &laquo;Сахалинская Энергия&raquo;",
              format: "Очно в г. Южно-Сахалинск на территории компании",
              date: "Октябрь 2025"
            }
          ]
        },
        {
          name: "Практический курс по бюджетированию и управленческому учету",
          description: "С помощью инструментов финансового моделирования вы научитесь планировать, анализировать и консолидировать бюджеты в MS Excel. Выстраивать систему бюджетирования на основе бухгалтерского учета, методом &laquo;быстрый бюджет&raquo;, регулировать параметры бюджета по драйверам затрат",
          items: [
            {
              company: "ООО &laquo;ВКБ&raquo;",
              format: "Очно в г. Санкт-Петербург на территории компании",
              date: "Октябрь 2025"
            }
          ]
        },
        {
          name: "Управление договорной деятельностью",
          description: "В программе: организация договорной работы внутри организации с применением ЭДО, локальное регулирование, построение работы с контрагентами, решение спорных ситуаций. Полученные знания позволят повысить грамотность участников договорного процесса, предотвратить финансовые потери компании и избежать судебных споров. В интерактивной форме вам будет предоставлена возможность отработать полученные знания и получить профессиональные комментарии",
          items: [
            {
              company: "ООО &laquo;Группа Компаний &laquo;Русагро&raquo;&raquo;",
              format: "Очно в г. Москва на территории компании",
              date: "Октябрь 2025"
            }
          ]
        },
        {
          name: "Основы экономики и финансов",
          description: "Программа дает системный взгляд на экономику и финансы компании, позволяет руководителю получать и анализировать финансовую информацию из бухгалтерской и управленческой отчетности, понимать закономерности планирования и прогнозирования результатов деятельности, а также оценивать экономическую эффективность бизнес-процессов и проектов",
          items: [
            {
              company: "ООО &laquo;Группа Компаний &laquo;Русагро&raquo;&raquo;",
              format: "Очно в г. Москва на территории компании",
              date: "Май 2025"
            }
          ]
        },
      ]
    },
    {
      id: "it",
      title: "Информационные технологии",
      color: "ocean",
      courses: [
        {
          name: "Инструменты MS Excel для оптимизации работ с данными. Курс-практикум",
          description: "В программе курса весь спектр инструментов MS Excel, позволяющий эффективно анализировать и визуализировать исходные данные. В том числе: применение инструментов Excel для разработки аналитических отчетов, формулы массивов, сводные таблицы; инструменты графического анализа экономических данных, интерактивные диаграммы; инструменты разработки информационно-аналитических панелей",
          items: [
            {
              company: "ООО «Современные технологии газовых турбин»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Июнь 2026"
            }
          ]
        },
        {
          name: "Инструменты MS Excel для аналитики данных. Курс-практикум",
          description: "Курс-практикум направлен на изучение расширенных возможностей инструментов MS Excel, применяемых для автоматизации расчетов, обработки и анализа данных. Полученные знания позволят выбрать более оптимальные пути решения своих профессиональных задач. Обучение проводится в специализированном компьютерном классе. Выполнение многочисленных практических заданий в процессе обучения способствует высокому уровню эффективности полученной информации",
          items: [
            {
              company: "ООО «Воронежский трансформатор»",
              format: "В г. Воронеж на территории компании",
              date: "Июнь 2026"
            },
            {
              company: "ООО «Сахалинская Энергия»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Декабрь 2025"
            }
          ]
        },
        {
          name: "Аналитика и визуализация больших объемов данных. Инструменты Excel: Power Pivot, Power Query, аналитические интерактивные панели. Практикум",
          description: "Программа насыщена практическими и тренинговыми занятиями, которые помогут участникам освоить и усовершенствовать основные компетенции, необходимые линейному руководителю как в руководстве производственными процессами, так и в управлении коллективом",
          items: [
            {
              company: "АО «Сады Придонья»",
              format: "В г. Волгоград на территории компании",
              date: "Апрель 2026"
            }
          ]
        },
        {
          name: "Технологический суверенитет в сфере информационных технологий",
          description: "Обеспечение максимальной независимости от иностранных разработок в сфере высоких технологий и сохранения технологического суверенитета, актуальные вопросы модернизации ИТ-систем, управление проектами перевода организаций на отечественное ПО и ИТ-оборудование, перевод информационных систем на новый уровень функциональности, эффективности и защищенности",
          items: [
            {
              company: "ООО «Норникель Спутник»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Сентябрь 2025"
            }
          ]
        },
        {
          name: "Управление цехом и производственным участком промышленного предприятия. Практикум",
          description: "Программа насыщена практическими и тренинговыми занятиями, которые помогут участникам освоить и усовершенствовать основные компетенции, необходимые линейному руководителю как в руководстве производственными процессами, так и в управлении коллективом",
          items: [
            {
              company: "АО «Смоленский авиационный завод»",
              format: "Очно в г. Смоленск на территории компании",
              date: "Март 2025"
            }
          ]
        }
      ]
    },
    {
      id: "government",
      title: "Закупки и снабжение. Госзакупки",
      color: "lavender",
      courses: [
        {
          name: "Бухгалтерский учет и налогообложение бюджетных учреждений в 2026 году",
          description: "Курс охватывает ключевые вопросы бухгалтерского и налогового учета, формирования отчетности, в том числе по планам ФХД, ведения учета по приносящей доход деятельности, ведение расчетов по оплате труда и т.д.",
          items: [
            {
              company: "БУ ВО «Специализированная эксплуатационная служба управления делами Воронежской области»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Май 2026"
            }
          ]
        },
        {
          name: "Государственное бюджетное задание: формирование и контроль",
          description: "В программе: порядок формирования и контроля государственного задания, расчет нормативных затрат на оказание услуг, методы контроля целевого расходования бюджетных средств, процедуры согласования и внесения изменений в бюджет. По окончании обучения вы сможете определить необходимый объем субсидии на очередной финансовый год и избежать ошибок в ходе проверок",
          items: [
            {
              company: "ФГУП «Крыловский государственный научный центр»",
              format: "В г. Санкт-Петербурге на территории компании",
              date: "Март 2026"
            }
          ]
        },
        {
          name: "Переговоры в закупках, правила торга",
          description: "Как грамотно подготовить и провести переговоры с поставщиком или закупщиком? Как отстоять интересы своей компании, грамотно убедив оппонента в необходимости требуемых скидок или чрезмерном их объеме. Жесткий стиль переговоров, работа с возражениями, особенности онлайн-переговоров и структура их проведения",
          items: [
            {
              company: "ООО «Сахалинская Энергия»",
              format: "В г. Южно-Сахалинск на территории компании",
              date: "Октябрь 2025"
            }
          ]
        },
        {
          name: "Управление ресурсами и складскими запасами",
          description: "Программа охватывает широкий круг вопросов: аудит закупочной деятельности и запасов, работа с поставщиками, бюджет, логистика, работа с договорами и претензиями, борьба со злоупотреблениями персонала, складская логистика.",
          items: [
            {
              company: "ООО «Группа Компаний \"Русагро\"»",
              format: "В г. Москва на территории компании",
              date: "Октябрь 2025"
            }
          ]
        },
        {
          name: "Национальный режим при осуществлении закупок в рамках Закона Nº 223-Ф3 в 2025 г.",
          description: "Курс повышения квалификации для заказчиков, работающих по 223-ФЗ. Опытные эксперты в сфере закупок рассмотрят все положения закона и подзаконных актов в соответствии с последними изменениями и дополнениями",
          items: [
            {
              company: "АО «Смоленский авиационный завод»",
              format: "В формате интерактивной онлайн-трансляции",
              date: "Март 2025"
            },
            {
              company: "ООО «ГЭХ Финанс»",
              format: "В г. Санкт-Петербурге на территории компании",
              date: "Февраль 2025"
            }
          ]
        }
      ]
    }
  ];

section.top-courses.section#top-courses
  .container
    h2.title Топ-курсов, прошедших в 2025-2026 годах
    .m3(data-spollers data-one-spoller)
      each spoller in rubricsArchive
        .top-courses__spoller.bbs2l(style="--group-color:var(--" + spoller.color + ")")
          button.top-courses__spoller-title.r.jcb.w(data-spoller)
            +branchTitle({
              tag: 'span',
              title: spoller.title,
            })
          .n1o1.bpd2
            if spoller.courses
              .col5
                each course, i in spoller.courses
                  +courseInfoCase(course)

//- http://localhost:1709/page-corp.html#cases