.hotels-hero.section#first
  .container.x2contents   
    .baner.m4
      picture
        source(type='image/webp' sizes='1200px' srcset='img/hotels/n1hero@0.6x.webp 720w, img/hotels/n1hero@1.2x.webp 1440w, img/hotels/n1hero@1.8x.webp 2160w, img/hotels/n1hero@2.4x.webp 2880w')
        img.bg.x1hide(src='img/hotels/n1hero.png' alt='' width='1200' height='auto')
      picture
        source(type='image/webp', sizes='calc(100vw - 80px)', srcset='img/hotels/n2hero@0.6x.webp 571w, img/hotels/n2hero@1.2x.webp 1143w, img/hotels/n2hero@1.8x.webp 1714w, img/hotels/n2hero@2.4x.webp 2285w')
        img.bg.n1hide.x2hide(src='img/hotels/n2hero.png', alt='', width='952', height='auto')
      picture
        source(type='image/webp', sizes='100vw', srcset='img/hotels/n3hero@0.6x.webp 461w, img/hotels/n3hero@1.2x.webp 922w, img/hotels/n3hero@1.8x.webp 1383w, img/hotels/n3hero@2.4x.webp 1844w')
        img.bg.n2hide.x3hide(src='img/hotels/n3hero.png', alt='', width='768', height='auto')
      picture
        source(type='image/webp', sizes='100vw', srcset='img/hotels/n4hero@0.6x.webp 324w, img/hotels/n4hero@1.2x.webp 648w, img/hotels/n4hero@1.8x.webp 972w, img/hotels/n4hero@2.4x.webp 1296w')
        img.bg.n3hide.x4hide(src='img/hotels/n4hero.png', alt='', width='540', height='auto')
      picture
        source(type='image/webp', sizes='100vw', srcset='img/hotels/hero@0.6x.webp 192w, img/hotels/hero@1.2x.webp 384w, img/hotels/hero@1.8x.webp 576w, img/hotels/hero@2.4x.webp 768w')
        img.bg.n4hide(src='img/hotels/hero.png', alt='', width='320', height='auto')
      .hotels-hero__announcement
        .container.n2contents 
          .hotels-hero__main.col3.n1w5.n3w7.w4            
            h1.t1d Гостиницы на особых условиях
            .col5
              h2.t2d.n1w5.n2w7 Бесплатно забронируем гостиницу с приятными бонусами
              p.p1.x4hide Мы отобрали лучшие гостиницы недалеко от учебных центров ЦНТИ ПРОГРЕСС и договорились о выгодных ценах и полезных бонусах для наших слушателей. 
              p.p2.n4hide Мы отобрали лучшие гостиницы недалеко от учебных центров ЦНТИ ПРОГРЕСС и договорились о выгодных ценах и полезных бонусах для наших слушателей. 
              .r5.aic
                svg.ss.sw2.i24.x4i20
                  use(xlink:href='img/sprite/symbols.svg#attention')
                p.ts.p1.x4hide Все привилегии действуют только при бронировании через службу гостиниц ЦНТИ ПРОГРЕСС.
                p.ts.p2.n4hide Все привилегии действуют только при бронировании через службу гостиниц ЦНТИ ПРОГРЕСС.

//- http://localhost:1709/page-hotels.html#first