header.header._lpr
  .container
    .header__top-level
      .n3contents.col7.x4row.x4jcb.x4aic
        a.n3hide(href="index.html") 
          img.header__mobile-logo-img(src="img/logo.svg" alt="")
        .n2w2
          +headerSelect({
            text: 'Санкт-Петербург',
            options: [
              { text: 'Санкт-Петербург', href: 'page-main.html' },
              { text: 'Москва', href: 'page-main.html' }
            ]
          })
      .header__icon-links
        a.s-hover.hover.r5.aic(href="#")
          svg.i24.x2i20
            use(xlink:href='img/sprite/symbols.svg#plan')
          | План обучения
        a.s-hover.hover.r5.aic(href="#")
          svg.i24.x2i20
            use(xlink:href='img/sprite/symbols.svg#key')
          | Бронь отелей
        a.s-hover.hover.r5.aic(href="#")
          svg.i24.x2i20
            use(xlink:href='img/sprite/symbols.svg#mail')
          | Рассылка
      .header__contacts
        .n1w2
          +headerSelect({
            text: '8 (800) 333-88-44',
            options: ['8 (800) 333-88-44', '8 (812) 331-88-88'],
            accent: true,
            phone: true
          })
        a.hover.s-hover.p1.r5.aic.n1w2(href="mailto:client@cntiprogress.ru")
          svg.i20.x2hide
            use(xlink:href='img/sprite/symbols.svg#email')
          span.header__mail-span client@cntiprogress.ru
    .row.aic.m5
      a.w2.x3hide(href="index.html") 
        img.header__logo-link-img(src="img/logo.svg" alt="")
      .r.fg
        form.header__search
          .header__search-input-wrapper
            input.header__search-input(placeholder='Поиск по сайту')
            button.header__search-close
              svg.i24.x2i20
                use(xlink:href='img/sprite/symbols.svg#x-close')
            include header-parts/results-header/__results-header
          button.header__search-btn
            span.x4hide Найти 
              span.x2hide курс
            svg.ss.i16.sw2.n4hide
              use(xlink:href='img/sprite/symbols.svg#search')
        .r.jce.w1.n2hide.x3contents
          +burger(class="header__burger _burger")
    
    include header-parts/menu-header/__menu-header
    //- include header-parts/info-header/__info-header

//- scss/css-blocks/header.scss