.header {
  transition-property: transform;
  transition-duration: 0.6s;
  z-index: 3;
  position: fixed;
  left: 0;
  @include w;
  padding-top: 20px;
  @include bgm;

  &__top-level {
    @include row;
    @include x4col;
    @media (min-width: $md4+px) {
      align-items: center;
    }
    @media (max-width: $md4+px) {
      row-gap: 22px;
    }
  }

  &__mobile-logo-img {
    @media (min-width: $md4+px) {
      height: 32px;
    }
    @media (max-width: $md4+px) {
      height: 30px;
    }
  }

  &__icon-links {
    @include row;
    @include x2hide;
    @media (min-width: $md1+px) {
      column-gap: 40px;
    }
  }

  &__contacts {
    @include r;
    @include x3col;
    @include x4row;
    @include jcb;
    @include x3aie;
    @include g5;
    @media (min-width: $md2+px) {
      column-gap: var(--gutter);
    }
    @media (min-width: $md4+px) {
      column-gap: 40px;
      margin-left: auto;
    }
    @media (max-width: $md4+px) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: -12px;
        left: calc(var(--fields) / -2);
        width: calc(100% + var(--fields));
        height: 2px;
        background-color: #{$bg-second};
      }
    }
  }

  &__logo-link-img {
    @media (min-width: $md1+px) {
      width: 100%;
    }
    @media (max-width: $md1+px) {
      height: 40px;
    }
    @media (max-width: $md2+px) {
      height: 30px;
    }
  }

  &__search {
    @include r;
    @include fg;
    :has(.header__search-input:not(:placeholder-shown)) .header__search-close {
      opacity: 1;
      visibility: visible;
    }
    :has(.header__search-input:not(:placeholder-shown):focus) .header-results {
      opacity: 1;
      visibility: visible;
    }
  }

  &__search-input-wrapper {
    @include por;
    @include r;
    @include aic;
    @include fs;
    @include n3w8;
    @include w3;
    padding: 6px 20px 6px 0;
    @include bd2;
    border-right: none;
    @media (min-width: $md2+px) {
      flex-grow: 1;
    }
    @media (max-width: $md2+px) {
      padding: 3px 15px 3px 0;
    }
    @media (max-width: $md4+px) {
      padding: 3px 10px 3px 0;
    }
    @media (hover: hover) {
      &:hover {
        & .header__search-close {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &:focus-within {
      & .header__search-close {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__search-input {
    @include p1;
    @include fg;
    padding: 0 20px 0 18px;
    @media (max-width: $md2+px) {
      padding: 0 10px 0 13px;
    }
    @media (max-width: $md4+px) {
      padding: 0 10px 0 8px;
    }
    &:focus-visible {
      outline: none;
    }
  }

  &__search-close {
    @include dur;
    opacity: 0;
    visibility: hidden;
    line-height: 0;
  }

  &__search-btn {
    @include dur;
    @include ts;
    @include p1;
    @include r;
    @include aic;
    @include jcc;
    @include fs;
    @include n2w2;
    @include bgb;
    padding: 10px 0;
    @media (max-width: $md2+px) {
      flex-grow: 1;
      padding: 6px 0;
    }
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background-color: #{$bg-accent};
    }
  }

  &__burger {
    @media (max-width: $md3+px) {
      margin-left: calc(var(--fields) / 2);
    }
  }
}

@import 'header-parts/menu-header/__menu-header';
// @import 'header-parts/info-header/__info-header';
@import 'header-parts/results-header/__results-header';
