.col3.n3o1.n2o0
  p.tb.t2 Ведущие курса:
  .col3
    .row.x4col.g7.bpd3.bbd2l
      p.td.p1.n3w3.w2.x4w4 Орлова Светлана Васильевна
      p.p1 Ведущий инженер-технолог ОАО «Производственная фирма «КМТ» — Ломоносовский опытный завод», сертифицированный европейский специалист по склеиванию.
    .row.x4col.g7.bpd3.bbd2l
      p.td.p1.n3w3.w2.x4w4 Сытов Валентин Валерьевич
      p.p1 Генеральный директор НПП «СТЭП».
    ul.ul.col3
      li.ul__li.bpd3.bbd2l Высококвалифицированные специалисты ведущих предприятий и организаций Санкт-Петербурга, Москвы, Владимира, Нижнего Новгорода.
      li.ul__li.bpd3.bbd2l Эксперт, более 30 лет работы на ведущих промышленных предприятиях, аудитор. Реализовано сотни успешных проектов по внедрению улучшений в производственных процессах, бережливых технологий.
    .row.wrap.g3
      .col5.n3w4.w2.x4w4
        .col7
          p.td.p1 Сиротина Лидия Константиновна
          p.p1 Финансовый аналитик, консультант, к.э.н.
        img.n3w2.w1.x4w2.sqr.cvr(src="img/course/sirotina.png", alt="")
      hr.n4hide.w.bdl
      .col5.n3w4.w2.x4w4
        .col7
          p.td.p1 Сиротина Лидия Константиновна
          p.p1 Финансовый аналитик, консультант, к.э.н.
        img.n3w2.w1.x4w2.sqr.cvr(src="img/course/nophoto.png", alt="")