-
  advantages = [
    {
      icon: 'dist-home',
      text: 'Повышение квалификации без&nbsp;затрат на командировки, перелеты, гостиницы.'
    },
    {
      icon: 'dist-monitor',
      text: 'Доступ к системе дистанционного обучения с компьютеров, планшетов, смартфонов.'
    },
    {
      icon: 'dist-tablet',
      text: 'Баланс теории и практики: материал закрепляется тестами и кейс-задачами.'
    },
    {
      icon: 'dist-message',
      text: 'Оперативная техподдержка и связь с менеджерами.'
    },
  ]

section.distance-hero.section
  .container.x3contents
    .distance-hero__body
      .container.n3contents
        .distance-hero__preview.n3ol1
          p.distance-hero__subtitle.p1 Еще удобнее и мобильнее
          h1.t1d.m6 дистанционные курсы #[br]повышения квалификации
      .distance-hero__main.n1ol1
        .container.n3contents
          .n3o1
            p.p1 Дистанционные курсы доступны из любой точки мира, не привязаны к датам и всегда открыты для записи. Комфортный темп и график обучения задаете вы. Учебные материалы дистанционных курсов — видеолекции, задания и решения, презентации и документы — будут собраны в вашем личном кабинете. По итогам обучения мы высылаем удостоверение о повышении квалификации почтой.
            .m2
              h2.t2d Больше преимуществ:
              .distance-hero__advantages.row-wrap.g5.m4
                each item in advantages
                  .distance-hero__advantage.n1w4.n3w5.x3w2.x4w4
                    svg.icn
                      use(xlink:href='img/sprite/symbols.svg#' + item.icon)
                    p.p2 !{item.text}
