.header-info
  p #[span.x3hide Готов учебный план на 2025 год.] Расписание курсов по всем отраслевым направлениям #[span.x4hide — в одной брошюре.]#[br.n3hide] #[span.n3hide Готов учебный план на 2025 год.]
    a.header-info__link(href="#") скачать
      svg.i20
        use(xlink:href='img/sprite/symbols.svg#arrow-right')
