.course {
  &__tab-indicator {
    z-index: -1;
    position: absolute;
    top: var(--indicator-top);
    left: var(--indicator-left);
    width: calc(var(--indicator-width) + 1px);
    height: calc(var(--indicator-height) + 1px);
  }

  &__tab-title {
    flex-grow: 1;
    padding: 10px;
    &._active {
      cursor: auto;
      color: #{$text-second};
    }
    &:not(._active) {
      &:hover,
      &:focus-visible {
        color: #{$hover};
      }
    }
    // &:not(:first-child) {
    //   border-left-width: 1px;
    // }
    // &:not(:last-child) {
    //   border-right-width: 1px;
    // }
  }
}
