.course {
  // &__tab-indicator {
  //   z-index: -1;
  //   position: absolute;
  //   top: var(--indicator-top);
  //   left: var(--indicator-left);
  //   width: var(--indicator-width);
  //   height: var(--indicator-height);
  // }

  &__tab-title {
    padding: 10px;
    &._active {
      cursor: auto;
      color: #{$text-second};
      background-color: #{$bg-accent};
    }
    &:not(._active) {
      &:hover,
      &:focus-visible {
        color: #{$hover};
      }
    }
  }
}
