.section.course#course
  .container
    .row.aic.jcb.bgm.bbd2l#sticky
      .r.fg
        +mode({
          text: '<span class="x4hide">Очный формат курса</span><span class="n4hide">Очно</span>',
        })(class="x4p50")
        +mode({
          tag: 'a',
          text: '<span class="x4hide">Онлайн-курс</span><span class="n4hide">Онлайн</span>',
        })(class="x4p50" href="#")
      p.t2d.x4hide Код курса: 71473
    .row.x2col.g1
      .col1.n2w9.rbd2l.x2contents
        .col2.m3
          .col7.n1w8
            p.tb.t2 Курс повышения квалификации
            p.t2d.n4hide Код курса: 71473
            h1.t1d Перспективные полимерные материалы в промышленности&ZeroWidthSpace; — герметики, компаунды, лакокрасочные покрытия
          include course-parts/__tabs-course
        hr.bdl
        .col3.n2w8.n3o1.n2o0
          .col5
            p.tb.t2 Условия участия:
            p.p1 для регистрации слушателям необходимо иметь при себе копию платежного поручения, которая является пропуском на курс повышения квалификации. Занятия проходят по очно-заочной форме. Срок обучения: заочная форма - с 17 февраля по 23 февраля 2025 года, очная форма с 24 февраля по 28 февраля 2025 года.
          .col5
            p.tb.t2 Для оформления финансовых документов необходимы:
            ul.ul.col7
              li.ul__li полные реквизиты вашей организации, включая юридический адрес.
          .col5
            p.tb.t2 Для оформления удостоверения необходимо предоставить:
            ul.ul.col7
              li.ul__li копию диплома о высшем или среднем профессиональном образовании (в случае получения диплома не в РФ, просим уточнить необходимость процедуры признания иностранного диплома в РФ по контактным телефонам или электронной почте);
              li.ul__li справку с места учебы (для студентов);
              li.ul__li копию документа, подтверждающего изменение фамилии (если менялась).
            p.p1 В первый день курса потребуются данные СНИЛС (сам документ предоставлять не требуется) и для физических лиц данные ИНН (сам документ предоставлять не требуется).
            p.p1 Обращаем ваше внимание на #[a.link(href="#") особые] случаи при выдаче Удостоверения о повышении квалификации. 
          .col5
            p.tb.t2 В пакет участника входит:
            ul.ul.col7
              li.ul__li обучение по заявленной программе;
              li.ul__li комплект информационно-справочных материалов;
              li.ul__li кофе-брейки.
      hr.bdl.n2hide
      include course-parts/__sidebar-course