.section#hero
  .container
    .col1
      .col3.aic.n1o1
        .col7.n1w6
          h1.title О ЦНТИ ПРОГРЕСС
          p.p1.tac.twb Мы — команда профессионалов! С нами работают преподаватели-практики #[br.n2hide]с реальным опытом работы и хорошей теоретической подготовкой.
        img.w(src="img/about/hero.png", alt="")
      section.col3
        h2.title Что мы предлагаем
        .row.x3wrap.g3
          .row.w4.x3w2.x4w4
            p.ta.a1.tae.n3w1 1.
            p.x2p2 Все краткосрочные обучающие #[br.x2hide]форматы (открытые и внутрикорпоративные): семинары, тренинги, мастер-#[br.n2hide.x4hide]классы, конференции
          .row.w4.x3w2.x4w4
            p.ta.a1.tae.n3w1 2.
            p.x2p2 Учебные программы для организаций, учреждений и компаний любой #[br.x1hide]отрасли, для любой группы #[br.x1hide]должностей
          .row.w4.x3w2.x4w4
            p.ta.a1.tae.n3w1 3.
            p.x2p2 Актуальные темы и живая практическая информация, применимая в ежедневной профессиональной деятельности