mixin breadcrumbs(props)
  .breadcrumbs
    .container
      .breadcrumbs__body
        span.breadcrumbs__item
          a.hover(href="/page-main.html") Главная
        each b, index in props
          if index === props.length - 1
            span.breadcrumbs__item !{b}
          else
            span.breadcrumbs__item 
              a.hover(href="#") !{b}