mixin breadcrumbs(props)
  .breadcrumbs
    .container
      .breadcrumbs__body
        span.breadcrumbs__item
          a.tl.hover.p1(href="/page-main.html") Главная
        each b, index in props
          if index === props.length - 1
            span.breadcrumbs__item 
              span.p1 !{b}
          else
            span.breadcrumbs__item 
              a.tl.hover.p1(href="#") !{b}