.breadcrumbs {
  @include w;
  &__body {
    padding: #{$S} 0 10px;
    @include bbd2l;
  }
  &__item {
    &:has(a) {
      &::after {
        content: '/';
        color: #{$text-light};
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}
