.-breadcrumbs {
  @extend .w;
  &__body {
    padding: var(--S) 0 10px;
    @extend .bbd2l;
  }
  &__item {
    @extend .p1;
    &:has(a) {
      color: var(--text-light);
      &::after {
        content: '/';
        color: var(--text-light);
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}
