mixin arr()
  .arr&attributes(attributes)
    .arr__line
    svg.arr__head
      use(xlink:href='img/sprite/symbols.svg#arrowhead')

mixin arrow()
  .arrow&attributes(attributes)
    .arrow__line
    svg.arrow__head
      use(xlink:href='img/sprite/symbols.svg#arrowhead')