%arr {
  @extend .dur;
  fill: var(--arrow-color);
  stroke: var(--arrow-color);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Резиновый контейнер */
  padding-right: 2px;

  &__line {
    @extend .dur;
    flex-grow: 1; /* Растягивается на всю доступную ширину */
    background: var(--arrow-color);
    border-radius: 2px;
  }

  &__head {
    position: absolute;
    right: 0;
    width: 20px; /* Фиксированная ширина наконечника */
    flex-shrink: 0; /* Запрещаем сжимание */
  }
}

.-arr {
  @extend %arr;
  height: 21px;
  padding-right: 5px;
  &__line {
    @extend %arr__line;
    height: 3px;
  }

  &__head {
    @extend %arr__head;
    height: 21px;
  }
}

.-arrow {
  @extend %arr;
  height: 30px; /* Фиксированная высота */
  &__line {
    @extend %arr__line;
    height: 4px; /* Толщина линии */
    margin-right: -1px; /* Чтобы наконечник прилегал вплотную */
  }

  &__head {
    @extend %arr__head;
    height: 30px; /* Фиксированная высота */
  }
}

.acb {
  --arrow-color: var(--text-bright);
}

.acb-link {
  @extend .acb;
  &:hover,
  &:focus-visible {
    --arrow-color: var(--hover-accent);
  }
}

.aca {
  --arrow-color: var(--text-accent);
}

.aca-link {
  @extend .aca;
  &:hover,
  &:focus-visible {
    --arrow-color: var(--hover);
  }
}