%arr {
  @include dur;
  fill: var(--arrow-color);
  stroke: var(--arrow-color);
  @include por;
  @include r;
  @include aic;
  @include w;
  padding-right: 2px;

  &__line {
    @include dur;
    flex-grow: 1;
    background: var(--arrow-color);
    border-radius: 2px;
  }

  &__head {
    position: absolute;
    right: 0;
    width: 20px;
    flex-shrink: 0;
  }
}

.arr {
  @extend %arr;
  height: 21px;
  padding-right: 5px;
  &__line {
    @extend %arr__line;
    height: 3px;
  }

  &__head {
    @extend %arr__head;
    height: 21px;
  }
}

.arrow {
  @extend %arr;
  height: 30px; /* Фиксированная высота */
  &__line {
    @extend %arr__line;
    height: 4px; /* Толщина линии */
    margin-right: -1px; /* Чтобы наконечник прилегал вплотную */
  }

  &__head {
    @extend %arr__head;
    height: 30px; /* Фиксированная высота */
  }
}

.acb {
  --arrow-color: #{$text-bright};
}

.acb-link {
  @extend .acb;
  &:hover,
  &:focus-visible {
    --arrow-color: #{$hover-accent};
  }
}

.aca {
  --arrow-color: #{$text-accent};
}

.aca-link {
  @extend .aca;
  &:hover,
  &:focus-visible {
    --arrow-color: #{$hover};
  }
}