.course-info {
  &__row {
    @extend.r;
    column-gap: 45px;
    @extend.wrap;
    @extend.g7;
    @extend.x2cg30;
    @extend.m6;
    @media (max-width: $md4+px) {
      column-gap: var(--gutter);
    }
  }

  &__item {
    @include p1;
    @include r5;
    @include aic;
    @media (max-width: $md4+px) {
      min-width: var(--2columns);
    }
  }

  &__link {
    @extend .course-info__item;
    @include sa-link;
    @include link;
  }
}
