-
  centerItems = [
    {
      icon: 'pin',
      title: 'Расположение',
      text: 'Собственный Учебный комплекс ЦНТИ Прогресс расположен на Васильевском острове — в исторической части Петербурга. Близость выдающихся памятников истории и культуры, знаменитых музеев и театров, уникальная атмосфера петербургских улиц и набережных обогащает процесс обучения яркими эстетическими впечатлениями.',
    },
    {
      icon: 'hand',
      title: 'Возможности',
      text: 'Вся территория Учебного комплекса общей площадью более 1500 кв. метров — зона бесплатного Wi-Fi без ограничений. В холле установлены компьютеры с открытым доступом в Интернет, навигационные стойки с информацией о городе и учебном комплексе. Из некоторых гостиниц до Учебного комплекса организован утренний трансфер.',
    },
    {
      icon: 'smile',
      title: 'Атмосфера',
      text: 'Решенный в стиле hi-tech эргономичный интерьер Учебного комплекса создает благоприятную атмосферу для обучения, делового общения и отдыха между занятиями.',
    },
  ]

section.center.section
  .container
    h1.title Межотраслевой Учебный комплекс ЦНТИ Прогресс
    .row.wrap.g2.m2
      img.center__img.n3w6.w4(src="img/center/spb.png" alt="")
      .col2.x1contents
        .center__items.col3.n3w6.w4
          each item in centerItems
            article.center__item.col5
              .r10.aic
                svg.sd.sw2.i24
                  use(xlink:href='img/sprite/symbols.svg#' + item.icon)
                h2.t2d !{item.title}
              p.p1 !{item.text}
        .center__num-row.row.wrap.aie.g3
          .col7.aic.n1w2.n3w3.w2.x4w4
            p.a1 800
            p.p1.tac.twb человек мы можем одновременно обучать в нашем комплексе
          p.p1.n2w4.n3w5.w2.x4w4 Аудитории, конференц-залы, компьютерные классы Учебного комплекса оснащены современным мультимедийным презентационным оборудованием, системами кондиционирования, охраны и пожарной безопасности.

