.header-submenu-item {
  &:not(:last-child) {
    margin-bottom: 10px;
    @media (max-width: $md2+px) {
      margin-bottom: #{$S};
    }
  }

  &__name {
    @include dur;
    @include p1;
    $lh: 24;
    line-height: round-to(math.div($lh, $fz), 3);
  }

  &__links {
    @media (min-width: $md2+px) {
      margin-top: 5px;
    }
  }

  &__link {
    @include hover;
    @include s-hover;
    @include p2;
    @include r5;
    @include aic;
    @media (min-width: $md2+px) {
      break-before: avoid-column;
      padding-left: 20px;
    }
    @media (max-width: $md2+px) {
      display: block;
      margin-top: #{$XS};
      padding-left: 15px;
    }
  }
}
