.-select {
  cursor: pointer;
  @extend %input;
  // text-align: left;
  @extend .por;
  @extend .r10;
  @extend .aic;
  @extend .jcb;
  &._active {
    border-color: var(--border);
    &::after {
      rotate: 180deg;
    }
    & .-select__variants {
      z-index: 2;
    }
  }

  &:has(.-select__input:user-invalid) {
    border-color: var(--border-invalid);
  }

  &::after {
    content: '';
    @extend .dur;
    @extend .i24;
    background: url(../img/icons/chevron-l.svg) center/cover no-repeat;
  }

  &__input {
    cursor: pointer;
    outline: none;
    @extend .fg;
  }

  &__variants {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    @extend .col;
    width: calc(100% + 2px);
    padding: 4px 0;
    @extend .bgm;
    @extend .bd;
    &:not(._active) {
      display: none;
    }
  }

  &__variant {
    @extend .dur;
    display: block;
    @extend .wsn;
    padding: 5px 9px;
    &:hover,
    &:focus-visible {
      outline: none;
      @extend .bgs;
    }
    &._active {
      display: none;
    }
  }
}
