.select {
  cursor: pointer;
  @extend %input;
  // text-align: left;
  @include por;
  @include r10;
  @include aic;
  @include jcb;
  &._active {
    border-color: #{$border};
    &::after {
      rotate: 180deg;
    }
    & .select__variants {
      z-index: 2;
    }
  }

  &:has(.select__input:user-invalid) {
    border-color: #{$border-invalid};
  }

  &::after {
    content: '';
    @include dur;
    @include i24;
    background: url(../img/icons/chevron-l.svg) center/cover no-repeat;
  }

  &__input {
    cursor: pointer;
    outline: none;
    @include fg;
  }

  &__variants {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    @include col;
    width: calc(100% + 2px);
    padding: 4px 0;
    @include bgm;
    @include bd;
    &:not(._active) {
      display: none;
    }
  }

  &__variant {
    @include dur;
    display: block;
    @include wsn;
    padding: 5px 9px;
    &:hover,
    &:focus-visible {
      outline: none;
      @include bgs;
    }
    &._active {
      display: none;
    }
  }
}
