
section.section#help
  .container
    h2.title поможет с выбором
    .row.wrap.g5.jcc.m4
      a.button-primary.n1w3.n3w4.w2.x4w4(href="#") Памятка о форматах обучения
      a.button-primary.n1w3.n3w4.w2.x4w4(href="#") Памятка об итоговых документах

//- http://localhost:1709/page-corp.html#help