.widget-plan
  svg.widget-plan__svg
    use(xlink:href='img/sprite/symbols.svg#pdf-download')
  .widget-plan__window
    .widget-plan__window-top
      p.widget-plan__window-top-text Готов учебный план на 2025 год
      svg.widget-plan__window-top-svg
        use(xlink:href='img/sprite/symbols.svg#x-close')
    .widget-plan__window-main
      p.widget-plan__window-p Расписание курсов по всем отраслевым направлениям — в одной брошюре.
      a.widget-plan__window-link(href="https://img.cntiprogress.ru/Image/pdf/cntiprogress_plan_2026.pdf?from=widget") Скачать>>