.section
  .container
    .col2
      .col7.n1o1
        p.tb.t2 Запись на курс в учебном центре
        h1.t1d Комплексная диагностика технологического уровня предприятия. Технологический аудит. Повышение эффективности производства, надежности технологических процессов
      hr.bdl
      .row.jcb.n1o1
        .col7
          p.t2 Дата мероприятия: #[span.ta 10 - 14 марта 2025 г.]
          p.t2 Город: #[span.ta Санкт-Петербург]
          p.t2 Код: #[span.ta 72250]
        .col7.aie
          p.t2.tb 57 200 рублей
          p.p2.tae (Стоимость для нерезидентов #[br]РФ может отличаться)