include ../../../data/casesArchive

section.cases.section#cases(data-items data-start-items=3 data-show-items=5 data-items-animate)
  .container
    h2.title ПРИМЕРЫ КУРСОВ
  .m3(data-spollers data-one-spoller data-items-container)
    each item, index in casesArchive
      +caseItem(item, {
        isActive: index >= 0 && index <= 2
      })
  .container
    .row.wrap.jcc.g5.m3
      button.cases__hide-button.button-second.n1w2.n3w4.w2.x4w4(data-items-hide) Свернуть
      button.button-primary.n1w2.n3w4.w2.x4w4(data-items-btn) Показать ещё

//- http://localhost:1709/page-corp.html#cases