section.hotels-contacts.section--bg#contacts
  .container
    h2.title Бронируйте по телефону или почтой
    .hotels-contacts__main.row.x4col.g5.m2.n2o2.n3o1
      .hotels-contacts__column.col7.n2w3.n3w4.x3w2.x4w4
        a.t2.link(href="mailto:hotel@cntiprogress.ru") hotel@cntiprogress.ru
        p.p1 Вы получите ответ в течение дня
      .hotels-contacts__column.col7.n2w3.n3w4.x3w2.x4w4
        a.t2.link(href="tel:89216503779") 8 (921) 650-37-79
        p.p1 Вы получите ответ в течение дня

//- http://localhost:1709/page-hotels.html#contacts