section.section#contacts  
  .container
    h1.title контактная информация
    p.p1.tac.m5 Если у вас сложный вопрос по обучению, обратитесь напрямую #[br.x4hide]к руководителю отдела.
    .row.x3col.g5.m2.n1o1      
      +contactsCard({
        name: 'Наталия Парамонова',
        position: 'руководитель службы записи',
        phone: '8 (812) 331-88-88',
        email: 'client@cntiprogress.ru',
        image: 'img/feedback/paramonova.png'
      })(class="n1w5 n3w6")
      +contactsCard({
        name: 'Ирина Кутаренко',
        position: 'руководитель службы по работе с клиентами',
        phone: '8 (812) 327-42-20',
        email: 'srk@cntiprogress.ru',
        image: 'img/feedback/kutarenko.png'
      })(class="n1w5 n3w6")

//- http://localhost:1709/page-feedback.html#contacts