.bgm {
  background-color: var(--bg-main);
}

.bgs {
  background-color: var(--bg-second);
}

.bgb {
  background-color: var(--bg-bright);
}

.bga {
  background-color: var(--bg-accent);
}

.bgd {
  background-color: var(--bg-dark);
}

.bgg {
  background-color: var(--bg-gray);
}