@mixin bgm {
  background-color: #{$bg-main};
}
.bgm {
  @include bgm;
}

@mixin bgs {
  background-color: #{$bg-second};
}
.bgs {
  @include bgs;
}

@mixin bgb {
  background-color: #{$bg-bright};
}
.bgb {
  @include bgb;
}

@mixin bga {
  background-color: #{$bg-accent};
}
.bga {
  @include bga;
}

@mixin bgd {
  background-color: #{$bg-dark};
}
.bgd {
  @include bgd;
}

@mixin bgg {
  background-color: #{$bg-gray};
}
.bgg {
  @include bgg;
}