@mixin bd {
  border: 1px solid #{$border};
}
// .bd {
//   @include bd;
// }

@mixin bd2 {
  border: 2px solid #{$border};
}
// .bd2 {
//   @include bd2;
// }
@mixin bs2 {
  box-shadow:
    inset 2px 2px 0 0 #{$border},
    inset -2px -2px 0 0 #{$border};
}
// .bs2 {
//   @include bs2;
// }

@mixin bdd {
  border: 1px solid #{$border-dark};
}
// .bdd {
//   @include bdd;
// }

@mixin bdg {
  border: 1px solid #{$border-gray};
}
.bdg {
  @include bdg;
}
// @mixin bsg {
//   box-shadow:
//     inset 1px 1px 0 0 #{$border-gray},
//     inset -1px -1px 0 0 #{$border-gray};
// }
// .bsg {
//   @include bsg;
// }
@mixin bd2g {
  border: 2px solid #{$border-gray};
}
.bd2g {
  @include bd2g;
}
@mixin bs2g {
  box-shadow:
    inset 2px 2px 0 0 #{$border-gray},
    inset -2px -2px 0 0 #{$border-gray};
}
// .bs2g {
//   @include bs2g;
// }

@mixin bsa {
  box-shadow:
    inset 1px 1px 0 0 #{$border-accent},
    inset -1px -1px 0 0 #{$border-accent};
}
.bsa {
  @include bsa;
}
@mixin bs2a {
  box-shadow:
    inset 2px 2px 0 0 #{$border-accent},
    inset -2px -2px 0 0 #{$border-accent};
}
.bs2a {
  @include bs2a;
}
@mixin tbs2a {
  box-shadow: inset 0 2px 0 0 #{$border-accent};
}
// .tbs2a {
//   @include tbs2a;
// }
@mixin bbs2a {
  box-shadow: inset 0 -2px 0 0 #{$border-accent};
}
// .bbs2a {
//   @include bbs2a;
// }
@mixin tbbs2a {
  box-shadow:
    inset 0 2px 0 0 #{$border-accent},
    inset 0 -2px 0 0 #{$border-accent};
}
// .tbbs2a {
//   @include tbbs2a;
// }

@mixin bdl {
  border: 1px solid #{$border-light};
}
.bdl {
  @include bdl;
}
@mixin bd2l {
  border: 2px solid #{$border-light};
}
// .bd2l {
//   @include bd2l;
// }
@mixin bs2l {
  box-shadow:
    inset 2px 2px 0 0 #{$border-light},
    inset -2px -2px 0 0 #{$border-light};
}
.bs2l {
  @include bs2l;
}
@mixin tbd2l {
  border-top: 2px solid #{$border-light};
}
// .tbd2l {
//   @include tbd2l;
// }
@mixin rbd2l {
  border-right: 2px solid #{$border-light};
}
.rbd2l {
  @include rbd2l;
}
@mixin bbd2l {
  border-bottom: 2px solid #{$border-light};
}
.bbd2l {
  @include bbd2l;
}
