@mixin bd {
  border: 1px solid #{$border};
}
.bd {
  @include bd;
}

@mixin bd2 {
  border: 2px solid #{$border};
}
.bd2 {
  @include bd2;
}

@mixin bda {
  border: 1px solid #{$border-accent};
}
.bda {
  @include bda;
}

@mixin bd2a {
  border: 2px solid #{$border-accent};
}
.bd2a {
  @include bd2a;
}

@mixin tbd2a {
  border-top: 2px solid #{$border-accent};
}
.tbd2a {
  @include tbd2a;
}

@mixin rbd2a {
  border-right: 2px solid #{$border-accent};
}
.rbd2a {
  @include rbd2a;
}

@mixin bbd2a {
  border-bottom: 2px solid #{$border-accent};
}
.bbd2a {
  @include bbd2a;
}

@mixin lbd2a {
  border-left: 2px solid #{$border-accent};
}
.lbd2a {
  @include lbd2a;
}

@mixin bdd {
  border: 1px solid #{$border-dark};
}
.bdd {
  @include bdd;
}

@mixin bdg {
  border: 1px solid #{$border-gray};
}
.bdg {
  @include bdg;
}

@mixin bd2g {
  border: 2px solid #{$border-gray};
}
.bd2g {
  @include bd2g;
}

@mixin tbd2g {
  border-top: 2px solid #{$border-gray};
}
.tbd2g {
  @include tbd2g;
}

@mixin bdl {
  border: 1px solid #{$border-light};
}
.bdl {
  @include bdl;
}

@mixin bd2l {
  border: 2px solid #{$border-light};
}
.bd2l {
  @include bd2l;
}

@mixin tbd2l {
  border-top: 2px solid #{$border-light};
}
.tbd2l {
  @include tbd2l;
}

@mixin rbd2l {
  border-right: 2px solid #{$border-light};
}
.rbd2l {
  @include rbd2l;
}

@mixin bbd2l {
  border-bottom: 2px solid #{$border-light};
}
.bbd2l {
  @include bbd2l;
}
