@mixin r {
  display: flex;
}
.r {
  @include r;
}

@mixin cg5 {
  column-gap: 5px;
}
.cg5 {
  @include cg5;
}

@mixin cg10 {
  column-gap: 10px;
}
.cg10 {
  @include cg10;
}

@mixin cg15 {
  column-gap: 15px;
}
.cg15 {
  @include cg15;
}

@mixin cg30 {
  column-gap: 30px;
}
.cg30 {
  @include cg30;
}

@mixin cg40 {
  column-gap: 40px;
}
.cg40 {
  @include cg40;
}

@mixin x2cg10 {
  @media (max-width: $md2+px) {
    column-gap: 10px;
  }
}
.x2cg10 {
  @include x2cg10;
}

@mixin x2cg30 {
  @media (max-width: $md2+px) {
    column-gap: 30px;
  }
}
.x2cg30 {
  @include x2cg30;
}

@mixin r5 {
  @include r;
  @include cg5;
}
.r5 {
  @extend .r;
  @extend .cg5;
}

@mixin r10 {
  @include r;
  @include cg10;
}
.r10 {
  @extend .r;
  @extend .cg10;
}

@mixin r15 {
  @include r;
  @include cg15;
}
.r15 {
  @extend .r;
  @extend .cg15;
}

@mixin r30 {
  @include r;
  @include cg30;
}
.r30 {
  @extend .r;
  @extend .cg30;
}

@mixin r40 {
  @include r;
  @include cg40;
}
.r40 {
  @extend .r;
  @extend .cg40;
}

@mixin row {
  @include r;
  column-gap: var(--gutter);
}
.row {
  @include row;
}

@mixin wrap {
  flex-wrap: wrap;
}
.wrap {
  @include wrap;
}

@mixin ais {
  align-items: flex-start;
}
.ais {
  @include ais;
}

@mixin x2ais {
  @media (max-width: $md2+px) {
    align-items: flex-start;
  }
}
.x2ais {
  @include x2ais;
}

@mixin x3ais {
  @media (max-width: $md3+px) {
    align-items: flex-start;
  }
}
.x3ais {
  @include x3ais;
}

@mixin aic {
  align-items: center;
}
.aic {
  @include aic;
}

@mixin x3aic {
  @media (max-width: $md3+px) {
    align-items: center;
  }
}
.x3aic {
  @include x3aic;
}

@mixin x4aic {
  @media (max-width: $md4+px) {
    align-items: center;
  }
}
.x4aic {
  @include x4aic;
}

@mixin aie {
  align-items: flex-end;
}
.aie {
  @include aie;
}

@mixin x3aie {
  @media (max-width: $md3+px) {
    align-items: flex-end;
  }
}
.x3aie {
  @include x3aie;
}

@mixin jcc {
  justify-content: center;
}
.jcc {
  @include jcc;
}

@mixin x2jcc {
  @media (max-width: $md2+px) {
    justify-content: center;
  }
}
.x2jcc {
  @include x2jcc;
}

@mixin x4jcc {
  @media (max-width: $md4+px) {
    justify-content: center;
  }
}
.x4jcc {
  @include x4jcc;
}

@mixin jcb {
  justify-content: space-between;
}
.jcb {
  @include jcb;
}

@mixin x3jcb {
  @media (max-width: $md3+px) {
    justify-content: space-between;
  }
}
.x3jcb {
  @include x3jcb;
}

@mixin x4jcb {
  @media (max-width: $md4+px) {
    justify-content: space-between;
  }
}
.x4jcb {
  @include x4jcb;
}

@mixin jce {
  justify-content: flex-end;
}
.jce {
  @include jce;
}

@mixin fs {
  flex-shrink: 0;
}
.fs {
  @include fs;
}

@mixin fg {
  flex-grow: 1;
}
.fg {
  @include fg;
}

@mixin x1row {
  @media (max-width: $md1+px) {
    flex-direction: row;
  }
}
.x1row {
  @include x1row;
}

@mixin x1col {
  @media (max-width: $md1+px) {
    flex-direction: column;
  }
}
.x1col {
  @include x1col;
}

@mixin x2row {
  @media (max-width: $md2+px) {
    flex-direction: row;
  }
}
.x2row {
  @include x2row;
}

@mixin x2col {
  @media (max-width: $md2+px) {
    flex-direction: column;
  }
}
.x2col {
  @include x2col;
}

@mixin x2wrap {
  @media (max-width: $md2+px) {
    flex-wrap: wrap;
  }
}
.x2wrap {
  @include x2wrap;
}

@mixin x3row {
  @media (max-width: $md3+px) {
    flex-direction: row;
  }
}
.x3row {
  @include x3row;
}

@mixin x3col {
  @media (max-width: $md3+px) {
    flex-direction: column;
  }
}
.x3col {
  @include x3col;
}

@mixin x3wrap {
  @media (max-width: $md3+px) {
    flex-wrap: wrap;
  }
}
.x3wrap {
  @include x3wrap;
}

@mixin x4row {
  @media (max-width: $md4+px) {
    flex-direction: row;
  }
}
.x4row {
  @include x4row;
}

@mixin x4col {
  @media (max-width: $md4+px) {
    flex-direction: column;
  }
}
.x4col {
  @include x4col;
}

@mixin x4wrap {
  @media (max-width: $md4+px) {
    flex-wrap: wrap;
  }
}
.x4wrap {
  @include x4wrap;
}

@mixin g1 {
  row-gap: var(--S1);
}
.g1 {
  @include g1;
}

@mixin g2 {
  row-gap: var(--S2);
}
.g2 {
  @include g2;
}

@mixin g3 {
  row-gap: #{$M};
}
.g3 {
  @include g3;
}

@mixin g4 {
  row-gap: var(--S4);
}
.g4 {
  @include g4;
}

@mixin g5 {
  row-gap: #{$S};
}
.g5 {
  @include g5;
}

@mixin g6 {
  row-gap: var(--S6);
}
.g6 {
  @include g6;
}

@mixin g7 {
  row-gap: #{$XS};
}
.g7 {
  @include g7;
}

@mixin g8 {
  row-gap: #{$XXS};
}
.g8 {
  @include g8;
}

@mixin col {
  @include r;
  flex-direction: column;
}
.col {
  @include col;
}

@mixin col1 {
  @include col;
  @include g1;
}
.col1 {
  @extend .col;
  @extend .g1;
}

@mixin col2 {
  @include col;
  @include g2;
}
.col2 {
  @extend .col;
  @extend .g2;
}

@mixin col3 {
  @include col;
  @include g3;
}
.col3 {
  @extend .col;
  @extend .g3;
}

@mixin col4 {
  @include col;
  @include g4;
}
.col4 {
  @extend .col;
  @extend .g4;
}

@mixin col5 {
  @include col;
  @include g5;
}
.col5 {
  @extend .col;
  @extend .g5;
}

@mixin col6 {
  @include col;
  @include g6;
}
.col6 {
  @extend .col;
  @extend .g6;
}

@mixin col7 {
  @include col;
  @include g7;
}
.col7 {
  @extend .col;
  @extend .g7;
}

@mixin col8 {
  @include col;
  @include g8;
}
.col8 {
  @extend .col;
  @extend .g8;
}
