.r {
  display: flex;
}

.cg5 {
  column-gap: 5px;
}

.cg10 {
  column-gap: 10px;
}

.cg15 {
  column-gap: 15px;
}

.cg30 {
  column-gap: 30px;
}

.cg40 {
  column-gap: 40px;
}

.x2cg10 {
  @media (max-width: $md2+px) {
    column-gap: 10px;
  }
}

.x2cg30 {
  @media (max-width: $md2+px) {
    column-gap: 30px;
  }
}

.r5 {
  @extend .r;
  @extend .cg5;
}

.r10 {
  @extend .r;
  @extend .cg10;
}

.r15 {
  @extend .r;
  @extend .cg15;
}

.r30 {
  @extend .r;
  @extend .cg30;
}

.r40 {
  @extend .r;
  @extend .cg40;
}

.row {
  @extend .r;
  column-gap: var(--gutter);
}

.wrap {
  flex-wrap: wrap;
}

.ais {
  align-items: flex-start;
}

.x2ais {
  @media (max-width: $md2+px) {
    align-items: flex-start;
  }
}

.x3ais {
  @media (max-width: $md3+px) {
    align-items: flex-start;
  }
}

.aic {
  align-items: center;
}

.x4aic {
  @media (max-width: $md4+px) {
    align-items: center;
  }
}

.aie {
  align-items: flex-end;
}

.x3aie {
  @media (max-width: $md3+px) {
    align-items: flex-end;
  }
}

.jcc {
  justify-content: center;
}

.x2jcc {
  @media (max-width: $md2+px) {
    justify-content: center;
  }
}

.x4jcc {
  @media (max-width: $md4+px) {
    justify-content: center;
  }
}

.jcb {
  justify-content: space-between;
}

.x3jcb {
  @media (max-width: $md3+px) {
    justify-content: space-between;
  }
}

.x4jcb {
  @media (max-width: $md4+px) {
    justify-content: space-between;
  }
}

.jce {
  justify-content: flex-end;
}

.fs {
  flex-shrink: 0;
}

.fg {
  flex-grow: 1;
}

.x1row {
  @media (max-width: $md1+px) {
    flex-direction: row;
  }
}

.x1col {
  @media (max-width: $md1+px) {
    flex-direction: column;
  }
}

.x2row {
  @media (max-width: $md2+px) {
    flex-direction: row;
  }
}

.x2col {
  @media (max-width: $md2+px) {
    flex-direction: column;
  }
}

.x2wrap {
  @media (max-width: $md2+px) {
    flex-wrap: wrap;
  }
}

.x3row {
  @media (max-width: $md3+px) {
    flex-direction: row;
  }
}

.x3col {
  @media (max-width: $md3+px) {
    flex-direction: column;
  }
}

.x3wrap {
  @media (max-width: $md3+px) {
    flex-wrap: wrap;
  }
}

.x4row {
  @media (max-width: $md4+px) {
    flex-direction: row;
  }
}

.x4col {
  @media (max-width: $md4+px) {
    flex-direction: column;
  }
}

.x4wrap {
  @media (max-width: $md4+px) {
    flex-wrap: wrap;
  }
}

.g1 {
  row-gap: var(--XL-2XL);
}

.g2 {
  row-gap: var(--M-L);
}

.g3 {
  row-gap: var(--M);
}

.g4 {
  row-gap: var(--S-M);
}

.g5 {
  row-gap: var(--S);
}

.g6 {
  row-gap: var(--XS-S);
}

.g7 {
  row-gap: var(--XS);
}

.g8 {
  row-gap: var(--2XS);
}

.col {
  display: flex;
  flex-direction: column;
}

.col1 {
  @extend .col;
  @extend .g1;
}

.col2 {
  @extend .col;
  @extend .g2;
}

.col3 {
  @extend .col;
  @extend .g3;
}

.col4 {
  @extend .col;
  @extend .g4;
}

.col5 {
  @extend .col;
  @extend .g5;
}

.col6 {
  @extend .col;
  @extend .g6;
}

.col7 {
  @extend .col;
  @extend .g7;
}

.col8 {
  @extend .col;
  @extend .g8;
}
