@mixin dur {
  transition-duration: #{$transition};
}
.dur {
  @include dur;
}

@mixin i {
  font-style: italic;
}
.i {
  @include i;
}

@mixin ta {
  color: #{$text-accent};
}
.ta {
  @include ta;
}

@mixin tb {
  color: #{$text-bright};
}
.tb {
  @include tb;
}

@mixin td {
  color: #{$text-dark};
}
.td {
  @include td;
}

@mixin tl {
  color: #{$text-light};
}
.tl {
  @include tl;
}

@mixin ts {
  color: #{$text-second};
}
.ts {
  @include ts;
}

@mixin hover {
  @include dur;
  &:hover,
  &:focus-visible {
    color: #{$hover};
  }
}
.hover {
  @include hover;
}

@mixin hover-accent {
  @include dur;
  &:hover,
  &:focus-visible {
    color: #{$hover-accent};
  }
}
.hover-accent {
  @include hover-accent;
}

@mixin link {
  @include ta;
  @include hover;
}
.link {
  @include link;
}

@mixin link-b {
  @include tb;
  @include hover-accent;
}
.link-b {
  @include link-b;
}

@mixin tac {
  text-align: center;
}
.tac {
  @include tac;
}


// .x1tac {
//   @media (max-width: $md1+px) {
//     text-align: center;
//   }
// }
@mixin x2tac {
  @media (max-width: $md2+px) {
    text-align: center;
  }
}
.x2tac {
  @include x2tac;
}


// .x3tac {
//   @media (max-width: $md3+px) {
//     text-align: center;
//   }
// }

@mixin x4tac {
  @media (max-width: $md4+px) {
    text-align: center;
  }
}
.x4tac {
  @include x4tac;
}

@mixin tae {
  text-align: end;
}
.tae {
  @include tae;
}

@mixin ttu {
  text-transform: uppercase;
}
.ttu {
  @include ttu;
}

@mixin twb {
  text-wrap: balance;
}
.twb {
  @include twb;
}

@mixin wsn {
  white-space: nowrap;
}
.wsn {
  @include wsn;
}

@mixin hyp {
  overflow-wrap: break-word; /* Современный аналог word-wrap */
  word-break: auto-phrase;
  hyphens: auto; /* Красивые переносы с дефисами */
}
.hyp {
  @include hyp;
}

@mixin t1 {
  font-family: 'RobotoCondensed';
  $fs: 24;
  font-size: math.div($fs, $fz) + em;
  $lh: 30;
  line-height: round-to(math.div($lh, $fs), 3);
  @include ttu;
  @media (max-width: $md2+px) {
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    $lh: 24;
    line-height: round-to(math.div($lh, $fs), 3);
  }
  @media (max-width: $md4+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.t1 {
  @include t1;
}

@mixin t1d {
  @include td;
  @include t1;
}
.t1d {
  @include t1d;
}

@mixin title {
  @include t1d;
  @include tac;
}
.title {
  @include title;
}

@mixin t2 {
  font-family: 'RobotoCondensed';
  $fs: 18;
  font-size: math.div($fs, $fz) + em;
  // $lh: 24;
  // line-height: round-to(math.div($lh, $fs), 3);
  line-height: 1.334;
  @media (max-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.t2 {
  @include t2;
}

@mixin t2d {
  @include td;
  @include t2;
}
.t2d {
  @include t2d;
}

@mixin subtitle {
  @include t2d;
  @include tac;
}
.subtitle {
  @include subtitle;
}

@mixin a1 {
  font-family: 'Montserrat';
  $fs: 48;
  font-size: math.div($fs, $fz) + em;

  $lh: 60;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md3+px) {
    $fs: 40;
    font-size: math.div($fs, $fz) + em;
    $lh: 60;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.a1 {
  @include a1;
}

@mixin p1 {
  @media (max-width: $md2+px) AND (min-width: $md4+px) {
    $fs: 13;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.p1 {
  @include p1;
}

@mixin p2 {
  $fs: 13;
  font-size: math.div($fs, $fz) + em;
  $lh: 18;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.p2 {
  @include p2;
}

@mixin p3 {
  $fs: 10;
  font-size: math.div($fs, $fz) + em;
  $lh: 19;
  line-height: round-to(math.div($lh, $fs), 3);
}
.p3 {
  @include p3;
}

@mixin b1 {
  font-family: 'RobotoCondensed';
  @include ttu;
  @media (min-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + rem;
    $lh: 22;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.b1 {
  @include b1;
}

@mixin btn {
  @include tac;
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
.btn {
  @include btn;
}

