.hyp {
  overflow-wrap: break-word; /* Современный аналог word-wrap */
  word-break: auto-phrase;
  hyphens: auto; /* Красивые переносы с дефисами */
}

.dur {
  transition-duration: var(--transition);
}

.i {
  font-style: italic;
}

.ta {
  color: var(--text-accent);
}

.tb {
  color: var(--text-bright);
}

.td {
  color: var(--text-dark);
}

.tl {
  color: var(--text-light);
}

.ts {
  color: var(--text-second);
}

.hover {
  @extend .dur;
  &:hover,
  &:focus-visible {
    color: var(--hover);
  }
}

.hover-accent {
  @extend .dur;
  &:hover,
  &:focus-visible {
    color: var(--hover-accent);
  }
}

.link {
  @extend .ta;
  @extend .hover;
}

.link-b {
  @extend .tb;
  @extend .hover-accent;
}

.t1 {
  font-family: 'RobotoCondensed';
  $fs: 24;
  font-size: math.div($fs, $fz) + em;
  $lh: 30;
  line-height: round-to(math.div($lh, $fs), 3);
  @extend .ttu;
  @media (max-width: $md2+px) {
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    $lh: 24;
    line-height: round-to(math.div($lh, $fs), 3);
  }
  @media (max-width: $md4+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t1d {
  @extend .td;
  @extend .t1;
}

.title {
  @extend .t1d;
  @extend .tac;
}

.t2 {
  font-family: 'RobotoCondensed';
  $fs: 18;
  font-size: math.div($fs, $fz) + em;
  // $lh: 24;
  // line-height: round-to(math.div($lh, $fs), 3);
  line-height: 1.334;
  @media (max-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t2d {
  @extend .td;
  @extend .t2;
}

.subtitle {
  @extend .t2d;
  @extend .tac;
}

.a1 {
  font-family: 'Montserrat';
  $fs: 48;
  font-size: math.div($fs, $fz) + em;

  $lh: 60;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md3+px) {
    $fs: 40;
    font-size: math.div($fs, $fz) + em;
    $lh: 60;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p1 {
  @media (max-width: $md2+px) AND (min-width: $md4+px) {
    $fs: 13;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p2 {
  $fs: 13;
  font-size: math.div($fs, $fz) + em;
  $lh: 18;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p3 {
  $fs: 10;
  font-size: math.div($fs, $fz) + em;
  $lh: 19;
  line-height: round-to(math.div($lh, $fs), 3);
}

.b1 {
  font-family: 'RobotoCondensed';
  @extend .ttu;
  @media (min-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + rem;
    $lh: 22;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.btn {
  @extend .tac;
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.tac {
  text-align: center;
}

// .x1tac {
//   @media (max-width: $md1+px) {
//     text-align: center;
//   }
// }

.x2tac {
  @media (max-width: $md2+px) {
    text-align: center;
  }
}

// .x3tac {
//   @media (max-width: $md3+px) {
//     text-align: center;
//   }
// }

.x4tac {
  @media (max-width: $md4+px) {
    text-align: center;
  }
}

.tae {
  text-align: end;
}

.ttu {
  text-transform: uppercase;
}

.twb {
  text-wrap: balance;
}

.wsn {
  white-space: nowrap;
}
