.accent {
  color: var(--text-accent);
}

.bright {
  color: var(--text-bright);
}

.dark {
  color: var(--text-dark);
}

%hover {
  transition-duration: var(--transition);
}

.hover {
  @extend %hover;
  &:hover,
  &:focus-visible {
    color: var(--hover);
  }
}

.hover-accent {
  @extend %hover;
  &:hover,
  &:focus-visible {
    color: var(--hover-accent);
  }
}

.link {
  @extend .accent;
  @extend .hover;
}

.link-bright {
  @extend .bright;
  @extend .hover-accent;
}

.tac {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.twb {
  text-wrap: balance;
}

// .n1c {
//   @media (min-width: $md1+px) {
//     text-align: center;
//   }
// }

// .n2c {
//   @media (min-width: $md2+px) {
//     text-align: center;
//   }
// }

// .n3c {
//   @media (min-width: $md3+px) {
//     text-align: center;
//   }
// }

// .n4c {
//   @media (min-width: $md4+px) {
//     text-align: center;
//   }
// }

.x1c {
  @media (max-width: $md1+px) {
    text-align: center;
  }
}

.x2c {
  @media (max-width: $md2+px) {
    text-align: center;
  }
}

.x3c {
  @media (max-width: $md3+px) {
    text-align: center;
  }
}

.x4c {
  @media (max-width: $md4+px) {
    text-align: center;
  }
}

.t1 {
  font-family: 'RobotoCondensed';
  $fs: 24;
  font-size: math.div($fs, $fz) + em;
  $lh: 30;
  line-height: round-to(math.div($lh, $fs), 3);
  text-transform: uppercase;
  @media (max-width: $md2+px) {
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    $lh: 24;
    line-height: round-to(math.div($lh, $fs), 3);
  }
  @media (max-width: $md4+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t1d {
  @extend .dark;
  @extend .t1;
}

.title {
  @extend .t1d;
  @extend .tac;
}

.t2 {
  font-family: 'RobotoCondensed';
  $fs: 18;
  font-size: math.div($fs, $fz) + em;
  // $lh: 24;
  // line-height: round-to(math.div($lh, $fs), 3);
  line-height: 1.334;
  @media (max-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t2d {
  @extend .dark;
  @extend .t2;
}

.subtitle {
  @extend .t2d;
  text-align: center;
  text-wrap: balance;
}

.a1 {
  font-family: 'Montserrat';
  $fs: 48;
  font-size: math.div($fs, $fz) + em;

  $lh: 60;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md3+px) {
    $fs: 40;
    font-size: math.div($fs, $fz) + em;
    $lh: 60;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p1 {
  @media (max-width: $md2+px) AND (min-width: $md4+px) {
    $fs: 13;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.intro {
  @extend .p1;
  text-align: center;
}

.p2 {
  $fs: 13;
  font-size: math.div($fs, $fz) + em;
  $lh: 18;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.b1 {
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  @media (min-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + rem;
    $lh: 22;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.btn {
  text-align: center;
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}
