@use 'sass:math';

body {
  &._lock {
    overflow: hidden;
  }
}

._tabs-blocks {
  @include por;
}

._tabs-block {
  @include dur;
  &:not(._active) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
}

[data-item],
[data-items-btn],
[data-items-hide],
[data-reset-all],
[data-reset],
._select-activated {
  &:not(._active) {
    display: none;
  }
}

// input[type='checkbox']:not(:checked) {
//   opacity: 0.3;
// }

// [data-item]:not(._active) {
//   display: none;
// }

// [data-items-btn]:not(._active) {
//   display: none;
// }

// ._blur-container {
//   position: relative;

//   &:has(:is(._blur-container__blur-left, ._blur-container__blur-right)._active) ._blur-container__scroll-container {
//     cursor: grab;
//     &._active {
//       cursor: grabbing;
//     }
//   }

//   &__scroll-container {
//   }

//   &__blur-left,
//   &__blur-right {
//     @include dur;
//     position: absolute;
//     top: 0;
//     width: 70px;
//     height: 100%;
//     &:not(._active) {
//       opacity: 0;
//       visibility: hidden;
//     }
//   }

//   &__blur-left {
//     left: -1px;
//     background-image: linear-gradient(to right, #{$bg-main} 20px, transparent);
//   }

//   &__blur-right {
//     right: -1px;
//     background-image: linear-gradient(to left, #{$bg-main} 20px, transparent);
//   }
// }
// ._disable {
//   pointer-events: none;
// }

// ._removed {
//   &:not(._active) {
//     opacity: 0;
//     visibility: hidden;
//   }
// }

// ._hidden {
//   &:not(._active) {
//     display: none;
//   }
// }

// ._hidden-title {
// 	overflow: hidden;
// 	position: absolute;
// 	left: 0;
// 	width: 0;
// 	height: 0;
// }

// ._loading {
// 	content: '';
// 	z-index: 100;
// 	opacity: 0;
// 	visibility: hidden;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background: var(--dark) url('../img/icons/loading.gif') center / 50px no-repeat;
// }

#sticky {
  transition-duration: 0.6s;
  z-index: 1;
  position: sticky;
  top: var(--header-height);
}
