@mixin n1hide {
  @media (min-width: $md1+px) {
    display: none;
  }
}
.n1hide {
  @include n1hide;
}

@mixin x1hide {
  @media (max-width: $md1+px) {
    display: none;
  }
}
.x1hide {
  @include x1hide;
}

@mixin n2hide {
  @media (min-width: $md2+px) {
    display: none;
  }
}
.n2hide {
  @include n2hide;
}

@mixin x2hide {
  @media (max-width: $md2+px) {
    display: none;
  }
}
.x2hide {
  @include x2hide;
}

@mixin n3hide {
  @media (min-width: $md3+px) {
    display: none;
  }
}
.n3hide {
  @include n3hide;
}

@mixin x3hide {
  @media (max-width: $md3+px) {
    display: none;
  }
}
.x3hide {
  @include x3hide;
}

@mixin n4hide {
  @media (min-width: $md4+px) {
    display: none;
  }
}
.n4hide {
  @include n4hide;
}

@mixin x4hide {
  @media (max-width: $md4+px) {
    display: none;
  }
}
.x4hide {
  @include x4hide;
}

@mixin n1contents {
  @media (min-width: $md1+px) {
    display: contents;
  }
}
.n1contents {
  @include n1contents;
}

@mixin x1contents {
  @media (max-width: $md1+px) {
    display: contents;
  }
}
.x1contents {
  @include x1contents;
}

@mixin n2contents {
  @media (min-width: $md2+px) {
    display: contents;
  }
}
.n2contents {
  @include n2contents;
}

@mixin x2contents {
  @media (max-width: $md2+px) {
    display: contents;
  }
}
.x2contents {
  @include x2contents;
}

@mixin n3contents {
  @media (min-width: $md3+px) {
    display: contents;
  }
}
.n3contents {
  @include n3contents;
}

@mixin x3contents {
  @media (max-width: $md3+px) {
    display: contents;
  }
}
.x3contents {
  @include x3contents;
}

@mixin n4contents {
  @media (min-width: $md4+px) {
    display: contents;
  }
}
.n4contents {
  @include n4contents;
}

@mixin x4contents {
  @media (max-width: $md4+px) {
    display: contents;
  }
}
.x4contents {
  @include x4contents;
}