.cnt {
  object-fit: contain;
}

.cvr {
  object-fit: cover;
}

.bg {
  @extend .w;
  height: 100%;
  @extend .cvr;
}

.i16 {
  @extend .fs;
  width: 16px;
  height: 16px;
}

.i20 {
  @extend .fs;
  width: 20px;
  height: 20px;
}

.i24 {
  @extend .fs;
  width: 24px;
  height: 24px;
}

.x2i16 {
  @extend .fs;
  @media (max-width: $md2+px) {
    width: 16px;
    height: 16px;
  }
}

.x2i20 {
  @extend .fs;
  @media (max-width: $md2+px) {
    width: 20px;
    height: 20px;
  }
}

.sd {
  stroke: var(--text-dark);
}

.ss {
  stroke: var(--text-second);
}

.sb {
  stroke: var(--text-bright);
}

.sa {
  stroke: var(--text-accent);
}

.s-hover {
  &:hover,
  &:focus-visible {
    stroke: var(--hover);
  }
}

.sa-link {
  @extend .dur;
  @extend .sa;
  @extend .s-hover;
}

.ss-link {
  @extend .dur;
  @extend .ss;
  @extend .s-hover;
}

// .sw1_5 {
//   stroke-width: 1.5;
// }

.sw2 {
  stroke-width: 2;
}
