@mixin cnt {
  object-fit: contain;
}
.cnt {
  @include cnt;
}

@mixin cvr {
  object-fit: cover;
}
.cvr {
  @include cvr;
}

@mixin bg {
  @include w;
  height: 100%;
  @include cvr;
}
.bg {
  @include bg;
}

@mixin i16 {
  @include fs;
  width: 16px;
  height: 16px;
}
.i16 {
  @include i16;
}

@mixin i20 {
  @include fs;
  width: 20px;
  height: 20px;
}
.i20 {
  @include i20;
}

// @mixin i22 {
//   @include fs;
//   width: 22px;
//   height: 22px;
// }
// .i22 {
//   @include i22;
// }

@mixin i24 {
  @include fs;
  width: 24px;
  height: 24px;
}
.i24 {
  @include i24;
}

@mixin i60 {
  @include fs;
  width: 60px;
  height: 60px;
}
.i60 {
  @include i60;
}

@mixin x1i20 {
  @include fs;
  @media (max-width: $md1+px) {
    width: 20px;
    height: 20px;
  }
}
.x1i20 {
  @include x1i20;
}

@mixin x2i16 {
  @include fs;
  @media (max-width: $md2+px) {
    width: 16px;
    height: 16px;
  }
}
.x2i16 {
  @include x2i16;
}

@mixin x2i20 {
  @include fs;
  @media (max-width: $md2+px) {
    width: 20px;
    height: 20px;
  }
}
.x2i20 {
  @include x2i20;
}

@mixin x4i20 {
  @include fs;
  @media (max-width: $md2+px) {
    width: 20px;
    height: 20px;
  }
}
.x4i20 {
  @include x4i20;
}

@mixin x4i40 {
  @include fs;
  @media (max-width: $md4+px) {
    width: 40px;
    height: 40px;
  }
}
.x4i40 {
  @include x4i40;
}

// .sw1_5 {
//   stroke-width: 1.5;
// }

@mixin sw2 {
  stroke-width: 2;
}
.sw2 {
  @include sw2;
}

@mixin sw3 {
  stroke-width: 3;
}
.sw3 {
  @include sw3;
}
