@mixin cnt {
  object-fit: contain;
}
.cnt {
  @include cnt;
}

@mixin cvr {
  object-fit: cover;
}
.cvr {
  @include cvr;
}

@mixin bg {
  @include w;
  height: 100%;
  @include cvr;
}
.bg {
  @include bg;
}

@mixin i16 {
  @include fs;
  width: 16px;
  height: 16px;
}
.i16 {
  @include i16;
}

@mixin i20 {
  @include fs;
  width: 20px;
  height: 20px;
}
.i20 {
  @include i20;
}

@mixin i24 {
  @include fs;
  width: 24px;
  height: 24px;
}
.i24 {
  @include i24;
}

@mixin x2i16 {
  @include fs;
  @media (max-width: $md2+px) {
    width: 16px;
    height: 16px;
  }
}
.x2i16 {
  @include x2i16;
}

@mixin x2i20 {
  @include fs;
  @media (max-width: $md2+px) {
    width: 20px;
    height: 20px;
  }
}
.x2i20 {
  @include x2i20;
}

@mixin sd {
  stroke: #{$text-dark};
}
.sd {
  @include sd;
}

@mixin ss {
  stroke: #{$text-second};
}
.ss {
  @include ss;
}

@mixin sb {
  stroke: #{$text-bright};
}
.sb {
  @include sb;
}

@mixin sa {
  stroke: #{$text-accent};
}
.sa {
  @include sa;
}

@mixin s-hover {
  &:hover,
  &:focus-visible {
    stroke: #{$hover};
  }
}
.s-hover {
  @include s-hover;
}

@mixin sa-link {
  @include dur;
  @include sa;
  @include s-hover;
}
.sa-link {
  @include sa-link;
}

@mixin ss-link {
  @include dur;
  @include ss;
  @include s-hover;
}
.ss-link {
  @include ss-link;
}

// .sw1_5 {
//   stroke-width: 1.5;
// }

@mixin sw2 {
  stroke-width: 2;
}
.sw2 {
  @include sw2;
}
