@mixin poa {
  position: absolute;
}
.poa {
  @include poa;
}

@mixin por {
  position: relative;
}
.por {
  @include por;
}

@mixin deg-90 {
  rotate: -90deg;
}
.deg-90 {
  @include deg-90;
}

@mixin t-1 {
  translate: 0 -1px;
}
.t-1 {
  @include t-1;
}

@mixin t-2 {
  translate: 0 -2px;
}
.t-2 {
  @include t-2;
}
