.m1 {
  margin-top: var(--XL-2XL);
}

.m2 {
  margin-top: var(--M-L);
}

.m3 {
  margin-top: var(--M);
}

.m4 {
  margin-top: var(--S-M);
}

.m5 {
  margin-top: var(--S);
}

.m6 {
  margin-top: var(--XS-S);
}

.m7 {
  margin-top: var(--XS);
}

.m8 {
  margin-top: var(--2XS);
}

.pd1 {
  padding-block: calc(var(--XL-2XL) - var(--border-reduce));
}

// .pd2 {
//   padding-block: var(--M-L);
// }

.pd3 {
  padding-block: calc(var(--M) - var(--border-reduce));
}

.pd4 {
  padding-block: calc(var(--S-M) - var(--border-reduce));
}

// .pd5 {
//   padding-block: var(--S);
// }

// .pd6 {
//   padding-block: var(--XS-S);
// }

// .pd7 {
//   padding-block: var(--XS);
// }

// .pd8 {
//   padding-block: var(--2XS);
// }

.pdt {
  padding-bottom: 0;
}

.pdb {
  padding-top: 0;
}

.n1ol3 {
  @media (min-width: $md1+px) {
    margin-left: var(--3columnsG);
  }
}

.n1or3 {
  @media (min-width: $md1+px) {
    margin-right: var(--3columnsG);
  }
}

.n1o3 {
  @extend .n1ol3;
  @extend .n1or3;
}

.n1ol2 {
  @media (min-width: $md1+px) {
    margin-left: var(--2columnsG);
  }
}

.n1or2 {
  @media (min-width: $md1+px) {
    margin-right: var(--2columnsG);
  }
}

.n1o2 {
  @extend .n1ol2;
  @extend .n1or2;
}

.n1ol1 {
  @media (min-width: $md1+px) {
    margin-left: var(--columnG);
  }
}

.n1or1 {
  @media (min-width: $md1+px) {
    margin-right: var(--columnG);
  }
}

.n1o1 {
  @extend .n1ol1;
  @extend .n1or1;
}

// .n1ol0 {
//   @media (min-width: $md1+px) {
//     margin-left: 0;
//   }
// }

// .n1or0 {
//   @media (min-width: $md1+px) {
//     margin-right: 0;
//   }
// }

// .n1o0 {
//   @extend .n2ol0;
//   @extend .n2or0;
// }

.n2ol2 {
  @media (min-width: $md2+px) {
    margin-left: var(--2columnsG);
  }
}

.n2or2 {
  @media (min-width: $md2+px) {
    margin-right: var(--2columnsG);
  }
}

.n2o2 {
  @extend .n2ol2;
  @extend .n2or2;
}

.n2ol1 {
  @media (min-width: $md2+px) {
    margin-left: var(--columnG);
  }
}

.n2or1 {
  @media (min-width: $md2+px) {
    margin-right: var(--columnG);
  }
}

.n2o1 {
  @extend .n2ol1;
  @extend .n2or1;
}

.n2ol0 {
  @media (min-width: $md2+px) {
    margin-left: 0;
  }
}

.n2or0 {
  @media (min-width: $md2+px) {
    margin-right: 0;
  }
}

.n2o0 {
  @extend .n2ol0;
  @extend .n2or0;
}

.n3ol1 {
  @media (min-width: $md3+px) {
    margin-left: var(--columnG);
  }
}

.n3or1 {
  @media (min-width: $md3+px) {
    margin-right: var(--columnG);
  }
}

.n3o1 {
  @extend .n3ol1;
  @extend .n3or1;
}
