@mixin m1 {
  margin-top: var(--S1);
}
.m1 {
  @include m1;
}

@mixin m2 {
  margin-top: var(--S2);
}
.m2 {
  @include m2;
}

@mixin m3 {
  margin-top: #{$M};
}
.m3 {
  @include m3;
}

@mixin m4 {
  margin-top: var(--S4);
}
.m4 {
  @include m4;
}

@mixin m5 {
  margin-top: #{$S};
}
.m5 {
  @include m5;
}

@mixin m6 {
  margin-top: var(--S6);
}
.m6 {
  @include m6;
}

@mixin m7 {
  margin-top: #{$XS};
}
.m7 {
  @include m7;
}

@mixin m8 {
  margin-top: #{$XXS};
}
.m8 {
  @include m8;
}

@mixin tpd1($rd: null) {
  @if $rd {
    padding-top: calc(var(--S1) - #{$rd});
  } @else {
    padding-top: var(--S1);
  }
}
.tpd1 {
  @include tpd1(var(--bd-rd-t));
}
@mixin bpd1($rd: null) {
  @if $rd {
    padding-bottom: calc(var(--S1) - #{$rd});
  } @else {
    padding-bottom: var(--S1);
  }
}
.bpd1 {
  @include bpd1(var(--bd-rd-b));
}
@mixin pd1($rd: null) {
  @include tpd1($rd);
  @include bpd1($rd);
}
.pd1 {
  @include pd1(var(--bd-rd));
}

@mixin tpd3($rd: null) {
  @if $rd {
    padding-top: calc(#{$M} - #{$rd});
  } @else {
    padding-top: #{$M};
  }
}
.tpd3 {
  @include tpd3(var(--bd-rd-t));
}
@mixin bpd3($rd: null) {
  @if $rd {
    padding-bottom: calc(#{$M} - #{$rd});
  } @else {
    padding-bottom: #{$M};
  }
}
.bpd3 {
  @include bpd3(var(--bd-rd-b));
}
@mixin pd3($rd: null) {
  @include tpd3($rd);
  @include bpd3($rd);
}
.pd3 {
  @include pd3(var(--bd-rd));
}

@mixin tpd4($rd: null) {
  @if $rd {
    padding-top: calc(var(--S4) - #{$rd});
  } @else {
    padding-top: var(--S4);
  }
}
.tpd4 {
  @include tpd4(var(--bd-rd-t));
}
@mixin bpd4($rd: null) {
  @if $rd {
    padding-bottom: calc(var(--S4) - #{$rd});
  } @else {
    padding-bottom: var(--S4);
  }
}
.bpd4 {
  @include bpd4(var(--bd-rd-b));
}
@mixin pd4($rd: null) {
  @include tpd4($rd);
  @include bpd4($rd);
}
.pd4 {
  @include pd4(var(--bd-rd));
}

@mixin n1ol3 {
  @media (min-width: $md1+px) {
    margin-left: var(--3columnsG);
  }
}
.n1ol3 {
  @include n1ol3;
}

@mixin n1or3 {
  @media (min-width: $md1+px) {
    margin-right: var(--3columnsG);
  }
}
.n1or3 {
  @include n1or3;
}

@mixin n1o3 {
  @include n1ol3;
  @include n1or3;
}
.n1o3 {
  @extend .n1ol3;
  @extend .n1or3;
}

@mixin n1ol2 {
  @media (min-width: $md1+px) {
    margin-left: var(--2columnsG);
  }
}
.n1ol2 {
  @include n1ol2;
}

@mixin n1or2 {
  @media (min-width: $md1+px) {
    margin-right: var(--2columnsG);
  }
}
.n1or2 {
  @include n1or2;
}

@mixin n1o2 {
  @include n1ol2;
  @include n1or2;
}
.n1o2 {
  @extend .n1ol2;
  @extend .n1or2;
}

@mixin n1ol1 {
  @media (min-width: $md1+px) {
    margin-left: var(--columnG);
  }
}
.n1ol1 {
  @include n1ol1;
}

@mixin n1or1 {
  @media (min-width: $md1+px) {
    margin-right: var(--columnG);
  }
}
.n1or1 {
  @include n1or1;
}

@mixin n1o1 {
  @include n1ol1;
  @include n1or1;
}
.n1o1 {
  @extend .n1ol1;
  @extend .n1or1;
}

// .n1ol0 {
//   @media (min-width: $md1+px) {
//     margin-left: 0;
//   }
// }

// .n1or0 {
//   @media (min-width: $md1+px) {
//     margin-right: 0;
//   }
// }

// .n1o0 {
//   @include n2ol0;
//   @include n2or0;
// }

@mixin n2ol2 {
  @media (min-width: $md2+px) {
    margin-left: var(--2columnsG);
  }
}
.n2ol2 {
  @include n2ol2;
}

@mixin n2or2 {
  @media (min-width: $md2+px) {
    margin-right: var(--2columnsG);
  }
}
.n2or2 {
  @include n2or2;
}

@mixin n2o2 {
  @include n2ol2;
  @include n2or2;
}
.n2o2 {
  @extend .n2ol2;
  @extend .n2or2;
}

@mixin n2ol1 {
  @media (min-width: $md2+px) {
    margin-left: var(--columnG);
  }
}
.n2ol1 {
  @include n2ol1;
}

@mixin n2or1 {
  @media (min-width: $md2+px) {
    margin-right: var(--columnG);
  }
}
.n2or1 {
  @include n2or1;
}

@mixin n2o1 {
  @include n2ol1;
  @include n2or1;
}
.n2o1 {
  @extend .n2ol1;
  @extend .n2or1;
}

@mixin n2ol0 {
  @media (min-width: $md2+px) {
    margin-left: 0;
  }
}
.n2ol0 {
  @include n2ol0;
}

@mixin n2or0 {
  @media (min-width: $md2+px) {
    margin-right: 0;
  }
}
.n2or0 {
  @include n2or0;
}

@mixin n2o0 {
  @include n2ol0;
  @include n2or0;
}
.n2o0 {
  @extend .n2ol0;
  @extend .n2or0;
}

@mixin n3ol1 {
  @media (min-width: $md3+px) {
    margin-left: var(--columnG);
  }
}
.n3ol1 {
  @include n3ol1;
}

@mixin n3or1 {
  @media (min-width: $md3+px) {
    margin-right: var(--columnG);
  }
}
.n3or1 {
  @include n3or1;
}

@mixin n3o1 {
  @include n3ol1;
  @include n3or1;
}
.n3o1 {
  @extend .n3ol1;
  @extend .n3or1;
}
