@mixin sqr {
  aspect-ratio: 1;
}
.sqr {
  @include sqr;
}

@mixin n1w1 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--column);
  }
}
.n1w1 {
  @include n1w1;
}

@mixin n1w2 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--2columns);
  }
}
.n1w2 {
  @include n1w2;
}

@mixin n1w3 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--3columns);
  }
}
.n1w3 {
  @include n1w3;
}

@mixin n1w4 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--4columns);
  }
}
.n1w4 {
  @include n1w4;
}

@mixin n1w5 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--5columns);
  }
}
.n1w5 {
  @include n1w5;
}

@mixin n1w6 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--6columns);
  }
}
.n1w6 {
  @include n1w6;
}

@mixin n1w7 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--7columns);
  }
}
.n1w7 {
  @include n1w7;
}

@mixin n1w8 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--8columns);
  }
}
.n1w8 {
  @include n1w8;
}

@mixin n1w9 {
  @include fs;
  @media (min-width: $md1+px) {
    width: var(--9columns);
  }
}
.n1w9 {
  @include n1w9;
}

@mixin n1w10 {
  @media (min-width: $md1+px) {
    width: var(--10columns);
  }
}
.n1w10 {
  @include n1w10;
}

@mixin n1w11 {
  @media (min-width: $md1+px) {
    width: var(--11columns);
  }
}
.n1w11 {
  @include n1w11;
}

@mixin n1w12 {
  @media (min-width: $md1+px) {
    width: var(--12columns);
  }
}
.n1w12 {
  @include n1w12;
}

@mixin n2w1 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--column);
  }
}
.n2w1 {
  @include n2w1;
}

@mixin n2w2 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--2columns);
  }
}
.n2w2 {
  @include n2w2;
}

@mixin n2w3 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--3columns);
  }
}
.n2w3 {
  @include n2w3;
}

@mixin n2w4 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--4columns);
  }
}
.n2w4 {
  @include n2w4;
}

@mixin n2w5 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--5columns);
  }
}
.n2w5 {
  @include n2w5;
}

@mixin n2w6 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--6columns);
  }
}
.n2w6 {
  @include n2w6;
}

@mixin n2w7 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--7columns);
  }
}
.n2w7 {
  @include n2w7;
}

@mixin n2w8 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--8columns);
  }
}
.n2w8 {
  @include n2w8;
}

@mixin n2w9 {
  @include fs;
  @media (min-width: $md2+px) {
    width: var(--9columns);
  }
}
.n2w9 {
  @include n2w9;
}

@mixin n2w10 {
  @media (min-width: $md2+px) {
    width: var(--10columns);
  }
}
.n2w10 {
  @include n2w10;
}

@mixin n2w11 {
  @media (min-width: $md2+px) {
    width: var(--11columns);
  }
}
.n2w11 {
  @include n2w11;
}

@mixin n2w12 {
  @media (min-width: $md2+px) {
    width: var(--12columns);
  }
}
.n2w12 {
  @include n2w12;
}

@mixin n3w1 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--column);
  }
}
.n3w1 {
  @include n3w1;
}

@mixin n3w2 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--2columns);
  }
}
.n3w2 {
  @include n3w2;
}

@mixin n3w3 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--3columns);
  }
}
.n3w3 {
  @include n3w3;
}

@mixin n3w4 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--4columns);
  }
}
.n3w4 {
  @include n3w4;
}

@mixin n3w5 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--5columns);
  }
}
.n3w5 {
  @include n3w5;
}

@mixin n3w6 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--6columns);
  }
}
.n3w6 {
  @include n3w6;
}

@mixin n3w7 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--7columns);
  }
}
.n3w7 {
  @include n3w7;
}

@mixin n3w8 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--8columns);
  }
}
.n3w8 {
  @include n3w8;
}

@mixin n3w9 {
  @include fs;
  @media (min-width: $md3+px) {
    width: var(--9columns);
  }
}
.n3w9 {
  @include n3w9;
}

@mixin n3w10 {
  @media (min-width: $md3+px) {
    width: var(--10columns);
  }
}
.n3w10 {
  @include n3w10;
}

@mixin n3w11 {
  @media (min-width: $md3+px) {
    width: var(--11columns);
  }
}
.n3w11 {
  @include n3w11;
}

@mixin n3w12 {
  @media (min-width: $md3+px) {
    width: var(--12columns);
  }
}
.n3w12 {
  @include n3w12;
}

@mixin w {
  width: 100%;
}
.w {
  @include w;
}

// .wx{
//   max-width: 100%;
// }

@mixin w1 {
  @include fs;
  width: var(--column);
}
.w1 {
  @include w1;
}

@mixin w2 {
  @include fs;
  width: var(--2columns);
}
.w2 {
  @include w2;
}

@mixin w3 {
  @include fs;
  width: var(--3columns);
}
.w3 {
  @include w3;
}

@mixin w4 {
  @include fs;
  width: var(--4columns);
}
.w4 {
  @include w4;
}

@mixin x3w1 {
  @include fs;
  @media (max-width: $md3+px) {
    width: var(--column);
  }
}
.x3w1 {
  @include x3w1;
}

@mixin x3w2 {
  @include fs;
  @media (max-width: $md3+px) {
    width: var(--2columns);
  }
}
.x3w2 {
  @include x3w2;
}

@mixin x3w3 {
  @include fs;
  @media (max-width: $md3+px) {
    width: var(--3columns);
  }
}
.x3w3 {
  @include x3w3;
}

@mixin x3w4 {
  @include fs;
  @media (max-width: $md3+px) {
    width: var(--4columns);
  }
}
.x3w4 {
  @include x3w4;
}

@mixin x4w1 {
  @include fs;
  @media (max-width: $md4+px) {
    width: var(--column);
  }
}
.x4w1 {
  @include x4w1;
}

@mixin x4w2 {
  @include fs;
  @media (max-width: $md4+px) {
    width: var(--2columns);
  }
}
.x4w2 {
  @include x4w2;
}

@mixin x4w3 {
  @include fs;
  @media (max-width: $md4+px) {
    width: var(--3columns);
  }
}
.x4w3 {
  @include x4w3;
}

@mixin x4w4 {
  @include fs;
  @media (max-width: $md4+px) {
    width: var(--4columns);
  }
}
.x4w4 {
  @include x4w4;
}
