.n1w1 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--column);
  }
}

.n1w2 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--2columns);
  }
}

.n1w3 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--3columns);
  }
}

.n1w4 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--4columns);
  }
}

.n1w5 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--5columns);
  }
}

.n1w6 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--6columns);
  }
}

.n1w7 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--7columns);
  }
}

.n1w8 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--8columns);
  }
}

.n1w9 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--9columns);
  }
}

.n1w10 {
  @media (min-width: $md1+px) {
    width: var(--10columns);
  }
}

.n1w11 {
  @media (min-width: $md1+px) {
    width: var(--11columns);
  }
}

.n1w12 {
  @media (min-width: $md1+px) {
    width: var(--12columns);
  }
}

.n2w1 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--column);
  }
}

.n2w2 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--2columns);
  }
}

.n2w3 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--3columns);
  }
}

.n2w4 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--4columns);
  }
}

.n2w5 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--5columns);
  }
}

.n2w6 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--6columns);
  }
}

.n2w7 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--7columns);
  }
}

.n2w8 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--8columns);
  }
}

.n2w9 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--9columns);
  }
}

.n2w10 {
  @media (min-width: $md2+px) {
    width: var(--10columns);
  }
}

.n2w11 {
  @media (min-width: $md2+px) {
    width: var(--11columns);
  }
}

.n2w12 {
  @media (min-width: $md2+px) {
    width: var(--12columns);
  }
}

.n3w1 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--column);
  }
}

.n3w2 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--2columns);
  }
}

.n3w3 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--3columns);
  }
}

.n3w4 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--4columns);
  }
}

.n3w5 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--5columns);
  }
}

.n3w6 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--6columns);
  }
}

.n3w7 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--7columns);
  }
}

.n3w8 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--8columns);
  }
}

.n3w9 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--9columns);
  }
}

.n3w10 {
  @media (min-width: $md3+px) {
    width: var(--10columns);
  }
}

.n3w11 {
  @media (min-width: $md3+px) {
    width: var(--11columns);
  }
}

.n3w12 {
  @media (min-width: $md3+px) {
    width: var(--12columns);
  }
}

.x3w1 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--column);
  }
}

.x3w2 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--2columns);
  }
}

.x3w3 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--3columns);
  }
}

.x3w4 {
  @extend .fs;
  @media (max-width: $md3+px) {
    min-width: var(--4columns);
    width: 100%;
  }
}

.x4w1 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--column);
  }
}

.x4w2 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--2columns);
  }
}

.x4w3 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--3columns);
  }
}

.x4w4 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--4columns);
  }
}