.header-menu-item {
  @include x4col;
  @include x3ais;
  @include x3jcb;
  @media (min-width: $md2+px) {
    @media (hover: hover) {
      &:hover {
        & .header-menu-item__punkt {
          color: #{$hover};
          stroke: #{$hover};
        }

        & .header-menu-item__punkt-svg {
          rotate: 180deg;
        }

        & .triangle {
          opacity: 1;
          visibility: visible;
        }

        & .header-menu-item__submenu {
          opacity: 1;
          visibility: visible;
        }

        & .header-menu-item__dropdown._active {
          & .header-menu-item__punkt {
            color: #{$hover};
            stroke: #{$hover};
          }

          & .header-menu-item__punkt-svg {
            rotate: 180deg;
          }

          & .triangle {
            opacity: 1;
            visibility: visible;
          }

          & + .header-menu-item__submenu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &:has(.header-menu-item__dropdown._active + .header-menu-item__submenu:focus-within) {
        & .header-menu-item__punkt {
          color: #{$hover};
          stroke: #{$hover};
        }

        & .header-menu-item__punkt-svg {
          rotate: 180deg;
        }

        & .triangle {
          opacity: 1;
          visibility: visible;
        }

        & .header-menu-item__submenu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  @media (max-width: $md3+px) {
    display: flex;
    width: 100%;
    padding: 20px 0;
    @include bbs2a;
    &:first-child {
      @include tbbs2a;
    }
  }
  // @media (max-width: $md4+px) {
  //   flex-direction: column;
  // }
  &__dropdown {
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      cursor: auto;
      display: contents;
    }
    @media (min-width: $md2+px) {
      &._active {
        & .header-menu-item__punkt {
          color: #{$text-bright};
          stroke: #{$text-bright};
        }

        & .header-menu-item__punkt-svg {
          rotate: 180deg;
        }

        & .triangle {
          opacity: 1;
          visibility: visible;
        }

        & + .header-menu-item__submenu {
          opacity: 1;
          visibility: visible;
        }

        @media (hover: hover) {
          & .header-menu-item__punkt {
            color: #{$text-main};
            stroke: #{$text-main};
          }

          & .header-menu-item__punkt-svg {
            rotate: 0deg;
          }

          & .triangle {
            opacity: 0;
            visibility: hidden;
          }

          & + .header-menu-item__submenu {
            opacity: 0;
            visibility: hidden;
          }

          &:focus-visible {
            & .header-menu-item__punkt {
              color: #{$text-bright};
              stroke: #{$text-bright};
            }

            & .header-menu-item__punkt-svg {
              rotate: 180deg;
            }

            & .triangle {
              opacity: 1;
              visibility: visible;
            }

            & + .header-menu-item__submenu {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &:focus-visible {
        & .header-menu-item__punkt {
          color: #{$hover};
          stroke: #{$hover};
        }
      }
    }
    @media (max-width: $md3+px) {
      &._active {
        & .header-menu-item__punkt {
          color: #{$text-bright};
          stroke: #{$text-bright};
        }

        & .header-menu-item__punkt-svg {
          rotate: 180deg;
        }
      }
    }
    @media (max-width: $md4+px) {
      width: 100%;
    }
  }

  &__punkt {
    @include dur;
    @include r10;
    @include aic;
    @include x4jcb;
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      &:is(a) {
        &:hover,
        &:focus-visible {
          color: #{$hover};
          stroke: #{$hover};
        }
      }
    }
    @media (min-width: $md2+px) {
      position: relative;
    }
    @media (max-width: $md3+px) {
      &:hover,
      &:focus-visible {
        color: #{$hover};
        stroke: #{$hover};
      }
    }
  }

  &__punkt-name {
    font-family: 'RobotoCondensed';
    @media (min-width: $md1+px) {
      $fs: 20;
      font-size: math.div($fs, $fz) + em;
      $lh: 20;
      line-height: round-to(math.div($lh, $fs), 3);
      padding: 12px 0;
    }
    @media (min-width: $md2+px) {
      padding: 7px 0;
    }
    @media (min-width: $md3+px) {
      padding: 10px 0;
    }
    @media (max-width: $md2+px) {
      $fs: 16;
      font-size: math.div($fs, $fz) + em;
      font-weight: 700;
      $lh: 20;
      line-height: round-to(math.div($lh, $fs), 3);
      text-align: left;
    }
  }

  &__punkt-svg {
    @include dur;
    transition-property: rotate;
    @include i24;
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      display: none;
    }
    @media (max-width: $md3+px) {
      stroke-width: 2px;
      width: 16px;
      height: 16px;
    }
  }

  &__submenu {
    @include dur;
    padding-top: 10px;
    @media (min-width: $md1+px) {
      width: calc(100% + 58px);
    }
    @media (min-width: $md2+px) {
      position: absolute;
      left: 50px;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      width: 797px;
    }
    @media (max-width: $md2+px) {
      padding-top: 5px;
    }
    @media (max-width: $md3+px) {
      padding: 0;
      &:not(._active) {
        display: none;
      }
    }
  }

  &__submenu-items {
    @media (min-width: $md2+px) {
      columns: 3 225px;
      column-fill: balance;
      padding: 25px 28px 28px;
      background-color: #{$bg-main};
      @include bd2;
      box-shadow: var(--shadow);
    }
    @media (max-width: $md3+px) {
      width: var(--2columns);
    }
    @media (max-width: $md4+px) {
      width: 100%;
      margin-top: 15px;
    }
  }
}
