section.section#conditions
  .container
    h2.title Важные условия бронирования и оплаты
    .row.x3wrap.g5.m2
      article.n3w4.x3w2.x4w4
        h3.t2d Бонусы от ЦНТИ Прогресс
        .m5
          p.p2 Все спецпредложения, цены и бонусы доступны только при бронировании через нашу службу гостиниц.
      article.n3w4.x3w2.x4w4
        h3.t2d Документы
        .m5
          p.p2 Документы на проживание оформляются на физлицо (квитанция и кассовый чек). Если документы нужно оформить на организацию, вам необходимо предоставить доверенность и реквизиты.
      article.n3w4.x3w4
        h3.t2d Багаж на хранение
        .m5
          p.p2 В первый учебный день вы можете приехать сразу в ЦНТИ Прогресс и оставить багаж у нас, а заселиться после занятий. В последний день вы можете выехать из гостиницы утром и оставить багаж у нас.

//- http://localhost:1709/page-hotels.html#conditions