section.section#conditions
  .container
    h2.title.x4tas Важные условия бронирования и оплаты
    .row.x3col.g5.m3
      article.r15.ais.n3w4
        .icon-area.x2hide
          svg.sa.i24
            use(xlink:href='img/sprite/symbols.svg#doc')
        .col6
          .r10.aic
            .icon-area.n2hide
              svg.sa.i16
                use(xlink:href='img/sprite/symbols.svg#doc')
            h3.t2d Документы
          p.p2 Документы на проживание оформляются на физлицо (квитанция и кассовый чек). Если документы нужно оформить на организацию, вам необходимо предоставить доверенность и реквизиты.
      article.r15.ais.n3w4
        .icon-area.x2hide
          svg.sa.i24
            use(xlink:href='img/sprite/symbols.svg#case')
        .col6
          .r10.aic
            .icon-area.n2hide
              svg.sa.i16
                use(xlink:href='img/sprite/symbols.svg#case')
            h3.t2d Багаж на хранение
          p.p2 В первый учебный день вы можете приехать сразу в ЦНТИ ПРОГРЕСС и оставить багаж у нас, а заселиться после занятий. В последний день вы можете выехать из гостиницы утром и оставить багаж у нас.
      article.r15.ais.n3w4
        .icon-area.x2hide
          svg.sa.i24
            use(xlink:href='img/sprite/symbols.svg#gift')
        .col6
          .r10.aic
            .icon-area.n2hide
              svg.sa.i16
                use(xlink:href='img/sprite/symbols.svg#gift')
            h3.t2d Бонусы от ЦНТИ ПРОГРЕСС
          p.p2 Все спецпредложения, цены и бонусы доступны только при бронировании через нашу службу гостиниц.

//- http://localhost:1709/page-hotels.html#conditions