.row {
  display: flex;
  column-gap: var(--gutter);
}

.row-wrap {
  @extend .row;
  flex-wrap: wrap;
}

.por {
  position: relative;
}

.ais {
  align-items: flex-start;
}

// .x2ais {
//   @media (max-width: $md2+px) {
//     align-items: flex-start;
//   }
// }

.x3ais {
  @media (max-width: $md3+px) {
    align-items: flex-start;
  }
}

.aic {
  align-items: center;
}

// .x4aic {
//   @media (max-width: $md4+px) {
//     align-items: center;
//   }
// }

.aie {
  align-items: flex-end;
}

// .x3aie {
//   @media (max-width: $md3+px) {
//     align-items: flex-end;
//   }
// }

.jcc {
  justify-content: center;
}

.x4jcc {
  @media (max-width: $md4+px) {
    justify-content: center;
  }
}

.jce {
  justify-content: flex-end;
}

.fs {
  flex-shrink: 0;
}

.fg {
  flex-grow: 1;
}

.x3col {
  @media (max-width: $md3+px) {
    flex-direction: column;
  }
}

.x3wrap {
  @media (max-width: $md3+px) {
    flex-wrap: wrap;
  }
}

.x4col {
  @media (max-width: $md4+px) {
    flex-direction: column;
  }
}

.x4wrap {
  @media (max-width: $md4+px) {
    flex-wrap: wrap;
  }
}

.g1 {
  row-gap: var(--L-XL);
}

.g2 {
  row-gap: var(--S-M);
}

.g3 {
  row-gap: var(--S);
}

.g4 {
  row-gap: var(--XS-S);
}

.g5 {
  row-gap: var(--XS);
}

.g6 {
  row-gap: var(--2XS-XS);
}

.g7 {
  row-gap: var(--2XS);
}

.col {
  display: flex;
  flex-direction: column;
}

.col1 {
  @extend .col;
  @extend .g1;
}

.col2 {
  @extend .col;
  @extend .g2;
}

.col3 {
  @extend .col;
  @extend .g3;
}

.col4 {
  @extend .col;
  @extend .g4;
}

.col5 {
  @extend .col;
  @extend .g5;
}

.col6 {
  @extend .col;
  @extend .g6;
}

.col7 {
  @extend .col;
  @extend .g7;
}

.n1w1 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--column);
  }
}

.n1w2 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--2columns);
  }
}

.n1w3 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--3columns);
  }
}

.n1w4 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--4columns);
  }
}

.n1w5 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--5columns);
  }
}

.n1w6 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--6columns);
  }
}

.n1w7 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--7columns);
  }
}

.n1w8 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--8columns);
  }
}

.n1w9 {
  @extend .fs;
  @media (min-width: $md1+px) {
    width: var(--9columns);
  }
}

.n1w10 {
  @media (min-width: $md1+px) {
    width: var(--10columns);
  }
}

.n1w11 {
  @media (min-width: $md1+px) {
    width: var(--11columns);
  }
}

.n1w12 {
  @media (min-width: $md1+px) {
    width: var(--12columns);
  }
}

.n2w1 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--column);
  }
}

.n2w2 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--2columns);
  }
}

.n2w3 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--3columns);
  }
}

.n2w4 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--4columns);
  }
}

.n2w5 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--5columns);
  }
}

.n2w6 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--6columns);
  }
}

.n2w7 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--7columns);
  }
}

.n2w8 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--8columns);
  }
}

.n2w9 {
  @extend .fs;
  @media (min-width: $md2+px) {
    width: var(--9columns);
  }
}

.n2w10 {
  @media (min-width: $md2+px) {
    width: var(--10columns);
  }
}

.n2w11 {
  @media (min-width: $md2+px) {
    width: var(--11columns);
  }
}

.n2w12 {
  @media (min-width: $md2+px) {
    width: var(--12columns);
  }
}

.n3w1 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--column);
  }
}

.n3w2 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--2columns);
  }
}

.n3w3 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--3columns);
  }
}

.n3w4 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--4columns);
  }
}

.n3w5 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--5columns);
  }
}

.n3w6 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--6columns);
  }
}

.n3w7 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--7columns);
  }
}

.n3w8 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--8columns);
  }
}

.n3w9 {
  @extend .fs;
  @media (min-width: $md3+px) {
    width: var(--9columns);
  }
}

.n3w10 {
  @media (min-width: $md3+px) {
    width: var(--10columns);
  }
}

.n3w11 {
  @media (min-width: $md3+px) {
    width: var(--11columns);
  }
}

.n3w12 {
  @media (min-width: $md3+px) {
    width: var(--12columns);
  }
}

.x3w1 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--column);
  }
}

.x3w2 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--2columns);
  }
}

.x3w3 {
  @extend .fs;
  @media (max-width: $md3+px) {
    width: var(--3columns);
  }
}

.x3w4 {
  @extend .fs;
  @media (max-width: $md3+px) {
    min-width: var(--4columns);
    width: 100%;
  }
}

.x4w1 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--column);
  }
}

.x4w2 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--2columns);
  }
}

.x4w3 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--3columns);
  }
}

.x4w4 {
  @extend .fs;
  @media (max-width: $md4+px) {
    width: var(--4columns);
  }
}

.m1 {
  margin-top: var(--L-XL);
}

.m2 {
  margin-top: var(--S-M);
}

.m3 {
  margin-top: var(--S);
}

.m4 {
  margin-top: var(--XS-S);
}

.m5 {
  margin-top: var(--XS);
}

.m6 {
  margin-top: var(--2XS-XS);
}

.m7 {
  margin-top: var(--2XS);
}

.n1ol3 {
  @media (min-width: $md1+px) {
    margin-left: var(--3columnsG);
  }
}

.n1or3 {
  @media (min-width: $md1+px) {
    margin-right: var(--3columnsG);
  }
}

.n1o3 {
  @extend .n1ol3;
  @extend .n1or3;
}

.n1ol2 {
  @media (min-width: $md1+px) {
    margin-left: var(--2columnsG);
  }
}

.n1or2 {
  @media (min-width: $md1+px) {
    margin-right: var(--2columnsG);
  }
}

.n1o2 {
  @extend .n1ol2;
  @extend .n1or2;
}

.n1ol1 {
  @media (min-width: $md1+px) {
    margin-left: var(--columnG);
  }
}

.n1or1 {
  @media (min-width: $md1+px) {
    margin-right: var(--columnG);
  }
}

.n1o1 {
  @extend .n1ol1;
  @extend .n1or1;
}

.n2ol2 {
  @media (min-width: $md2+px) {
    margin-left: var(--2columnsG);
  }
}

.n2or2 {
  @media (min-width: $md2+px) {
    margin-right: var(--2columnsG);
  }
}

.n2o2 {
  @extend .n2ol2;
  @extend .n2or2;
}

.n2ol1 {
  @media (min-width: $md2+px) {
    margin-left: var(--columnG);
  }
}

.n2or1 {
  @media (min-width: $md2+px) {
    margin-right: var(--columnG);
  }
}

.n2o1 {
  @extend .n2ol1;
  @extend .n2or1;
}

.n3ol1 {
  @media (min-width: $md3+px) {
    margin-left: var(--columnG);
  }
}

.n3or1 {
  @media (min-width: $md3+px) {
    margin-right: var(--columnG);
  }
}

.n3o1 {
  @extend .n3ol1;
  @extend .n3or1;
}

.n1hide {
  @media (min-width: $md1+px) {
    display: none;
  }
}

.x1hide {
  @media (max-width: $md1+px) {
    display: none;
  }
}

.n2hide {
  @media (min-width: $md2+px) {
    display: none;
  }
}

.x2hide {
  @media (max-width: $md2+px) {
    display: none;
  }
}

.n3hide {
  @media (min-width: $md3+px) {
    display: none;
  }
}

.x3hide {
  @media (max-width: $md3+px) {
    display: none;
  }
}

.n4hide {
  @media (min-width: $md4+px) {
    display: none;
  }
}

.x4hide {
  @media (max-width: $md4+px) {
    display: none;
  }
}

.n1contents {
  @media (min-width: $md1+px) {
    display: contents;
  }
}

.x1contents {
  @media (max-width: $md1+px) {
    display: contents;
  }
}

.n2contents {
  @media (min-width: $md2+px) {
    display: contents;
  }
}

.x2contents {
  @media (max-width: $md2+px) {
    display: contents;
  }
}

.n3contents {
  @media (min-width: $md3+px) {
    display: contents;
  }
}

.x3contents {
  @media (max-width: $md3+px) {
    display: contents;
  }
}

.n4contents {
  @media (min-width: $md4+px) {
    display: contents;
  }
}

.x4contents {
  @media (max-width: $md4+px) {
    display: contents;
  }
}
