@use 'sass:math';

section {
  scroll-margin-top: var(--header-height);
}

body {
  &._lock {
    overflow: hidden;
  }
}

svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

*:focus-visible {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}

// input[type='checkbox']:not(:checked) {
//   opacity: 0.3;
// }

// [data-item]:not(._active) {
//   display: none;
// }

// [data-items-btn]:not(._active) {
//   display: none;
// }

._n2-hide {
  @media (min-width: $md2+px) {
    display: none;
  }
}

._x2-hide {
  @media (max-width: $md2+px) {
    display: none;
  }
}

._n3-hide {
  @media (min-width: $md3+px) {
    display: none;
  }
}

._x3-hide {
  @media (max-width: $md3+px) {
    display: none;
  }
}

._n4-hide {
  @media (min-width: $md4+px) {
    display: none;
  }
}

._x4-hide {
  @media (max-width: $md4+px) {
    display: none;
  }
}

// ._disable {
//   pointer-events: none;
// }

// ._removed {
//   &:not(._active) {
//     opacity: 0;
//     visibility: hidden;
//   }
// }

// ._block-hidden {
//   &:not(._active) {
//     display: none;
//   }
// }

// ._text-second {
//   color: rgba(var(--text-second), 0.6);
// }

// ._left {
//   flex: 260px 0 0;
//   @media (min-width: $md2+px) {
//     margin-right: 40px;
//   }
// }

// ._blue {
// 	color: var(--blue-dark);
// 	font-weight: 500;
// }

// ._checkbox {
//   &:not(:has(input:checked)) + ._input {
//     pointer-events: none;
//     background-color: var(--bg-second);
//   }
// }

// [data-item]:not(._active) {
//   display: none;
// }

._tabs-blocks {
  position: relative;
}
._tabs-block {
  transition-duration: var(--transition);
  &:not(._active) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
}

// ._hidden-title {
// 	overflow: hidden;
// 	position: absolute;
// 	left: 0;
// 	width: 0;
// 	height: 0;
// }

// ._loading {
// 	content: '';
// 	z-index: 100;
// 	opacity: 0;
// 	visibility: hidden;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background: var(--dark) url('../img/icons/loading.gif') center / 50px no-repeat;
// }
