@use 'sass:math';

section {
  scroll-margin-top: var(--header-height);
}

svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

*:focus-visible {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}

// input[type='checkbox']:not(:checked) {
//   opacity: 0.3;
// }

body {
  &._lock {
    overflow: hidden;
  }
}

// [data-item]:not(._active) {
//   display: none;
// }

// [data-items-btn]:not(._active) {
//   display: none;
// }

._container {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;

  /* Fixed container variant */
  // @media (max-width: $md1+px) {
  //   max-width: $laptopContainer + px;
  // }
  // @media (max-width: $md2+px) {
  //   max-width: $padContainer + px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: $mobileContainer + px;
  // }
  // @media (max-width: $md4+px) {
  //   max-width: 100%;
  //   padding-left: math.div($mobileSpace, 2) + px;
  //   padding-right: math.div($mobileSpace, 2) + px;
  // }

  /* Adaptive container variant 1 */
  // padding-left: 60px;
  // padding-right: 60px;
  // @include adaptiv-value-under('padding-left', 60, 10, $md1, $md4);
  // @include adaptiv-value-under('padding-right', 60, 10, $md1, $md4);
  // @media (max-width: $md4+px) {
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }

  /* Adaptive container variant 2 */
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  // @media (max-width: $md1+px) {
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }
}

._n2-hide {
  @media (min-width: $md2+px) {
    display: none;
  }
}

._x2-hide {
  @media (max-width: $md2+px) {
    display: none;
  }
}

._n3-hide {
  @media (min-width: $md3+px) {
    display: none;
  }
}

._x3-hide {
  @media (max-width: $md3+px) {
    display: none;
  }
}

// ._disable {
//   pointer-events: none;
// }

// ._removed {
//   &:not(._active) {
//     opacity: 0;
//     visibility: hidden;
//   }
// }

// ._block-hidden {
//   &:not(._active) {
//     display: none;
//   }
// }

// ._text-second {
//   color: rgba(var(--text-second), 0.6);
// }

// ._left {
//   flex: 260px 0 0;
//   @media (min-width: $md2+px) {
//     margin-right: 40px;
//   }
// }

// ._blue {
// 	color: var(--blue-dark);
// 	font-weight: 500;
// }

// ._checkbox {
//   &:not(:has(input:checked)) + ._input {
//     pointer-events: none;
//     background-color: var(--bg-second);
//   }
// }

// [data-item]:not(._active) {
//   display: none;
// }

// ._tabs-blocks {
//   position: relative;
// }
// ._tabs-block {
//   transition-duration: var(--transition);
//   &:not(._active) {
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     visibility: hidden;
//     width: 100%;
//   }
// }

// ._hidden-title {
// 	overflow: hidden;
// 	position: absolute;
// 	left: 0;
// 	width: 0;
// 	height: 0;
// }

// ._loading {
// 	content: '';
// 	z-index: 100;
// 	opacity: 0;
// 	visibility: hidden;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	background: var(--dark) url('../img/icons/loading.gif') center / 50px no-repeat;
// }
