:root {
// {
//   @include common-value('--adaptive-1', 1);
//   @include common-value('--adaptive-4', 4);
//   @include common-value('--adaptive-7', 7);
//   @include common-value('--adaptive-10', 10);
//   @include common-value('--adaptive-13', 13);
//   @include common-value('--adaptive-16', 16);
//   @include common-value('--adaptive-19', 19);
//   @include common-value('--adaptive-22', 22);
//   @include common-value('--adaptive-25', 25);
//   @include common-value('--adaptive-28', 28);
//   @include common-value('--adaptive-31', 31);
//   @include common-value('--adaptive-34', 34);
//   @include common-value('--adaptive-37', 37);
//   @include common-value('--adaptive-40', 40);
//   @include common-value('--adaptive-43', 43);
//   @include common-value('--adaptive-46', 46);
//   @include common-value('--adaptive-49', 49);
//   @include common-value('--adaptive-52', 52);
//   @include common-value('--adaptive-55', 55);
//   @include common-value('--adaptive-58', 58);
//   @include common-value('--adaptive-61', 61);
//   @include common-value('--adaptive-64', 64);
//   @include common-value('--adaptive-67', 67);
//   @include common-value('--adaptive-70', 70);
//   @include common-value('--adaptive-73', 73);
//   @include common-value('--adaptive-76', 76);
//   @include common-value('--adaptive-79', 79);
//   @include common-value('--adaptive-82', 82);
//   @include common-value('--adaptive-85', 85);
//   @include common-value('--adaptive-88', 88);
//   @include common-value('--adaptive-91', 91);
//   @include common-value('--adaptive-94', 94);
//   @include common-value('--adaptive-97', 97);
//   @include common-value('--adaptive-100', 100);
// }

  // --fs: #{$fz}px;

  --jade: #00775f; /* Тёмно-зелёный (нефритовый) */
  --turquoise: #00b5aa; /* Бирюзовый */
  --lime: #b1d355; /* Лаймовый */
  --apricot: #f89f65; /* Абрикосовый */
  --gold: #dca90e; /* Золотой */
  --graphite: #4d4d4f; /* Графитовый */
  --ocean: #00749e; /* Океанский синий */
  --lavender: #9056a3; /* Лавандовый */
  --berry: #ae2763; /* Ягодный */
  --periwinkle: #685bc7; /* Барвинковый */
  --blush: #de82a9; /* Розоватый (румянец) */
  --scarlet: #ff1b22; /* Алый */

  --md1: #{$md1};
  --md2: #{$md2};
  --md3: #{$md3};
  --md4: #{$md4};
  
  --header-height: 196px;
  --inner-width: 100vw;
  --scrollbar: 0px;

  --container: min(#{$maxContainer + px}, var(--inner-width));
  --half-inner-width: calc(var(--inner-width) / 2);
  --offsetLeft: calc(50% - var(--half-inner-width));  
  
  @media (min-width: $md1+px) {
    --header-height: 216px;
  }
  @media (min-width: $md2+px) {
    --header-height: 195px;
  }
  @media (min-width: $md3+px) {
    --header-height: 128px;
  }
  @media (min-width: $md4+px) {
    --header-height: 187px;
  }

  --gutter: 20px;
  @media (min-width: $md1+px) {
    --gutter: 24px;
  }

  --columns: 4;
  @media (min-width: $md3+px) {
    --columns: 12;
  }

  --fields: 20px;
  @media (min-width: $md2+px) {
    --fields: 80px;
  }
  @media (min-width: $md4+px) {
    --fields: 32px;
  }

  --field: calc(var(--fields) / 2);
  
  --column: calc((var(--container) - (var(--columns) - 1) * var(--gutter) - var(--fields)) / var(--columns));
  --2columns: calc(var(--column) * 2 + var(--gutter));
  --3columns: calc(var(--column) * 3 + var(--gutter) * 2);
  --4columns: calc(var(--column) * 4 + var(--gutter) * 3);
  --5columns: calc(var(--column) * 5 + var(--gutter) * 4);
  --6columns: calc(var(--column) * 6 + var(--gutter) * 5);
  --7columns: calc(var(--column) * 7 + var(--gutter) * 6);
  --8columns: calc(var(--column) * 8 + var(--gutter) * 7);
  --9columns: calc(var(--column) * 9 + var(--gutter) * 8);
  --10columns: calc(var(--column) * 10 + var(--gutter) * 9);
  --11columns: calc(var(--column) * 11 + var(--gutter) * 10);
  --12columns: calc(var(--column) * 12 + var(--gutter) * 11);
  --columnG: calc(var(--column) + var(--gutter));
  --columnGG: calc(var(--column) + var(--gutter) * 2);
  --2columnsG: calc(var(--2columns) + var(--gutter));
  --3columnsG: calc(var(--3columns) + var(--gutter));
  // --4columnsG: calc(var(--4columns) + var(--gutter));
  // --5columnsG: calc(var(--5columns) + var(--gutter));
  --6columnsG: calc(var(--6columns) + var(--gutter));
  // --7columnsG: calc(var(--7columns) + var(--gutter));


  --S1: #{$XL};
  --S2: #{$M};
  --S4: #{$S};
  --S6: #{$XS};

  @media (min-width: $md2+px) {
    --S1: #{$XXL};
    --S2: #{$L};
    --S4: #{$M};
    --S6: #{$S};
  }


  --shadow: 0 0 20px 10px #595f6f26;
  --shadow-big: 0 0 20px 15px #595f6f26;


  --swiper-theme-color: #{$bg-accent};
  // --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: #{$transition};

  // --swiper-navigation-size: 50px;
  // --swiper-navigation-top-offset: 50%;
  // --swiper-navigation-sides-offset: 10px;
  // --swiper-navigation-color: #000000;

  // --swiper-pagination-color: var(--swiper-theme-color);
  // --swiper-pagination-left: auto;
  // --swiper-pagination-right: 8px;
  // --swiper-pagination-bottom: 8px;
  // --swiper-pagination-top: auto;
  // --swiper-pagination-fraction-color: inherit;
  // --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  // --swiper-pagination-progressbar-size: 4px;
  // --swiper-pagination-bullet-size: 8px;
  // --swiper-pagination-bullet-width: 8px;
  // --swiper-pagination-bullet-height: 8px;
  // --swiper-pagination-bullet-border-radius: 50%;
  // --swiper-pagination-bullet-inactive-color: #000;
  // --swiper-pagination-bullet-inactive-opacity: 0.2;
  // --swiper-pagination-bullet-opacity: 1;
  // --swiper-pagination-bullet-horizontal-gap: 4px;
  // --swiper-pagination-bullet-vertical-gap: 6px;

  // --swiper-scrollbar-border-radius: 10px;
  // --swiper-scrollbar-top: auto;
  // --swiper-scrollbar-bottom: 4px;
  // --swiper-scrollbar-left: auto;
  // --swiper-scrollbar-right: 4px;
  // --swiper-scrollbar-sides-offset: 1%;
  // --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  // --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  // --swiper-scrollbar-size: 4px;
}
