section.section
  .container
    .n1o3
      h2.title поможем с выбором
      p.intro.m7 Нет времени на поиск программы в большом ассортименте? #[br]Мы подберем курсы по вашим требованиям.
      .row.m3
        .col7.n1w3
          a.t2.link(href="tel:+78003338844") +7 (800) 333-88-44
          p.p2 Звонок по России бесплатный
        .col7.n1w3
          a.t2.link(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru
          p.p2 Вы получите ответ в течение 1 рабочего дня
