section.bottom-plan.section
  .bottom-plan__container.container
    .bottom-plan__body
      img.bottom-plan__img(src="img/plan/bottom.png", alt="")
      .bottom-plan__main
        .bottom-plan__phone-column
          h2.bottom-plan__column-title.t2 8 800 333-88-44
          .bottom-plan__column-text 
            p.p1 Возьмем часть забот на себя: #[br._n3-hide]поможем спланировать обучение большого штата или оформить сложную закупку.
        .bottom-plan__download-column
          h2.bottom-plan__column-title.t2 Хотите скачать всё и сразу?
          .bottom-plan__column-text 
            p.p1 Вот полный годовой план по всем направлениям. Внимание: в течение года план постоянно растет.
            a.bottom-plan__column-link.button--accent План 2024-2025