:root {
  --jade: #00775f; /* Тёмно-зелёный (нефритовый) */
  --turquoise: #00b5aa; /* Бирюзовый */
  --lime: #b1d355; /* Лаймовый */
  --apricot: #f89f65; /* Абрикосовый */
  --gold: #dca90e; /* Золотой */
  --graphite: #4d4d4f; /* Графитовый */
  --ocean: #00749e; /* Океанский синий */
  --lavender: #9056a3; /* Лавандовый */
  --berry: #ae2763; /* Ягодный */
  --periwinkle: #685bc7; /* Барвинковый */
  --blush: #de82a9; /* Розоватый (румянец) */
  --scarlet: #ff1b22; /* Алый */
}
