.programms {

  &__main {
    columns: 2 var(--4columns);
    column-gap: var(--gutter);
    @media (max-width: $md3+px) {
      columns: 2 var(--2columns);
    }
    @media (max-width: $md4+px) {
      columns: 1 var(--4columns);
    }
  }
}
