-
  programmSections = [
    {
      title: 'ближайшие курсы',
      data: [
        {
          title: 'Образование',
          date: '(15–18 апреля)',
          name: 'Государственный контроль (надзор) в сфере образования',
          color: 'periwinkle',
        },
        {
          title: 'Энергетика',
          date: '(15–18 апреля)',
          name: 'Наружное освещение. Проектирование, монтаж, эксплуатация',
          color: 'turquoise',
        },
        {
          title: 'Промышленность',
          date: '(15–19 апреля)',
          name: 'Сварочное производство: организация, подготовка, контроль и управление',
          color: 'jade',
        },
        {
          title: 'Промышленность',
          date: '(15–18 апреля)',
          name: 'Выполнение опытно-конструкторских работ в соответствии с ГОСТ РВ 15.203-2001, ГОСТ РВ 15.205-2004',
          color: 'jade',
        },
      ],
      class: 'w4'
    },
    {
      title: 'новые программы', 
      data: [
        {
          title: 'Управление персоналом',
          date: '(15–18 апреля)',
          name: 'Инструменты управления персоналом в период дефицита кадров',
          color: 'apricot',
        },
        {
          title: 'HoReCa',
          date: '(22–25 апреля)',
          name: 'Бережливое производство в индустрии питания',
          color: 'scarlet',
        },
        {
          title: 'Промышленность',
          date: '(23–25 апреля)',
          name: 'Применение методологии FMEA при разработке конструкторской документации',
          color: 'jade',
        },
        {
          title: 'Промышленность',
          date: '(28–30 апреля)',
          name: 'Особенности подготовки и проведения конкурсных процедур на закупку услуг обязательного аудита бухгалтерской (финансовой) отчетности организации',
          color: 'jade',
        },
        {
          title: 'Экономика. Финансы. Бухгалтерский учет',
          date: '(28–30 апреля)',
          name: 'Налогообложение доходов физических лиц и страховые взносы. Сложные вопросы исчисления и уплаты',
          color: 'gold',
        },
        {
          title: 'Управление персоналом',
          date: '(6–7 мая)',
          name: 'Работник и работодатель: кадровые, финансовые и правовые аспекты трудовых отношений в 2025 году',
          color: 'apricot',
        },
        {
          title: 'Строительство и инженерные сети',
          date: '(7–8 мая)',
          name: 'Правовые, финансовые, учетные и налоговые аспекты долевого строительства многоквартирных домов и иных объектов недвижимости',
          color: 'turquoise',
        },
        {
          title: 'Промышленность',
          date: '(12–14 мая)',
          name: 'Организация и проведение сервисного обслуживания изделий военной техники',
          color: 'jade',
        },
      ],
      class: 'n3w8 w4'
    }
  ]

.programms.section#programms
  .container
    .body.row.x3col.g1
      each section in programmSections
        section(class=section.class)
          h2.t1d= section.title
          .programms__main.m2
            each group in section.data
              +branch({
                color: group.color,
                title: group.title,
                date: group.date,
                content: group.name,
                link: '#',
                tag: 'h3'
              })

//- http://localhost:1709/page-main.html#programms