.filter-contents {
  @media (min-width: $md2+px) {
    columns: 4 var(--3columns);
  }
  @media (min-width: $md3+px) {
    columns: 3 var(--4columns);
  }
  @media (min-width: $md4+px) {
    columns: 2 var(--2columns);
  }

  &__btn {
    @extend .link;
    @extend .p1;
    display: block;
    &:not(:first-child) {
      margin-top: var(--2XS);
    }
    &._active {
      color: var(--hover);
    }
  }
}
