mixin filterContents
  .filter-contents&attributes(attributes)
    each category in categories
      button.filter-contents__btn(data-filter=category[1].toLowerCase())= category[0]   
      //- button.link.p1.tal.n1w3.n2w3.n3w4.w2.x4w4(data-filter=category[1].toLowerCase())= category[0]   