.-course-info {
  &__row {
    @extend.r45;
    @extend.wrap;
    @extend.g7;
    @extend.m6;
    @media (max-width: $md2+px) {
      column-gap: 30px;
    }
    @media (max-width: $md4+px) {
      column-gap: var(--gutter);
    }
  }

  &__item {
    @extend .p1;
    @extend .r5;
    @extend .aic;
    @media (max-width: $md4+px) {
      min-width: var(--2columns);
    }
  }

  &__link {
    @extend .-course-info__item;
    transition-duration: var(--transition);
    stroke: var(--text-accent);
    color: var(--text-accent);
    &:hover,
    &:focus-visible {
      stroke: var(--hover);
      color: var(--hover);
    }
  }
}
