.col3
  .col5
    p.tb.t2 О курсе:
    p.p1 В программе обзор новейших технологий и разработок в области конструкционных полимерных материалов для изделий машиностроения, приборостроения и других отраслей. Способы повышения эксплуатационных характеристик материалов, использование современного оборудования
  .col5
    p.tb.t2 Для кого:
    p.p1 Для руководителей и специалистов служб главного технолога, главного конструктора, всех заинтересованных специалистов
  .col5
    p.tb.t2 Программа:
    ol.ol.col5
      li.ol__li-dark
        span.td Современные разработки в области клеев, герметиков, компаундов. 
        | Эпоксидные конструкционные клеи с широким спектром свойств. Эпоксикаучуковые клеи и герметики. Полимерные композиции для заливки и герметизации изделий РЭА. Высокотеплопроводные электроизоляционные пропиточные лаки.
      li.ol__li-dark
        span.td Эпоксидные конструкционные клеи с широким спектром свойств. 
        | Эпоксикаучуковые клеи и герметики. Полимерные композиции для заливки и герметизации изделий РЭА. Высокотеплопроводные электроизоляционные пропиточные лаки.
      li.ol__li-dark
        span.td Клеевые и герметизирующие анаэробные материалы 
        | для резьбовых, посадочных, фланцевых соединений, пропитки пористых материалов, электроизоляционные заливочные компаунды, ремонтные составы. Использование нанокомпозиций в клеевых материалах.
      li.ol__li-dark
        span.td Лакокрасочные материалы: 
        | антикоррозионные и декоративные покрытия; необрастающие и защитные покрытия; грунтовки-модификаторы ржавчины, биоциды; окраска корпусов приборов; покрытия, непроницаемые для электромагнитных волн; теплоизолирующие покрытия; вибропоглощающие покрытия; непачкающиеся покрытия; фосфатные краски.
      li.ol__li-dark
        span.td Современные лакокрасочные материалы 
        | для длительной антикоррозионной защиты промышленного назначения, огнезащитные композиции.
      li.ol__li-dark
        span.td Полиуретановые материалы, используемые для конструирования. 
        | Перспективные полимерные наноматериалы. Повышение ресурсных характеристик полимерных материалов.
      li.ol__li-dark
        span.td Порошковые полимерные материалы 
        | — клеи, компаунды, лакокрасочные материалы.
      li.ol__li-dark
        span.td Современное оборудование для подготовки поверхности перед нанесением ЛКМ.
      li.ol__li-dark
        span.td Использование нанотехнологий при нанесении полимерных материалов. 
        | Повышение ресурсных характеристик полимерных материалов.
      li.ol__li-dark
        span.td Круглый стол. 
        | Обмен мнениями. Выступления участников семинара. Обсуждение конкретных ситуаций на производствах.
  .bgs.r.jcc.pd3
    .col3.n3w7
      h2.t2d На этом курсе можно получить удостоверение на английском языке
      .col5
        p.p1 Стоимость обучения с выдачей удостоверений на русском и английском языках — #[span.tb 62 590 ₽]
        a.link-b.t2(href="#") Подробная информация здесь &gt;&gt;
  a.button-accent.n3w3(href="#") Распечатать 