.col3
  p.tb.t2 Фоторепортаж с семинара:
  .row.wrap.g5._gallery
    each v,i in Array(6).fill()
      a(href=`img/course/gallery/${i+1}.png`)
        img.n3w4(src=`img/course/gallery/${i+1}.png`, alt="")