section.col3
  h2.t2 Курс повышения квалификации «Перспективные полимерные материалы в промышленности — клеи, герметики, компаунды, лакокрасочные покрытия» (71473, 24 — 28 февраля 2025 г.)
  .col5
    p.tb.t2 Оформление удостоверения:
    p.p1 Чтобы получить удостоверение о повышении квалификации по завершении обучения, пожалуйста, предоставьте нам:
    ul.ul.col5
      li.ul__li-bright
        span
          span.tb скан-копию документа об образовании, 
          | то есть диплома о высшем или среднем профессиональном образовании каждого участника курса (если диплом получен вне РФ, просим уточнить необходимость признания иностранного диплома в РФ по нашим контактам в конце письма);
      li.ul__li-bright
        span
          span.tb справку с места учебы 
          | (для студентов);
      li.ul__li-bright
        span
          span.tb скан-копию документа, 
          | подтверждающего изменение фамилии (если менялась).
    p.p1 В первый день курса потребуются данные СНИЛС (сам документ предоставлять не требуется) и для физических лиц данные ИНН (сам документ предоставлять не требуется).
    p.p1 Если вы уже отправляли документы #[span.tb к данному курсу], делать это повторно не нужно.
    p.p1 При отсутствии нужных документов мы не сможем выдать удостоверение о повышении квалификации. Также обращаем внимание на #[a(href="#").link особые случаи] при выдаче удостоверения.
  .col5
    p.tb.t2 Дата и место:
    p.p1 Начало курса 24.11.2025 в 10:00 #[span.tb по адресу:] Учебный комплекс ЦНТИ Прогресс, г. Санкт-Петербург, Васильевский остров, Средний пр-т, д. 36/40, станция метро «Василеостровская».
  .col5
    p.tb.t2 Расписание:
    p.p1 Обычно занятия проходят до 16 – 17 часов, но в отдельные дни может быть очень насыщенная программа. Подробное расписание участники получат в день начала обучения.
  .col5
    p.tb.t2 Путь до учебного центра в Петербурге:
    .row.aie.x3col.g5
      img.n2w5.n3w6.w4(src="img/course/map.png" alt="")
      .col3.n2w3.n3w6
        p.p1 #[span.tb Выйдя из метро] на станции «Василеостровская», сразу идите налево. Перейдите дорогу и через 20 метров войдите в стеклянную дверь-арку. Поднимайтесь на 5 этаж в учебный центр ЦНТИ Прогресс. Время в пути 2 мин.
        a.aca-link.link.col5(href="#") 
          span.t2 Видео-маршрут до учебного центра в Санкт-Петербурге 
          +arr()(class="n3w2")
  .col5
    p.tb.t2 Наши контакты:
    .row
      .col7.n1w2.n2w3.n3w4
        a.link.t2(href="tel:+78003338844") +7 (800) 333-88-44
        p.p2 Звонок по РФ бесплатный
      a.link.t2.n1w2.n2w3.n3w4(href="tel:+78123318888") +7 (812) 331-88-88
      a.link.t2.n1w2.n2w3.n3w4(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru
