.col3.ais.n3o1.n2o0
  .row.bpd3.bbd2l
    .col7.n2w3.n3w4.w2
      p.td.p1 Астафьева Евгения Валерьевна
      p.p2 ведущий инженер АО “ВМЗ”
    .col7
      p.p1.i Всё очень понравилось, спасибо! Узнала для себя много нового, а также в процессе обучения нашла решение нескольких проблем! Благодарю спикеров за интересную подачу материала.
      p.ta.p2.tae 10.07.2025
  .row.bpd3.bbd2l
    .col7.n2w3.n3w4.w2
      p.td.p1 Воробьева Яна Анатольевна
      p.p2 ведущий инженер ЗАО “Ижевский нефтяной научный центр”
    .col7
      p.p1.i Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.
      p.ta.p2.tae 10.07.2025
  .row.bpd3.bbd2l
    .col7.n2w3.n3w4.w2
      p.td.p1 Тиранов Леонид Андреевич
      p.p2 ведущий инженер ООО “СамараНИПИнефть”
    .col7
      p.p1.i Мною получены ответы на актуальные вопросы. Лекторы дали большой объем информации, который смогу использовать в работе и продолжить его изучение. Ценную информацию предоставили преподаватели.
      p.ta.p2.tae 10.07.2025
  .row
    .col7.n2w3.n3w4.w2
      p.td.p1 Воробьева Яна Анатольевна
      p.p2 ведущий инженер ЗАО “Ижевский нефтяной научный центр”
    .col7
      p.p1.i Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.
      p.ta.p2.tae 10.07.2025  
  a.link-b.t2(href="#") Все отзывы о курсе &gt;&gt;