.col3
  p.tb.t2 Ведущие курса:
  .col3
    .row.pd3.pdb.bbd2l
      p.td.p1.w3 Орлова Светлана Васильевна
      p.p1 Ведущий инженер-технолог ОАО «Производственная фирма «КМТ» — Ломоносовский опытный завод», сертифицированный европейский специалист по склеиванию.
    .row.pd3.pdb.bbd2l
      p.td.p1.w3 Сытов Валентин Валерьевич
      p.p1 Генеральный директор НПП «СТЭП».
    ul.ul.col3
      li.ul__li.pd3.pdb.bbd2l Высококвалифицированные специалисты ведущих предприятий и организаций Санкт-Петербурга, Москвы, Владимира, Нижнего Новгорода.
      li.ul__li.pd3.pdb.bbd2l Высококвалифицированные специалисты ведущих предприятий и организаций Санкт-Петербурга, Москвы, Владимира, Нижнего Новгорода.
    .row
      .col5.w4
        .col7
          p.td.p1 Сиротина Лидия Константиновна
          p.p1 Финансовый аналитик, консультант, к.э.н.
        img.w2.sqr.cvr(src="img/course/sirotina.png", alt="")
      .col5.w4
        .col7
          p.td.p1 Сиротина Лидия Константиновна
          p.p1 Финансовый аналитик, консультант, к.э.н.
        img.w2.sqr.cvr(src="img/course/nophoto.png", alt="")

