.prof-hero {
  counter-reset: prof-items;
  &__item {
    list-style: none;
    column-gap: 7px;
    &::before {
      counter-increment: prof-items;
      content: counter(prof-items) '.';
      color: var(--text-accent);
      @extend .a1;
      width: 50px;
      flex-shrink: 0;
      @media (max-width: $md2+px) {
        width: 40px;
      }
    }
  }
}
