.prof-hero.section
  .container.x2contents
    .baner
      img.distance-hero__img.bg.x4hide(src="img/prof/hero.png", alt="")
      .announcement.n2ol1
        .container.n2contents          
          p.p1 Университет там, где я
          h1.t1d.m6 дистанционная #[br.n3hide.x4hide]переподготовка #[br]в ЦНТИ Прогресс
  .container
    .n1ol1
      .col5.n1w7.n2w9.n3or1
        p.p1.x3w3.x4w4 Обучение проходит дистанционно. Программы соответствуют квалификационным требованиям и профстандартам.
        p.p1.td Программы и учебные материалы разработаны в сотрудничестве с преподавателями РАНХиГС. Вы получите теоретический базис и актуальные знания. Например, программа по управлению закупками написана с учетом законодательных изменений, которые вступят в силу в ближайшие полгода, а программа для юристов содержит блок о правовой защите бизнеса и антикоррупционном законодательстве.
      ol.row.wrap.g5.m3
        li.prof-hero__item.r.aic.n1w3.n3w4.w2.x4w4
          span.p1 Выберите программу и подайте заявку на обучение.
        li.prof-hero__item.r.aic.n1w3.n3w4.w2.x4w4
          span.p1 После оплаты вы получаете доступ к учебному кабинету.
        li.prof-hero__item.r.aic.n1w3.n3w4.w2.x4w4
          span.p1 Через 11 недель пройдите аттестацию и получите диплом.
