.recommended-item {
  @include hover-accent;
  @include col;
  @include aic;
  @include n3w3;
  @include w2;
  @include x4w4;
  &:hover,
  &:focus-visible {
    & .recommended-item__img {
      filter: grayscale(1);
    }
  }

  &__img {
    @include dur;
    @include w;
    filter: grayscale(0);
  }
}
