.rubrics {

  &__indicator {
    position: absolute;
    z-index: -1;
    top: 0;
    left: var(--indicator-left);
    width: var(--indicator-width);
    height: 100%;
  }

  &__tab-block {
    column-gap: var(--gutter);
    column-width: auto;
    @media (min-width: $md3+px) {
      column-count: 3;
    }

    @media (min-width: $md4+px) {
      column-count: 2;
    }
  }
}