section.section-bg.recommended-form#form
  .container
    .n1o1.row.ais.jcc
      img.n1w4.n2w5.x2hide(src="img/recommended/form.png" alt="")
      .col3.n1w6.n2w7.n3w10.w4
        h3.t1d На странице нет необходимого курса, отвечающего целям и потребностям вашей организации? Не проблема.
        .col5
          p.p1 Мы создаем и проводим корпоративные программы по заказу компаний с любой численностью персонала. Корпоративная программа может быть разработана на основе одного из готовых курсов каталога или с чистого листа. Корпоративное обучение реализуется в трех форматах: с выездом на вашу территорию, очно в петербургском и московском учебных центрах ЦНТИ Прогресс или онлайн.
          p.p2 Заполните форму, а мы свяжемся с вами в ближайшее время и начнем подготовку персонального предложения.
        form.col3
          fieldset.col5
            +inputWrapper({
              label: 'Имя',
              placeholder: 'Иван'
            })
            +inputWrapper({
              label: 'Электронная почта',
              placeholder: 'example@mail.ru',
              type: "email",
            })
            +inputWrapper({
              label: 'Телефон',
              placeholder: '8 (999) 999-99-99',
              type: "tel",
            })
            +inputWrapper({
              label: 'Сфера деятельности вашей компании',
              placeholder: 'Строительство',
            })
          .col5
            button(type="submit").button-primary Отправить 
            +checkbox({
              label: 'Отправляя форму, я принимаю <a class="link" href="#">пользовательское соглашение</a>',
              checked: true,
              blueWrapper: true
            })

//- http://localhost:1709/single-recommended.html#form