.course-item {
  @include por;
  @include pd3;
  &::before {
    content: '';
    transition-duration: #{$transition};
    position: absolute;
    top: 0;
    left: var(--offsetLeft);
    width: var(--inner-width);
    height: 100%;
  }
  &:hover,
  &:focus-visible {
    &::before {
      background-color: #{$bg-second};
    }
  }
  &--relating {
    &::before {
      @media (min-width: $md2+px) {
        width: calc(100% - var(--offsetLeft) + var(--columnG));
      }
    }
  }
}
