.section#support
  .container
    .row.x3col.g3.n1o1
      section.n1w5.n3w6
        .x4tac.col5
          h2.t1d обратная связь
          p.p1.twb Если у вас есть вопросы, пожелания или вы хотите оставить отзыв о сайте или курсе, напишите нам, мы с удовольствием ответим.
        form.col5.m2
          +inputWrapper({
            label: 'Фамилия',
            placeholder: 'Иванов',
            name: 'lastName',
          })
          +inputWrapper({
            label: 'Имя',
            placeholder: 'Иван',
            name: 'firstName',
            required: true
          })
          +inputWrapper({
            label: 'Электронная почта',
            placeholder: 'example@mail.ru',
            type: 'email',
            name: 'email',
          })
          +inputWrapper({
            label: 'Телефон',
            placeholder: '8 (999) 999-99-99',
            type: 'tel',
            name: 'tel',
            required: true
          })
          +inputWrapper({
            label: 'Сообщение для:',
            name: 'service',
            value: 'Службы записи',
            fieldType: 'select',
            selectConfig: {
              options: [
                'Службы записи',
                'Службы корпоративных семинаров',
                'Службы гостиниц',
                'Отзыв о сайте или курсе',
                'Другое'
              ],
              activeIndex: 0
            }
          })
          .col3            
            +inputWrapper({
              label: 'Ваш вопрос или пожелание',
              fieldType: 'textarea',
              placeholder: 'Напишите свое сообщение'
            })
            .row.x4col.g5
              button(type="submit").button-primary.n1w2.n3w3.w2.x4w4 Отправить
              input(type="reset" value="Отмена").button-second.n1w2.n3w3.w2.x4w4          
          +checkbox({
            label: 'Отправляя форму, я принимаю <a class="link" href="#"> пользовательское соглашение</a>',
            name: 'agreement',
            blueWrapper: true,
            checked: true,
          })
      section.n1w5.n3w6
        .x4tac.col5
          h2.t1d на ваши вопросы ответят
          p.p1.twb Если у вас сложный вопрос по обучению, обратитесь напрямую к руководителю отдела.
        .col3.m2
          +contactsCard({
            name: 'Наталия Парамонова',
            position: 'руководитель службы записи',
            phone: '8 (812) 331-88-88',
            email: 'client@cntiprogress.ru',
            image: 'img/feedback/paramonova.png'
          })
          +contactsCard({
            name: 'Ирина Кутаренко',
            position: 'руководитель службы по работе с клиентами',
            phone: '8 (812) 327-42-20',
            email: 'srk@cntiprogress.ru',
            image: 'img/feedback/kutarenko.png'
          })
          +contactsCard({
            name: 'Ирина Кутаренко',
            position: 'руководитель службы по работе с клиентами',
            phone: '8 (812) 327-42-20',
            email: 'srk@cntiprogress.ru',
            image: 'img/feedback/kutarenko.png'
          })

//- http://localhost:1709/page-contacts.html#support