.section {
  scroll-margin-top: calc(var(--header-height) + var(--XL-2XL));
  width: 100%;
  margin: var(--XL-2XL) 0;
}

.section-bg {
  @extend .section;
  @extend .bgs;
  @extend .pd1;
}

.max {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;
}

.container {
  @extend .max;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: $md4+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body {
  padding-top: var(--XL-2XL);
  border-top: 2px solid var(--border-light);
}

.baner {
  display: grid;
  & > * {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.announcement {
  padding-bottom: var(--M);
  @media (min-width: $md3+px) {
    padding: var(--XL-2XL) 0;
  }
  @media (min-width: $md4+px) {
    padding-top: var(--M);
  }
}

.ymaps {
  @extend .w;
  aspect-ratio: 1200/639;
}

%button {
  @extend .dur;
  @extend %safari-not-round;
  cursor: pointer;
  @extend .btn;
  display: inline-block;
  padding: calc(10px - var(--border-reduce));
}
%button-s {
  @media (max-width: $md2+px) {
    padding-block: calc(5px - var(--border-reduce));
  }
}

.button-primary {
  @extend %button;
  @extend .ts;
  background-color: var(--bg-bright);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-accent);
  }
}
.button-primary-s {
  @extend .button-primary;
  @extend %button-s;
}

.button-second {
  color: var(--text-bright);
  @extend .hover-accent;
  @extend %button;
  @extend .bgm;
  @extend .bd2;
  &:hover,
  &:focus-visible {
    border-color: var(--border-accent);
  }
}
.button-second-s {
  @extend .button-second;
  @extend %button-s;
}

.button-accent {
  @extend %button;
  @extend .ts;
  background-color: var(--bg-accent);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-dark);
  }
}
.button-accent-s {
  @extend .button-accent;
  @extend %button-s;
}

.ul {
  &__li {
    @extend .p1;
    @extend .r;
    &::before {
      content: '';
      vertical-align: top;
      display: inline-block;
      flex: 3px 0 0;
      height: 3px;
      margin: 8px 10px 9px 9px;
      border-radius: 50%;
      background-color: var(--text-main);
      @media (max-width: $md2+px) {
      margin: 7px 9px 8px 8px;
      }
    }
  }
  &__li-bright {
    @extend .ul__li;
    &::before {
      background-color: var(--text-bright);
    }
  }
}

// .ol {
//   &__li {
//     @extend .p1;
//     list-style-position: inside;
//     &:not(:first-child) {
//       margin-top: 7px;
//     }
//   }
//   &__li-dark {
//     @extend .ol__li;
//   }
// }

.ol {
  counter-reset: ol;
  &__li {
    list-style-type: none;
    @extend .p1;
    &::before {
      content: counter(ol) '. ';
      counter-increment: ol;
    }
  }
  &__li-dark {
    @extend .ol__li;
    &::before {
      color: var(--text-dark);
    }
  }
}

%safari-not-round {
  -webkit-appearance: none; /* Отключаем стандартные стили Safari */
  appearance: none; /* Для современных браузеров */
  border-radius: 0; /* Явно убираем скругления */
}

%input {
  @extend .dur;
  outline: none;
  @extend %safari-not-round;
  color: var(--text-main);
  min-height: 40px;
  padding: 4px 9px;
  background-color: var(--bg-main);
  @extend .bdd;
  @media (hover: hover) {
    &:hover {
      border-color: var(--border);
    }
  }
  &:focus-visible {
    border-color: var(--border);
  }

  &::placeholder {
    color: var(--text-light);
  }

  &:disabled {
    border-color: var(--border-gray);
  }
}

.input {
  @extend .dur;
  @extend %input;
  &:user-invalid {
    border-color: var(--border-invalid);
  }
  &--date {
    -moz-appearance: textfield;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.textarea {
  @extend %input;
  resize: vertical;
  padding: 9px;
  min-height: 200px;
}

//   &__showmore {
//     @extend .dur;
//     // order: 1;
//     margin-top: 10px;
//     @media (max-width: $md4+px) {
//       align-self: center;
//     }
//     &._active {
//       margin-top: 20px;
//     }
//   }
// }
