.section {
  scroll-margin-top: calc(var(--header-height) + var(--L-XL));
  width: 100%;
  margin: var(--L-XL) 0;
}

.section-bg {
  @extend .section;
  padding: var(--L-XL) 0;
  background-color: var(--bg-second);
}

.cnt {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;

}

.container {
  @extend .cnt;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: $md4+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body {
  padding-top: var(--L-XL);
  border-top: 2px solid var(--border-light);
}

%button {
  transition-duration: var(--transition);
  @extend %safari-not-round;
  cursor: pointer;
  @extend .btn;
  display: inline-block;
  padding: 10px;
}
%button-border {
  @extend %button;
  padding: 8px;
}
%button-non-border {
  @extend %button;
  padding: 10px;
}
%button-border-s {
  @media (max-width: $md2+px) {
    padding: 3px 8px;
  }
}
%button-non-border-s {
  @media (max-width: $md2+px) {
    padding: 5px 10px;
  }
}
.button-primary {
  color: var(--text-second);
  @extend %button-non-border;
  background-color: var(--bg-bright);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-accent);
  }
}
.button-primary-s {
  @extend .button-primary;
  @extend %button-non-border-s;
}
.button-second {
  color: var(--text-bright);
  @extend %button-border;
  background-color: var(--bg-main);
  border: 2px solid var(--border);
  &:hover,
  &:focus-visible {
    color: var(--text-accent);
    border-color: var(--border-accent);
  }
}
.button-second-s {
  @extend .button-second;
  @extend %button-border-s;
}
.button-accent {
  color: var(--text-second);
  @extend %button-non-border;
  background-color: var(--bg-accent);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-dark);
  }
}
.button-accent-s {
  @extend .button-accent;
  @extend %button-non-border-s;
}

.ul {
  &__li {
    @extend .p1;
    display: flex;
    &::before {
      content: '';
      vertical-align: top;
      display: inline-block;
      flex: 3px 0 0;
      height: 3px;
      margin: 8px 10px 9px 9px;
      border-radius: 50%;
      background-color: var(--text-main);
    }
    &--bright {
      @extend .ul__li;
      &::before {
        background-color: var(--text-bright);
      }
    }
  }
}

.ol {
  &__li {
    @extend .p1;
    list-style-position: inside;
    &:not(:first-child) {
      margin-top: 7px;
    }
  }
}

%safari-not-round {
  -webkit-appearance: none; /* Отключаем стандартные стили Safari */
  appearance: none; /* Для современных браузеров */
  border-radius: 0; /* Явно убираем скругления */
}

%input {
  transition-duration: var(--transition);
  outline: none;
  @extend %safari-not-round;
  color: var(--text-main);
  min-height: 40px;
  padding: 4px 9px;
  background-color: var(--bg-main);
  border: 1px solid var(--border-dark);
  @media (hover: hover) {
    &:hover {
      border-color: var(--border);
    }
  }
  &:focus-visible {
    border-color: var(--border);
  }

  &::placeholder {
    color: var(--text-light);
  }

  &:disabled {
    border-color: var(--border-gray);
  }

  &:user-invalid {
    border-color: var(--border-invalid);
  }
}

.input {
  transition-duration: var(--transition);
  @extend %input;
  &--date {
    @extend .input;
    -moz-appearance: textfield;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.textarea {
  @extend %input;
  resize: vertical;
  padding: 9px;
  min-height: 200px;
}

//   &__showmore {
//     transition-duration: var(--transition);
//     // order: 1;
//     margin-top: 10px;
//     @media (max-width: $md4+px) {
//       align-self: center;
//     }
//     &._active {
//       margin-top: 20px;
//     }
//   }
// }
