.section {
  scroll-margin-top: calc(var(--header-height) + var(--S1));
  width: 100%;
  margin: var(--S1) 0;
}

.section-bg {
  @extend .section;
  @include bgs;
  @include pd1;
}

.max {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;
}

.container {
  @extend .max;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: $md4+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body {
  padding-top: var(--S1);
  border-top: 2px solid #{$border-light};
}

.baner {
  display: grid;
  & > * {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.announcement {
  padding-bottom: #{$M};
  @media (min-width: $md3+px) {
    padding: var(--S1) 0;
  }
  @media (min-width: $md4+px) {
    padding-top: #{$M};
  }
}

.ymaps {
  @include w;
  aspect-ratio: 1200/639;
}

%button {
  @include dur;
  @extend %safari-not-round;
  cursor: pointer;
  @include btn;
  display: inline-block;
  padding: calc(10px - var(--bd-rd));
}
%button-s {
  @media (max-width: $md2+px) {
    padding-block: calc(5px - var(--bd-rd));
  }
}

.button-primary {
  @extend %button;
  @include ts;
  background-color: #{$bg-bright};
  &:hover,
  &:focus-visible {
    color: #{$text-second};
    background-color: #{$bg-accent};
  }
}
.button-primary-s {
  @extend .button-primary;
  @extend %button-s;
}

.button-second {
  color: #{$text-bright};
  @include hover-accent;
  @extend %button;
  @include bgm;
  @include bd2;
  &:hover,
  &:focus-visible {
    border-color: #{$border-accent};
  }
}
.button-second-s {
  @extend .button-second;
  @extend %button-s;
}

.button-accent {
  @extend %button;
  @include ts;
  background-color: #{$bg-accent};
  &:hover,
  &:focus-visible {
    color: #{$text-second};
    background-color: #{$bg-dark};
  }
}
.button-accent-s {
  @extend .button-accent;
  @extend %button-s;
}

.ul {
  &__li {
    @include p1;
    @include r;
    &::before {
      content: '';
      vertical-align: top;
      display: inline-block;
      flex: 3px 0 0;
      height: 3px;
      margin: 8px 10px 9px 9px;
      border-radius: 50%;
      background-color: #{$text-main};
      @media (max-width: $md2+px) {
      margin: 7px 9px 8px 8px;
      }
    }
  }
  &__li-bright {
    @extend .ul__li;
    &::before {
      background-color: #{$text-bright};
    }
  }
}

// .ol {
//   &__li {
//     @include p1;
//     list-style-position: inside;
//     &:not(:first-child) {
//       margin-top: 7px;
//     }
//   }
//   &__li-dark {
//     @include ol__li;
//   }
// }

.ol {
  counter-reset: ol;
  &__li {
    list-style-type: none;
    @include p1;
    &::before {
      content: counter(ol) '. ';
      counter-increment: ol;
    }
  }
  &__li-dark {
    @extend .ol__li;
    &::before {
      color: #{$text-dark};
    }
  }
}

%safari-not-round {
  -webkit-appearance: none; /* Отключаем стандартные стили Safari */
  appearance: none; /* Для современных браузеров */
  border-radius: 0; /* Явно убираем скругления */
}

%input {
  @include dur;
  outline: none;
  @extend %safari-not-round;
  color: #{$text-main};
  min-height: 40px;
  padding: 4px 9px;
  background-color: #{$bg-main};
  @include bdd;
  @media (hover: hover) {
    &:hover {
      border-color: #{$border};
    }
  }
  &:focus-visible {
    border-color: #{$border};
  }

  &::placeholder {
    color: #{$text-light};
  }

  &:disabled {
    border-color: #{$border-gray};
  }
}

.input {
  @include dur;
  @extend %input;
  &:user-invalid {
    border-color: #{$border-invalid};
  }
  &--date {
    -moz-appearance: textfield;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.textarea {
  @extend %input;
  resize: vertical;
  padding: 9px;
  min-height: 200px;
}

//   &__showmore {
//     @include dur;
//     // order: 1;
//     margin-top: 10px;
//     @media (max-width: $md4+px) {
//       align-self: center;
//     }
//     &._active {
//       margin-top: 20px;
//     }
//   }
// }
