%arr {
  transition-duration: var(--transition);
  fill: var(--arrow-color);
  stroke: var(--arrow-color);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Резиновый контейнер */
  padding-right: 2px;

  &__line {
    transition-duration: var(--transition);
    flex-grow: 1; /* Растягивается на всю доступную ширину */
    background: var(--arrow-color);
    border-radius: 2px;
  }

  &__head {
    position: absolute;
    right: 0;
    width: 20px; /* Фиксированная ширина наконечника */
    flex-shrink: 0; /* Запрещаем сжимание */
  }
}

.arr {
  @extend %arr;
  height: 22px;
  padding-right: 5px;
  &__line {
    @extend %arr__line;
    height: 3px;
  }

  &__head {
    @extend %arr__head;
    height: 21px;
  }
}

.acb {
  --arrow-color: var(--text-bright);
}

.acb-link {
  @extend .acb;
  &:hover,
  &:focus-visible {
    --arrow-color: var(--hover-accent);
  }
}

.aca {
  --arrow-color: var(--text-accent);
}

.aca-link {
  @extend .aca;
  &:hover,
  &:focus-visible {
    --arrow-color: var(--hover);
  }
}

.arrow {
  @extend %arr;
  height: 30px; /* Фиксированная высота */
  &__line {
    @extend %arr__line;
    height: 4px; /* Толщина линии */
    margin-right: -1px; /* Чтобы наконечник прилегал вплотную */
  }

  &__head {
    @extend %arr__head;
    height: 30px; /* Фиксированная высота */
  }
}

.branch {
  &:not(:first-child) {
    margin-top: var(--S);
  }

  &__body {
    break-inside: avoid-column;
    @extend .col7;
    @extend .m5;
  }

  &__link {
    transition-duration: var(--transition);
    &:hover,
    &:focus-visible {
      color: var(--group-color);
    }
  }
}

.branch-spollers {
  &__spoller {
    padding: 20px calc(var(--column) + var(--gutter)) 18px;
    border-bottom: 2px solid var(--border-light);
    @media (max-width: $md2+px) {
      padding-top: 15px;
      padding-bottom: 13px;
    }
    @media (max-width: $md3+px) {
      padding-inline: 63px;
    }
    @media (max-width: $md4+px) {
      padding-inline: 20px;
    }
  }

  &__spoller-title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &::after {
      transition-duration: var(--transition);
      content: url('../img/icons/chevron-l.svg');
      height: 24px;
      @media (max-width: $md3+px) {
        content: url('../img/icons/chevron-m.svg');
        height: 20px;
      }
    }
    &._active {
      &::after {
        rotate: 180deg;
      }
    }
  }

  &__checkboxes {
    @extend .col7;
    align-items: flex-start;
  }
}

.branch-title {
  text-wrap: balance;
  break-inside: avoid-column;
  break-after: avoid-column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  &::before {
    content: '';
    vertical-align: text-top;
    position: relative;
    top: 4px;
    display: inline-block;
    width: 16px;
    flex: 16px 0 0;
    height: 16px;
    background-color: var(--group-color);
    @media (max-width: $md2+px) {
      top: 2px;
    }
  }

  &__main {
    line-height: 1;
  }

  &__title {
    @extend .t2d;
    vertical-align: middle;
  }

  &__date {
    white-space: nowrap;
    vertical-align: middle;
    @extend .p1;
  }

  &__num {
    @extend .bright;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    @extend .t2;
  }
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 10px;
  background-color: var(--bg-accent);
  // &._active {
  //   & .burger__line {
  //   }
  //   & .burger__line:nth-child(1) {
  //     rotate: 45deg;
  //     translate: 0 7.75px;
  //   }
  //   & .burger__line:nth-child(2) {
  //     width: 0;
  //   }
  //   & .burger__line:nth-child(3) {
  //     rotate: -45deg;
  //     translate: 0 -7.75px;
  //   }
  // }
  &__line {
    // transition-duration: var(--transition);
    width: 15px;
    height: 2px;
    background-color: var(--text-second);
    border-radius: 2px;
  }
}

.checkbox {
  cursor: pointer;
  &__input {
    display: none;
    &:checked {
      & + .checkbox__span-wrapper {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__span-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    &::before {
      transition-duration: var(--transition);
      content: url(../img/icons/checkbox-empty-l.svg);
      line-height: 0;
    }
    &::after {
      transition-duration: var(--transition);
      content: url(../img/icons/checkbox-check-l.svg);
      line-height: 0;
      position: absolute;
      left: 0;
      opacity: 0;
    }
    @media (max-width: $md2+px) {
      &::before {
        content: url(../img/icons/checkbox-empty-m.svg);
      }
      &::after {
        content: url(../img/icons/checkbox-check-m.svg);
      }
    }
  }
  &__span-wrapper-blue {
    @extend .checkbox__span-wrapper;
    &::before {
      content: url(../img/icons/checkbox-empty-l-blue.svg);
    }
    &::after {
      content: url(../img/icons/checkbox-check-l-blue.svg);
    }
    @media (max-width: $md2+px) {
      &::before {
        content: url(../img/icons/checkbox-empty-m-blue.svg);
      }
      &::after {
        content: url(../img/icons/checkbox-check-m-blue.svg);
      }
    }
  }
  &__span {
    @extend .p2;
    vertical-align: middle;
    translate: 0 3px;
    @media (max-width: $md2+px) {
      translate: 0 1px;
    }
  }
}

.contacts-card {
  display: flex;
  gap: 17px;
  &__img {
    height: 107px;
    aspect-ratio: 97/107;
    object-fit: cover;
    @media (max-width: $md2+px) {
      height: 121px;
    }
    @media (max-width: $md3+px) AND (min-width: $md4+px) {
      height: 103px;
    }
  }

  &__main {
    justify-content: space-between;
  }

  &__links {
    align-items: flex-start;
  }
}

.dates {
  display: flex;
  gap: 15px;
  @media (max-width: $md4+px) {
    gap: var(--gutter);
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.datepicker {
  &__input {
    transition-duration: var(--transition);
    @extend .p2;
    text-align: center;
    width: 81px;
    padding: 4px;
    border: 2px solid var(--border-light);
    @media (min-width: $md2+px) {
      width: 86px;
      padding: 3px;
    }
    &:focus {
      outline: none;
      border: 2px solid var(--border);
    }
  }

  // &__header {
  //   color: var(--text-second);
  //   background-color: var(--bg-second);
  //   padding: 20px 32px;
  //   border-radius: 20px 20px 0 0;
  // }

  // &__year {
  //   $lh: 24;
  //   line-height: round-to(math.div($lh, $fz), 3);
  // }

  // &__date {
  //   @media (min-width: $md2+px) {
  //     $fs: 32;
  //     font-size: math.div($fs, $fz) + em;
  //     $lh: 48;
  //     line-height: round-to(math.div($lh, $fs), 3);
  //
  //   }
  //   $fs: 18;
  //   font-size: math.div($fs, $fz) + em;
  //   $lh: 27;
  //   line-height: round-to(math.div($lh, $fs), 3);
  //
  //   margin-top: 10px;
  // }

  // &__navigation {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   padding: 20px 42px;
  // }

  // &__arrow {
  //   cursor: pointer;
  //   width: 21px;
  //   height: 21px;
  // }

  // &__svg {
  //   width: 100%;
  //   height: 100%;
  //   &--back {
  //     rotate: 180deg;
  //   }
  // }

  // &__current-month {
  //
  // }

  // &__calendar {
  // }
}

.header-select {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: $md1+px) {
    gap: 5px;
  }

  &._active {
    & .header-select__svg {
      rotate: 180deg;
    }
    & .triangle {
      opacity: 1;
      visibility: visible;
    }
    & .header-select__variants-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }

  &__svg {
    transition-duration: var(--transition);

    width: 24px;
    height: 24px;
    &--accent {
      stroke: var(--text-accent);
    }
    @media (max-width: $md2+px) {
      width: 16px;
      height: 16px;
    }
  }

  &__variants-wrapper {
    cursor: auto;
    transition-duration: var(--transition);
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    padding-top: 10px;
  }

  &__variants-border {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    background-color: var(--bg-main);
    border: 2px solid var(--border);
    box-shadow: var(--shadow);
    @media (max-width: $md1+px) {
      padding: 13px 0;
    }
    @media (max-width: $md2+px) {
      padding: 8px 0;
    }
  }

  &__variants {
    display: flex;
    flex-direction: column;
    gap: var(--2XS);
    @media (min-width: $md1+px) {
      gap: var(--XS);
    }
  }
}

.input-wrapper {
  @extend .col7;
  &__label {
    transition-duration: var(--transition);
    @extend .p2;
  }
  &:focus-within,
  &:has(:is(input, textarea, .select):hover) {
    & .input-wrapper__label {
      color: var(--text-bright);
    }
  }
  &:has(.select._active) {
    & .input-wrapper__label {
      color: var(--text-bright);
    }
  }
  &:has(.input:user-invalid) {
    & .input-wrapper__label {
      color: var(--text-invalid);
    }
  }
  &:has(.input:disabled) {
    & .input-wrapper__label {
      color: var(--text-light);
    }
  }
}

.letters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 15px;
  justify-content: space-between;
  &__letter {
    transition-duration: var(--transition);
    @extend .p1;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--border-gray);
    &._active,
    &:hover,
    &:focus-visible {
      color: var(--hover);
      border-color: var(--border);
    }
  }
}

.select {
  cursor: pointer;
  @extend %input;
  text-align: left;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  &._active {
    border-color: var(--border);
    &::after {
      rotate: 180deg;
    }
    & .select__variants {
      z-index: 2;
    }
  }

  &::after {
    content: '';
    transition-duration: var(--transition);
    width: 24px;
    height: 24px;
    background: url(../img/icons/chevron-l.svg) center/cover no-repeat;
  }

  &__input {
    cursor: pointer;
    outline: none;
    flex-grow: 1;
  }

  &__variants {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    display: flex;
    flex-direction: column;
    width: calc(100% + 2px);
    padding: 4px 0;
    background-color: var(--bg-main);
    border: 1px solid var(--border);
    &:not(._active) {
      display: none;
    }
  }

  &__variant {
    transition-duration: var(--transition);
    display: block;
    white-space: nowrap;
    padding: 5px 9px;
    &:hover,
    &:focus-visible {
      outline: none;
      background: var(--bg-second);
    }
    &._active {
      display: none;
    }
  }
}

.square {
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--bg-accent);
  @media (max-width: $md1+px) {
    width: 34px;
  }
  &--orange {
    background-color: var(--bg-bright);
  }
}

.triangle {
  transition-duration: var(--transition);
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid var(--bg-bright); /* Цвет заливки */
  /* Левая рамка */
  &::before {
    content: '';
    position: absolute;
    bottom: -13px;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-bottom: 9px solid var(--bg-main); /* Цвет левой рамки */
    z-index: 1;
  }

  /* Правая рамка */
  &::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-bottom: 9px solid var(--bg-main); /* Цвет правой рамки */
    z-index: 1;
  }
}

%wrapper-square {
  position: relative;
  @media (min-width: $md2+px) {
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

.wrapper-square {
  &--bright {
    @extend %wrapper-square;
    @media (min-width: $md2+px) {
      &::before {
        background-color: var(--bg-bright);
      }
    }
  }
  &--accent {
    @extend %wrapper-square;
    @media (min-width: $md2+px) {
      &::before {
        background-color: var(--bg-accent);
      }
    }
  }
}

// .calendar {
//   &__table {
//     width: 100%;
//   }

//   &__weekdays {
//   }

//   &__th {
//     padding-bottom: 12px;
//   }

//   &__cell {
//     @media (min-width: $md2+px) {
//       z-index: 1;
//       &:not(._active) {
//         @media (hover: hover) {
//           &:hover {
//             &::after {
//               background-color: var(--bg-light);
//             }
//           }
//         }
//         &:active,
//         &:focus-visible {
//           &::after {
//             background-color: var(--bg-light);
//           }
//         }
//       }
//       &::after {
//         background-color: var(--bg-main);
//       }
//       &._active {
//         &::after {
//           background-color: var(--bg-second);
//         }
//       }
//     }
//     transition-duration: var(--transition);
//     color: var(--text-gray);
//     $lh: 24;
//     line-height: round-to(math.div($lh, $fz), 3);
//
//     text-align: center;
//     position: relative;
//     padding: 8px 0 7px;
//     &::after {
//       content: '';
//       transition-duration: var(--transition);
//       z-index: -1;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       translate: -50% -50%;
//       display: block;
//       width: 32px;
//       height: 32px;
//       border-radius: 20px;
//     }
//     &._active {
//       color: var(--text-second);
//       &::after {
//         background-color: var(--bg-second);
//       }
//     }
//     &:not(._active) {
//       cursor: pointer;
//     }
//   }

//   &__empty {
//   }

//   &__today {
//     color: var(--text-main);
//     &::after {
//       border: 1px solid var(--border-gray);
//     }
//   }
// }

// .search {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   padding: 7px;
//   background-color: var(--bg-main);
//   border: 1px solid var(--border);
//   border-top-right-radius: 20px;

//   &__btn {
//     flex: 1px 0 0;
//     height: 14px;
//   }

//   &__btn-img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   &__input {
//     flex-grow: 1;
//   }
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 110px;
// }

// .fraction {
//   text-align: center;
// }

// .slider-arrow {
//   cursor: pointer;
//   width: 30px;
//   flex: 30px 0 0;
//   height: 30px;
//   background: url(../img/icons/slider-arrow.svg);
//   &--down {
//     rotate: 90deg;
//   }
//   &--prev {
//     rotate: 180deg;
//   }
//   &--up {
//     rotate: 270deg;
//   }
// }

// .strikethrough {
//   position: relative;
//   display: inline-block;
// }

// .strikethrough::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: -2px;
//   rotate: -10deg;
//   translate: 0 -50%;
//   width: calc(100% + 4px);
//   height: 3px; /* Толщина линии */
//   background-color: var(--text-main);
//   border-radius: 2px;
// }

// .cutout {
//   --bg-cutout: var(--bg-light);
//   position: absolute;
//   top: 0;
//   width: 800px;
//   height: 67px;
//   border-radius: 0 0 20px 20px;
//   background-color: var(--bg-cutout);
//   @media (min-width: $md2+px) {
//     right: calc((100vw - 1160px) / 2 - 30px);
//   }
//   @media (max-width: $md2+px) {
//     left: 50%;
//   }
//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     display: block;
//     width: 40px;
//     height: 40px;
//     background-color: transparent;
//     border-radius: 20px;
//   }
//   &::before {
//     left: -40px;
//     box-shadow: 20px -20px 0 0 var(--bg-cutout);
//   }
//   &::after {
//     right: -40px;
//     box-shadow: -20px -20px 0 0 var(--bg-cutout);
//   }
// }

// .play {
//   &::after {
//     content: '';
//     transition-duration: var(--transition);
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     translate: -50% -50%;
//     width: 64px;
//     height: 64px;
//     background: url(../img/icons/play.svg) 100% 100% / contain no-repeat;
//     @media (max-width: $md3+px) {
//       width: 37px;
//       height: 37px;
//     }
//   }
// }

// .marker {
//   cursor: pointer;
//   position: relative;
//   width: 25px;
//   height: 25px;
//   background: url(../img/icons/marker-icon.svg) center/cover no-repeat;
//   &._active {
//     & .tooltip {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
//   &:not(._active) {
//   }
// }

// .tooltip {
//   z-index: -1;
//   position: absolute;
//   bottom: 0;
//   opacity: 0;
//   visibility: hidden;
//   display: flex;
//   flex-direction: column;
//   min-width: 200px;
//   padding: 10px;
//   background-color: var(--bg-main);
//   border-bottom-left-radius: 25px;
//   &__name {
//     text-transform: uppercase;
//     margin-bottom: 10px;
//   }
//   &__address {
//     margin-bottom: 12px;
//   }
//   &__link {
//     text-decoration: underline;
//     text-underline-offset: 2px;
//     text-transform: uppercase;
//     margin-left: auto;
//   }
// }

// .slider-navigation {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   width: 100%;
//   @media (min-width: $md2+px) {
//     row-gap: 21px;
//   }
//   @media (max-width: $md2+px) {
//     align-items: center;
//     justify-content: center;
//     column-gap: 20px;
//   }
//   &__progressbar {
//     overflow: hidden;
//     width: 100%;
//     height: 3px;
//     background: #868894;
//     border-radius: 2px;
//     @media (max-width: $md2+px) {
//       width: calc(100% - 80px);
//     }
//     span {
//       transition-duration: var(--transition);
//       position: relative;
//       display: block;
//       height: 100%;
//       width: 0%;
//       background: var(--bg-second);
//       border-radius: 2px;
//       &::before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 100%;
//         height: 3px;
//         width: 10px;
//         background-color: var(--bg-main);
//       }
//       &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: calc(100% + 9px);
//         height: 3px;
//         width: 3px;
//         border-radius: 2px;
//         background-color: #868894;
//       }
//     }
//   }
//   &__arrows {
//     @media (max-width: $md2+px) {
//       display: contents;
//     }
//   }
//   &__fractions {
//     width: auto;
//     height: 10px;
//   }
//   &--white {
//     & .slider-navigation__progressbar {
//       span {
//         background: var(--bg-main);
//         &::before {
//           background-color: var(--bg-second);
//         }
//       }
//     }
//     & .slider-navigation__arrows {
//       stroke: var(--white);
//     }
//   }
// }

// .arrows {
//
//   display: flex;
//   column-gap: 40px;
//   &__prev,
//   &__next {
//     transition-duration: var(--transition);
//     cursor: pointer;
//     width: 30px;
//     height: 30px;
//     @media (hover: hover) {
//       &:hover {
//         opacity: 0.8;
//       }
//     }
//     &:active,
//     &:focus-visible {
//       opacity: 0.8;
//     }
//     @media (max-width: $md2+px) {
//       width: 20px;
//       height: 20px;
//     }
//     &.swiper-button-lock {
//       opacity: 0;
//       visibility: hidden;
//     }
//     & svg {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   &__next {
//     svg {
//       rotate: 180deg;
//     }
//   }

//   &__prev {
//     @media (max-width: $md2+px) {
//       order: -1;
//     }
//   }
// }

// .stars {
//   display: flex;
//   column-gap: 10px;
//   margin-bottom: 9px;
//   &__star {
//     width: 21px;
//     height: 20px;
//     background-color: var(--bg-gray);
//     -webkit-mask-image: url('../img/icons/star.svg');
//     -webkit-mask-size: contain;
//     -webkit-mask-repeat: no-repeat;
//     &--full {
//       background-color: var(--broom);
//     }
//   }
// }

// .filters {
//   display: flex;
//   column-gap: 40px;
//   padding: 20px 40px;
//   background-color: var(--bg-light);
//   border-radius: 5px;
//   @media (max-width: $md2+px) {
//     padding: 20px;
//     column-gap: 20px;
//   }
//   @media (max-width: $md3+px) {
//     flex-direction: column;
//     row-gap: 20px;
//   }
//   &__item {
//     flex-basis: calc(50% - 20px);
//     padding: 0 10px 4px 0;
//     border-bottom: 1px solid var(--border);
//     @media (max-width: $md2+px) {
//       flex-basis: calc(50% - 10px);
//     }
//   }
// }

// .agreement {
//   display: flex;
//   align-items: flex-start;
//   column-gap: 10px;
//   &__checkbox {
//     margin-top: 1px;
//   }
//   &__text {
//   }
//   &__link {
//     text-decoration: underline;
//   }
// }

// .readmore {
//   cursor: pointer;
//   z-index: 1;
//   transition-duration: var(--transition);
//   color: var(--text-gray);
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   margin-top: auto;
//   @media (hover: hover) {
//     &:hover {
//       &:after {
//         background: var(--blue-light);
//       }
//     }
//   }
//   &:active,
//   &:focus-visible {
//     &:after {
//       background: var(--blue-light);
//     }
//   }
//   &__svg {
//     fill: var(--bg-gray);
//     width: 40px;
//     height: 8px;
//     margin-left: 10px;
//     &--white {
//       fill: var(--text-second);
//     }
//   }
// }
