.dates {
  @include r15;
  @media (max-width: $md4+px) {
    gap: var(--gutter);
  }
}

.datepicker {
  &__input {
    @include dur;
    @include p2;
    @include tac;
    width: 81px;
    padding: 4px;
    @include bd2l;
    @media (min-width: $md2+px) {
      width: 86px;
      padding: 3px;
    }
    &:focus {
      outline: none;
      @include bd2;
    }
  }

  // &__header {
  //   background-color: #{$bg-second};
  //   padding: 20px 32px;
  //   border-radius: 20px 20px 0 0;
  // }

  // &__year {
  //   $lh: 24;
  //   line-height: round-to(math.div($lh, $fz), 3);
  // }

  // &__date {
  //   @media (min-width: $md2+px) {
  //     $fs: 32;
  //     font-size: math.div($fs, $fz) + em;
  //     $lh: 48;
  //     line-height: round-to(math.div($lh, $fs), 3);
  //
  //   }
  //   $fs: 18;
  //   font-size: math.div($fs, $fz) + em;
  //   $lh: 27;
  //   line-height: round-to(math.div($lh, $fs), 3);
  //
  //   margin-top: 10px;
  // }

  // &__navigation {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   padding: 20px 42px;
  // }

  // &__arrow {
  //   cursor: pointer;
  //   width: 21px;
  //   height: 21px;
  // }

  // &__svg {
  //   width: 100%;
  //   height: 100%;
  //   &--back {
  //     rotate: 180deg;
  //   }
  // }

  // &__current-month {
  //
  // }

  // &__calendar {
  // }
}

.triangle {
  @include dur;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #{$bg-bright}; /* Цвет внешнего треугольника */
  /* Левая рамка */
  &::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #{$bg-main}; /* Цвет внутреннего треугольника */
    z-index: 1;
  }
}

// .calendar {
//   &__table {
//     width: 100%;
//   }

//   &__weekdays {
//   }

//   &__th {
//     padding-bottom: 12px;
//   }

//   &__cell {
//     @media (min-width: $md2+px) {
//       z-index: 1;
//       &:not(._active) {
//         @media (hover: hover) {
//           &:hover {
//             &::after {
//               background-color: var(--bg-light);
//             }
//           }
//         }
//         &:active,
//         &:focus-visible {
//           &::after {
//             background-color: var(--bg-light);
//           }
//         }
//       }
//       &::after {
//         background-color: #{$bg-main};
//       }
//       &._active {
//         &::after {
//           background-color: #{$bg-second};
//         }
//       }
//     }
//     @extend .dur;
//     color: var(--text-gray);
//     $lh: 24;
//     line-height: round-to(math.div($lh, $fz), 3);
//
//     text-align: center;
//     position: relative;
//     padding: 8px 0 7px;
//     &::after {
//       content: '';
//       @extend .dur;
//       z-index: -1;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       translate: -50% -50%;
//       display: block;
//       width: 32px;
//       height: 32px;
//       border-radius: 20px;
//     }
//     &._active {
//       color: #{$text-second};
//       &::after {
//         background-color: #{$bg-second};
//       }
//     }
//     &:not(._active) {
//       cursor: pointer;
//     }
//   }

//   &__empty {
//   }

//   &__today {
//     color: #{$text-main};
//     &::after {
//       border: 1px solid #{$border-gray};
//     }
//   }
// }

// .search {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   padding: 7px;
//   background-color: #{$bg-main};
//   border: 1px solid #{$border};
//   border-top-right-radius: 20px;

//   &__btn {
//     flex: 1px 0 0;
//     height: 14px;
//   }

//   &__btn-img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   &__input {
//     flex-grow: 1;
//   }
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 110px;
// }

// .fraction {
//   text-align: center;
// }

// .slider-arrow {
//   cursor: pointer;
//   width: 30px;
//   flex: 30px 0 0;
//   height: 30px;
//   background: url(../img/icons/slider-arrow.svg);
//   &--down {
//     rotate: 90deg;
//   }
//   &--prev {
//     rotate: 180deg;
//   }
//   &--up {
//     rotate: 270deg;
//   }
// }

// .strikethrough {
//   position: relative;
//   display: inline-block;
// }

// .strikethrough::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: -2px;
//   rotate: -10deg;
//   translate: 0 -50%;
//   width: calc(100% + 4px);
//   height: 3px; /* Толщина линии */
//   background-color: #{$text-main};
//   border-radius: 2px;
// }

// .cutout {
//   --bg-cutout: var(--bg-light);
//   position: absolute;
//   top: 0;
//   width: 800px;
//   height: 67px;
//   border-radius: 0 0 20px 20px;
//   background-color: var(--bg-cutout);
//   @media (min-width: $md2+px) {
//     right: calc((100vw - 1160px) / 2 - 30px);
//   }
//   @media (max-width: $md2+px) {
//     left: 50%;
//   }
//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     display: block;
//     width: 40px;
//     height: 40px;
//     background-color: transparent;
//     border-radius: 20px;
//   }
//   &::before {
//     left: -40px;
//     box-shadow: 20px -20px 0 0 var(--bg-cutout);
//   }
//   &::after {
//     right: -40px;
//     box-shadow: -20px -20px 0 0 var(--bg-cutout);
//   }
// }

// .play {
//   &::after {
//     content: '';
//     @extend .dur;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     translate: -50% -50%;
//     width: 64px;
//     height: 64px;
//     background: url(../img/icons/play.svg) 100% 100% / contain no-repeat;
//     @media (max-width: $md3+px) {
//       width: 37px;
//       height: 37px;
//     }
//   }
// }

// .marker {
//   cursor: pointer;
//   position: relative;
//   width: 25px;
//   height: 25px;
//   background: url(../img/icons/marker-icon.svg) center/cover no-repeat;
//   &._active {
//     & .tooltip {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
//   &:not(._active) {
//   }
// }

// .tooltip {
//   z-index: -1;
//   position: absolute;
//   bottom: 0;
//   opacity: 0;
//   visibility: hidden;
//   display: flex;
//   flex-direction: column;
//   min-width: 200px;
//   padding: 10px;
//   background-color: #{$bg-main};
//   border-bottom-left-radius: 25px;
//   &__name {
//     text-transform: uppercase;
//     margin-bottom: 10px;
//   }
//   &__address {
//     margin-bottom: 12px;
//   }
//   &__link {
//     text-decoration: underline;
//     text-underline-offset: 2px;
//     text-transform: uppercase;
//     margin-left: auto;
//   }
// }

// .slider-navigation {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   width: 100%;
//   @media (min-width: $md2+px) {
//     row-gap: 21px;
//   }
//   @media (max-width: $md2+px) {
//     align-items: center;
//     justify-content: center;
//     column-gap: 20px;
//   }
//   &__progressbar {
//     overflow: hidden;
//     width: 100%;
//     height: 3px;
//     background: #868894;
//     border-radius: 2px;
//     @media (max-width: $md2+px) {
//       width: calc(100% - 80px);
//     }
//     span {
//       @extend .dur;
//       position: relative;
//       display: block;
//       height: 100%;
//       width: 0%;
//       background: #{$bg-second};
//       border-radius: 2px;
//       &::before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 100%;
//         height: 3px;
//         width: 10px;
//         background-color: #{$bg-main};
//       }
//       &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: calc(100% + 9px);
//         height: 3px;
//         width: 3px;
//         border-radius: 2px;
//         background-color: #868894;
//       }
//     }
//   }
//   &__arrows {
//     @media (max-width: $md2+px) {
//       display: contents;
//     }
//   }
//   &__fractions {
//     width: auto;
//     height: 10px;
//   }
//   &--white {
//     & .slider-navigation__progressbar {
//       span {
//         background: #{$bg-main};
//         &::before {
//           background-color: #{$bg-second};
//         }
//       }
//     }
//     & .slider-navigation__arrows {
//       stroke: var(--white);
//     }
//   }
// }

// .stars {
//   display: flex;
//   column-gap: 10px;
//   margin-bottom: 9px;
//   &__star {
//     width: 21px;
//     height: 20px;
//     background-color: #{$bg-gray};
//     -webkit-mask-image: url('../img/icons/star.svg');
//     -webkit-mask-size: contain;
//     -webkit-mask-repeat: no-repeat;
//     &--full {
//       background-color: var(--broom);
//     }
//   }
// }

// .filters {
//   display: flex;
//   column-gap: 40px;
//   padding: 20px 40px;
//   background-color: var(--bg-light);
//   border-radius: 5px;
//   @media (max-width: $md2+px) {
//     padding: 20px;
//     column-gap: 20px;
//   }
//   @media (max-width: $md3+px) {
//     flex-direction: column;
//     row-gap: 20px;
//   }
//   &__item {
//     flex-basis: calc(50% - 20px);
//     padding: 0 10px 4px 0;
//     border-bottom: 1px solid #{$border};
//     @media (max-width: $md2+px) {
//       flex-basis: calc(50% - 10px);
//     }
//   }
// }

// .agreement {
//   display: flex;
//   align-items: flex-start;
//   column-gap: 10px;
//   &__checkbox {
//     margin-top: 1px;
//   }
//   &__text {
//   }
//   &__link {
//     text-decoration: underline;
//   }
// }

// .readmore {
//   cursor: pointer;
//   z-index: 1;
//   @extend .dur;
//   color: var(--text-gray);
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   margin-top: auto;
//   @media (hover: hover) {
//     &:hover {
//       &:after {
//         background: var(--blue-light);
//       }
//     }
//   }
//   &:active,
//   &:focus-visible {
//     &:after {
//       background: var(--blue-light);
//     }
//   }
//   &__svg {
//     fill: #{$bg-gray};
//     width: 40px;
//     height: 8px;
//     margin-left: 10px;
//     &--white {
//       fill: #{$text-second};
//     }
//   }
// }
