section.section.materials
  .container
    img.materials__img(src="img/materials/hero.png", alt="")
    .row-wrap.g1.m1.n1o2.n2o1
      .col3.n1w4.n2w5.n3w6.x3w2.x4w4
        h1.t1d информационные материалы
        p.p1 Здесь вы можете скачать материалы от преподавателей курса, на котором вы учились в ЦНТИ Прогресс. #[br] Все материалы предназначены только для личного использования. Вы не можете распространять или продавать их.
      form.col3.n1w4.n2w5.n3w6.x3w2.x4w4
        .col5
          label.input-wrapper
            p.input-wrapper__label Код курса
            input.input(placeholder="00000")
          label.input-wrapper
            p.input-wrapper__label Код доступа
            input.input(placeholder="00000")
        button(type="submit").button-primary Отправить