.materials {
  &__img {
    @media (max-width: $md1+px) {
      aspect-ratio: 952/235;
      object-position: left;
    }
    @media (max-width: $md2+px) {
      aspect-ratio: 737/182;
    }
    @media (max-width: $md4+px) {
      aspect-ratio: 300/111;
    }
  }
}
