.main-slider {
  &__swiper {
  }

  &__navigation {
    z-index: 1;
    position: absolute;
    @media (min-width: $md1+px) {
      bottom: 80px;
    }
    @media (min-width: $md2+px) {
      bottom: 58px;
    }
    @media (min-width: $md3+px) {
      bottom: 33px;
      left: var(--6columnsG);
    }
    @media (max-width: $md3+px) {
      right: var(--field);
      bottom: 20px;
    }
    @media (max-width: $md4+px) {
      left: var(--field);
    }
  }

  &__prev {
    rotate: 180deg;
  }
}