-
  mainSlider = [
    {
      img: 'city',
      title: 'Готов учебный план на 2026 год. <br>Расписание курсов <br class="n1hide x4hide">по всем отраслевым <br>направлениям — в одной брошюре',
      btn: 'Скачать план'
    },
    {
      img: 'hands', 
      title: 'Создаем для вас уникальные корпоративные <br class="x1hide">курсы — очно и онлайн',
      btn: 'Узнать подробнее'
    },
    {
      img: 'hands',
      title: 'пример для 1 строчки',
      btn: 'Узнать подробнее'
    },
  ]

.main-slider.section#slider
  .container.x3contents
    .main-slider__swiper.swiper
      .swiper-wrapper
        each slide in mainSlider
          +mainSlide(slide)
      .main-slider__navigation.row.aic.n1w2.n2w3.n3w4.w2.x4w4
        +arr(class="main-slider__prev acb-link")
        +arr(class="main-slider__next acb-link")

//- http://localhost:1709/page-main.html#slider