// .popup {
//   @include dur;
//   opacity: 0;
//   visibility: hidden;
//   overflow-y: scroll;
//   z-index: 100;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(#{$bg-second}, 0.4);

//   &._active {
//     opacity: 1;
//     visibility: visible;
//     & .popup__body {
//       transition-duration: 0.6s;
//       transform: translateY(0);
//     }
//   }

//   &__container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100%;
//   }

//   &__body {
//     transition-duration: 0.3s;
//     transform: translateY(-50px);
//     position: relative;
//   }

//   &__close {
//     position: absolute;
//     top: 1px;
//     right: 1px;
//   }

//   &__close-svg {
//     width: 14px;
//     height: 14px;
//   }

//   &__form {
//   }

//   &__video-wrapper {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     & .popup__close {
//       top: 20px;
//       right: 20px;
//       & svg {
//         @include dur;
//         fill: var(--white);
//         width: 50px;
//         height: 50px;
//       }
//       @media (hover: hover) {
//         &:hover {
//           & svg {
//             opacity: 0.5;
//           }
//         }
//       }
//       &:active,
//       &:focus-visible {
//         & svg {
//           opacity: 0.5;
//         }
//       }
//     }
//   }

//   &__video {
//     @media (min-width: $md2+px) {
//       width: calc(100% - 120px);
//     }
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: calc(100% - 20px);
//     & iframe {
//       width: 100%;
//       height: 400px;
//     }
//   }

//   &__close-btn {
//     @include dur;
//     stroke: rgb(var(--white));
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     width: 40px;
//     height: 40px;
//     background-color: transparent;
//     @media (hover: hover) {
//       &:hover {
//         opacity: 0.8;
//       }
//     }
//     &:active,
//     &:focus-visible {
//       opacity: 0.8;
//     }
//   }

//   &__close-svg {
//     width: 98%;
//     height: 98%;
//   }
// }
