-
  cards = [
    {
      title: 'Дарим трансфер',
      attention: 'Бронь через службу гостиниц',
      text: 'Забронируйте номер в отеле <a class="link" href="#">«Династия»</a>, <a class="link" href="#">«River Palace Hotel»</a> или <a class="link" href="#">«Арт Нуво»</a> и получите бесплатный трансфер до ЦНТИ Прогресс.',
      link: 'ВЫБРАТЬ НОМЕР',
    },
    {
      title: 'Учитесь онлайн',
      attention: 'Постоянное предложение',
      text: 'Многие курсы идут онлайн. Выберите подходящий из расписания или оставьте заявку на трансляцию.',
      link: 'ВЫБРАТЬ курс',
    },
    {
      title: 'Скидка за подписку',
      attention: 'Только полезные письма',
      text: 'Подпишитесь на нашу email-рассылку и получите скидку 3% на любой курс. ',
      link: 'НАСТРОИТЬ РАССЫЛКУ',
    },
  ];

section.promo-all.section#promo-all
  .container
    .n1ol1
      h2.t1d Текущие акции и спецпредложения
      .row.wrap.aic.g3.m2
        .row.wrap.g3
          each card in cards
            +promoItem(card)
        //- a.acb-link.link-b.col5.x1row.cg15.x2cg10.aic.n1w2.n2w3.n3w4.w2.x4w4
        //-   +arr(class="promo-all__link-arr")
        //-   p.p1.tac Показать все

//- http://localhost:1709/archive-promo.html#promo-all