section.section#contacts  
  .container
    h1.title контактная информация
    p.intro.m5 Если у вас сложный вопрос по обучению, обратитесь напрямую #[br.x4hide]к руководителю отдела.
    .row.x3col.g5.m2.n1o1
      article.contacts-card.n1w5.n3w6
        img.contacts-card__img(src="img/feedback/paramonova.png", alt="")
        .contacts-card__main.col5
          .col6
            h2.t2d Наталия Парамонова
            p.p2 руководитель службы записи
          .contacts-card__links.col6
            a.p2.hover(href="tel:88123318888") 8 (812) 331-88-88
            a.p2.hover(href="mailto:client@cntiprogress.ru") client@cntiprogress.ru
      article.contacts-card.n1w5.n3w6
        img.contacts-card__img(src="img/feedback/kutarenko.png", alt="")
        .contacts-card__main.col5
          .col6
            h2.t2d Ирина Кутаренко
            p.p2 руководитель службы по работе с клиентами
          .contacts-card__links.col6
            a.p2.hover(href="tel:88123274220") 8 (812) 327-42-20
            a.p2.hover(href="mailto:srk@cntiprogress.ru") srk@cntiprogress.ru

//- http://localhost:1709/page-feedback.html#contacts