-
  subrubrics = [
    'Руководителям производств',
    'Конструкторам',
    'Обслуживание оборудования',
    'Управление цехом',
    'Технологам',
    'Автоматизация',
  ]
  
section#subrubrics.subrubrics.section
  .container
    .body
      h2.title показать курсы по теме
      .subrubrics__main.g7.m2
        each link in subrubrics
          a.hover.t2(href="#") !{link}

//- http://localhost:1709/archive-courses.html#subrubrics