.subrubrics {
  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gutter);
    @media (max-width: $md3+px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
      row-gap: var(--S);
      justify-items: center;
    }
  }
}
