-
  subrubrics = [
    'Руководителям производств',
    'Конструкторам',
    'Обслуживание оборудования',
    'Управление цехом',
    'Технологам',
    'Автоматизация',
  ]
  
section#subrubrics.subrubrics.section
  .container
    .body.col2
      h2.title показать курсы по теме
      .row.wrap.g7
        each link in subrubrics
          a.hover.t2.tac.n3w4.w2.x4w4(href="#") !{link}

//- http://localhost:1709/archive-courses.html#subrubrics