-
  route = {
    id: 'spb',
    title: 'Как добраться до учебного комплекса в Петербурге',
    intro: 'Средний пр-т Васильевского острова, д. 36/40 (ТЦ «Остров»), <br>ст. метро «Василеостровская»',
    img: 'spb.png',
    blocks: [
      {
        icon: 'plane',
        title: 'Путь из аэропорта',
        text: [
          'Из аэропорта в город добирайтесь на автобусе или маршрутном такси до станции метро «Московская». Затем на метро поезжайте до станции «Василеостровская».',
          'Время в пути 1 ч 20 мин.'
        ],
      },
      {
        icon: 'train',
        title: 'Путь с вокзала',
        text: [
          'Рядом с вокзалом спуститесь в метро (Московский вокзал — ст. «Маяковская», Ладожский вокзал — ст. «Ладожская», Витебский вокзал — ст. «Пушкинская», Балтийский вокзал — ст. «Балтийская»). Затем поезжайте до станции «Василеостровская».',
          'Время в пути 25–40 мин.'
        ],
      },
      {
        icon: 'route',
        title: 'Путь от метро',
        text: [
          'Выйдя из метро на станции «Василеостровская», сразу идите налево. Перейдите дорогу и через 20 метров войдите в стеклянную дверь-арку. Поднимайтесь на 5 этаж в учебный центр ЦНТИ Прогресс.',
          'Время в пути 2 мин.'
        ],
      },
    ]
  }

include _route_!template

//- http://localhost:1709/page-contacts.html#spb