// .content {
//   &__container {
//   }

//   &__column {
//     display: flex;
//     flex-direction: column;
//     row-gap: 40px;
//   }
// }

// .subtitle {
//   color: var(--text-bright);
//   font-weight: 700;
// }

.section {
  width: 100%;
  margin: 60px 0;
  @media (max-width: $md2+px) {
    margin: 50px 0;
  }
  @media (max-width: $md3+px) {
    margin: 40px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: $md4+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body {
  padding-top: 60px;
  border-top: 2px solid var(--border-light);
  @media (max-width: $md2+px) {
    padding-top: 50px;
  }
  @media (max-width: $md3+px) {
    padding-top: 40px;
  }
}

.t1 {
  font-family: 'RobotoCondensed';
  $fs: 24;
  font-size: math.div($fs, $fz) + em;
  $lh: 30;
  line-height: round-to(math.div($lh, $fs), 3);
  text-transform: uppercase;
  @media (max-width: $md2+px) {
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    $lh: 24;
    line-height: round-to(math.div($lh, $fs), 3);
  }
  @media (max-width: $md4+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.title {
  @extend .t1;
  text-align: center;
}

.t2 {
  font-family: 'RobotoCondensed';
  $fs: 18;
  font-size: math.div($fs, $fz) + em;
  // $lh: 24;
  // line-height: round-to(math.div($lh, $fs), 3);
  line-height: 1.334;
  @media (max-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.a1 {
  font-family: 'Intro';
  $fs: 48;
  font-size: math.div($fs, $fz) + em;
  $lh: 60;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md3+px) {
    $fs: 40;
    font-size: math.div($fs, $fz) + em;
    $lh: 60;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p1 {
  @media (max-width: $md2+px) AND (min-width: $md4+px) {
    $fs: 13;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p2 {
  $fs: 13;
  font-size: math.div($fs, $fz) + em;
  $lh: 18;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.b1 {
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  @media (min-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 22;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.btn {
  font-weight: 700;
  text-align: center;
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.button {
  transition-duration: var(--transition);
  @extend .btn;
}

.button--primary {
  color: var(--text-second);
  @extend .button;
  padding: 10px;
  background-color: var(--bg-bright);
  @media (max-width: $md2+px) {
    padding: 5px 10px;
  }
  &:hover,
  &:focus-visible {
    background-color: var(--bg-accent);
  }
}

.button--second {
  color: var(--text-bright);
  @extend .button;
  padding: 8px;
  background-color: var(--bg-main);
  border: 2px solid var(--border);
  @media (max-width: $md2+px) {
    padding: 3px 8px;
  }
  &:hover,
  &:focus-visible {
    color: var(--text-accent);
    border-color: var(--border-accent);
  }
}

.main {
  margin-top: 40px;
  @media (max-width: $md2+px) {
    margin-top: 30px;
  }
}

// .text {
//   & :is(h1, h2, h3) {
//     margin-bottom: 40px;
//   }
//   & p {
//     $lh: 19;
//     line-height: round-to(math.div($lh, $fz), 3);
//     &:not(:last-child) {
//       margin-bottom: 19px;
//     }
//   }

//   ol {
//     list-style: none;
//     counter-reset: ol-list;
//     li {
//       counter-increment: ol-list;
//       $lh: 19;
//       line-height: round-to(math.div($lh, $fz), 3);
//       &:not(:last-child) {
//         margin-bottom: 19px;
//       }
//       &::before  {
//         content: counter(ol-list)'. ';
//       }
//     }
//   }
// }

// .text-link {
//   transition-duration: var(--transition);
//   text-decoration: underline;
//   @media (hover: hover) {
//     &:hover {
//       color: var(--hover);
//       text-decoration: none;
//     }
//   }
//   &:active,
//   &:focus-visible {
//     color: var(--hover);
//     text-decoration: none;
//   }
// }

// .list {
//   &__item {
//     display: flex;
//     align-items: flex-start;
//     column-gap: 10px;
//     &:not(:last-child) {
//       margin-bottom: 15px;
//     }
//     &::before {
//       content: '';
//       min-width: 6px;
//       height: 6px;
//       margin-top: 10px;
//       background-color: var(--bg-second);
//       border-radius: 50%;
//     }
//   }
// }

// .border-img {
//   border-radius: 50px;
//   @media (max-width: $md4+px) {
//     border-radius: 30px;
//   }
// }

// .float-img {
//   @media (min-width: $md4+px) {
//     max-width: calc(50% - 20px);
//     margin-left: 40px;
//   }
//   @media (max-width: $md4+px) {
//     order: 1;
//     margin-top: 30px;
//     width: 100%;
//   }
//   &--right {
//     @media (min-width: $md4+px) {
//       float: right;
//     }
//   }
//   &--left {
//     @media (min-width: $md4+px) {
//       float: left;
//     }
//   }
// }

// .text-block {
//   @media (max-width: $md4+px) {
//     display: flex;
//     flex-direction: column;
//   }
//   &__subtitle {
//     margin-bottom: 20px;
//   }

//   &__text {
//     &:not(:last-child) {
//       margin-bottom: 10px;
//     }
//   }

//   &__list {
//     &:not(:last-child) {
//       margin-bottom: 20px;
//     }
//   }

//   &__showmore {
//     transition-duration: var(--transition);
//     // order: 1;
//     margin-top: 10px;
//     @media (max-width: $md4+px) {
//       align-self: center;
//     }
//     &._active {
//       margin-top: 20px;
//     }
//   }
// }

// .flex-row {
//   display: flex;
//   column-gap: 95px;
//   @media (max-width: $md3+px) {
//     flex-direction: column;
//   }
// }
