.hotels-contacts {
  background-color: var(--bg-second);

  &__main {
    @media (min-width: $md4+px) {
      justify-content: space-between;
    }
    @media (max-width: $md4+px) {
      align-items: center;
    }
  }

  &__column {
    @media (max-width: $md4+px) {
      align-items: center;
    }
  }
}
