.section {
  width: 100%;
  margin: var(--L-XL) 0;
  &--bg {
    @extend .section;
    padding: var(--L-XL) 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $maxContainer + px;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $md2+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: $md4+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body {
  padding-top: var(--L-XL);
  border-top: 2px solid var(--border-light);
}

.tac {
  text-align: center;
}

.twb {
  text-wrap: balance;
}

// .n1c {
//   @media (min-width: $md1+px) {
//     text-align: center;
//   }
// }

// .n2c {
//   @media (min-width: $md2+px) {
//     text-align: center;
//   }
// }

// .n3c {
//   @media (min-width: $md3+px) {
//     text-align: center;
//   }
// }

// .n4c {
//   @media (min-width: $md4+px) {
//     text-align: center;
//   }
// }

.x1c {
  @media (max-width: $md1+px) {
    text-align: center;
  }
}

.x2c {
  @media (max-width: $md2+px) {
    text-align: center;
  }
}

.x3c {
  @media (max-width: $md3+px) {
    text-align: center;
  }
}

.x4c {
  @media (max-width: $md4+px) {
    text-align: center;
  }
}

.bright {
  color: var(--text-bright);
}

.accent {
  color: var(--text-accent);
}

.dark {
  color: var(--text-dark);
}

.t1 {
  font-family: 'RobotoCondensed';
  $fs: 24;
  font-size: math.div($fs, $fz) + em;
  $lh: 30;
  line-height: round-to(math.div($lh, $fs), 3);
  text-transform: uppercase;
  @media (max-width: $md2+px) {
    $fs: 20;
    font-size: math.div($fs, $fz) + em;
    $lh: 24;
    line-height: round-to(math.div($lh, $fs), 3);
  }
  @media (max-width: $md4+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t1d {
  @extend .dark;
  @extend .t1;
}

.title {
  @extend .t1d;
  text-align: center;
}

.t2 {
  font-family: 'RobotoCondensed';
  $fs: 18;
  font-size: math.div($fs, $fz) + em;
  // $lh: 24;
  // line-height: round-to(math.div($lh, $fs), 3);
  line-height: 1.334;
  @media (max-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.t2d {
  @extend .dark;
  @extend .t2;
}

.subtitle {
  @extend .t2d;
  text-align: center;
  text-wrap: balance;
}

.a1 {
  font-family: 'Montserrat';
  $fs: 48;
  font-size: math.div($fs, $fz) + em;

  $lh: 60;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md3+px) {
    $fs: 40;
    font-size: math.div($fs, $fz) + em;
    $lh: 60;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.p1 {
  @media (max-width: $md2+px) AND (min-width: $md4+px) {
    $fs: 13;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.intro {
  @extend .p1;
  text-align: center;
}

.p2 {
  $fs: 13;
  font-size: math.div($fs, $fz) + em;
  $lh: 18;
  line-height: round-to(math.div($lh, $fs), 3);
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 18;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.b1 {
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  @media (min-width: $md2+px) {
    $fs: 16;
    font-size: math.div($fs, $fz) + rem;
    $lh: 22;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

.btn {
  text-align: center;
  @media (max-width: $md2+px) {
    $fs: 12;
    font-size: math.div($fs, $fz) + em;
    $lh: 20;
    line-height: round-to(math.div($lh, $fs), 3);
  }
}

%button {
  transition-duration: var(--transition);
  @extend %safari-not-round;
  cursor: pointer;
  @extend .btn;
  display: inline-block;
  padding: 10px;
  @media (max-width: $md2+px) {
    padding: 5px 10px;
  }
}

.button--primary {
  color: var(--text-second);
  @extend %button;
  background-color: var(--bg-bright);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-accent);
  }
}

.button--second {
  color: var(--text-bright);
  @extend %button;
  padding: 8px;
  background-color: var(--bg-main);
  border: 2px solid var(--border);
  @media (max-width: $md2+px) {
    padding: 3px 10px;
  }
  &:hover,
  &:focus-visible {
    color: var(--text-accent);
    border-color: var(--border-accent);
  }
}

.button--accent {
  color: var(--text-second);
  @extend %button;
  background-color: var(--bg-accent);
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-dark);
  }
}

.ul {
  @extend .col5;
  &__li {
    @extend .p1;
    display: flex;
    &::before {
      content: '';
      vertical-align: top;
      display: inline-block;
      flex: 3px 0 0;
      height: 3px;
      margin: 8px 10px 9px 9px;
      border-radius: 50%;
      background-color: var(--text-main);
    }
    &--bright {
      @extend .ul__li;
      &::before {
        background-color: var(--text-bright);
      }
    }
  }
}

.ol {
  &__li {
    @extend .p1;
    list-style-position: inside;
    &:not(:first-child) {
      margin-top: 7px;
    }
  }
}

%hover {
  transition-duration: var(--transition);
}

.hover {
  @extend %hover;
  &:hover,
  &:focus-visible {
    color: var(--hover);
  }
}

.hover-accent {
  @extend %hover;
  &:hover,
  &:focus-visible {
    color: var(--hover-accent);
  }
}

.link {
  @extend .accent;
  @extend .hover;
}

%safari-not-round {
  -webkit-appearance: none; /* Отключаем стандартные стили Safari */
  appearance: none; /* Для современных браузеров */
  border-radius: 0; /* Явно убираем скругления */
}

%input {
  transition-duration: var(--transition);
  outline: none;
  @extend %safari-not-round;
  color: var(--text-main);
  min-height: 40px;
  padding: 4px 9px;
  background-color: var(--bg-main);
  border: 1px solid var(--border-dark);
  @media (hover: hover) {
    &:hover {
      border-color: var(--border);
    }
  }
  &:focus-visible {
    border-color: var(--border);
  }

  &::placeholder {
    color: var(--text-light);
  }

  &:disabled {
    border-color: var(--border-gray);
  }

  &:invalid {
    border-color: var(--border-invalid);
  }
}

.input {
  transition-duration: var(--transition);
  @extend %input;
  &--date {
    @extend .input;
    -moz-appearance: textfield;
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.textarea {
  @extend %input;
  resize: vertical;
  padding: 9px;
  min-height: 200px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i {
  @extend .fs;
  width: 16px;
  height: 16px;
}

.ic {
  @extend .fs;
  width: 20px;
  height: 20px;
}

.icn {
  @extend .fs;
  width: 24px;
  height: 24px;
}

.icon {
  @extend .icn;
  @media (max-width: $md2+px) {
    width: 20px;
    height: 20px;
  }
}

//   &__showmore {
//     transition-duration: var(--transition);
//     // order: 1;
//     margin-top: 10px;
//     @media (max-width: $md4+px) {
//       align-self: center;
//     }
//     &._active {
//       margin-top: 20px;
//     }
//   }
// }
