.courses {
  &__links {
    justify-content: center;
  }

  &__link {
    stroke: var(--text-dark);    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 5px;
    border: 2px solid var(--border-light);
    @media (max-width: $md2+px) {
      padding-block: 6px;
    }
    @media (max-width: $md3+px) {
      padding-block: 3px;
    }
    &._active {
      background-color: var(--bg-second);
    }
  }

  &__squares {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    gap: 15px;
    @media (min-width: $md3+px) {
      flex-direction: column;
    }
    @media (min-width: $md4+px) {
      width: var(--column);
    }
  }

  &__square {
    color: var(--text-second);
    @extend .t2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--bg-gray);
    // @media (max-width: $md1+px) {
    //   width: 40px;
    // }
    @media (max-width: $md4+px) {
      width: 35px;
    }
    &--new {
      @extend .courses__square;
      background-color: var(--bg-bright);
    }
  }

  &__item {
    transition-duration: var(--transition);
    padding: 30px 0;
    &:hover,
    &:focus-visible {
      background-color: var(--bg-second);
    }
  }

  &__item-body {
    @extend .row;
    @extend .g5;
    align-items: flex-start;
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
  }

  &__course {
    flex-grow: 1;
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      width: var(--11columns);
    }
  }

  &__dates-wrapper {
    @media (max-width: $md2+px) {
      display: flex;
      align-items: flex-start;
      width: 100%;
    }
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }

  &__dates {
    grid-template-columns: var(--2columns) var(--column);
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      grid-template-columns: var(--3columns) var(--3columns);
      margin-left: var(--column);
      padding-inline: var(--gutter);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: var(--column) var(--column);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: var(--2columns) var(--2columns);
    }
  }

  &__arrow-link {
    --arrow-color: var(--text-bright);
    transition-duration: var(--transition);
    color: var(--text-bright);
    display: flex;
    align-items: center;
    gap: 0 15px;
    @media (max-width: $md3+px) {
      flex-grow: 1;
    }
    @media (max-width: $md4+px) {
      margin-top: var(--spaceS);
    }
    &:hover,
    &:focus-visible {
      --arrow-color: var(--hover-accent);
      color: var(--hover-accent);
    }
  }

  &__arrow-span {
    @extend .b1;
    white-space: nowrap;
    @media (max-width: $md4+px) {
      width: var(--2columns);
    }
  }

  &__arrow {
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      width: 76px;
    }
    @media (max-width: $md4+px) {
      margin-right: var(--column);
    }
  }
}

.course {
  &__name {
    transition-duration: var(--transition);
    color: var(--text-accent);
    @extend .t2;
    &:hover,
    &:focus-visible {
      color: var(--hover);
    }
  }

  &__info-row {
    display: flex;
    gap: 45px;
    margin-top: var(--spaceS);
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
      gap: var(--spaceXS) 30px;
      margin-top: var(--spaceXS);
    }
    @media (max-width: $md4+px) {
      column-gap: var(--gutter);
    }
  }

  &__info-item {
    @extend .p1;
    
    display: flex;
    gap: 5px;
    align-items: center;
    @media (max-width: $md4+px) {
      min-width: var(--2columns);
    }

    &--link {
      @extend .course__info-item;
      transition-duration: var(--transition);
      stroke: var(--text-accent);
      color: var(--text-accent);
      &:hover,
      &:focus-visible {
        stroke: var(--hover);
        color: var(--hover);
      }
    }
  }

  &__info-svg {
    
    width: 20px;
    height: 20px;
  }
}

.course-dates {
  display: grid;
  align-items: flex-start;
  gap: var(--spaceXS) var(--gutter);
  &__headers {
    color: var(--text-dark);
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: -1;
    @media (min-width: $md4+px) {
      margin-bottom: calc(var(--spaceS) - var(--spaceXS));
    }
  }

  &__header {
    @extend .t2;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__code-svg {
    stroke: var(--text-dark);
    
    width: 20px;
    height: 20px;
    @media (max-width: $md4+px) {
      width: 16px;
      height: 16px;
    }
  }

  &__row {
    @extend .p1;
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-items: flex-start;
  }

  &__date-link {
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
