%hotel-table {
  border-collapse: collapse;
  width: var(--6columns);
  @media (max-width: $md1+px) {
    width: var(--8columns);
  }
  @media (max-width: $md2+px) {
    width: 100%;
    margin-top: var(--spaceL);
  }
}

%td {
  text-align: left;
  padding: 10px;
  @media (min-width: $md3+px) {
    white-space: nowrap;
  }
  @media (max-width: $md4+px) {
    padding: 10px 5px;
  }
}

.hotels {
  &__toc-main {
    @media (min-width: $md1+px) {
      columns: var(--4columns) 2;
    }
    @media (min-width: $md3+px) {
      columns: var(--6columns) 2;
      column-gap: var(--gutter);
    }
  }

  &__map {
    width: 100%;
    aspect-ratio: 1200/639;
  }

  &__pin {
    @extend .p2;
    text-align: center;
    width: 36px;
    padding-top: 3px;
  }

  &__baloon {
    font-family: Roboto;
  }
}

.hotel {
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    @media (max-width: $md4+px) {
      column-gap: 35px;
    }
  }

  &__icon {
    stroke: var(--text-accent);
    stroke-width: 2px;
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: $md4+px) {
      gap: 5px;
    }
  }

  &__gallery {
    @media (max-width: $md4+px) {
      row-gap: 20px;
    }
  }

  &__gallery-img {
    width: 100%;
    aspect-ratio: 282/209;
    object-fit: cover;
  }

  &__main {
    @media (min-width: $md2+px) {
      display: flex;
      gap: var(--gutter);
      align-items: flex-start;
    }
  }

  &__attention {
    stroke: var(--text-bright);
    stroke-width: 2px;
    color: var(--text-bright);
    text-wrap: balance;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__table-2 {
    @extend %hotel-table;
    table-layout: fixed;
  }

  &__table-3 {
    @extend %hotel-table;
    @media (min-width: $md1+px) {
      table-layout: fixed;
    }
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      table-layout: fixed;
    }
  }

  &__table-4 {
    @extend %hotel-table;
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      & th,
      td {
        width: calc(var(--3columns) + 20px);
        &:first-child,
        &:last-child {
          width: calc(var(--3columns) + 10px);
        }
        // width: calc(var(--12columns) / 4 - 5px);
        // &:first-child,
        // &:last-child {
        //   width: calc(var(--12columns) / 4 + 5px);
        // }
      }
    }
  }

  & tr {
    &:nth-child(2n) {
      background-color: var(--bg-second);
    }
  }

  & th {
    font-weight: 400;
    vertical-align: top;
    @extend %td;
    @media (min-width: $md1+px) {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__th-title {
    color: var(--text-dark);
    @extend .p1;
    display: block;
  }

  &__th-subtitle {
    @extend .p2;
    display: block;
    margin-top: var(--spaceXS);
  }

  & td {
    @extend .p1;
    @extend %td;
  }
}