.contact-map {
  &__info {
    text-wrap: balance;
    color: var(--text-main);
    justify-content: flex-end;
    height: calc(100% - 40px);
    padding: 50px;
    background-color: var(--bg-second);
    @media (min-width: $md3+px) {
      z-index: 1;
      position: absolute;
      top: 0;
      left: calc(var(--column) + var(--gutter));
    }
    @media (max-width: $md1+px) {
      padding: 30px;
    }
    @media (max-width: $md2+px) {
      padding-inline: 15px;
    }
    @media (max-width: $md3+px) {
      padding: var(--L-XL) 30px;
    }
    @media (max-width: $md4+px) {
      padding-inline: 15px;
    }
  }

  &__info-link {
    --arrow-color: var(--text-bright);
    transition-duration: var(--transition);
    display: flex;
    gap: 15px;
    align-items: center;
    white-space: nowrap;
    @media (max-width: $md3+px) AND (min-width: $md4+px) {
      max-width: calc(var(--2columns) - 30px);
    }
    &::before {
      content: '';
      display: block;
      width: 16px;
      flex-shrink: 0;
      height: 16px;
      background-color: var(--bg-bright);
    }
    &:hover,
    &:focus-visible {
      color: var(--text-bright);
    }
  }

  &__info-middle {
    @media (max-width: $md3+px) {
      gap: var(--2XS);
    }
  }
}

.ymaps {
  width: 100%;
  aspect-ratio: 1200/639;
}
