%pagination-item {
  @extend .t2;
  transition-duration: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border: 2px solid var(--border-light);
  @media (max-width: $md2+px) {
    height: 35px;    
  }
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-bright);
    border: none;
  }
}

.pagination {
  display: flex;
  gap: 15px;
  @media (min-width: $md2+px) {
    margin-left: var(--column);
    padding-left: var(--gutter);
  }
  @media (max-width: $md4+px) {
    flex-wrap: wrap;
    gap: 15px var(--gutter);
  }
  &__prev {
    @extend %pagination-item;
    flex: 95px 0 0;
    @media (max-width: $md4+px) {
      flex: var(--2columns) 0 0;
    }
  }

  &__pages {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width: $md4+px) {
      order: -1;
      justify-content: flex-start;
      flex-basis: 100%;
    }
  }

  &__num {
    @extend %pagination-item;
    min-width: 45px;
    @media (max-width: $md2+px) {
      min-width: 35px;
    }
    &._active {
      color: var(--text-second);
      background-color: var(--bg-bright);
      border: none;
    }
  }

  &__next {
    @extend .pagination__prev;
  }
}
