%pagination-item {
  transition-duration: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border: 2px solid var(--border-light);
  @media (max-width: $md2+px) {
    height: 35px;
  }
  @media (max-width: $md3+px) {
    height: 30px;
  }
  &:hover,
  &:focus-visible {
    color: var(--text-second);
    background-color: var(--bg-bright);
    border: none;
  }
}

.pagination {
  @extend .t2;
  display: flex;
  gap: 15px;
  @extend .n1ol3;
  @extend .n2ol2;
  @media (max-width: $md2+px) {
    justify-content: center;
  }
  @media (max-width: $md4+px) {
    flex-wrap: wrap;
    gap: var(--XS) var(--gutter);
  }

  &__prev {
    @extend %pagination-item;

    width: 95px;
    @media (max-width: $md3+px) {
      width: 89px;
    }
    @extend .x4w2;
  }

  &__pages {
    display: flex;
    flex-wrap: wrap;
    gap: var(--XS) 15px;
    @media (max-width: $md4+px) {
      order: -1;
      flex-basis: 100%;
    }
  }

  &__num {
    @extend %pagination-item;
    min-width: 45px;
    @media (max-width: $md2+px) {
      min-width: 35px;
    }
    @media (max-width: $md3+px) {
      min-width: 30px;
    }
    &._active {
      color: var(--text-second);
      background-color: var(--bg-bright);
      border: none;
    }
  }

  &__next {
    @extend .pagination__prev;
  }
}
