.plan {

  &__section-num {
    color: var(--text-accent);
    @extend .a1;
    @media (min-width: $md3+px) {
      display: flex;
      justify-content: flex-end;
      flex: var(--column) 0 0;
    }
  }

  &__checkboxes {
    display: flex;
    align-items: center;
    gap: var(--spaceXS) 30px;
    min-height: 30px;
  }
}
