.results {
  &__item {
    transition-duration: var(--transition);
    padding: var(--S) 0;
    &:hover,
    &:focus-visible {
      background-color: var(--bg-second);
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--XS-S) var(--gutter);
    @media (max-width: $md2+px) {
      flex-wrap: wrap;
    }
  }

  &__format {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: var(--column);
    gap: 5px;
    @media (max-width: $md1+px) AND (min-width: $md3+px) {
      flex-direction: column;
      gap: 3px;
    }
  }

  &__format-svg {
    stroke: var(--text-bright);
    stroke-width: 2px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__format-span {
    color: var(--text-bright);
  }

  &__course {
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      flex: var(--11columns) 0 0;
    }
  }

  &__dates {
    grid-template-columns: var(--2columns) var(--column) var(--column);
    @media (max-width: $md2+px) AND (min-width: $md3+px) {
      grid-template-columns: var(--3columns) var(--2columns) var(--2columns);
      margin-left: var(--columnG);
    }
    @media (max-width: $md3+px) {
      grid-template-columns: var(--column) var(--column) var(--column);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: var(--2columns) var(--column) var(--column);
    }
  }
}

.empty-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: var(--4columns);
    @media (max-width: $md2+px) {
      width: var(--6columns);
    }
    @media (max-width: $md3+px) {
      width: var(--2columns);
    }
    @media (max-width: $md4+px) {
      width: var(--4columns);
    }
  }

  &__columns {
    display: flex;
    gap: 30px var(--gutter);
    width: 100%;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__column {
    @media (min-width: $md1+px) {
      padding-right: calc(var(--column) + var(--gutter));
    }
    @media (min-width: $md3+px) {
      flex: var(--6columns) 0 0;
      padding-left: calc(var(--column) + var(--gutter));
    }
  }
}
