.subrubrics {
  &__container {
  }

  &__body {
  }

  &__title {
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px var(--gutter);
    @media (max-width: $md3+px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $md4+px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__link {
    transition-duration: var(--transition);
    &:hover,
    &:focus-visible {
      color: var(--hover);
    }
  }
}
