.contact-map {
  &__info {
    height: calc(100% - 40px);
    padding: 50px;
    @media (min-width: $md3+px) {
      z-index: 1;
      position: absolute;
      top: 0;
      left: var(--columnG);
    }
    @media (max-width: $md1+px) {
      padding: #{$M} 30px;
    }
    @media (max-width: $md2+px) {
      padding-inline: 15px;
    }
    @media (max-width: $md3+px) {
      padding: var(--S1) 30px;
    }
    @media (max-width: $md4+px) {
      padding-inline: 15px;
    }
  }

  &__info-link {
    @media (max-width: $md3+px) AND (min-width: $md4+px) {
      max-width: calc(var(--2columns) - 30px);
    }
    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      background-color: #{$bg-bright};
    }
  }

  &__info-middle {
    @media (max-width: $md3+px) {
      row-gap: #{$XS};
    }
  }
}
