section.contact-map.section#map
  .container
    h1.title Контактная информация #[br.n4hide]и схема проезда
    .por.m2
      .ymaps#ymaps
      .contact-map__info.col3.w4
        .t2d Учебный центр в Петербурге
        .contact-map__info-middle.col5
          p.p1 Средний пр-т Васильевского острова, д. 36/40 (ТЦ «Остров»), ст. метро «Василеостровская», Санкт-Петербург, 199004
          p.p1
            a(href="tel:7812318888") +7 (812) 331-88-88
            br
            a(href="tel:88003338844") 8 (800) 333-88-44
          p.p1 Пн-Пт с 8:00 до 18:00 (Мск)
        a.contact-map__info-link.t2d(href="#spb")  Как добраться
          +arr
include _map_contacts-script

//- http://localhost:1709/page-contacts.html#map
