//- //- section.popup.popup-video
//- //-   .popup__video-wrapper
//- //-     button.popup__close-btn._popup-close(aria-label='Закрыть')        
//- //-       svg.popup__close-svg
//- //-         use(xlink:href="img/sprite/symbols.svg#popup-close")
//- //-     .popup__video


//- section.popup.popup-sign
//-   .popup__container._container
//-     .popup__body
//-       button.popup__close-btn._popup-close(aria-label='Закрыть')
//-         img(src="../img/icons/theme-close.svg", alt="")
//-       form.form-popup-sign
//-         .form-popup-sign__main
//-           .form-popup-sign__inputs
//-             input.form-popup-sign__input.input(placeholder='ФИО')
//-             input.form-popup-sign__input.input(type='tel' placeholder='E-mail')
//-             input.form-popup-sign__input.input(type='email' placeholder='+ 7 _ _ _  _ _ _ - _ _ - _ _')
//-             textarea.form-popup-sign__textarea.input Ваш комментарий
//-           .form-popup-sign__captcha
//-             img.form-popup-sign__captcha-img(src='../img/through/captcha.png', alt="")
//-             .form-popup-sign__captcha-right
//-               .form-popup-sign__captcha-refresh-wrapper
//-                 button.form-popup-sign__captcha-refresh-btn
//-                   img(src="../img/icons/refresh.svg", alt="")
//-                 p.form-popup-sign__captcha-refresh-sign Обновить
//-               input.form-popup-sign__captcha-input.input(placeholder='Введите код')
//-         .form-popup-sign__actions
//-           h2.form-popup-sign__title.title записаться на прием
//-           .form-popup-sign__actions-bottom
//-             p.form-popup-sign__agreement Нажимая на кнопку, вы соглашаетесь с правилами использования и обработки персональных данных
//-             input.form-popup-sign__submit.button(type='submit' value='записаться')
//-         .form-popup-sign__gratitude._removed._active
//-           span.form-popup-sign__gratitude-close._close._active(role='button' aria-label='Закрыть')
//-             img(src="../img/icons/theme-close.svg", alt="")
//-           h2.form-popup-sign__title.title Спасибо
//-           p.form-popup-sign__gratitude-text Ваша заявка принята. Мы свяжемся с вами как можно скорее

          
            
//- section.popup.popup-review
//-   .popup__container._container
//-     .popup__body
//-       button.popup__close-btn._popup-close(aria-label='Закрыть')
//-         img(src="../img/icons/theme-close.svg", alt="")
//-       form.form-popup-sign
//-         .form-popup-sign__main
//-           .form-popup-sign__inputs
//-             input.form-popup-sign__input.input(placeholder='ФИО')
//-             input.form-popup-sign__input.input(type='tel' placeholder='E-mail')
//-             input.form-popup-sign__input.input(type='email' placeholder='+ 7 _ _ _  _ _ _ - _ _ - _ _')
//-             textarea.form-popup-sign__textarea.input Ваш комментарий
//-         .form-popup-sign__actions
//-           h2.form-popup-sign__title.title Оставить отзыв
//-           .form-popup-sign__actions-bottom
//-             p.form-popup-sign__agreement Нажимая на кнопку, вы соглашаетесь с правилами использования и обработки персональных данных
//-             input.form-popup-sign__submit.button(type='submit' value='отправить')
//-         .form-popup-sign__gratitude._removed._active
//-           span.form-popup-sign__gratitude-close._close._active(role='button' aria-label='Закрыть')
//-             img(src="../img/icons/theme-close.svg", alt="")
//-           h2.form-popup-sign__title.title Спасибо
//-           p.form-popup-sign__gratitude-text Мы получим ваш отзыв и опубликуем на сайте после модерации.