.case-item {
  transition-property: background-color;
  @include pd3;
  &:has(.case-item__top._active) {
    background-color: #{$bg-second};
  }
  &__top {
    cursor: pointer;
    @include row;
    @include ais;
    &._active {
      & .case-item__title {
        &::after {
          rotate: 180deg;
        }
      }
    }
  }

  &__title {
    @extend.ta;
    @extend.t2;
    @extend.row;
    @include jcb;
    &::after {
      content: '';
      @include dur;
      @include i24;
      background: url(../img/icons/chevron-l.svg) center / contain no-repeat;
    }
  }
}
