include ../../web-template/src/_mixins

include components/arrow/_arrow_
include components/branch/_branch_
include components/branch-title/_branch-title_
include components/breadcrumbs/_breadcrumbs_
include components/burger/_burger_
include components/checkbox/_checkbox_
include components/input-wrapper/_input-wrapper_
include components/item-case/_item-case_
include components/item-client/_item-client_
include components/item-contact/_item-contact_
include components/item-course/_item-course_
include components/item-header-menu/_item-header-menu_
include components/item-header-submenu/_item-header-submenu_
include components/item-hotel/_item-hotel_
include components/item-promo/_item-promo_
include components/item-recommended/_item-recommended_
include components/mode/_mode_
include components/pagination/_pagination_
include components/select/_select_
include components/select-header/_select-header_
include components/slide-main/_slide-main_
include components/square-info/_square-info_

mixin pageConfig(config = {})
  -
    const defaultConfig = {
      title: '',
      description: 'Описание',
      styles: { external: [], internal: [] },
      scripts: { head: [], external: [], internal: [] },
      breadcrumbs: false,
    }
    page = { ...defaultConfig, ...config }