include ../../web-template/src/_mixins

include components/arrow/_arrow_
include components/breadcrumbs/_breadcrumbs_
include components/course-dates/_course-dates_
include components/course-info/_course-info_
include components/format/_format_
include components/item-client/_item-client_
include components/item-course/_item-course_
include components/item-promo/_item-promo_
include components/item-recommended/_item-recommended_
include components/mode/_mode_
include components/slide-main/_slide-main_
include components/square-info/_square-info_

mixin pageConfig(config = {})
  -
    const defaultConfig = {
      title: '',
      description: 'Описание',
      styles: { external: [], internal: [] },
      scripts: { head: [], external: [], internal: [] },
      breadcrumbs: false,
    }
    page = { ...defaultConfig, ...config }