%mailing-square {
  display: flex;
  @media (min-width: $md3+px) {
    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

.mailing {
  &__square {
    &-bright {
      @extend %mailing-square;
      @media (min-width: $md3+px) {
        &::before {
          background-color: #{$bg-bright};
        }
      }
    }
    &-accent {
      @extend %mailing-square;
      @media (min-width: $md3+px) {
        &::before {
          background-color: #{$bg-accent};
        }
      }
    }
  }

  &__top-checkboxes {
    margin-top: 5px;
  }

  &__choose {
    @media (min-width: $md3+px) {
      columns: 3 var(--4columns);
    }
    @media (min-width: $md4+px) {
      columns: 2 var(--2columns);
      column-gap: var(--gutter);
    }
  }

  &__group {
    break-inside: avoid-column;
    &:not(:first-child) {
      margin-top: #{$M};
    }
  }

  &__checkboxes {
    row-gap: 10px;
  }

  &__subrubrics {
    padding-left: 27px;
  }
}
