%mailing-square {
  @media (min-width: $md2+px) {
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

.mailing {
  &__top {
    @include adaptiv-value-on('height', 457, 361, $md1, $md2);
    @include adaptiv-value-on('padding-bottom', 40, 20, $md1, $md2);
    @media (min-width: $md2+px) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: url(../img/mailing/mailing.png) bottom right / calc(100% - 30px) no-repeat;
    }
  }

  &__top-title {
    @include adaptiv-value-on('margin-right', 165, 66, $md1, $md2);
    @include adaptiv-value-on('top', 135, 104, $md1, $md2);
    @media (min-width: $md2+px) {
      color: var(--text-second);
      position: absolute;
    }
    @media (max-width: $md2+px) {
      margin-top: var(--XS);
    }
  }

  &__square {
    &-bright {
      @extend %mailing-square;
      @media (min-width: $md2+px) {
        &::before {
          background-color: var(--bg-bright);
        }
      }
    }
    &-accent {
      @extend %mailing-square;
      @media (min-width: $md2+px) {
        &::before {
          background-color: var(--bg-accent);
        }
      }
    }
  }

  &__top-checkboxes {
    margin-top: 5px;
  }

  &__choose {
    @media (min-width: $md3+px) {
      columns: 3 var(--4columns);
    }
    @media (min-width: $md4+px) {
      columns: 2 var(--2columns);
      column-gap: var(--gutter);
    }
  }

  &__group {
    break-inside: avoid-column;
    &:not(:first-child) {
      margin-top: var(--M);
    }
  }

  &__checkboxes {
    row-gap: 10px;
  }

  &__subrubrics {
    padding-left: 27px;
  }
}
