-
  clientsArchive = [
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/1_%20%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8F%20%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B9%20%D0%BE%D0%B1%D0%BB_.png',
      name: 'Администрация Ростовской области',
      desc: 'Орган государственной власти'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/3_%20%D0%A4%D0%B8%D0%BD_%20%D0%B0%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F%20%D0%BF%D1%80%D0%B8%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%B5%20%D0%A0%D0%A4.jpg',
      name: 'Финансовая академия при Правительстве РФ',
      desc: 'Высшее учебное заведение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/4_%20%D0%A7%D0%93%D0%A3.gif',
      name: 'ЧГУ',
      desc: 'Череповецкий государственный университет'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/7_%20%D0%93%D0%BE%D0%B7%D0%BD%D0%B0%D0%BA.gif',
      name: 'Гознак',
      desc: 'Производство ценных бумаг и документов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/6_%20%D0%93%D0%B0%D0%B7%D0%BF%D1%80%D0%BE%D0%BC.png',
      name: 'Газпром',
      desc: 'Газовая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/11_%20%D0%9C%D0%B5%D0%B4_%20%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D0%B8%D0%BC_%20%D0%98%D0%BB%D0%B8%D0%B7%D0%B0%D1%80%D0%BE%D0%B2%D0%B0.jpg',
      name: 'Медцентр им. Илизарова',
      desc: 'Медицинский центр'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/2_%20%D0%9C%D0%90%D0%9C%D0%98.png',
      name: 'МАМИ',
      desc: 'Московский государственный машиностроительный университет'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/8_%20%D0%A0%D1%83%D1%81%D0%B3%D0%B8%D0%B4%D1%80%D0%BE.png',
      name: 'Русгидро',
      desc: 'Энергетическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/10_1%20%D0%9C%D0%B5%D0%B3%D0%B0%D1%84%D0%BE%D0%BD.jpg',
      name: 'Мегафон',
      desc: 'Телекоммуникационный оператор'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%A3%D0%93%D0%9C%D0%9A.jpg',
      name: 'УГМК',
      desc: 'Уральская горно-металлургическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/12_%20%D0%94%D0%B8%D1%80%D0%BE%D0%BB%20%D0%9A%D1%8D%D0%B4%D0%B1%D0%B5%D1%80%D0%B8.jpg',
      name: 'Дирол Кэдбери',
      desc: 'Производство жевательной резинки и кондитерских изделий'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/15_%20%D0%90%D0%B2%D0%B8%D0%B0%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%AF%D0%BA%D1%83%D1%82%D0%B8%D1%8F.jpg',
      name: 'Авиакомпания Якутия',
      desc: 'Авиаперевозчик'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/20_%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B5%20%D0%BA%D0%BE%D1%81%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5%20%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D1%8B.gif',
      name: 'Российские космические системы',
      desc: 'Разработка космических систем'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%A0%D0%BD%D0%B8%D0%B8%D1%80%D1%81.png',
      name: 'Ростовский НИИ радиосвязи',
      desc: 'Научно-исследовательский институт'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/13_%20%D0%A0%D0%BE%D1%81%D1%8D%D0%BD%D0%B5%D1%80%D0%B3%D0%BE%D0%B0%D1%82%D0%BE%D0%BC.jpg',
      name: 'Росэнергоатом',
      desc: 'Энергетическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%9F%D0%BB%D0%B5%D1%85%D0%B0%D0%BD%D0%BE%D0%B2%D0%B0.jpg',
      name: 'РЭУ им. Плеханова',
      desc: 'Российский экономический университет'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/16_%20%D0%9B%D1%83%D0%BA%D0%BE%D0%B9%D0%BB.gif',
      name: 'Лукойл',
      desc: 'Нефтяная компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/18_%20%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9%20%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4%20%D0%B8%D0%BC_%20%D0%9A%D0%B0%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B0.jpg',
      name: 'Машиностроительный завод им. Калинина',
      desc: 'Машиностроительное предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/17_%20%D0%A0%D0%98%D0%A0%D0%92.gif',
      name: 'РИРВ',
      desc: 'Радиоинститут имени Верещагина'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/19_%20%D0%9C%D0%93%D0%98%D0%9C%D0%9E.jpg',
      name: 'МГИМО',
      desc: 'Московский государственный институт международных отношений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/24_%20%D0%A2%D0%AD%D0%9A.jpg',
      name: 'ТЭК',
      desc: 'Топливно-энергетический комплекс'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/21_%20%D0%92%D0%BE%D0%BB%D0%B3%D0%BE%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%B8%D0%B9%20%D0%93%D0%A3.png',
      name: 'Волгоградский ГУ',
      desc: 'Волгоградский государственный университет'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/22_%20%D0%90%D0%BB%D1%80%D0%BE%D1%81%D0%B0.png',
      name: 'Алроса',
      desc: 'Алмазодобывающая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/32_%20%D0%A3%D0%93%D0%A3%20%D0%9F%D1%83%D1%82%D0%B5%D0%B9%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D1%8F.jpg',
      name: 'УГУ путей сообщения',
      desc: 'Уральский государственный университет путей сообщения'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/46_%20%D0%A4%D0%93%D0%A3%D0%9F%20%20%D0%A0%D0%A4%D0%AF%D0%A6-%D0%92%D0%9D%D0%98%D0%98%D0%AD%D0%A4.gif',
      name: 'ФГУП РФЯЦ ВНИИЭФ',
      desc: 'Ядерный центр'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%87%D1%82%D0%BF%D0%B7.jpeg',
      name: 'Челябинский трубопрокатный завод',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%A0%D0%93%D0%A1%D0%A3.jpg',
      name: 'РГСУ',
      desc: 'Российский государственный социальный университет'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/25_%20%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BD%D0%B5%D1%84%D1%82%D1%8F%D0%BD%D0%BE%D0%B9%20%D1%82%D0%B5%D1%80%D0%BC%D0%B8%D0%BD%D0%B0%D0%BB.gif',
      name: 'Петербургский нефтяной терминал',
      desc: 'Нефтеналивной терминал'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/28_%D0%A2%D0%AE%D0%9C%D0%95%D0%9D%D0%9D%D0%98%D0%98%D0%93%D0%98%D0%9F%D0%A0%D0%9E%D0%93%D0%90%D0%97.jpg',
      name: 'ТЮМЕННИИГИПРОГАЗ',
      desc: 'Проектный институт'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/33_%20%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8F%20%D0%A0%D1%8F%D0%B7%D0%B0%D0%BD%D0%B8.gif',
      name: 'Администрация Рязани',
      desc: 'Орган местного самоуправления'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/44_%20%D0%9C%D0%98%D0%9D%D0%A3%D0%94%D0%9E%D0%B1%D0%A0%D0%95%D0%9D%D0%98%D0%AF.jpg',
      name: 'МИНУДОБРЕНИЯ',
      desc: 'Производство минеральных удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/45_%20%D0%92%D0%AB%D0%9A%D0%A1%D0%A3%D0%9D%D0%A1%D0%9A%D0%98%D0%99%20%D0%9C%D0%95%D0%A2%D0%90%D0%9B%D0%9B%D0%A3%D0%A0%D0%93%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.gif',
      name: 'Выксунский металлургический завод',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/29_%20%D0%A1%D0%9F%D0%B1%20%D0%93%D0%A3%20%D0%9A%D0%B8%D0%BD%D0%BE%20%D0%B8%20%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F.jpg',
      name: 'СПбГУ кино и телевидения',
      desc: 'Санкт-Петербургский государственный университет кино и телевидения'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/26_%20%D0%A0%D0%A3%D0%94%D0%9D.jpg',
      name: 'РУДН',
      desc: 'Российский университет дружбы народов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/30_%20%D0%9C%D0%A0%D0%A1%D0%9A%20%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%D0%BE-%D0%97%D0%B0%D0%BF%D0%B0%D0%B4%D0%B0.jpg',
      name: 'МРСК Северо-Запада',
      desc: 'Межрегиональная распределительная сетевая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/37_%20%D0%9E%D0%90%D0%9E%20%D0%A6%D0%95%D0%9D%D0%A2%D0%A0%20%D0%A1%D0%A3%D0%94%D0%9E%D0%A0%D0%95%D0%9C%D0%9E%D0%9D%D0%A2%D0%90%20%D0%97%D0%92%D0%95%D0%97%D0%94%D0%9E%D0%A7%D0%9A%D0%90.gif',
      name: 'ОАО Центр судоремонта Звездочка',
      desc: 'Судоремонтное предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/42_%20%D0%9A%D0%A0%D0%90%D0%A1%D0%A6%D0%92%D0%95%D0%A2%D0%9C%D0%95%D0%A2.gif',
      name: 'Красцветмет',
      desc: 'Красноярский завод цветных металлов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%82%D0%B5%D1%85%D0%BF%D1%80%D0%B8%D0%B1%D0%BE%D1%80.gif',
      name: 'Техприбор',
      desc: 'Завод технической керамики'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%BF%D0%B8%D1%80%D0%BE%D0%B3%D0%BE%D0%B2.jpg',
      name: 'Центр им. Пирогова',
      desc: 'Медицинский центр'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%81%D0%B8%D0%BB%D1%8C%D0%B2%D0%B8%D0%BD%D1%82.jpg',
      name: 'Сильвинит',
      desc: 'Горно-рудная компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/36_%20%D0%91%D0%90%D0%A8%D0%93%D0%98%D0%9F%D0%A0%D0%9E%D0%9D%D0%95%D0%A4%D0%A2%D0%95%D0%A5%D0%98%D0%9C.gif',
      name: 'БАШГИПРОНЕФТЕХИМ',
      desc: 'Проектный институт'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/38_%20%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%20%D0%B8%D0%BC_%20%D0%91_%D0%9D_%20%D0%95%D0%BB%D1%8C%D1%86%D0%B8%D0%BD%D0%B0.jpg',
      name: 'Университет им. Б.Н. Ельцина',
      desc: 'Высшее учебное заведение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/40_%20%D0%A0%D0%9E%D0%A1%D0%A1%D0%98%D0%99%D0%A1%D0%9A%D0%98%D0%99%20%D0%9C%D0%9E%D0%A0%D0%A1%D0%9A%D0%9E%D0%99%20%D0%A0%D0%95%D0%93%D0%98%D0%A1%D0%A2%D0%A0%20%D0%A1%D0%A3%D0%94%D0%9E%D0%A5%D0%9E%D0%94%D0%A1%D0%A2%D0%92%D0%90.gif',
      name: 'Российский морской регистр судоходства',
      desc: 'Классификационное общество'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/39_%20%D0%A6%D0%95%D0%9D%D0%A2%D0%A0%20%D0%A2%D0%95%D0%A5%D0%9D%D0%9E%D0%9B%D0%9E%D0%93%D0%98%D0%98%20%D0%A1%D0%A3%D0%94%D0%9E%D0%A1%D0%A2%D0%A0%D0%9E%D0%95%D0%9D%D0%98%D0%AF%20%D0%98%20%D0%A1%D0%A3%D0%94%D0%9E%D0%A0%D0%95%D0%9C%D0%9E%D0%9D%D0%A2%D0%90.gif',
      name: 'Центр технологии судостроения и судоремонта',
      desc: 'Научно-технический центр'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/TPU.jpg',
      name: 'Национальный исследовательский Томский политехнический университет',
      desc: 'Высшее учебное заведение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/43_%20%D0%9E%D0%90%D0%9E%20%D0%A0%D0%9E%D0%A1%D0%96%D0%95%D0%9B%D0%94%D0%9E%D0%A0%D0%9F%D0%A0%D0%9E%D0%95%D0%9A%D0%A2.png',
      name: 'ОАО Росжелдорпроект',
      desc: 'Проектный институт железнодорожного транспорта'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%80%D1%83%D0%B1%D0%B8%D0%BD.gif',
      name: 'ЦКБ морской техники Рубин',
      desc: 'Центральное конструкторское бюро'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/53__%20%D0%9E%D0%90%D0%9E%20%D0%A1%D0%98%D0%9B%D0%9E%D0%92%D0%AB%D0%95%20%D0%9C%D0%90%D0%A8%D0%98%D0%9D%D0%AB.jpg',
      name: 'ОАО Силовые машины',
      desc: 'Энергомашиностроительная компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/59_%20%D0%A7%D0%95%D0%9F%D0%95%D0%A6%D0%9A%D0%98%D0%99%20%D0%9C%D0%95%D0%A5%D0%90%D0%9D%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'Чепецкий механический завод',
      desc: 'Машиностроительное предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/60_%20%D0%9A%D0%A3%D0%9F%D0%9E%D0%9B%20%D0%98%D0%96%D0%95%D0%92%D0%A1%D0%9A%D0%98%D0%99%20%D0%AD%D0%9B%D0%95%D0%9A%D0%A2%D0%A0%D0%9E%D0%9C%D0%95%D0%A5%D0%90%D0%9D%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'Ижевский электромеханический завод Купол',
      desc: 'Машиностроительное предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/48_%20%D0%A1%D0%98%D0%91%D0%A3%D0%A0-%D0%9D%D0%95%D0%A4%D0%A2%D0%95%D0%A5%D0%98%D0%9C.gif',
      name: 'СИБУР-НЕФТЕХИМ',
      desc: 'Нефтехимическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%82%D1%8E%D0%BC%D0%B5%D0%BD%D1%8C%D1%8D%D0%BD%D0%B5%D1%80%D0%B3%D0%BE.jpg',
      name: 'Тюменьэнерго',
      desc: 'Энергетическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/51_%20%D0%A2%D0%AE%D0%9C%D0%95%D0%9D%D0%A1%D0%9A%D0%98%D0%99%20%D0%93%D0%9E%D0%A1%D0%A3%D0%94%D0%90%D0%A0%D0%A1%D0%A2%D0%92%D0%95%D0%9D%D0%9D%D0%AB%D0%99%20%D0%9D%D0%95%D0%A4%D0%A2%D0%95%D0%93%D0%90%D0%97%D0%9E%D0%92%D0%AB%D0%99%20%D0%A3%D0%9D%D0%98%D0%92%D0%95%D0%A0%D0%A1%D0%98%D0%A2%D0%95%D0%A2.png',
      name: 'Тюменский государственный нефтегазовый университет',
      desc: 'Высшее учебное заведение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/52_%20%D0%A1%D0%B8%D0%BD%D0%B0%D1%80%D1%81%D0%BA%D0%B8%D0%B9%20%D1%82%D1%80%D1%83%D0%B1%D0%BD%D1%8B%D0%B9%20%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4.gif',
      name: 'Синарский трубный завод',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/55_%20%D0%9E%D0%90%D0%9E%20%D0%9A%D0%B0%D0%BC%D0%B0%D0%B7.jpg',
      name: 'ОАО КамАЗ',
      desc: 'Производитель грузовых автомобилей'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/54_%20%D0%A2%D0%9E%D0%9B%D0%AC%D0%AF%D0%A2%D0%A2%D0%98%D0%9A%D0%90%D0%A3%D0%A7%D0%A3%D0%9A.jpg',
      name: 'ТОЛЬЯТТИКАУЧУК',
      desc: 'Производитель синтетического каучука'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/57_%20%D0%A3%D1%80%D0%B0%D0%BB%D0%B2%D0%B0%D0%B3%D0%BE%D0%BD%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4.png',
      name: 'Уралвагонзавод',
      desc: 'Машиностроительное предприятие, производитель военной техники'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%81%D0%B0%D1%82%D1%83%D1%80%D0%BD.png',
      name: 'НПО Сатурн',
      desc: 'Научно-производственное объединение, разработчик авиадвигателей'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/58_%20%D0%9A%D0%90%D0%97%D0%90%D0%9D%D0%AC%D0%9E%D0%A0%D0%93%D0%A1%D0%98%D0%9D%D0%A2%D0%95%D0%97.jpg',
      name: 'КАЗАНЬОРГСИНТЕЗ',
      desc: 'Производитель нефтехимической продукции'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/72_%20%D0%93%D0%9E%D0%A0%D0%9D%D0%9E-%D0%A5%D0%98%D0%9C%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%9A%D0%9E%D0%9C%D0%91%D0%98%D0%9D%D0%90%D0%A2.png',
      name: 'Горно-химический комбинат',
      desc: 'Предприятие атомной промышленности'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/68_%20%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%B0%D0%BB%D1%8C.jpg',
      name: 'Северсталь',
      desc: 'Металлургическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/73_%20%D0%93%D0%9E%D0%A1%D0%A3%D0%94%D0%90%D0%A0%D0%A1%D0%A2%D0%92%D0%95%D0%9D%D0%9D%D0%AB%D0%99%20%D0%A0%D0%AF%D0%97%D0%90%D0%9D%D0%A1%D0%9A%D0%98%D0%99%20%D0%9F%D0%A0%D0%98%D0%91%D0%9E%D0%A0%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'Государственный Рязанский приборный завод',
      desc: 'Производитель приборной техники'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%86%D1%81%D0%BA%D0%B1-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B5%D1%81%D1%81.jpg',
      name: 'ЦСКБ Прогресс',
      desc: 'Предприятие ракетно-космической отрасли'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/62_%20%D0%98%D0%BB%D0%B8%D0%BC.gif',
      name: 'Илим',
      desc: 'Лесопромышленная компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/65_%20%D0%A0%D0%BE%D1%81%D1%82%D0%B2%D0%B5%D1%80%D1%82%D0%BE%D0%BB.jpg',
      name: 'Роствертол',
      desc: 'Производитель вертолетов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/75_%20%D0%97%D0%90%D0%92%D0%9E%D0%9B%D0%96%D0%A1%D0%9A%D0%98%D0%99%20%D0%9C%D0%9E%D0%A2%D0%9E%D0%A0%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.gif',
      name: 'Казанский вертолетный завод',
      desc: 'Производитель вертолетов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/67_%20%D0%A2%D0%9E%D0%9C%D0%A1%D0%9A%D0%9D%D0%95%D0%A4%D0%A2%D0%AC%20%D0%92%D0%9D%D0%9A.png',
      name: 'ТОМСКНЕФТЬ ВНК',
      desc: 'Нефтедобывающая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/63_%20%D0%9D%D0%9E%D0%A0%D0%98%D0%9B%D0%AC%D0%A1%D0%9A%D0%98%D0%99%20%D0%9D%D0%98%D0%9A%D0%95%D0%9B%D0%AC.gif',
      name: 'Норильский никель',
      desc: 'Горно-металлургическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/69_%20%D0%A3%D0%90%D0%97.jpg',
      name: 'УАЗ',
      desc: 'Производитель автомобилей'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/71_%20%D0%AD%D0%99%20%D0%94%D0%96%D0%98%20%D0%A1%D0%98%20%D0%91%D0%9E%D0%A0%D0%A1%D0%9A%D0%98%D0%99%20%D0%A1%D0%A2%D0%95%D0%9A%D0%9E%D0%9B%D0%AC%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'ЭЙ ДЖИ СИ БОРСКИЙ СТЕКОЛЬНЫЙ ЗАВОД',
      desc: 'Производитель стеклянной продукции'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/74_%20%D0%9A%D0%A3%D0%99%D0%91%D0%AB%D0%A8%D0%95%D0%92%D0%90%D0%97%D0%9E%D0%A2.gif',
      name: 'КуйбышевАзот',
      desc: 'Производитель азотных удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%83%D1%80%D0%B0%D0%BB%D0%BA%D0%B0%D0%BB%D0%B8%D0%B9.jpg',
      name: 'Уралкалий',
      desc: 'Производитель калийных удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%A3%D0%AD%D0%A5%D0%9A.jpg',
      name: 'Уральский электрохимический комбинат',
      desc: 'Предприятие атомной промышленности'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/84_%20%D0%A1%D0%95%D0%92%D0%95%D0%A0%D0%A1%D0%A2%D0%90%D0%9B%D0%AC-%D0%9C%D0%95%D0%A2%D0%98%D0%97%20%D0%93%D0%A0%D0%A3%D0%9F%D0%9F%D0%90%20%D0%9A%D0%9E%D0%9C%D0%9F%D0%90%D0%9D%D0%98%D0%99.gif',
      name: 'Группа компаний Северсталь-Метиз',
      desc: 'Производитель метизной продукции'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/70_%20%D0%9A%D0%9E%D0%9B%D0%AC%D0%A1%D0%9A%D0%90%D0%AF%20%D0%93%D0%9E%D0%A0%D0%9D%D0%9E-%D0%9C%D0%95%D0%A2%D0%90%D0%9B%D0%9B%D0%A3%D0%A0%D0%93%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%90%D0%AF%20%D0%9A%D0%9E%D0%9C%D0%9F%D0%90%D0%9D%D0%98%D0%AF.gif',
      name: 'Кольская горно-металлургическая компания',
      desc: 'Горно-металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/75_%20%D0%97%D0%90%D0%92%D0%9E%D0%9B%D0%96%D0%A1%D0%9A%D0%98%D0%99%20%D0%9C%D0%9E%D0%A2%D0%9E%D0%A0%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.gif',
      name: 'Заволжский моторный завод',
      desc: 'Производитель двигателей'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D0%9E%D0%BA%D1%82%D1%8F%D0%B1%D1%80%D1%8C.jpg',
      name: 'ПО Октябрь',
      desc: 'Производственное объединение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/150_%20%D0%9D%D0%98%D0%96%D0%A4%D0%90%D0%A0%D0%9C.gif',
      name: 'НИЖФАРМ',
      desc: 'Фармацевтическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%BC%D0%BE%D1%80%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BD%D0%B5%D1%84%D1%82%D1%8C.gif',
      name: 'Черномортранснефть',
      desc: 'Транспортная нефтяная компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/81_%20%D0%90%D0%9A%D0%A0%D0%9E%D0%9D.png',
      name: 'АКРОН',
      desc: 'Химическая компания, производитель удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/82_%20%D0%95%D0%B2%D1%80%D0%BE%D1%85%D0%B8%D0%BC.jpg',
      name: 'Еврохим',
      desc: 'Химическая компания, производитель удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/85_%20%D0%9D%D0%9E%D0%92%D0%9E%D0%9B%D0%98%D0%9F%D0%95%D0%A6%D0%9A%D0%98%D0%99%20%D0%9C%D0%95%D0%A2%D0%90%D0%9B%D0%9B%D0%A3%D0%A0%D0%93%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%9A%D0%9E%D0%9C%D0%91%D0%98%D0%9D%D0%90%D0%A2.gif',
      name: 'Новолипецкий металлургический комбинат',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/87_%20%D0%9A%D0%9E%D0%A0%D0%9F%D0%9E%D0%A0%D0%90%D0%A6%D0%98%D0%AF%20%D0%92%D0%A1%D0%9C%D0%9F%D0%9E-%D0%90%D0%92%D0%98%D0%A1%D0%9C%D0%90%20%20%D0%92%D0%95%D0%A0%D0%A5%D0%9D%D0%95%D0%A1%D0%90%D0%9B%D0%94%D0%98%D0%9D%D0%A1%D0%9A%D0%9E%D0%95%20%D0%9C%D0%95%D0%A2%D0%90%D0%9B%D0%9B%D0%A3%D0%A0%D0%93%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%9E%D0%95%20%D0%9F%D0%9E.gif',
      name: 'КОРПОРАЦИЯ ВСМПО-АВИСМА',
      desc: 'Производитель титановой продукции'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/92_%20%D0%AD%D0%9B%D0%95%D0%9A%D0%A2%D0%A0%D0%9E%D0%9F%D0%A0%D0%98%D0%91%D0%9E%D0%A0.bmp',
      name: 'Электроприбор',
      desc: 'Производитель электротехнического оборудования'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/101_%20%D0%9D%D0%98%D0%96%D0%9D%D0%95%D0%9A%D0%90%D0%9C%D0%A1%D0%9A%D0%9D%D0%95%D0%A4%D0%A2%D0%95%D0%A5%D0%98%D0%9C.jpg',
      name: 'Нижнекамскнефтехим',
      desc: 'Нефтехимическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/89_%20%D0%92%D0%AB%D0%91%D0%9E%D0%A0%D0%93%D0%A1%D0%9A%D0%98%D0%99%20%D0%A1%D0%A3%D0%94%D0%9E%D0%A1%D0%A2%D0%A0%D0%9E%D0%98%D0%A2%D0%95%D0%9B%D0%AC%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.gif',
      name: 'Выборгский судостроительный завод',
      desc: 'Судостроительное предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/86_%20%D0%92%D0%9E%D0%A1%D0%A2%D0%9E%D0%A7%D0%9D%D0%AB%D0%99%20%D0%9F%D0%9E%D0%A0%D0%A2.jpg',
      name: 'Восточный порт',
      desc: 'Морской порт'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/93_%20%D0%9E%D0%90%D0%9E%20%D0%9C%D0%B8%D0%BD%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%20%D1%83%D0%B4%D0%BE%D0%B1%D1%80%D0%B5%D0%BD%D0%B8%D1%8F.gif',
      name: 'ОАО Минеральные удобрения',
      desc: 'Производитель удобрений'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/88_%20%D0%9F%D0%95%D0%A2%D0%A0%D0%9E%D0%9B%D0%95%D0%A1%D0%9F%D0%9E%D0%A0%D0%A2.jpg',
      name: 'ПЕТРОЛЕСПОРТ',
      desc: 'Нефтетрейдинговая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/91_%20%D0%9C%D0%95%D0%A2%D0%90%D0%A4%D0%A0%D0%90%D0%9A%D0%A1.gif',
      name: 'МЕТАФРАКС',
      desc: 'Химическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/90_%20%D0%A0%D0%A3%D0%A1%D0%A1%D0%9A%D0%98%D0%95%20%D0%9A%D0%A0%D0%90%D0%A1%D0%9A%D0%98.jpg',
      name: 'Русский краски',
      desc: 'Производитель лакокрасочных материалов'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/94_%20%D0%9F%D0%95%D0%A0%D0%9C%D0%A1%D0%9A%D0%98%D0%99%20%D0%9F%D0%9E%D0%A0%D0%9E%D0%A5%D0%9E%D0%92%D0%9E%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'Пермский пороховой завод',
      desc: 'Производитель пороха и взрывчатых веществ'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/97_%20%D0%98%D0%A0%D0%9A%D0%A3%D0%A2%D0%A1%D0%9A%D0%AD%D0%9D%D0%95%D0%A0%D0%93%D0%9E.jpg',
      name: 'Иркутскэнерго',
      desc: 'Энергетическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/98_%20%D0%A3%D0%A0%D0%90%D0%9B%D0%AC%D0%A1%D0%9A%D0%90%D0%AF%20%D0%A1%D0%A2%D0%90%D0%9B%D0%AC.jpg',
      name: 'Уральская сталь',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/100_%20%D0%98%D0%96%D0%95%D0%B2%D0%A1%D0%9A%D0%98%D0%99%20%D0%A0%D0%90%D0%94%D0%98%D0%9E%D0%97%D0%90%D0%92%D0%9E%D0%94.gif',
      name: 'Ижевский радиозавод',
      desc: 'Производитель радиоэлектронной аппаратуры'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/108_%20%D0%9E%D0%90%D0%9E%20%D0%9C%D0%A0%D0%A1%D0%9A%20%D0%A1%D0%95%D0%92%D0%95%D0%A0%D0%9E-%D0%97%D0%90%D0%9F%D0%90%D0%94%D0%90.jpg',
      name: 'ОАО МРСК Северо-Запада',
      desc: 'Межрегиональная распределительная сетевая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/110_%20%D0%A0%D0%9E%D0%A1%D0%A1%D0%98%D0%99%D0%A1%D0%9A%D0%98%D0%99%20%D0%93%D0%9E%D0%A1%D0%A3%D0%94%D0%90%D0%A0%D0%A1%D0%A2%D0%92%D0%95%D0%9D%D0%9D%D0%AB%D0%99%20%D0%93%D0%A3%D0%9C%D0%90%D0%9D%D0%98%D0%A2%D0%90%D0%A0%D0%9D%D0%AB%D0%99%20%D0%A3%D0%9D%D0%98%D0%92%D0%95%D0%A0%D0%A1%D0%98%D0%A2%D0%95%D0%A2.gif',
      name: 'Российский государственный гуманитарный университет',
      desc: 'Высшее учебное заведение'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/99_%20%D0%9A%D0%90%D0%A3%D0%A1%D0%A2%D0%98%D0%9A.png',
      name: 'Каустик',
      desc: 'Химическая компания'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/103_%20%D0%9C%D0%90%D0%93%D0%9D%D0%98%D0%A2%D0%9E%D0%93%D0%9E%D0%A0%D0%A1%D0%9A%D0%98%D0%99%20%D0%9C%D0%95%D0%A2%D0%90%D0%9B%D0%9B%D0%A3%D0%A0%D0%93%D0%98%D0%A7%D0%95%D0%A1%D0%9A%D0%98%D0%99%20%D0%9A%D0%9E%D0%9C%D0%91%D0%98%D0%9D%D0%90%D0%A2.png',
      name: 'Магнитогорский металлургический комбинат',
      desc: 'Металлургическое предприятие'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/95_%20%D0%90%D0%A0%D0%97%D0%90%D0%9C%D0%90%D0%A1%D0%A1%D0%9A%D0%98%D0%99%20%D0%9F%D0%A0%D0%98%D0%91%D0%9E%D0%A0%D0%9E%D0%A1%D0%A2%D0%A0%D0%9E%D0%98%D0%A2%D0%95%D0%9B%D0%AC%D0%9D%D0%AB%D0%99%20%D0%97%D0%90%D0%92%D0%9E%D0%94.jpg',
      name: 'Арзамасский приборостроительный завод',
      desc: 'Производитель приборной техники'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/102_%20%D0%A2%D0%A0%D0%A3%D0%91%D0%9E%D0%94%D0%95%D0%A2%D0%90%D0%9B%D0%AC.gif',
      name: 'Трубодеталь',
      desc: 'Производитель трубопроводной арматуры'
    },
    {
      img: 'http://img.cntiprogress.ru/image/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/104_%20%D0%92%D0%A1%D0%95%D0%A0%D0%9E%D0%A1%D0%A1%D0%98%D0%99%D0%A1%D0%9A%D0%98%D0%99%20%D0%9D%D0%90%D0%A3%D0%A7%D0%9D%D0%9E-%D0%98%D0%A1%D0%A1%D0%9B%D0%95%D0%94%D0%9E%D0%92%D0%90%D0%A2%D0%95%D0%9B%D0%AC%D0%A1%D0%9A%D0%98%D0%99%20%D0%98%D0%9D%D0%A1%D0%A2%D0%98%D0%A2%D0%A3%D0%A2%20%D0%90%D0%92%D0%A2%D0%9E%D0%9C%D0%90%D0%A2%D0%98%D0%9A%D0%98%20%D0%98%D0%9C_%D0%9D_%D0%9B_%D0%94%D0%A3%D0%A5%D0%9E%D0%92%D0%90.jpg',
      name: 'ВНИИА им. Н.Л. Духова',
      desc: 'Научно-исследовательский институт автоматики'
    },
  ];