-
  corpArchive = [
    {
      name: 'Алма-Ата, янв-фев 2016',
      description: 'Дистанционные образовательные технологии',
      coords: [43.229961, 76.950391],
    },
    {
      name: 'Уфа, фев 2017',
      description: 'Практические вопросы внешнеэкономической деятельности предприятия',
      coords: [54.835639, 56.097221],
    },
    {
      name: 'Москва, мар 2017',
      description: 'Управление нефтебазой и АЗС',
      coords: [55.745646, 37.683346],
    },
    {
      name: 'Ковдор, мар 2017',
      description: 'Поведенческий аудит безопасности. Современные способы формирования безопасного поведения работников',
      coords: [67.570096, 30.473515],
    },
    {
      name: 'Ухта, апр 2017',
      description: 'Организация системы складирования и работы складов. Управление движением продукции',
      coords: [63.566297, 53.646847],
    },
    {
      name: 'Топки, апр 2017',
      description: 'Реализация современных стратегий развития предприятия',
      coords: [55.279715, 85.610736],
    },
    {
      name: 'Воткинск, апр 2017',
      description: 'Бережливое производство. Повышение эффективности предприятия с применением системы Тойота',
      coords: [57.051471, 53.985073],
    },
    {
      name: 'Нефтеюганск, май 2017',
      description: 'Практика сметного дела и реализация нормативно – правовых актов в строительстве',
      coords: [61.083064, 72.61778],
    },
    {
      name: 'Тюмень, май 2017',
      description: 'Ценообразование на предприятии. Современные методы определения цен на продукцию, работы и услуги компании',
      coords: [57.151776, 65.539329],
    },
    {
      name: 'Аксай, июн 2017',
      description: 'Курс по особенностям расследований дорожно-транспортных происшествий',
      coords: [51.172368, 52.999323],
    },
    {
      name: 'Тобольск, июн 2017',
      description: 'Дефектные ведомости. Основы сметного нормировани',
      coords: [58.257838, 68.444994],
    },
    {
      name: 'Нижнекамск, июл 2017',
      description: 'Единая система конструкторской документации',
      coords: [55.613431, 51.966989],
    },
    {
      name: 'Надым, сен 2017',
      description: 'Современная хореография. Стили и направления эстрадно-джазовой хореографии',
      coords: [65.529125, 72.511624],
    },
    {
      name: 'Сургут, окт 2017',
      description: 'Практические вопросы организации бухгалтерского и налогового учета',
      coords: [61.262052, 73.374693],
    },
    {
      name: 'Омск, ноя 2017',
      description: 'Управление научно-исследовательскими и опытно-конструкторскими работами (НИОКР)',
      coords: [54.989088, 73.438406],
    },
    {
      name: 'Якутск, ноя 2017',
      description: 'Нормативно-правовое регулирование деятельности в сфере пользования недрами',
      coords: [62.034637, 129.675254],
    },
    {
      name: 'Новый Уренгой, дек 2017',
      description: 'Техническая эксплуатация зданий и сооружений',
      coords: [66.110561, 76.68004],
    },
    {
      name: 'Новый Уренгой, дек 2017',
      description: 'Техническая эксплуатация зданий и сооружений',
      coords: [66.110433, 76.679245],
    },
    {
      name: 'Наседкино, янв 2018',
      description: 'Безопасность и качество строительства. Строительный контроль',
      coords: [53.702781, 120.18348],
    },
    {
      name: 'Полотняный завод, янв 2018',
      description: 'Бережливый склад',
      coords: [54.739057, 35.995571],
    },
    {
      name: 'Санкт-Петербург, янв 2018',
      description: '3D - проектирование в программе "Autodesk Inventor Professional"',
      coords: [59.877557, 30.362408],
    },
    {
      name: 'Новосибирск, фев 2018',
      description: 'Процедуры увольнения в 2017 году: правовые нормы, документационные аспекты и судебная практика',
      coords: [55.007316, 82.949428],
    },
    {
      name: 'Санкт-Петербург, фев 2018',
      description: 'Управление рисками и планирование действий по внедрению изменений в соответствии с ISO 9001-2015',
      coords: [59.829257, 30.350446],
    },
    {
      name: 'Вяртсиля, фев 2018',
      description: 'Бережливое производство - практика внедрения и развития',
      coords: [62.171533, 30.688737],
    },
    {
      name: 'Санкт-Петербург, фев 2018',
      description: '3D - проектирование в программе "Autodesk Inventor Professional"',
      coords: [59.87757, 30.362479],
    },
    {
      name: 'Губаха, фев 2018',
      description: 'Строительный контроль и ведение исполнительной документации',
      coords: [59.935303, 30.334905],
    },
    {
      name: 'Санкт-Петербург, фев 2018',
      description: 'Управление рисками и планирование действий по внедрению изменений в соответствии с ISO 9001-2015',
      coords: [59.828872, 30.350738],
    },
    {
      name: 'Санкт-Петербург, фев 2018',
      description: '3D - проектирование в программе "Autodesk Inventor Professional"',
      coords: [59.877575, 30.362588],
    },
    {
      name: 'Санкт-Петербург, фев 2018',
      description: 'Автоматизация рабочих процессов средствами Microsoft Excel. Обучение расширенным возможностям и лучшим практикам (1 и 2 группа)',
      coords: [59.828542, 30.353081],
    },
    {
      name: 'ЦНТИ Прогресс, фев 2018',
      description: 'Информационная безопасность на объектах критической информационной инфраструктуры',
      coords: [59.942164, 30.275816],
    },
    {
      name: 'Ростов-на-Дону, фев 2018',
      description: 'Ценообразование на предприятии. Современные методы определения цен на продукцию, работы и услуги компании',
      coords: [47.259499, 39.76295],
    },
    {
      name: 'ЦНТИ Прогресс, мар 2018',
      description: 'Практика коммерческих переговоров в В2В и В2G',
      coords: [59.942205, 30.275872],
    },
    {
      name: 'Москва, мар 2018',
      description: 'Метрологическое обеспечение производства. Поверка, верификация и валидация средств измерений',
      coords: [55.738314, 37.657982],
    },
    {
      name: 'Санкт-Петербург, мар 2018',
      description: 'Автоматизация рабочих процессов средствами Microsoft Excel. Обучение расширенным возможностям и лучшим практикам (3 группа)',
      coords: [59.829268, 30.350074],
    },
    {
      name: 'Санкт-Петербург, мар 2018',
      description: 'Разрешительная и исполнительная документация',
      coords: [59.928948, 30.353393],
    },
    {
      name: 'Усинск, мар 2018',
      description: 'Электроснабжение и электрооборудование объектов: проектирование, монтаж, эксплуатация. Практические вопросы',
      coords: [65.994734, 57.487888],
    },
    {
      name: 'Абакан, апр 2018',
      description: 'Рабочее время: продолжительность, режимы труда и отдыха. Особенности суммированного учета рабочего времени. Отпуска',
      coords: [53.718035, 91.434058],
    },
    {
      name: 'Когалым, апр 2018',
      description: 'Убедительная презентация и яркое публичное выступление',
      coords: [62.266718, 74.545223],
    },
    {
      name: 'Краснодар, апр 2018',
      description: 'Клиентоориентированный сервис как инструмент продаж',
      coords: [45.038241, 38.982742],
    },
    {
      name: 'Новочеркасск, апр 2018',
      description: 'Инклюзивное образование в организациях СПО',
      coords: [47.418685, 40.085454],
    },
    {
      name: 'Мончегорск и Заполярный, апр 2018',
      description: 'Порядок проведение инвентаризации основных средств, МПЗ, внеоборотных активов, ГСМ',
      coords: [69.424392, 30.824394],
    },
    {
      name: 'Томск, май 2018',
      description: 'Успешный руководитель. Методы эффективного управления',
      coords: [56.499249, 84.992868],
    },
    {
      name: 'Хабаровск, июнь 2018',
      description: 'Нормоконтроль проектной и рабочей документации для строительства',
      coords: [48.513868, 135.096378],
    },
    {
      name: 'Туапсе, июнь 2018',
      description: 'Энергетическое обследование промышленных предприятий с целью повышения энергетической эффективности и управление энергосбережением. Система энергоменеджмента ISO 50001:2011',
      coords: [44.102582, 39.078373],
    },
    {
      name: 'Астана, июнь 2018',
      description: 'Нормирование и организация труда на предприятии',
      coords: [51.165026, 71.46364],
    },
    {
      name: 'Зеленокумск, июль 2018',
      description: 'Управление закупками и снабжением. Эффективная работа с поставщиками',
      coords: [44.414919, 43.874776],
    },
    {
      name: 'Казань, авг 2018',
      description: 'Логистика и склад современного предприятия',
      coords: [55.834332, 49.070693],
    },
    {
      name: 'Сызрань, авг 2018',
      description: 'Конфиденциальное делопроизводство',
      coords: [53.150588, 48.391789],
    },
    {
      name: 'Тобольск, сен 2018',
      description: 'Практическое материаловедение',
      coords: [58.201025, 68.262313],
    },
    {
      name: 'Юрмала, окт 2018',
      description: 'Управление финансами в фармацевтическом бизнесе',
      coords: [56.953026, 23.625008],
    },
    {
      name: 'Чистополь, ноя 2018',
      description: 'Коллективная деятельность учителей по созданию межпредметных проектов учащихся в рамках профильного образования',
      coords: [55.363182, 50.638526],
    },
    {
      name: 'Зеленодольск, ноя 2018',
      description: 'Разработка и внедрение технологических инноваций и новой продукции',
      coords: [55.85143, 48.54152],
    },
    {
      name: 'Омск, ноя 2018',
      description: 'Управление закупками',
      coords: [54.989298, 73.319065],
    },
    {
      name: 'Тобольск, дек 2018',
      description: 'Договорная работа в строительстве',
      coords: [58.220674, 68.278478],
    },
    {
      name: 'Братск, дек 2018',
      description: 'Принципы разработки технологических регламентов',
      coords: [56.172143, 101.584924],
    },
    {
      name: 'Белгород, дек 2018',
      description: 'Управление кафедрой вуза: современные подходы и информационные технологии',
      coords: [50.60013, 36.599574],
    },
    {
      name: 'Благовещенск, фев 2019',
      description: 'Планирование и анализ производства',
      coords: [50.274188, 127.544352],
    },
    {
      name: 'Магадан, фев 2019',
      description: 'Сложные вопросы начисления заработной платы и страховых взносов, расчета НДФЛ и других удержаний, а также расчета отпускных выплат',
      coords: [59.560485, 150.825403],
    },
    {
      name: 'Ессентуки, март 2019',
      description: 'Авторский надзор в строительстве. Организация, ведение и документирование в условиях новой системы технического регулирования',
      coords: [44.044481, 42.857285],
    },
    {
      name: 'Лабытнанги, март 2019',
      description: 'Нормирование труда в бюджетной сфере',
      coords: [66.655576, 66.390726],
    },
    {
      name: 'Красноярск, март 2019',
      description: 'Умное проектирование. Использование инструментов Бережливого производства в проектной деятельности',
      coords: [56.009748, 92.794974],
    },
    {
      name: 'Новокузнецк, март 2019',
      description: 'Проектирование систем газоснабжения, газораспределения и газопотребления',
      coords: [53.762536, 87.147779],
    },
    {
      name: 'Киров, апр 2019',
      description: 'Автомобильные дороги: строительство и эксплуатация',
      coords: [58.602216, 49.666183],
    },
    {
      name: 'Рязань, апр 2019',
      description: 'Антистатика. Защита от электростатических разрядов (ESD) при производстве электронных устройств',
      coords: [54.608993, 39.704651],
    },
    {
      name: 'Белгород, апр 2019',
      description: 'Ремонт и эксплуатация автодорог. Современные технологии. Применение асфальтов. Строительный контроль',
      coords: [50.599248, 36.602683],
    },
    {
      name: 'Уфа, апр 2019',
      description: 'Строительный контроль — вопросы организации и управления',
      coords: [54.739815, 55.96031],
    },
    {
      name: 'Череповец, апр 2019',
      description: 'Проектирование, строительство и контроль',
      coords: [59.132282, 37.908677],
    },
    {
      name: 'п. Синявино, апр 2019',
      description: 'Современные технологии дезинфекции и уборки пищевых производств',
      coords: [59.908117, 31.072379],
    },
    {
      name: 'пос. Салым, ХМАО-Югра, апр 2019',
      description: 'Повышение квалификации инженеров строительного контроля служб технического заказчика. Безопасность и качество строительства. Строительный контроль',
      coords: [60.061135, 71.452552],
    },
    {
      name: 'Южно-Сахалинск, май 2019',
      description: 'Организация образовательного процесса в соответствии с требованиями ФГОС среднего общего образования',
      coords: [46.960613, 142.750567],
    },
    {
      name: 'Заводоуковск, июнь 2019',
      description: 'Требования к испытательным лабораториям, компетентность испытательных лабораторий и обеспечение качества результатов испытаний в свете стандарта ISO/IEC 17025:2017',
      coords: [56.498929, 66.542705],
    },
    {
      name: 'Большой камень, Приморский край, июнь 2019',
      description: 'Планово-экономическая деятельность в сфере теплоснабжения. Базовый курс',
      coords: [43.111666, 132.345641],
    },
    {
      name: 'Чайковский, Пермский край, июль 2019',
      description: 'Управление закупками и снабжением. Эффективная работа с поставщиками',
      coords: [56.766402, 54.125058],
    },
    {
      name: 'Нижний Тагил, авг 2019',
      description: 'Lean Six Sigma. Бережливые инструменты достижения прорывных улучшений',
      coords: [57.919108, 59.978842],
    },
    {
      name: 'Вологда, сен 2019',
      description: 'ТСЖ, ЖСК и управляющая организация: особенности деятельности, учет и налогообложение',
      coords: [59.217679, 39.906509],
    },
    {
      name: 'пос. Тельмана, сен 2019',
      description: 'Договор: как правильно составить и проверить',
      coords: [59.727151, 30.626786],
    },
    {
      name: 'Набережные Челны, сен 2019',
      description: 'Lean Six Sigma. Бережливые инструменты достижения прорывных улучшений',
      coords: [55.720994, 52.382902],
    },
    {
      name: 'Владивосток, сен 2019',
      description: 'Внедрение профессиональных стандартов',
      coords: [43.118036, 131.89301],
    },
    {
      name: 'Усть-Каменогорск, окт 2019',
      description: 'Эффективное управление системой ТОиР основных средств горно-обогатительного и металлургического производств',
      coords: [49.976438, 82.602738],
    },
    {
      name: 'Красный Сулин, окт 2019',
      description: 'Внедрение системы Бережливого производства на российских предприятиях',
      coords: [47.887936, 40.067096],
    },
    {
      name: 'Норильск, окт 2019',
      description: 'Мультимедийный сценический художник. Художественно-постановочное видео. Видео на сцене',
      coords: [69.353869, 88.186153],
    },
    {
      name: 'Липецк, окт 2019',
      description: 'Вывод компанией продукта на европейский рынок. Сертификация ЕС. Запуск и поддержка продаж',
      coords: [52.612902, 39.596157],
    },
    {
      name: 'Челябинск, окт 2019',
      description: 'Успешный руководитель. Методы эффективного управления',
      coords: [55.167918, 61.423053],
    },
    {
      name: 'Кулебаки, окт 2019',
      description: 'Технолог-термист',
      coords: [55.420243, 42.526421],
    },
    {
      name: 'Рыбинск, окт 2019',
      description: 'Комплексная диагностика технологического уровня предприятия. Аудит производства и технологических процессов',
      coords: [58.057469, 38.815666],
    },
    {
      name: 'Симферополь, окт 2019',
      description: 'Экспертиза сметной документации в строительстве: сложные вопросы и практические рекомендации',
      coords: [44.950158, 34.107157],
    },
    {
      name: 'Усолье-Сибирское, окт 2019',
      description: 'Швейное производство в современных условиях',
      coords: [52.768254, 103.626844],
    }
  ];