-
  hotelsArchive = [
    {
      name: 'Отель «Династия»',
      address: 'ул. Рубинштейна, д. 29/28',
      metro: 'м. Достоевская',
      coords: [59.926843, 30.342106],
      slug: 'dinasty',
      distance: '5,1 км',
      registrationNumber: '550004319',
      legalInfo: 'ООО «Особняк». ОГРН 1057813101818, erid:2Vtzqv6k2du',
      food: 'завтрак шведский стол',
      features: [
        {name: '<span class="x2hide">утренний </span>трансфер <span class="n2hide">утром </span>в подарок', icon: 'hand'}
      ],
      description: 'Отель расположен на Пяти углах, имеет сертификаты качества. В оформлении интерьера использованы геральдические символы знатных родов Российской империи и Европы. В отеле более 80-ти номеров.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09:00 и к 10:00).'
      ],
      images: [
        {src: 'img/hotels/dinasty1@2.4x.webp', thumb: 'img/hotels/dinasty1@1.8x.webp'},
        {src: 'img/hotels/dinasty2@2.4x.webp', thumb: 'img/hotels/dinasty2@1.8x.webp'},
        {src: 'img/hotels/dinasty3@2.4x.webp', thumb: 'img/hotels/dinasty3@1.8x.webp'},
        {src: 'img/hotels/dinasty4@2.4x.webp', thumb: 'img/hotels/dinasty4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Комфорт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 1 августа', '9200&nbsp;₽&nbsp;/ 9800&nbsp;₽', '9500&nbsp;₽&nbsp;/ 10100&nbsp;₽'],
          ['2 августа – 5 сентября', '8400&nbsp;₽&nbsp;/ 9000&nbsp;₽', '8700&nbsp;₽&nbsp;/ 9300&nbsp;₽']
        ]
      }
    },
    {
      name: 'Гостевой дом «Демидов»',
      address: 'Средний пр. В.О., д. 28/29',
      metro: 'м. Василеостровская',
      coords: [59.943202, 30.279393],
      slug: 'demidov',
      distance: '350 м',
      registrationNumber: '550006397',
      food: 'континентальный завтрак',
      description: 'Гостевой дом находится в 2 минутах ходьбы от ЦНТИ ПРОГРЕСС. Он расположен на третьем этаже жилого здания XIX века, имеющем историческую ценность.',
      images: [
        {src: 'http://img.cntiprogress.ru/file/ivksenia/demidov-1.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/demidov-1_min.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/demidov-5.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/demidov-5_min.jpg'},        
        {src: 'img/hotels/demidov3@2.4x.webp', thumb: 'img/hotels/demidov3@1.8x.webp'},
        {src: 'img/hotels/demidov4@2.4x.webp', thumb: 'img/hotels/demidov4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Комфорт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Эконом', subtitle: '1-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 1 августа', '6000&nbsp;₽&nbsp;/ 6000&nbsp;₽', '6800&nbsp;₽&nbsp;/ 6800&nbsp;₽', '5000&nbsp;₽'],
          ['2 – 29 августа', '5200&nbsp;₽&nbsp;/ 5200&nbsp;₽', '5800&nbsp;₽&nbsp;/ 5800&nbsp;₽', '4200&nbsp;₽']
        ]
      }
    },
    {
      name: 'Отель «Сапфир»',
      address: 'Невский пр-т, д. 50',
      metro: 'м. Гостинный двор',
      coords: [59.935303, 30.334905],
      slug: 'saphire',
      distance: '5,7 км',
      registrationNumber: '550013384',
      food: 'завтрак шведский стол',
      description: 'Новый отель в сердце Санкт-Петербурга на пересечении Невского проспекта и Садовой улицы. Напротив отеля расположена станция метро «Гостиный двор/Невский проспект».',
      images: [
        {src: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire2.jpg', thumb: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire2-s.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/saphir3.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/saphir3_s.jpg'},
        {src: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire3.jpg', thumb: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire3-s.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/saphir2new.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/saphir2new_s.jpg'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-мест<span class="x4hide">ный</span>'},
          {title: 'Стандарт', subtitle: '2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 31 июля', '11000&nbsp;₽', '11000&nbsp;₽']
        ]
      }
    },
    {
      name: 'Отель «Марко Поло»',
      address: '12-я линия В.О., д. 27',
      metro: 'м. Василеостровская',
      coords: [59.940149, 30.272204],
      slug: 'marko',
      distance: '350 м',
      registrationNumber: '550009170',
      food: 'завтрак шведский стол',
      description: 'Бутик-отель в стиле «Старый Петербург», расположен 5 минутах пешей прогулки до ЦНТИ «ПРОГРЕСС». В отеле есть ресторан с роскошным камином, уютный бар и небольшая сауна.',
      images: [
        {src: 'img/hotels/marko1@2.4x.webp', thumb: 'img/hotels/marko1@1.8x.webp'},
        {src: 'img/hotels/marko2@2.4x.webp', thumb: 'img/hotels/marko2@1.8x.webp'},
        {src: 'img/hotels/marko3@2.4x.webp', thumb: 'img/hotels/marko3@1.8x.webp'},
        {src: 'img/hotels/marko4@2.4x.webp', thumb: 'img/hotels/marko4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-мест<span class="x4hide">ный</span>'},
          {title: 'Стандарт', subtitle: '2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 1 августа', '8000&nbsp;₽', '9000&nbsp;₽'],
          ['2 – 29 августа', '7500&nbsp;₽', '8500&nbsp;₽']
        ]
      }
    },
    {
      name: 'Отель «Арт Нуво»',
      address: '17-я линия В.О., д. 64',
      metro: 'м. Достоевская',
      coords: [59.945582, 30.258178],
      slug: 'nuvo',
      distance: '1,6 км',
      registrationNumber: '550012431',
      food: 'завтрак шведский стол',
      features: [
        {name: '<span class="x2hide">утренний </span>трансфер <span class="n2hide">утром </span>в подарок', icon: 'hand'}
      ],
      description: 'Расположен в исторической части Петербурга на Васильевском острове рядом с часовней святой Ксении Петербургской. В отеле 5 этажей, есть ресторан и собственная парковка.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09-00 и к 10-00).'
      ],
      images: [
        {src: 'img/hotels/nuvo1@2.4x.webp', thumb: 'img/hotels/nuvo1@1.8x.webp'},
        {src: 'img/hotels/nuvo2@2.4x.webp', thumb: 'img/hotels/nuvo2@1.8x.webp'},
        {src: 'img/hotels/nuvo3@2.4x.webp', thumb: 'img/hotels/nuvo3@1.8x.webp'},
        {src: 'img/hotels/nuvo4@2.4x.webp', thumb: 'img/hotels/nuvo4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-мест<span class="x4hide">ный</span>'},
          {title: 'Стандарт', subtitle: '2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['31 мая – 4 июля', '5370&nbsp;₽', '6370&nbsp;₽'],
          ['5 июля – 15 августа', '5370&nbsp;₽', '6070&nbsp;₽'],
          ['16 августа – 5 сентября', '4270&nbsp;₽', '4570&nbsp;₽']
        ]
      }
    },
    {
      name: 'Отель «SOCASTLE Васильевский»',
      address: '14-я линия В.О., д. 25/27',
      metro: 'м. Василеостровская',
      coords: [59.938134, 30.271315],
      slug: 'castle',
      distance: '800 м',
      registrationNumber: '550007070',
      food: 'завтрак шведский стол',
      description: 'Отель на 16 номеров. Расположен в исторической части Петербурга, в 8 минутах ходьбы от ЦНТИ ПРОГРЕСС. В отеле 3 этажа, верхний из которых мансардный.',
      images: [
        {src: 'img/hotels/castle1@2.4x.webp', thumb: 'img/hotels/castle1@1.8x.webp'},
        {src: 'img/hotels/castle2@2.4x.webp', thumb: 'img/hotels/castle2@1.8x.webp'},
        {src: 'img/hotels/castle3@2.4x.webp', thumb: 'img/hotels/castle3@1.8x.webp'},
        {src: 'img/hotels/castle4@2.4x.webp', thumb: 'img/hotels/castle4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Улучшен<span class="x4hide">ный</span>', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 1 августа', '6900&nbsp;₽&nbsp;/ 7600&nbsp;₽', '8400&nbsp;₽&nbsp;/ 8400&nbsp;₽'],
          ['2 – 29 августа', '5900&nbsp;₽&nbsp;/ 6700&nbsp;₽', '7200&nbsp;₽&nbsp;/ 7200&nbsp;₽']
        ]
      }
    },
    {
      name: 'Отель «Матрикс»',
      address: 'Большой проспект В.О., д. 20',
      metro: 'м. Василеостровская',
      coords: [59.938739, 30.283160],
      slug: 'matix',
      distance: '750 м',
      registrationNumber: '550017721',
      food: 'континентальный завтрак',
      description: 'Отель находится в исторической части города в 7 минутах ходьбы до ЦНТИ ПРОГРЕСС.  Отель располагается на втором этаже здания с отдельным входом, на первом этаже находится уютный ресторан “Таверна Гролле”.',
      images: [
        {src: 'img/hotels/matix1@2.4x.webp', thumb: 'img/hotels/matix1@1.8x.webp'},
        {src: 'img/hotels/matix2@2.4x.webp', thumb: 'img/hotels/matix2@1.8x.webp'},
        {src: 'img/hotels/matix3@2.4x.webp', thumb: 'img/hotels/matix3@1.8x.webp'},
        {src: 'img/hotels/matix4@2.4x.webp', thumb: 'img/hotels/matix4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Комфорт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Эконом', subtitle: '1-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 1 августа', '6500&nbsp;₽&nbsp;/ 6500&nbsp;₽', '7200&nbsp;₽&nbsp;/ 7200&nbsp;₽', '5500&nbsp;₽'],
          ['2 – 29 августа', '5800&nbsp;₽&nbsp;/ 5800&nbsp;₽', '6400&nbsp;₽&nbsp;/ 6400&nbsp;₽', '5000&nbsp;₽']
        ]
      }
    },
    {
      name: 'River Palace Hotel',
      address: '2-я линия В.О., 61/30 лит Набережная Макарова, 30',
      metro: 'м. Спортивная-2',
      coords: [59.9487223, 30.2774494],
      slug: 'river',
      distance: '1,3 км',
      registrationNumber: '220000114',
      food: 'завтрак шведский стол',
      features: [
        {name: '<span class="x2hide">утренний </span>трансфер <span class="n2hide">утром </span>в подарок', icon: 'hand'}
      ],
      description: 'River Palace Hotel – это новый, изысканный бизнес-отель, расположившийся в величественном историческом здании на набережной Макарова, с великолепным видом на Неву, стадион Петровский и башню Лахта Центра.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09-00 и к 10-00).'
      ],
      images: [
        {src: 'http://img.cntiprogress.ru/Image/hotels/river/river1.jpg', thumb: 'http://img.cntiprogress.ru/Image/hotels/river/river1_s.jpg'},
        {src: 'img/hotels/river2@2.4x.webp', thumb: 'img/hotels/river2@1.8x.webp'},
        {src: 'img/hotels/river3@2.4x.webp', thumb: 'img/hotels/river3@1.8x.webp'},      
        {src: 'http://img.cntiprogress.ru/Image/hotels/river/river2.jpg', thumb: 'http://img.cntiprogress.ru/Image/hotels/river/river2_s.jpg'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт вид на город', subtitle: '1-мест<span class="x4hide">ный</span>'},
          {title: 'Стандарт вид на город', subtitle: '2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['7 июня – 29 августа', '9600&nbsp;₽', '10600&nbsp;₽']
        ]
      }
    },
    {
      name: 'GRAND CATHERINE PALACE HOTEL',
      address: 'Невский проспект, д. 32-34',
      metro: 'м. Невский проспект',
      coords: [59.935393, 30.32832],
      slug: 'catherine',
      distance: '4 км',
      registrationNumber: '550016301',
      food: 'завтрак шведский стол',
      description: 'Отель расположен в тихом уютном дворике католического храма Базилики Св. Екатерины Александрийской, в самом сердце Санкт-Петербурга.',
      images: [
        {src: 'img/hotels/catherine1@2.4x.webp', thumb: 'img/hotels/catherine1@1.8x.webp'},
        {src: 'img/hotels/catherine2@2.4x.webp', thumb: 'img/hotels/catherine2@1.8x.webp'},
        {src: 'img/hotels/catherine3@2.4x.webp', thumb: 'img/hotels/catherine3@1.8x.webp'},
        {src: 'img/hotels/catherine4@2.4x.webp', thumb: 'img/hotels/catherine4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          //- {title: 'номер первой категории', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'смарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          //- ['28 июня – 5 сентября', '–', '7800&nbsp;₽&nbsp;/ 9400&nbsp;₽', '8300&nbsp;₽&nbsp;/ 9900&nbsp;₽'],
          ['28 июня – 5 сентября', '7800&nbsp;₽&nbsp;/ 9400&nbsp;₽', '8300&nbsp;₽&nbsp;/ 9900&nbsp;₽'],
        ]
      }
    },
    { 
      name: 'Mirum Hotel',
      address: 'Невский проспект, д. 53 лит Я',
      metro: 'м. Маяковская',
      coords: [59.931715, 30.349492],
      slug: 'mirum',
      distance: '5,5 км',
      food: 'континентальный завтрак',
      description: '«Mirum Hotel» находится в самом центре исторического Санкт-Петербурга. Рядом с отелем расположены основные достопримечательности города, музеи, а также знаменитая улица Рубинштейна с множеством ресторанов.',
      images: [
        {src: 'img/hotels/mirum1@2.4x.webp', thumb: 'img/hotels/mirum1@1.8x.webp'},
        {src: 'img/hotels/mirum2@2.4x.webp', thumb: 'img/hotels/mirum2@1.8x.webp'},
        {src: 'img/hotels/mirum3@2.4x.webp', thumb: 'img/hotels/mirum3@1.8x.webp'},
        {src: 'img/hotels/mirum4@2.4x.webp', thumb: 'img/hotels/mirum4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Комфорт', subtitle: '1&nbsp;/ 2-мест<span class="x4hide">ный</span>'},
          {title: 'Эконом', subtitle: '1-мест<span class="x4hide">ный</span>'}
        ],
        rows: [
          ['28 июня – 31 июля', '8500&nbsp;₽&nbsp;/ 8500&nbsp;₽', '–', '–']
        ]
      }
    }
  ];