-
  hotelsArchive = [
    {
      name: 'Отель «Династия»',
      address: 'ул. Рубинштейна, д. 29/28',
      coords: [59.926843, 30.342106],
      slug: 'dinasty',
      distance: '5,1 км',
      registrationNumber: '550004319',
      legalInfo: 'ООО «Особняк». ОГРН 1057813101818, erid:2Vtzqv6k2du',
      features: [
        {name: 'завтрак <br>шведский стол', icon: 'food'},
        {name: 'утренний трансфер<br>в подарок', icon: 'hand'}
      ],
      description: [
        'Отель «Династия» расположен на Пяти углах, имеет сертификаты качества Trip Advisor 2013, 2015 и 2016 года. В оформлении интерьера использованы геральдические символы знатных родов Российской империи и Европы. В отеле более 80-ти номеров. Все номера оснащены: телефон, спутниковое ТВ, душевая кабина, махровые халаты, фен, банные принадлежности, сейф, Wi-Fi, холодильник, кондиционер.',
      ],
      info: [
        'При бронировании через ЦНТИ Прогресс трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ Прогресс к 09:00 и к 10:00).',
      ],
      price: {
        head: [
          {
            title: 'Даты проживания',
          },
          {
            title: 'Стандарт',
            subtitle: '<nobr>1-местный</nobr> / <nobr>2-местный</nobr>',
          },
          {
            title: 'Комфорт',
            subtitle: '<nobr>1-местный</nobr> / <nobr>2-местный</nobr>',
          },
        ],
        rows: [
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
        ],
      },
    },
    {
      name: 'Гостевой дом «Демидов»',
      address: 'Средний пр. В.О., д. 28/29',
      coords: [59.943202, 30.279393],
      slug: 'demidov',
      distance: '350 м',
      registrationNumber: '550006397',
      features: [
        {name: 'завтрак <br>шведский стол', icon: 'food'}
      ],
      description: [
        'Гостевой дом располагается в 2 минутах ходьбы от ЦНТИ Прогресс. Гостевой дом расположен в здании XIX века, имеющем историческую ценность. Кровать с ортопедическим матрасом, телевизор, письменный стол, большое зеркало, отдельная ванная комната с душем, банные принадлежности, высокоскоростной Wi-Fi.',
      ],
      price: {
        head: [
          {
            title: 'Даты проживания',
          },
          {
            title: 'Эконом',
            subtitle: '<span class="x4hide"><nobr>1-местный</nobr></span><span class="n4hide"><nobr>1-мест.<?nob/></span>',
            //- class: 'narrow',
          },
          {
            title: 'Стандарт',
            subtitle: '<span class="x4hide"><nobr>1-местный</nobr> / <nobr>2-местный</nobr></span><span class="n4hide"><nobr>1-мест.</nobr> / <nobr>2-местный</nobr></span>',
          },
          {
            title: 'Комфорт',
            subtitle: '<span class="x4hide"><nobr>1-местный</nobr> / <nobr>2-местный</nobr></span><span class="n4hide"><nobr>1-мест.</nobr> / <nobr>2-местный</nobr></span>',
          },
        ],
        rows: [
          ['12 января – 15 февраля', '3600&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 – 15 февраля', '3600&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽', '3900&nbsp;₽ / 4500&nbsp;₽'],
        ],
      },
    },
    {
      name: 'Отель «Сапфир»',
      address: 'Невский пр-т, д. 50',
      coords: [59.935303, 30.334905],
      slug: 'saphire',
      distance: '5,1 км',
      registrationNumber: '550013384',
      features: [
        {name: 'завтрак <br>шведский стол', icon: 'food'}
      ],
      description: [
        'Новый отель в сердце Санкт-Петербурга на пересечении Невского проспекта и Садовой улицы. Напротив отеля расположена станция метро «Гостиный двор/Невский проспект». В номере две односпальные или одна двуспальная кровать, тумбочки, письменный стол со стулом, ТВ, кондиционер, телефон, сейф, санузел. Гостям предоставляются туалетные принадлежности, полотенца, тапочки.',
      ],
      price: {
        head: [
          {
            title: 'Даты проживания',
            //- class: 'wide',
          },
          {
            title: 'Стандарт',
            subtitle: '<nobr>1-местный</nobr> / <nobr>2-местный</nobr>',
            //- class: 'wide',
          },
        ],
        rows: [
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽'],
          ['12 – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽'],
          ['12 января – 15 февраля', '3600&nbsp;₽ / 4200&nbsp;₽'],
        ],
      },
    },
    {
      name: 'Отель «Марко Поло»',
      address: '12-я линия В.О., д. 27',
      coords: [59.940149, 30.272204],
      slug: 'marko',
    },
    {
      name: 'Отель «Арт Нуво»',
      address: '17-я линия В.О., д. 64',
      coords: [59.945582, 30.258178],
      slug: 'nuvo',
    },
    {
      name: 'Отель «Касл»',
      address: '14-я линия В.О., д. 25/27',
      coords: [59.938134, 30.271315],
      slug: 'castle',
    },
    {
      name: 'Отель «Матрикс»',
      address: 'Большой проспект В.О., д. 20',
      coords: [59.938739, 30.283160],
      slug: 'matix',
    },
    {
      name: 'River Palace Hotel',
      address: '2-я линия В.О., 61/30 лит Набережная Макарова, д. 30',
      coords: [59.9487223, 30.2774494],
      slug: 'river',
    },
    {
      name: 'GRAND CATHERINE PALACE HOTEL',
      address: 'Невский проспект, д. 32-34',
      coords: [59.935393, 30.32832],
      slug: 'catherine',
    },
    {
      name: 'Отель «За Кулисами»',
      address: '11 линия В.О., д.54 лит А.',
      coords: [59.944256, 30.270027],
      slug: 'kulis',
    },
    {
      name: 'Отель «Арт на Репина»',
      address: '1 линия В.О., д.34',
      coords: [59.943964,30.287492],
      slug: 'art',
    },
    {
      name: 'Mirum Hotel',
      address: 'Невский проспект, д. 53 лит Я',
      coords: [59.931715,30.349492],
      slug: 'mirum',
    },
  ];