-
  hotelsArchive = [
    {
      name: 'Отель «Династия»',
      address: 'ул. Рубинштейна, д. 29/28',
      coords: [59.926843, 30.342106],
      slug: 'dinasty',
      distance: '5,1 км',
      registrationNumber: '550004319',
      legalInfo: 'ООО «Особняк». ОГРН 1057813101818, erid:2Vtzqv6k2du',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'},
        {name: 'утренний трансфер в подарок', icon: 'hand'}
      ],
      description: 'Отель расположен на Пяти углах, имеет сертификаты качества. В оформлении интерьера использованы геральдические символы знатных родов Российской империи и Европы. В отеле более 80-ти номеров.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09:00 и к 10:00).'
      ],
      images: [
        {src: 'img/hotels/dinasty1@2.4x.webp', thumb: 'img/hotels/dinasty1@1.8x.webp'},
        {src: 'img/hotels/dinasty2@2.4x.webp', thumb: 'img/hotels/dinasty2@1.8x.webp'},
        {src: 'img/hotels/dinasty3@2.4x.webp', thumb: 'img/hotels/dinasty3@1.8x.webp'},
        {src: 'img/hotels/dinasty4@2.4x.webp', thumb: 'img/hotels/dinasty4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-местный / 2-местный'},
          {title: 'Комфорт', subtitle: '1-местный / 2-местный'}
        ],
        rows: [
          ['31 мая – 27 июня', '9000 ₽ / 9600 ₽', '9300 ₽ / 9900 ₽'],
          ['28 июня – 1 августа', '9200 ₽ / 9800 ₽', '9500 ₽ / 10100 ₽'],
          ['2 августа – 5 сентября', '8400 ₽ / 9000 ₽', '8700 ₽ / 9300 ₽']
        ]
      }
    },
    {
      name: 'Гостевой дом «Демидов»',
      address: 'Средний пр. В.О., д. 28/29',
      coords: [59.943202, 30.279393],
      slug: 'demidov',
      distance: '350 м',
      registrationNumber: '550006397',
      features: [
        {name: 'континентальный завтрак', icon: 'food'}
      ],
      description: 'Гостевой дом находится в 2 минутах ходьбы от ЦНТИ ПРОГРЕСС. Он расположен на третьем этаже жилого здания XIX века, имеющем историческую ценность.',
      images: [
        {src: 'http://img.cntiprogress.ru/file/ivksenia/demidov-1.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/demidov-1_min.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/demidov-5.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/demidov-5_min.jpg'},        
        {src: 'img/hotels/demidov3@2.4x.webp', thumb: 'img/hotels/demidov3@1.8x.webp'},
        {src: 'img/hotels/demidov4@2.4x.webp', thumb: 'img/hotels/demidov4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1 / 2-местный'},
          {title: 'Комфорт', subtitle: '1 / 2-местный'},
          {title: 'Эконом', subtitle: '1-местный'}
        ],
        rows: [
          ['7 – 27 июня', '7000 р./7000 р.', '8000 р./8000 р.', '6000 р.'],
          ['28 июня – 1 августа', '6000 р./6000 р.', '6800 р./6800 р.', '5000 р.'],
          ['2 – 29 августа', '5200 р./5200 р.', '5800 р./5800 р.', '4200 р.']
        ]
      }
    },
    {
      name: 'Отель «Сапфир»',
      address: 'Невский пр-т, д. 50',
      coords: [59.935303, 30.334905],
      slug: 'saphire',
      distance: '5,7 км',
      registrationNumber: '550013384',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'}
      ],
      description: 'Новый отель в сердце Санкт-Петербурга на пересечении Невского проспекта и Садовой улицы. Напротив отеля расположена станция метро «Гостиный двор/Невский проспект».',
      images: [
        {src: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire2.jpg', thumb: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire2-s.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/saphir3.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/saphir3_s.jpg'},
        {src: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire3.jpg', thumb: 'https://img.cntiprogress.ru/Image/hotels/saphire/saphire3-s.jpg'},
        {src: 'http://img.cntiprogress.ru/file/ivksenia/saphir2new.jpg', thumb: 'http://img.cntiprogress.ru/file/ivksenia/saphir2new_s.jpg'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-местный'},
          {title: 'Стандарт', subtitle: '2-местный'}
        ],
        rows: [
          ['31 мая – 27 июня', '13000 р.', '13000 р.'],
          ['28 июня – 31 июля', '11000 р.', '11000 р.']
        ]
      }
    },
    {
      name: 'Отель «Марко Поло»',
      address: '12-я линия В.О., д. 27',
      coords: [59.940149, 30.272204],
      slug: 'marko',
      distance: '350 м',
      registrationNumber: '550009170',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'}
      ],
      description: 'Бутик-отель в стиле «Старый Петербург», расположен 5 минутах пешей прогулки до ЦНТИ «ПРОГРЕСС». В отеле есть ресторан с роскошным камином, уютный бар и небольшая сауна.',
      images: [
        {src: 'img/hotels/marko1@2.4x.webp', thumb: 'img/hotels/marko1@1.8x.webp'},
        {src: 'img/hotels/marko2@2.4x.webp', thumb: 'img/hotels/marko2@1.8x.webp'},
        {src: 'img/hotels/marko3@2.4x.webp', thumb: 'img/hotels/marko3@1.8x.webp'},
        {src: 'img/hotels/marko4@2.4x.webp', thumb: 'img/hotels/marko4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-местный'},
          {title: 'Стандарт', subtitle: '2-местный'}
        ],
        rows: [
          ['7 – 27 июня', '9000 р.', '10000 р.'],
          ['28 июня – 1 августа', '8000 р.', '9000 р.'],
          ['2 – 29 августа', '7500 р.', '8500 р.']
        ]
      }
    },
    {
      name: 'Отель «Арт Нуво»',
      address: '17-я линия В.О., д. 64',
      coords: [59.945582, 30.258178],
      slug: 'nuvo',
      distance: '1,6 км',
      registrationNumber: '550012431',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'},
        {name: 'утренний трансфер в подарок', icon: 'hand'}
      ],
      description: 'Расположен в исторической части Петербурга на Васильевском острове рядом с часовней святой Ксении Петербургской. В отеле 5 этажей, есть ресторан и собственная парковка.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09-00 и к 10-00).'
      ],
      images: [
        {src: 'img/hotels/nuvo1@2.4x.webp', thumb: 'img/hotels/nuvo1@1.8x.webp'},
        {src: 'img/hotels/nuvo2@2.4x.webp', thumb: 'img/hotels/nuvo2@1.8x.webp'},
        {src: 'img/hotels/nuvo3@2.4x.webp', thumb: 'img/hotels/nuvo3@1.8x.webp'},
        {src: 'img/hotels/nuvo4@2.4x.webp', thumb: 'img/hotels/nuvo4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-местный'},
          {title: 'Стандарт', subtitle: '2-местный'}
        ],
        rows: [
          ['31 мая – 4 июля', '5370 р.', '6370 р.'],
          ['5 июля – 15 августа', '5370 р.', '6070 р.'],
          ['16 августа – 5 сентября', '4270 р.', '4570 р.']
        ]
      }
    },
    {
      name: 'Отель «SOCASTLE Васильевский»',
      address: '14-я линия В.О., д. 25/27',
      coords: [59.938134, 30.271315],
      slug: 'castle',
      distance: '800 м',
      registrationNumber: '550007070',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'}
      ],
      description: 'Отель на 16 номеров. Расположен в исторической части Петербурга, в 8 минутах ходьбы от ЦНТИ ПРОГРЕСС. В отеле 3 этажа, верхний из которых мансардный.',
      images: [
        {src: 'img/hotels/castle1@2.4x.webp', thumb: 'img/hotels/castle1@1.8x.webp'},
        {src: 'img/hotels/castle2@2.4x.webp', thumb: 'img/hotels/castle2@1.8x.webp'},
        {src: 'img/hotels/castle3@2.4x.webp', thumb: 'img/hotels/castle3@1.8x.webp'},
        {src: 'img/hotels/castle4@2.4x.webp', thumb: 'img/hotels/castle4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1-местный / 2-местный'},
          {title: 'Улучшенный', subtitle: '1-местный / 2-местный'}
        ],
        rows: [
          ['7 – 27 июня', '7900 р./8900 р.', '9500 р./9500 р.'],
          ['28 июня – 1 августа', '6900 р./7600 р.', '8400 р./8400 р.'],
          ['2 – 29 августа', '5900 р./6700 р.', '7200 р./7200 р.']
        ]
      }
    },
    {
      name: 'Отель «Матрикс»',
      address: 'Большой проспект В.О., д. 20',
      coords: [59.938739, 30.283160],
      slug: 'matix',
      distance: '750 м',
      registrationNumber: '550017721',
      features: [
        {name: 'континентальный завтрак', icon: 'food'}
      ],
      description: 'Отель находится в исторической части города в 7 минутах ходьбы до ЦНТИ ПРОГРЕСС.  Отель располагается на втором этаже здания с отдельным входом, на первом этаже находится уютный ресторан “Таверна Гролле”.',
      images: [
        {src: 'img/hotels/matix1@2.4x.webp', thumb: 'img/hotels/matix1@1.8x.webp'},
        {src: 'img/hotels/matix2@2.4x.webp', thumb: 'img/hotels/matix2@1.8x.webp'},
        {src: 'img/hotels/matix3@2.4x.webp', thumb: 'img/hotels/matix3@1.8x.webp'},
        {src: 'img/hotels/matix4@2.4x.webp', thumb: 'img/hotels/matix4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '2-местный'},
          {title: 'Комфорт', subtitle: '1 / 2-местный'},
          {title: 'Эконом', subtitle: '1-местный'}
        ],
        rows: [
          ['7 – 27 июня', '8000 р./8000 р.', '9000 р./9000 р.', '7000 р.'],
          ['28 июня – 1 августа', '6500 р./6500 р.', '7200 р./7200 р.', '5500 р.'],
          ['2 – 29 августа', '5800 р./5800 р.', '6400 р./6400 р.', '5000 р.']
        ]
      }
    },
    {
      name: 'River Palace Hotel',
      address: '2-я линия В.О., 61/30 лит Набережная Макарова, 30',
      coords: [59.9487223, 30.2774494],
      slug: 'river',
      distance: '1,3 км',
      registrationNumber: '220000114',
      features: [
        {name: 'завтрак шведский стол', icon: 'food'},
        {name: 'утренний трансфер в подарок', icon: 'hand'}
      ],
      description: 'River Palace Hotel – это новый, изысканный бизнес-отель, расположившийся в величественном историческом здании на набережной Макарова, с великолепным видом на Неву, стадион Петровский и башню Лахта Центра.',
      info: [
        'При бронировании через ЦНТИ ПРОГРЕСС трансфер от гостиницы до учебного центра по рабочим дням в подарок (трансфер прибывает к ЦНТИ ПРОГРЕСС к 09-00 и к 10-00).'
      ],
      images: [
        {src: 'http://img.cntiprogress.ru/Image/hotels/river/river1.jpg', thumb: 'http://img.cntiprogress.ru/Image/hotels/river/river1_s.jpg'},
        {src: 'img/hotels/river2@2.4x.webp', thumb: 'img/hotels/river2@1.8x.webp'},
        {src: 'img/hotels/river3@2.4x.webp', thumb: 'img/hotels/river3@1.8x.webp'},      
        {src: 'http://img.cntiprogress.ru/Image/hotels/river/river2.jpg', thumb: 'http://img.cntiprogress.ru/Image/hotels/river/river2_s.jpg'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт вид на город', subtitle: '(1 — местный)'},
          {title: 'Стандарт вид на город', subtitle: '(2 — местный)'}
        ],
        rows: [
          ['7 июня – 29 августа', '9600 р.', '10600 р.']
        ]
      }
    },
    {
      name: 'GRAND CATHERINE PALACE HOTEL',
      address: 'Невский проспект, д. 32-34',
      coords: [59.935393, 30.32832],
      slug: 'catherine',
      distance: '4 км',
      registrationNumber: '550016301',
      features: [
        {name: 'завтрак «шведский стол»', icon: 'food'}
      ],
      description: 'Отель расположен в тихом уютном дворике католического храма Базилики Св. Екатерины Александрийской, в самом сердце Санкт-Петербурга.',
      images: [
        {src: 'img/hotels/catherine1@2.4x.webp', thumb: 'img/hotels/catherine1@1.8x.webp'},
        {src: 'img/hotels/catherine2@2.4x.webp', thumb: 'img/hotels/catherine2@1.8x.webp'},
        {src: 'img/hotels/catherine3@2.4x.webp', thumb: 'img/hotels/catherine3@1.8x.webp'},
        {src: 'img/hotels/catherine4@2.4x.webp', thumb: 'img/hotels/catherine4@1.8x.webp'},
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'номер первой категории', subtitle: '(1/2 — местный)'},
          {title: 'смарт', subtitle: '(1/2 — местный)'},
          {title: 'стандарт', subtitle: '(1/2 — местный)'}
        ],
        rows: [
          ['7 – 27 июня', '9300/10800 р.', '–', '–'],
          ['28 июня – 5 сентября', '–', '7800/9400 р.', '8300/9900 р.']
        ]
      }
    },
    { 
      name: 'Mirum Hotel',
      address: 'Невский проспект, д. 53 лит Я',
      coords: [59.931715, 30.349492],
      slug: 'mirum',
      distance: '5,5 км',
      features: [
        {name: 'континентальный завтрак', icon: 'food'}
      ],
      description: '«Mirum Hotel» находится в самом центре исторического Санкт-Петербурга. Рядом с отелем расположены основные достопримечательности города, музеи, а также знаменитая улица Рубинштейна с множеством ресторанов.',
      images: [
        {src: 'img/hotels/mirum1@2.4x.webp', thumb: 'img/hotels/mirum1@1.8x.webp'},
        {src: 'img/hotels/mirum2@2.4x.webp', thumb: 'img/hotels/mirum2@1.8x.webp'},
        {src: 'img/hotels/mirum3@2.4x.webp', thumb: 'img/hotels/mirum3@1.8x.webp'},
        {src: 'img/hotels/mirum4@2.4x.webp', thumb: 'img/hotels/mirum4@1.8x.webp'}
      ],
      price: {
        head: [
          {title: 'Даты проживания'},
          {title: 'Стандарт', subtitle: '1 / 2-местный'},
          {title: 'Комфорт', subtitle: '1 / 2-местный'},
          {title: 'Эконом', subtitle: '1-местный'}
        ],
        rows: [
          ['7 – 27 июня', '10000 р./10000 р.', '11500 р./11500 р.', '8000 р.'],
          ['28 июня – 31 июля', '8500 р./8500 р.', '–', '–']
        ]
      }
    }
  ];