-
  partnersArchive = [
    {
      img: 'http://img.cntiprogress.ru/image/Partners/14banner_150X100.gif',
      name: '1-4.by',
      desc: 'Информационно-методический сайт для учителей начальной школы и родителей младших школьников',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/4banket_logo.png',
      name: '4banket.ru',
      desc: 'Поисковая система по банкетным площадкам',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/logo2.png',
      name: '4HR.ru',
      desc: '',
      category: ['Управление персоналом', 'personal'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo/ano-dpo-log.png',
      name: 'АНО ДПО «ЦНТИ «Прогресс»',
      desc: '',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/archivekeeping.PNG',
      name: 'Архивное делопроизводство',
      desc: 'Законодательство об архивном деле, обзоры судебной практики, инструкции и методические рекомендации, аналитические и практические статьи',
      category: ['Делопроизводство, АХО', 'aho'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/aiteh.PNG',
      name: 'Архивные Информационные Технологии',
      desc: '',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/abkr.JPG',
      name: 'Ассоциация Брендинговых Компаний России',
      desc: 'Организация и PR деловых мероприятий',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/akmp.jpg',
      name: 'Ассоциация директоров по коммуникациям и корпоративным медиа России (АКМР)',
      desc: 'Единая площадка руководителей в области коммуникаций, маркетинга и корпоративной культуры',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/ТСЖ.jpg',
      name: 'Ассоциация ТСЖ и ЖСК',
      desc: '',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/associaciya_klinik(3).jpg',
      name: 'Ассоциация частных клиник Санкт-Петербурга',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'https://img.promportal.su/img/logo.svg',
      name: 'Бизнес-каталог производителей и поставщиков оборудования и спецтехники',
      desc: '',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/blogfisca.bmp',
      name: 'Блог Фискала',
      desc: 'Информационный блог, посвященный вопросам налогообложения, налоговых проверок и налоговых споров',
      category: ['Экономика, финансы', 'economy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/nedropolzovanie-v-rossii.jpg',
      name: 'Бюллетень «Недропользование в России»',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/socialnaya-politika.jpg',
      name: 'Газета Социальная политика: Медицинское обозрение',
      desc: 'Федеральное издание для работников органов власти и руководителей организаций',
      category: ['СМИ', 'smi'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/pechatnoe-delo-logo.gif',
      name: 'Газета «Печатное дело»',
      desc: '',
      category: ['СМИ', 'smi'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/geoinformmark.jpg',
      name: 'Геоинформмарк',
      desc: '',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/onkologicheskiy-dispanser.jpg',
      name: 'Городской клинический онкологический диспансер',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/dpp.JPG',
      name: 'Директор по персоналу',
      desc: 'Журнал для директоров по персоналу',
      category: ['Управление персоналом', 'personal'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/elizavetinskaya-bolnica.jpg',
      name: 'Елизаветинская больница',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/show-master.jpg',
      name: 'Журнал Шоу-Мастер',
      desc: 'Журнал о профессиональной шоу-технике',
      category: ['Культура', 'culture'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/O_FUTINLglU.jpg',
      name: 'Журнал «Аккредитация в образовании»',
      desc: 'Новости учебных заведений. Аналитические материалы. Мнение экспертов',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/BS-logo.gif',
      name: 'Журнал «Бассейны и сауны»',
      desc: 'Популярное издание посвящено вопросам проектирования, строительства, оборудования и дизайна бассейнов, саун, бань, веллнесс- и спа-зон',
      category: ['Строительство', 'building'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/geologiya-nefti-i-gaza.jpg',
      name: 'Журнал «Геология нефти и газа»',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/KKR_logo-300.png',
      name: 'Журнал «Коммунальный комплекс России»',
      desc: '',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/menedzher-zdravoohraneniya.jpg',
      name: 'Журнал «Менеджер здравоохранения»',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/mineralnie-resursi-rossii.jpg',
      name: 'Журнал «Минеральные ресурсы России. Экономика и управление»',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/novosti-marketinga.jpg',
      name: 'Журнал «Новости маркетинга»',
      desc: '',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/press-sluzhba.jpg',
      name: 'Журнал «Пресс-служба»',
      desc: '',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/promishlenniy-marketing.jpg',
      name: 'Журнал «Промышленный маркетинг»',
      desc: '',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/nalogoviy-kuryer.jpg',
      name: 'Журнал «Российский налоговый курьер»',
      desc: '',
      category: ['Экономика, финансы', 'economy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/sfera.jpg',
      name: 'Журнал «Сфера»',
      desc: '',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/upravlenie-sbitom.jpg',
      name: 'Журнал «Управление сбытом»',
      desc: '',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://au-journal.ru/pct/60red.gif',
      name: 'Журнал Арбитражный управляющий. Финансовое оздоровление предприятий',
      desc: 'Территория неформального общения юристов на самые актуальные темы',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/zaglushka_obrazovanie.jpg',
      name: 'Знания-сила',
      desc: 'Образовательный информационный проект',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/toys-segment_logo.jpg',
      name: 'Игрушки.Сегмент.Ру',
      desc: 'Информационный B2B портал об индустрии игрушек',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/profobr.png',
      name: 'Интернет - издание Профобразование',
      desc: 'Официально зарегистрированное средство массовой информации',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logotype.png',
      name: 'Интернет-журнал «Директор салона красоты»',
      desc: 'Cпециализированный b2b-ресурс для профессионалов красивого бизнеса',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/cleanlogo2.gif',
      name: 'Информационно-справочный портал по клинингу (cleaning) в России',
      desc: '',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/mfc(1).jpg',
      name: 'Информационный портал МФЦ.рф',
      desc: 'Многофункциональные центры организации предоставления государственных и муниципальных услуг РФ',
      category: ['Госуправление', 'gos'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/RURETAIL.jpg',
      name: 'Информационный портал о розничной торговле в России',
      desc: '',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/allcafe.png',
      name: 'Информационный портал Allcafe.ru',
      desc: 'Крупнейший Интернет-проект, посвященный ресторанам и гостиницам',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/delo-ved%20ru%20(2).gif',
      name: 'Информационный ресурс о делопроизводстве',
      desc: 'Мы помогаем работать с документами более 200 тыс. посетителям в месяц',
      category: ['Делопроизводство, АХО', 'aho'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/it-media.JPG',
      name: 'ИТ Медиа',
      desc: 'Организаторы форумов "Вокруг IP", "Вокруг ЦОД", "Бизнес и ИТ" и других',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/cable-logo.jpg',
      name: 'Кабель.РФ',
      desc: 'Один из ведущих поставщиков электротехнической продукции на российском рынке',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/kdelo.JPG',
      name: 'Кадровое дело',
      desc: '',
      category: ['Управление персоналом', 'personal'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/kmru.jpg',
      name: 'Каталог минералов',
      desc: 'Все о драгоценных камнях и минералах',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/logoDS.png',
      name: 'Каталог частных детских садов',
      desc: 'Удобный поиск, фильтрация по стоимости и отзывы родителей',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/klineri(1).jpg',
      name: 'Клининговая социальная сеть Клинеры.рф',
      desc: '',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/122.jpg',
      name: 'Клиническая больница №122 им. Л.Г.Соколова',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logist_ru-graphic.png',
      name: 'Клуб Логистов',
      desc: 'Профессиональное интернет-сообщество руководителей и специалистов по логистике',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo_zdanie info.png',
      name: 'Коммерческая недвижимость Москвы и регионов России ZDANIE.INFO',
      desc: 'Уникальный портал офисной недвижимости',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Logo_T8R_c_small.jpg',
      name: 'Компания «Т8» (www.t8.ru)',
      desc: 'Лидер по разработке и внедрению DWDM-систем в России и странах СНГ',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/%D0%A1%D0%B0%D0%B9%D1%82%20%D0%BE%20%D0%BB%D0%BE%D0%B3%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B5%20LL%20100%D1%8550.gif',
      name: 'Компания Лобанов-Логист',
      desc: 'Консалтинговая логистическая компания, специализирующаяся на сложных логистических практических проектах и аудитах',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/logo_egotranslating.jpg',
      name: 'Компания ЭГО Транслейтинг',
      desc: 'Комплексное лингвистическое сопровождение',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Ascreen_logo_draw.jpg',
      name: 'Компания Ascreen',
      desc: 'Специализируется на комплексном мультимедийном оснащении и интерактивных инсталляциях',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/KMIS.JPG',
      name: 'Комплексные медицинские информационные системы',
      desc: 'Отраслевой портал по безопасности',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/coris.jpg',
      name: 'КОРИС ассистанс (Санкт-Петербург)',
      desc: 'Крупнейшая частная Скорая помощь в России',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo/wood-logo.png',
      name: 'Лесная промышленность',
      desc: 'Вся лесная промышленность на одном сайте',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/MI-LOGO-Light-grey1.jpg',
      name: 'Майнинг-инфо',
      desc: 'Новости горной промышленности',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/mariinskaya-bolnica.jpg',
      name: 'Мариинская больница',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://www.mashport.ru/img/btn_mashport.png',
      name: 'Машиностроительный портал МашПорт.ru',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Grata_international.jpg',
      name: 'Международная юридическая фирма. GRATA International',
      desc: 'Legal Studio оказывает юридические услуги бизнесу',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/proektant.jpg',
      name: 'Международные форумы ПРОЕКТАНТ',
      desc: '',
      category: ['Строительство', 'building'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/medicinskiy-centr-sogaz.jpg',
      name: 'Международный медицинский центр «СОГАЗ»',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/baner.gif',
      name: 'Метрологическое обеспечение производства. АРМ Метролог',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/nikolaevskaya-bolnica.jpg',
      name: 'Николаевская больница',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/nko(1).jpg',
      name: 'НКО портал',
      desc: 'Новости о работе НКО, каталог НКО, гранты, конкурсы, вакансии',
      category: ['Госуправление', 'gos'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/NT_gor.jpg',
      name: 'Новости теплоснабжения',
      desc: 'Научно-технический журнал для профессионалов-теплоэнергетиков',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/partners/portal_vneshkolnik.png',
      name: 'Образовательный портал',
      desc: 'Оренбургский областной Дворец творчества детей и молодёжи им. В.П. Поляничко',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo98436.jpg',
      name: 'ООО РСК ГОРОД',
      desc: '',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo_alee.jpg',
      name: 'ООО «АЛЕЕ СОФТВЕР»',
      desc: 'Разработка и внедрение тиражируемого и заказного ПО',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo/pc-logo.png',
      name: 'ООО «Прогресс ЦЕНТР»',
      desc: '',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo/reg-logo.png',
      name: 'ООО «Регион»',
      desc: '',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/telekom.jpg',
      name: 'ООО «Телеком-проект»',
      desc: 'Проектирование, строительство и эксплуатация сетей и отдельных объектов электросвязи',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo_h.png',
      name: 'Пепеляев Групп',
      desc: '',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/1rre.JPG',
      name: 'Первый всероссийский аналитический портал о недвижимости',
      desc: 'Компания специализируется на оказании услуг в сфере недвижимости',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/лого%20под%20охраной.JPG',
      name: 'Под Охраной',
      desc: 'Портал о безопасности',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/IMR2.gif',
      name: 'Портал Музеи России',
      desc: '',
      category: ['Культура', 'culture'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/detkiuch.jpg',
      name: 'Портал Обучалки и развивалки',
      desc: 'Посвящен детям, их развитию, воспитанию и обучению, а также творчеству',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/procapitalist.jpg',
      name: 'Портал для профессионалов швейной отрасли',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://www.zhkh.su/images/banners/180x50.gif',
      name: 'Портал ЖКХ',
      desc: '',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo_camps.gif',
      name: 'Портал www.camps.ru',
      desc: 'Все о детских лагерях',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Logo-pravo_blue_2.jpg',
      name: 'Право.ru',
      desc: 'Полный спектр правовых услуг во всех регионах России и странах СНГ',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Арбитраж.jpg',
      name: 'Представление интересов в арбитражном суде',
      desc: '',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/White_on_black_background_188x75.png',
      name: 'Проект ИТ-защита',
      desc: 'Вопросы стандартизации, методология, научные публикации, безопасность бизнеса',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/metaprom.jpg',
      name: 'Промышленный портал Metaprom.ru',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/pu_new_ru2.png',
      name: 'Профуборка',
      desc: 'Первый форум салонов красоты',
      category: ['Услуги', 'services'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/roddom-na-furshtadskoy.jpg',
      name: 'Роддом на Фурштатской',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/RosTeplo33.gif',
      name: 'РосТепло.ру',
      desc: 'Информационная система по теплоснабжению',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/rusla.PNG',
      name: 'Русская Школьная Библиотечная Ассоциация',
      desc: 'Информационный портал школьных библиотек России',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/RE_logo_new.png',
      name: 'Рынок Электротехники',
      desc: 'Журнал для специалистов электросетевого комплекса',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/kadrovik-praktik.jpg',
      name: 'Сайт по кадровому делопроизводству',
      desc: 'Практический онлайн-журнал о работе с людьми',
      category: ['Управление персоналом', 'personal'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/aOCJNlXMABY.jpg',
      name: 'Санкт-Петербургский государственный музей театрального и музыкального искусства',
      desc: '',
      category: ['Культура', 'culture'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo-color.jpg',
      name: 'Санкт-Петербургский медико-социальный институт',
      desc: '',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/sbc.jpg',
      name: 'СБК. Спорт Бизнес Консалтинг',
      desc: 'Деловое издание о спортивной индустрии',
      category: ['Спорт', 'sport'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/sgi.jpg',
      name: 'СГИ',
      desc: 'Настольная книга горного инженера',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/municipal(1).jpg',
      name: 'Сообщество «Муниципал»',
      desc: 'Открытая площадка для экспертов и практиков по обмену мнениями, знаниями и опытом в деле улучшения жизни на муниципальном уровне',
      category: ['Госуправление', 'gos'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/иврач.jpg',
      name: 'Сообщество iVrach.com',
      desc: 'Независимая закрытая социально-информационная сеть для практикующих врачей',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/soyuz-zhurnalistov(2).jpg',
      name: 'Союз журналистов Петербурга и Ленинградской области',
      desc: 'Молодежный медиапроект о журналистских профессиях и мире СМИ',
      category: ['СМИ', 'smi'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/soyuz.png',
      name: 'Союз золотопромышленников России',
      desc: 'Профессиональное отраслевое объединение',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/zaglushka_medicine.jpg',
      name: 'СПб ГУЗ Городская поликлиника №106',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/stadion(1).png',
      name: 'Стадион',
      desc: '',
      category: ['Спорт', 'sport'],
      href: '#',
    },
    {
      img: 'https://rill.ru/images/logo-rill.png',
      name: 'ТПО «РИЛ»',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/transportnaya-imperiya.JPG',
      name: 'Транспортная Империя',
      desc: 'Рекламно-информационный журнал о продаже и обслуживании коммерческого транспорта и спецтехники',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo_88x31.jpg',
      name: 'Управление запасами',
      desc: 'На портале вы найдёте ценную информацию и инструменты от практиков по управлению запасами',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/pirogova(1).jpg',
      name: 'ФГБУ «Национальный Медико-хирургический центр им. Н.И. Пирогова» Санкт-Петербургский клинический комплекс',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/logo(1).gif',
      name: 'ФГБУ ВЦЭРМ им. А.М.Никифорова МЧС России',
      desc: '',
      category: ['Госучреждения', 'gos'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/admiralteyskie_verfi.jpg',
      name: 'ФГУП «Адмиралтейские верфи»',
      desc: '',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Центринформ.jpg',
      name: 'ФГУП «ЦентрИнформ»',
      desc: 'Сертификаты ключей ЭЦП для участия в торгах',
      category: ['Госучреждения', 'gos'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/centr-almazova.jpg',
      name: 'Федеральный центр сердца, крови и эндокринологии им. В.А. Алмазова Минздравсоцразвития',
      desc: '',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/fiscali.bmp',
      name: 'Форум налоговиков',
      desc: 'Крупнейший независимый форум налоговиков в Рунете',
      category: ['Экономика, финансы', 'economy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/gorelova_a/банер%20энергия%202551х1190%20пикс.jpg',
      name: 'Холдинг Энергия',
      desc: 'Крупнейший тематический интернет-портал Северо-Запада',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/centr-gumanitarnih-tehnologiy(1).jpg',
      name: 'Центр гуманитарных технологий',
      desc: 'Информационный экспертно-аналитический ресурсный центр по основным направлениям и рынкам гуманитарных технологий',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/kachestvo-i-kvalifikaciya(1).jpg',
      name: 'Центр качества и квалификации',
      desc: 'Исследования проблем качества медицинской помощи',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/centkonspr.jpeg',
      name: 'Центр консалтинговых проектов',
      desc: 'Комплексная автоматизация бизнес-процессов на платформе 1С, внедрение «под ключ», сопровождение',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'https://img.cntiprogress.ru/Image/svg/logo/slp.svg',
      name: 'Шаповалов Ляпунов Зарицкий и партнеры',
      desc: '',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/_7-Wfz3w-Dw.jpg',
      name: 'Школа - студия иностранного языка «Perfect School»',
      desc: '',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://erm.ru/img/header-logo.png',
      name: 'ЭЛАР',
      desc: 'Услуги по развитию компетенций и профессиональной переподготовке руководителей и специалистов служб ДОУ, архивных и кадровых подразделений',
      category: ['Делопроизводство, АХО', 'aho'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/eepr-logo2.png',
      name: 'ЭЛЕКТРОЭНЕРГИЯ. Передача и распределение',
      desc: '',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/67833.gif',
      name: 'ЭНЕРГОЭФФЕКТИВНОСТЬ И РЕСУРСОСБЕРЕЖЕНИЕ',
      desc: 'Уникальный отраслевой журнал-справочник',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'https://agronews.com/img/logo-white.png',
      name: 'AGRONEWS',
      desc: 'Международный агропромышленный портал',
      category: ['Сельское хозяйство', 'farming'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/aik_kr_banner.png',
      name: 'aik-kr.ru',
      desc: 'Портал о пожарной безопасности, охране труда, экологии, промышленной безопасности, гражданской обороне и ЧС',
      category: ['Экология', 'eko'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Arendator-ru_logo-300.jpg',
      name: 'Arendator.Ru',
      desc: 'Генеральный интернет-партнер по коммерческой недвижимости семинаров ЦНТИ Прогресс',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },{
      img: 'https://www.bn.ru/assets/f8160a24/img/logo.svg',
      name: 'BN.RU',
      desc: 'Портал №1 по недвижимости на Северо-Западе',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/bsn-logo-300.JPG',
      name: 'BSN.ru',
      desc: 'Крупнейший информационно-аналитический портал по недвижимости в Санкт-Петербурге',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/small_logo.png',
      name: 'Business Studio',
      desc: 'Система бизнес-моделирования Business Studio',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/CIS.JPG',
      name: 'CIS Events Group',
      desc: '',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/2861053_300.JPG',
      name: 'Cossa.ru',
      desc: 'Маркетинг в социальных медиа, digital-маркетинг, интегрированные маркетинговые коммуникации',
      category: ['Маркетинг', 'marketing'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Логотип%20большой.png',
      name: 'detnadzor.ru',
      desc: 'Информационный портал по вопросам качества и безопасности питания, обучения и воспитания детей и подростков',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/site_logo.png',
      name: 'ECM-journal.ru',
      desc: 'Важное об электронном документообороте и управлении взаимодействием',
      category: ['IT/Телекоммуникации', 'it'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/zaglushka_ecology.jpg',
      name: 'Ecommunity.ru',
      desc: 'Новости, мероприятия, эко-аудит и экспертиза, лицензирование, литература, тендеры, красная книга',
      category: ['Экология', 'eko'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/ecoportal.png',
      name: 'ECOportal.su',
      desc: 'Информационная поддержка семинаров, мероприятий, выставок, акций экологической тематики',
      category: ['Экология', 'eko'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/elec_logo_cmyk.jpg',
      name: 'elec.ru',
      desc: 'Электротехнический портал рынка России',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/energyland.JPG',
      name: 'Energyland.info',
      desc: 'Энергоаудит, энергоконсалтинг, эксплуатация энергосетей, энергосбыт, электромонтаж',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/лого_expertft.jpg',
      name: 'ExpertFT.ru',
      desc: 'Оказание услуг правового консультирования в сфере торгового, потребительского права и сопутствующих областях',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/выставка.jpg',
      name: 'Expo.stroit.ru',
      desc: 'Специализированное интернет-издание по дорожной и коммунальной технике',
      category: ['Строительство', 'building'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Flowers_Banner_190x70_01.gif',
      name: 'fantazy.ru',
      desc: 'Журнал о цветочном бизнесе, флористике и декоре интерьеров',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/ShiuKrGbOC0.jpg',
      name: 'flowerexperience.eu',
      desc: 'Цветочная он-лайн платформа',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://fruitnews.ru/images/fn_logo.png',
      name: 'FruitNews',
      desc: 'Новости плодоовощного рынка',
      category: ['Сельское хозяйство', 'farming'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/msg-2-0-84467800-1442492306.png',
      name: 'GreenTalk.ru',
      desc: 'Форум о теплицах',
      category: ['Сельское хозяйство', 'farming'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/hh_logo.jpg',
      name: 'HeadHunter',
      desc: 'Ведущая российская компания в сфере интернет-рекрутмента',
      category: ['Управление персоналом', 'personal'],
      href: '#',
    },
    {
      img: 'https://img.cntiprogress.ru/image/logo/himsite_logo.png',
      name: 'HimSite.ru',
      desc: 'Портал химической промышленности HimSite.ru',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/study_guide.jpg',
      name: 'http://www.studyguide.ru/',
      desc: 'Образовательный портал, на котором собрана вся информация сферы образования',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/LBS-Logo.gif',
      name: 'LBS International Conferences',
      desc: 'Организация и проведение международных конференций, конгрессов, форумов, профессиональных мероприятий',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/Legal_studio2.png',
      name: 'Legal Studio',
      desc: 'Юридическая компания',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/library.ru(1).gif',
      name: 'Library.Ru',
      desc: 'Информационно-справочный портал',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/логист-дв.jpg',
      name: 'Logistdv.Ru',
      desc: 'Первый информационный портал о логистике на Дальнем Востоке',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/Логистикс-гр.jpg',
      name: 'Logistics-GR',
      desc: 'Украинско-русско-английский проект интеграции теории и практики логистики и транспорта',
      category: ['Логистика, транспорт', 'logistic'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/меди.jpg',
      name: 'MEDI.RU - подробно о лекарствах',
      desc: 'Фармакологический справочник',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/logo_consulting_black-01.png',
      name: 'mitsan.pro',
      desc: 'Портал Жилищно-коммунальное хозяйство России',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/neologo_main.gif',
      name: 'NeoLogics',
      desc: 'Технологический консалтинг по созданию и/или реорганизации систем бюджетного управления предприятий',
      category: ['Экономика, финансы', 'economy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo(3).JPG',
      name: 'Oborud.info',
      desc: 'Портал оборудования',
      category: ['Промышленность', 'industry'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/office-mart.jpg',
      name: 'OfficeMart.ru',
      desc: 'Многоуровневый рейтинговый каталог компаний и информационно-аналитический ресурс',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/RC_Logo_2012_jpeg.jpg',
      name: 'RusCable.Ru',
      desc: 'Крупнейший электротехнический информационно-аналитический интернет-ресурс',
      category: ['Энергетика', 'energy'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/RUSSELHOZ.jpg',
      name: 'Russelhoz.ru',
      desc: '',
      category: ['Сельское хозяйство', 'farming'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/show-room(2).jpg',
      name: 'ShowRoom.ru',
      desc: 'Музыкальные инструменты, оборудование и технологии для света, звука, музыки, видео и телепроизводства',
      category: ['Культура', 'culture'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/spacehealth_logo_2.jpg',
      name: 'Spacehealth.ru',
      desc: 'Информационный портал профессионалов индустрии здоровья и красоты',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/logo_stroyexpert.jpg',
      name: 'Stroy.expert',
      desc: 'Федеральный отраслевой интернет-портал',
      category: ['Строительство', 'building'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/tatre_234x60.gif',
      name: 'tatre.ru',
      desc: 'Ассоциация некоммерческих организаций по содействию развитию товариществам собственников жилья и жилищно-строительных кооперативов',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/file/ivksenia/Logo_Versus.jpg',
      name: 'Versus.Legal',
      desc: '',
      category: ['Право', 'law'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/vtorio_180x81.gif',
      name: 'Vtorio - Все Темы О Развлекательном Игровом Оборудовании',
      desc: 'Интернет-портал для профессионалов индустрии развлечений',
      category: ['Культура', 'culture'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/weboptica.jpg',
      name: 'WEBOPTICA.RU',
      desc: 'Оптический справочник России',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/logo-dn.png',
      name: 'www.detnadzor.ru',
      desc: 'Информационный портал по вопросам качества и безопасности питания, обучения и воспитания детей и подростков',
      category: ['Образование', 'education'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/greencom_100x150.gif',
      name: 'www.greencom.ru',
      desc: 'Электронный деловой центр зеленого бизнеса',
      category: ['Экология', 'eko'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/ИРН.jpg',
      name: 'WWW.IRN.RU',
      desc: 'Информационно-аналитический портал по недвижимости',
      category: ['Недвижимость, ЖКХ', 'jkh'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/jckk1.png',
      name: 'www.jckk.ru',
      desc: 'АНО «Японский центр «Кайдзен»',
      category: ['Бизнес, предпринимательство', 'business'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Logo-medsovet.png',
      name: 'www.medsovet.info',
      desc: 'Федеральный медицинский интернет-портал',
      category: ['Медицина', 'medicine'],
      href: '#',
    },
    {
      img: 'http://img.cntiprogress.ru/image/Partners/ЮрМир.jpg',
      name: 'YurMir.com',
      desc: 'Юридический портал',
      category: ['Право', 'law'],
      href: '#',
    }
  ]