-
  recommendedArchive = [
    {
      img: 'img/main/recommended/recommended1.png',
      text: 'Корпоративный тренинг по стресс-менеджменту — очно или онлайн. Время и место обучения выбираете вы!',
    },
    {
      img: 'img/main/recommended/recommended2.png',
      text: 'Удостоверение о повышении квалификации на английском',
    },
    {
      img: 'img/main/recommended/recommended3.png',
      text: 'Цифровизация бизнеса, учреждений и предприятий. Каталог курсов',
    },
    {
      img: 'img/main/recommended/recommended4.png',
      text: 'Университет там, где я. Дистанционная переподготовка в ЦНТИ Прогресс',
    },
  ]