- 
  reviewsArchive = [
    {
      name: 'Астафьева Евгения Валерьевна',
      position: 'ведущий инженер АО "ВМЗ"',
      text: 'Всё очень понравилось, спасибо! Узнала для себя много нового, а также в процессе обучения нашла решение нескольких проблем! Благодарю спикеров за интересную подачу материала.',
      date: '10.07.2025'
    },
    {
      name: 'Воробьева Яна Анатольевна',
      position: 'ведущий инженер ЗАО "Ижевский нефтяной научный центр"',
      text: 'Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.',
      date: '10.07.2025'
    },
    {
      name: 'Тиранов Леонид Андреевич',
      position: 'ведущий инженер ООО "СамараНИПИнефть"',
      text: 'Мною получены ответы на актуальные вопросы. Лекторы дали большой объем информации, который смогу использовать в работе и продолжить его изучение. Ценную информацию предоставили преподаватели.',
      date: '10.07.2025'
    },
    {
      name: 'Воробьева Яна Анатольевна',
      position: 'ведущий инженер ЗАО "Ижевский нефтяной научный центр"',
      text: 'Интересно, информативно. Программа составлена грамотно, последовательно, поэтому доступна для восприятия.',
      date: '10.07.2025'
    }
  ];