-
  rubricsArchive = {
    industry: {
      title: "Промышленность",
      color: "jade",
      rubrics: [
        { name: "Управление производством", courses: 77 },
        { name: "Материалы, технологии, оборудование", courses: 24 },
        { name: "Бережливое производство", courses: 15 },
        { name: "Гособоронзаказ", courses: 21 },
        { name: "Импортозамещение", courses: 10 },
        { name: "Управление качеством", courses: 36 },
        { name: "Стандартизация. Метрология", courses: 21 },
        { 
          name: "Закупки. Снабжение. Склад", 
          courses: 31,
          subrubrics: [
            'Госзакупки',
            'Склад',
            'Закупки и снабжение',
          ],
        },
        { name: "Транспорт", courses: 19 },
        { name: "Интеллектуальная собственность", courses: 10 },
        { name: "Управление инновациями", courses: 8 },
        { name: "Легкая промышленность", courses: 3 }
      ]
    },
    safety: {
      title: "Безопасность",
      color: "jade",
      rubrics: [
        { name: "Экономическая и юридическая", courses: 8 },
        { name: "Кадровые риски", courses: 4 },
        { name: "Пожарная безопасность", courses: 7 },
        { name: "Безопасность систем управления", courses: 7 },
        { name: "Промышленная безопасность", courses: 6 },
        { name: "Экологическая безопасность", courses: 5 },
        { name: "Информационная безопасность", courses: 4 },
        { name: "Охрана труда", courses: 12 },
        { name: "Комплексная безопасность", courses: 9 }
      ]
    },
    energy: {
      title: "Энергетика",
      color: "turquoise",
      rubrics: [
        { name: "Энергосбережение", courses: 12 },
        { name: "Экономика и инвестиции в энергетике", courses: 9 },
        { name: "Правовое регулирование в энергетике", courses: 5 },
        { name: "Эксплуатация объектов ТЭК", courses: 20 }
      ]
    },
    construction: {
      title: "Строительство и инженерные сети",
      color: "turquoise",
      rubrics: [
        { name: "Проектирование. Изыскания", courses: 49 },
        { name: "Строительство: организация и управление", courses: 56 },
        { 
          name: "Инженерные сети: проектирование и строительство",
          courses: 44,
          subrubrics: [
            'Электроснабжение',
            'Теплоснабжение',
            'Водоснабжение и водоотведение',
            'Газоснабжение',
            'Слаботочные системы',
          ]
        },
        { name: "Строительные материалы и технологии", courses: 9 },
        { name: "Дорожное строительство", courses: 16 },
        { name: "Экономика строительства", courses: 13 },
        { name: "Сметное дело", courses: 16 },
        { name: "Правовое регулирование строительной деятельности", courses: 20 }
      ]
    },
    housing: {
      title: "ЖКХ. Городское хозяйство",
      color: "turquoise",
      rubrics: [
        { name: "ЖКХ. Городское хозяйство", courses: 2 },
        { name: "Ремонт и эксплуатация зданий и сооружений", courses: 6 }
      ]
    },
    realEstate: {
      title: "Недвижимость",
      color: "lime",
      rubrics: [
        { name: "Управление и эксплуатация недвижимости", courses: 14 }
      ]
    },
    ecology: {
      title: "Экология и землепользование",
      color: "lime",
      rubrics: [
        { name: "Экология", courses: 24 },
        { name: "Недропользование", courses: 4 },
        { name: "Землепользование", courses: 21 }
      ]
    },
    hr: {
      title: "Управление персоналом",
      color: "apricot",
      rubrics: [
        { 
          name: "Трудовое право. Кадровое делопроизводство", 
          courses: 43,
          subrubrics: [
            'Трудовое право',
            'Кадровое делопроизводство',
          ],
        },
        { 
          name: "HR-технологии. Управление персоналом", 
          courses: 55,
          subrubrics: [
            'Управление персоналом',
            'HR-технологии',
            'Оценка и обучение персонала',
            'Мотивация персонала',
          ],
        }
      ]
    },
    office: {
      title: "Офисные службы",
      color: "gold",
      rubrics: [
        { name: "Работа с руководителем", courses: 9 },
        { name: "Делопроизводство", courses: 17 },
        { name: "Архивы", courses: 4 }
      ]
    },
    management: {
      title: "Менеджмент",
      color: "gold",
      rubrics: [
        { name: "Общий менеджмент", courses: 36 },
        { name: "Специальный менеджмент", courses: 4 },
        { name: "Управление административно-хозяйственной деятельностью", courses: 3 },
        { name: "Спортивный менеджмент", courses: 2 }
      ]
    },
    marketing: {
      title: "Маркетинг. PR",
      color: "graphite",
      rubrics: [
        { name: "Маркетинг. Продажи", courses: 1 },
        { name: "Реклама. PR", courses: 3 }
      ]
    },
    finance: {
      title: "Экономика. Финансы. Бухгалтерский учет",
      color: "gold",
      rubrics: [
        { name: "Налогообложение", courses: 12 },
        { 
          name: "Бухгалтерский учет", 
          courses: 38,
          subrubrics: [
            'Бухгалтерский учет в коммерческих организациях',
            'Бюджетный учет',
            'Отраслевой учет',
          ],
        },
        { name: "Финансовый менеджмент. Экономика", courses: 52 },
        { name: "Оплата труда и мотивация", courses: 10 },
        { name: "Нормирование труда", courses: 7 }
      ]
    },
    law: {
      title: "Право. ВЭД",
      color: "gold",
      rubrics: [
        { name: "Корпоративное право", courses: 19 },
        { name: "Гражданское и процессуальное право", courses: 25 },
        { name: "Другие отрасли права", courses: 21 },
        { name: "Право по виду деятельности", courses: 4 },
        { name: "Договорная работа", courses: 12 },
        { name: "Внешнеэкономическая деятельность", courses: 16 }
      ]
    },
    it: {
      title: "Информационные технологии",
      color: "ocean",
      rubrics: [
        { name: "Управление ИТ-инфраструктурой", courses: 11 },
        { name: "Программное обеспечение", courses: 14 },
        { name: "Кибербезопасность и защита данных", courses: 4 }
      ]
    },
    telecom: {
      title: "Связь",
      color: "ocean",
      rubrics: [
        { name: "Проектирование и строительство объектов связи", courses: 12 }
      ]
    },
    government: {
      title: "Государственное и муниципальное управление",
      color: "lavender",
      rubrics: [
        { name: "Организация деятельности учреждений и органов власти", courses: 74 },
        { name: "Бюджетная деятельность", courses: 43 },
        { name: "Контроль, надзор и аудит", courses: 8 },
        { name: "Некоммерческие организации", courses: 3 }
      ]
    },
    social: {
      title: "Социальная защита",
      color: "berry",
      rubrics: [
        { name: "Организация работы органов социальной защиты населения", courses: 4 },
        { name: "Технологии социального обслуживания", courses: 3 }
      ]
    },
    medicine: {
      title: "Медицина",
      color: "berry",
      rubrics: [
        { name: "Организация здравоохранения", courses: 21 },
        { name: "Право в здравоохранении", courses: 5 },
        { name: "Экономика и финансы в здравоохранении", courses: 10 }
      ]
    },
    education: {
      title: "Образование",
      color: "periwinkle",
      rubrics: [
        { name: "Высшее образование", courses: 13 },
        { name: "Среднее профессиональное образование", courses: 21 },
        { name: "Дополнительное профессиональное образование", courses: 10 },
        { name: "Среднее общее и специальное (коррекционное) образование", courses: 7 }
      ]
    },
    culture: {
      title: "Культура",
      color: "blush",
      rubrics: [
        { name: "Управление в сфере культуры", courses: 4 },
        { name: "Театры. ДК", courses: 9 },
        { name: "Музеи. Библиотеки", courses: 18 },
        { name: "Организация культурно-досуговых мероприятий", courses: 6 },
        { name: "Технологии: звук, свет, сцена", courses: 7 }
      ]
    },
    media: {
      title: "Массмедиа",
      color: "graphite",
      rubrics: [
        { name: "СМИ, редакция", courses: 5 },
        { name: "Дизайн", courses: 1 },
        { name: "Переводы", courses: 2 }
      ]
    },
    agriculture: {
      title: "Агропромышленный комплекс",
      color: "lime",
      rubrics: [
        { name: "Пищевое производство", courses: 15 },
        { name: "Сельское хозяйство", courses: 7 }
      ]
    },
    horeca: {
      title: "HoReCa",
      color: "scarlet",
      rubrics: [
        { name: "Гостиницы", courses: 3 },
        { name: "Общепит", courses: 10 },
        { name: "ХАССП и контроль качества", courses: 1 }
      ]
    }
  };