
.header-results {
  @include dur;
  z-index: 1;
  position: absolute;
  left: -2px;
  top: calc(100% + 10px);
  opacity: 0;
  visibility: hidden;
  width: calc(100% + 4px);
  @include bgm;
  @include bd2;
  box-shadow: var(--shadow-big);
  @media (max-width: $md3+px) {
    width: var(--4columns);
  }
  &__item {
    @include dur;
    @include r;
    column-gap: 20px;
    @include x2cg10;
    padding: 10px 20px;
    @media (max-width: $md2+px) {
      $fs: 12;
      font-size: math.div($fs, $fz) + em;
      $lh: 20;
      line-height: round-to(math.div($lh, $fs), 3);
      padding: 10px 15px;
    }
    &:hover,
    &:focus-visible {
      background-color: #{$bg-second};
    }
  }

  &__number {
    min-width: 50px;
  }

  &__dates {
    flex: 159px 0 0;
    @media (max-width: $md2+px) {
      flex-basis: 100px;
    }
  }
}