-
  searchResults = [
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    },
    {
      name: "<b>Строительн</b>ый надзор. Реализация функций государственного надзора в ходе контрольных (надзорных) мероприятий",
      date: "25 - 29 мая 2025"
    },
    {
      name: "<b>Строительн</b>ый надзор. Реализация функций государственного надзора в ходе контрольных (надзорных) мероприятий",
      date: "25 - 29 мая 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 - 29 мая 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    },
    {
      name: "Строительство и эксплуатация автомобильных дорог",
      date: "25 октября - 6 ноября 2025"
    }
  ];


.-header-results
  each course in searchResults
    a.-header-results__item(href="#") 
      p.-header-results__number 71455
      p.fg !{course.name}
      p.-header-results__dates !{course.date}