section#results.section
  .container
    h1.title вы искали “паовт”
    .empty-results.m2
      img.empty-results__img(src="img/search/yama.svg", alt="ничего не найдено по поисковому запросу")
      .m2
        h2.subtitle Увы, мы ничего не нашли по вашему запросу.
        .empty-results__columns.m1
          .empty-results__column
            h3.t2d Попытаться еще раз
            .m5
              ol.ol
                li.ol__li Если у вас есть код курса, введите его в поле поиска. Например, 34541.
                li.ol__li Попробуйте упростить запрос до одного слова. Например, «бухгалтер» или «гособоронзаказ».
          .empty-results__column
            h3.t2d Спросить вживую
            .m5
              p.p1 Позвоните нам по бесплатному номеру #[a.link(href='#') #[br.n1hide.x3hide] #[nobr 8 (800) 333-88-44]] #[br.n2hide.x3hide] или закажите #[a.link(href='#') #[nobr обратный звонок]]

//- http://localhost:1709/page-search-empty.html#results