include ../../../data/coursesArchive

section.section#results
  .container
    h2.title вы искали “строительство”
    p.t2d.m2 Мероприятий: 233
  .m2
    each course, index in coursesArchive
      +courseItemSearch(course, index % 2 === 0 ? 'online' : 'offline')
    include ../pagination/_pagination_$common

//- http://localhost:1709/page-search.html#results