.col3.n2w8.col3.n2w8._tabs
  .r.wrap.bs2a
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title._active О мероприятии
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title Преподаватели
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title Фото и видео
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title Отзывы
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title Также по теме
    button.course__tab-title.dur.fg.bsa.x4w4._tabs-title Памятка участнику
  ._tabs-blocks
    ._tabs-block._active
      include tabs-course-parts/__about-tabs-course
    ._tabs-block
      include tabs-course-parts/__teachers-tabs-course
    ._tabs-block
      include tabs-course-parts/__gallery-tabs-course
    ._tabs-block
      include tabs-course-parts/__reviews-tabs-course
    ._tabs-block
      include tabs-course-parts/__relating-tabs-course
    ._tabs-block
      include tabs-course-parts/__memo-tabs-course
