#sidebar-wrapper
  .tpd3.bgm#sidebar.x2contents
    .col2.n2w3.n3o1.n2o0
      .col5
        .col7
          .r5.aic
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#clock')
            p.p1 Время и место
          p.p2 г. Санкт-Петербург, Васильевский остров, Средний пр-т, д. 36/40 ст. метро "Василеостровская"
        .col7
          a.td.hover.p2(href="#") пн. 24 фев — пт. 28 фев 2025 в 09:30
          a.td.hover.p2(href="#") пн. 14 апр — пт. 18 апр 2025 в 09:30
          a.td.hover.p2(href="#") Октябрь 2025
          a.td.hover.p2(href="#") Декабрь 2025
        a.link.t2(href="#") Запросить другие даты
      .col7
          a.sa-link.link.r5.aic(href="")
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#wifi')
            span.p1 Перейти на страницу онлайн-курса
          p.p2 Онлайн-занятия проходят по расписанию соответствующего очного курса.
      .col5
        .col7
          p.tb.t2 58 590 рублей
          p.p3 (Стоимость для нерезидентов РФ может отличаться)
        .col7        
          +inputWrapper({
            label: 'Формат обучения',
            name: 'format',
            placeholder: 'Формат не  выбран',
            fieldType: 'select',
            selectConfig: {
              options: [
                'Стандарт',
                'Комфорт',
                'Эконом',
              ],
            }
          })
        button.button-primary.w Записаться
      .col7
        p.td.p1 Документ
        p.p2 удостоверение о повышении квалификации #[span.tb в объеме 72 часов] (лицензия № Л035-01271-78/00176896 от 06.07.2021). Сведения об удостоверении передаются в федеральную информационную систему «Федеральный реестр сведений о документах об образовании и (или) о квалификации» (ФИС ФРДО)
      .col5
        .col7
          p.r5.aic
            svg.sa.i24
              use(xlink:href='img/sprite/symbols.svg#message')
            span.ta.p1 Корпоративное обучение
          p.p2 Планируете обучить более 8 сотрудников? Мы готовы провести для вас данный курс в корпоративном формате.
        .col7
          p.r5.aic
            svg.sa.i24
              use(xlink:href='img/sprite/symbols.svg#home')
            span.ta.p1 Проживание
          p.p2 На время учебы мы можем #[a.link(href="#") забронировать для вас гостиницу] с приятными бонусами.
      .col5.aic
        .col7.tac
          p.t2d Руководитель программы
          p.p1 Данилова Ирина Игоревна
        img.n2w2.n3w4.w2(src="img/course/danilova.png", alt="")
        button.button-accent.n2w2.n3w4.w2 Задать вопрос
      .col3
        .col7
          p.td.p1 Закупки
          p.p2 Обучение может быть оформлено по 44-Ф3 и 223-Ф3.
        .col7
          p.td.p1 Официальные документы
          p.p2 С Лицензией, Уставом, Выпиской из ЕГРЮЛ и прочими документами вы можете ознакомиться на странице #[a.link(href="#") «Документы».]
