section.section#results
  .container
    h1.title вы искали “паовт”
    .col.aic.m2
      img.n1w4.n3w6.w2.x4w4(src="img/search/yama.svg", alt="ничего не найдено по поисковому запросу")
      .m2
        h2.subtitle Увы, мы ничего не нашли по вашему запросу.
        .row.wrap.g3.w.m1
          .n1w4.n2w5.n3w6.w4.n1or1.n3ol1
            h3.t2d Попытаться еще раз
            .m5
              ol.ol.col7
                li.ol__li Если у вас есть код курса, введите его в поле поиска. Например, 34541.
                li.ol__li Попробуйте упростить запрос до одного слова. Например, «бухгалтер» или «гособоронзаказ».
          .n1w4.n3w5.w4.n1or1.n2ol1
            h3.t2d Спросить вживую
            .m5
              p.p1 Позвоните нам по бесплатному номеру #[a.link(href='#') #[br.n1hide.x3hide] #[nobr 8 (800) 333-88-44]] #[br.n2hide.x3hide] или закажите #[a.link(href='#') #[nobr обратный звонок]]

//- http://localhost:1709/page-search-empty.html#results