.digitalization-hero {
  &__img-body {
    @media (min-width: $md1+px) {
      aspect-ratio: 1200/455;
      padding-top: var(--L-XL);
      background: url(../img/digitalization/hero.png) center/cover no-repeat;
    }
    @media (min-width: $md2+px) {
      aspect-ratio: 952/361;
    }
    @media (min-width: $md3+px) {
      aspect-ratio: 768/291;
    }
    @media (min-width: $md4+px) {
      aspect-ratio: 540/205;
    }
    @media (max-width: $md4+px) {
      margin-bottom: var(--S);
    }
  }
}
