-
  advantages = [
    {
      icon: 'tablet',
      text: 'В основе курсов — проверенные инструменты и практики, реальные кейсы и персонализированные рекомендации.'
    },
    {
      icon: 'repeat',
      text: 'Курсы регулярно актуализируются с учетом отраслевых трендов, изменений нормативно-правовой и законодательной базы.'
    },
    {
      icon: 'user-check',
      text: 'Преподаватели — признанные эксперты с многолетним опытом.'
    },
    {
      icon: 'monitor',
      text: 'Курсы доступны очно и онлайн, в формате интерактивной трансляции.'
    },
  ]

section.section.digitalization-hero
  .container
    .digitalization-hero__img-body
      .col5.n1ol1
        p.p1 Будущее начинается сейчас
        h1.t1 Цифровая трансформация. Каталог курсов
    .n1ol1.n1or2
      p.p1.dark Что общего между заводом, медицинской клиникой и библиотекой? Возможность оптимизации их деятельности с помощью цифровых технологий.
      .col5.m3
        p.p1 Цифровая трансформация стала глобальным процессом современности и охватила множество отраслей — от промышленности до сферы культуры и досуга. Цифровизация позволяет бизнесу достичь активного роста, высокого уровня экспертизы, гибкости и продуктивности. Более того, она открывает новые перспективы развития в областях, которые на первый взгляд кажутся достаточно консервативными — например, в государственном и муниципальном управлении.
        p.p1 За последние годы мы разработали десятки курсов повышения квалификации, посвященных комплексной цифровизации бизнеса, учреждений здравоохранения, образования и культуры. Представленный ниже каталог включает также узкопрофильные курсы, сфокусированные на автоматизации производственных задач и конкретных операций в деятельности предприятий.
      .row-wrap.g5.m2
        each item, index in advantages
          -
            let className = '';
            if(index%2 === 1) className = 'n1ol1';
          .row.aic.n1w4(class=className)
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#' + item.icon)
            p.p1 !{item.text}
