.-header-menu {
  @include cg10;
  @media (min-width: $md2+px) {
    display: flex;
    margin-top: #{$S};
  }

  @media (min-width: $md2+px) OR (max-width: $md3+px) {
    padding-right: 0 !important;
  }

  @media (max-width: $md2+px) {
    transition-duration: #{$transition};
    transition-property: opacity, visibility;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #555a6580;
    &:not(:has(.-header-menu__mobile-container._active)) {
      @media (max-width: $md2+px) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__mobile-container {
    overflow-y: auto;
    @include n2contents;
    @include wrap;
    @include ais;
    @include jcb;
    @include n3w12;
    max-height: calc(100vh - 115px);
    margin: 98px auto 0;
    @include bgm;
    @media (max-width: $md3+px) {
      width: 100%;
      height: 100dvh;
      max-height: none;
      margin: 0;
    }
  }

  &__icon-links {
    @include n2hide;
    @include x3wrap;
    @include x3jcb;
    @include aic;
    @include bga;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    @include g5;
    column-gap: 39px;
    padding: 20px;
    @media (max-width: $md3+px) {
      display: flex;
      padding: 80px calc(var(--fields) / 2) 20px;
      background-color: #{$bg-main};
    }
  }

  &__icon-link {
    @include dur;
    @include ts;
    @include ss;
    @include p1;
    @include por;
    @include r5;
    @include aic;
    &::before {
      content: '';
      transition-duration: #{$transition};
      position: absolute;
      top: calc(100% - 1px);
      display: block;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 1px;
      background-color: #{$text-second};
    }
    &:hover,
    &:focus-visible {
      color: #{$text-second};
      stroke: #{$text-second};
    }
    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
    &:active {
      color: #{$hover-light};
      stroke: #{$hover-light};
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
    @media (max-width: $md3+px) {
      color: #{$text-main};
      stroke: #{$text-main};
      &:hover,
      &:focus-visible {
        color: #{$text-main};
        stroke: #{$text-main};
        &::before {
          background-color: #{$text-main};
        }
      }
      &:active {
        color: #{$hover};
        stroke: #{$hover};
      }
    }
  }

  &__icon-close-wrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    @include r;
    @include n3contents;
    @include aic;
    @include jce;
    @include w;
    min-height: 60px;
    padding: 0 calc(var(--fields) / 2);
    @include bga;
  }

  &__icon-close {
    @media (max-width: $md3+px) {
      color: #{$text-second};
      stroke: #{$text-second};
      flex-direction: row-reverse;
      &:hover,
      &:focus-visible {
        color: #{$text-second};
        stroke: #{$text-second};
        &::before {
          opacity: 1;
          visibility: visible;
          background-color: #{$text-second};
        }
      }
      &:active {
        color: #{$hover-light};
        stroke: #{$hover-light};
        &::before {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__items {
    @include por;
    @include r;
    @include x3col;
    @include aic;
    @include x2ais;
    // @include x2jcb;
    @media (min-width: $md2+px) {
      column-gap: 40px;
      padding: 0 50px;
      background-color: #{$bg-second};
    }
    @media (min-width: $md3+px) {
      column-gap: 39px;
    }
    @media (max-width: $md2+px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: flex-start;
      padding: 8px 18px 18px;
      border: 2px solid #{$border-accent};
    }
    @media (max-width: $md3+px) {
      display: flex;
      align-items: stretch;
      border: none;
      padding: 0 calc(var(--fields) / 2);
    }
  }

  &__square {
    @include sqr;
    @include x2hide;
    width: 44px;
    @media (max-width: $md1+px) {
      width: 34px;
    }
  }
}
