include ../../../data/recommendedArchive

section.section#recommended
  .container
    .body
      h2.title цнти прогресс рекомендует
      .row.ais.g3.x3wrap.m2
        each item in recommendedArchive
          +itemRecommended({
            img: item.img,
            text: item.text,
          })

//- http://localhost:1709/page-main.html#recommended