.distance-hero {
  &__img {
    @media (max-width: $md3+px) {
      width: 110%;
    }
  }

  &__main {
    z-index: 1;
    @include adaptiv-value-on('margin-top', -92, -73, $md1, $md2);
    @include adaptiv-value-between('margin-top', -76, -57, $md2, $md3);
    @include adaptiv-value-between('margin-top', -65, -46, $md3, $md4);
    @media (max-width: $md4+px) {
      padding: #{$M} 0;
    }
  }
}
