section.choose.section
  .choose__container.container
    h1.choose__title.title семинары и курсы по управлению производством
    .choose__main.main
      .choose__block
        .choose__block-name Показать курсы в:
        .choose__checkboxes
          label.checkbox
            input.checkbox__input(type="checkbox" checked)
            span.checkbox__span Санкт-Петербурге
          label.checkbox
            input.checkbox__input(type="checkbox" checked)
            span.checkbox__span Москве
      .choose__block
        .choose__block-name Период проведения:
        .choose__dates
          .choose__date
            span.choose__date-span с
            .datepicker.choose__datepicker
              input.datepicker__input(value="17.02.2025")
          .choose__date
            span.choose__date-span по
            .datepicker.choose__datepicker
              input.datepicker__input(value="16.02.2026")
      .choose__buttons
        button.choose__button.button--primary Подобрать
        a.choose__button.button--second(href="#" download)  Скачать PDF