include ../../../data/coursesArchive

.section#courses
  .container
    .body
      .row.jcc
        +mode({ 
          text: 'Очные' 
        })(class='n3w3 w2')
        +mode({ 
          text: 'Онлайн',          
          tag: 'a',       
        })(class='n3w3 w2 bs2l', href='#')
    .m2
      each course in coursesArchive
        +courseItemRegular(course)

    +pagination({
      totalPages: 10,
      currentPage: 2,
    })(class='m3')

//- http://localhost:1709/archive-courses.html#courses