include ../../../data/coursesArchive

- 
  const firstFour = coursesArchive.slice(0, 4);
  const nextThree = coursesArchive.slice(4, 7);
  
  const sections = [
    {
      title: 'Промышленность и строительство',
      description: 'Как сформировать цифровую среду для оптимизации управления производством и бизнес-процессами? Какие гранты возможно получить благодаря государственной поддержке цифровой трансформации предприятий? В ходе курсов мы рассматриваем проблемные вопросы цифровизации и отраслевые реалии, разбираем успешные российские и зарубежные кейсы, обсуждаем варианты участия в госпрограмме «Цифровая экономика РФ» и прорабатываем прикладные сценарии внедрения цифровых технологий.',
      courses: firstFour
    },
    {
      title: 'Информационные технологии',
      description: 'В фокусе курсов — методики управления IT-инфраструктурой предприятия и лучшие технические средства безопасного хранения, оборота и архивирования информации. Вы получите возможность разобрать успешные кейсы и практики использования облачных технологий, машинного обучения, АИС, AI, Service Desk и AR. Программы заострены на защите коммерческих, персональных и конфиденциальных данных с учетом новых классов угроз и законодательных нововведений.',
      courses: nextThree
    }
  ]

include _courses_recommendedS_!template

//- http://localhost:1709/single-recommended-digital.html#courses