include ../../../data/coursesArchive

.section#courses
  .container
    .body
      .row.jcc
        +mode({ text: 'очные' })
        +mode({ text: 'онлайн', href: '#' })
  .m2
    each course in coursesArchive
      +courseItemRegular(course)
  .container
    +pagination({
      totalPages: 10,
      currentPage: 2,
    })(class='m3')

//- http://localhost:1709/archive-courses.html#courses