include ../../../data/coursesArchive

.section#courses
  .container
    .body
      .row.jcc
        +modeTooltip({ 
          text: 'Очные',
          toolTipText: 'Личная встреча и очное обучение в нашем образовательном центре в Петербурге или Москве.',
        })(class='n3w3 w2 bs2l _active')
        +modeTooltip({ 
          tag: 'a',
          text: 'Онлайн',          
          toolTipText: 'Обучение из любой точки мира — требуется лишь удобный гаджет и сеть. Подтверждающий документ по итогу обучения вы получите почтой.',
        })(class='n3w3 w2 bs2l', href='#')
    .m2
      each course in coursesArchive
        +courseItemRegular(course)

    +pagination({
      totalPages: 10,
      currentPage: 2,
    })(class='m3')

//- http://localhost:1709/archive-courses.html#courses