include ../../../data/coursesArchive

.section#courses
  .container
    .body
      .row.jcc
        +mode({ text: 'очные' })
        +mode({ text: 'онлайн', href: '#' })
  .m2
    each course in coursesArchive
      +courseItem(course)
  .container
    include ../pagination/_pagination_$common

//- http://localhost:1709/archive-courses.html#courses