.hotels {
  &__toc {
    @media (min-width: $md1+px) {
      columns: var(--4columns) 2;
    }
    @media (min-width: $md3+px) {
      columns: var(--6columns) 2;
      column-gap: var(--gutter);
    }
  }

  &__pin {
    width: 36px;
    padding-top: 3px;
  }

  &__toc-link {
    &:not(:first-child) {
      margin-top: 7px;
    }
  }
}
