include ../../../data/hotelsArchive

section.hotels.section#hotels
  .container
    .n1o1#toc
      h2.t1d !{hotelsArchive.length} отелей-партнеров в Санкт-Петербурге
      p.p1.m7 Выберите отель на карте или из списка.
      ol.hotels__toc.ol.m2        
        each hotel, index in hotelsArchive
          li.hotels__toc-link.ol__li
            a.hover(href="#" + hotel.slug) !{hotel.name}, !{hotel.address}
    .ymaps.m2#ymaps
    each hotel in hotelsArchive
      if hotel.price
        +hotel(hotel)

//- http://localhost:1709/page-hotels.html#hotels

include _map_script_hotels