section.trust.section
  .trust__container.container
    .trust__body.body
      .trust__top
        .trust__info
          h2.trust__title.t1 Доверьте обучение центру #[span.trust__title-accent #[nobr с 28-летним] опытом]
          .trust__main.main
            ul.ul.p1
              li.ul__li--bright
                span #[span.bright Сосредоточьтесь на обучении], а мы обеспечим комфортную обстановку, европейский сервиси быструю работу с документами.
              li.ul__li
                span Проанализируйте с преподавателями рабочие задачи и #[span.bright найдите свежее решение.]
              li.ul__li
                span Перед каждым курсом #[span.bright мы анализируем состав слушателей] и корректируем содержание обучения с учетом их интересов.
              li.ul__li
                span Используйте курс для установления новых связей: 28 лет мы #[span.bright обучаем и объединяем лучшие предприятия] со всей страны.
        .trust__photos
          .trust__photos-image-wrapper.trust__photos-image-wrapper--narrow
            img.trust__photos-img(src="img/main/trust/photo1.png" alt="")
          .trust__photos-image-wrapper.trust__photos-image-wrapper--wide
            img.trust__photos-img(src="img/main/trust/photo2.png" alt="")
      .trust__numbers
        .trust__number-item
          p.a1 1800
          p.trust__number-item-text.t2 курсов и семинаров#[br]ежегодно
        .trust__number-item
          p.a1 90
          p.trust__number-item-text.t2 тематических#[br]рубрик
        .trust__number-item
          p.a1 30
          p.trust__number-item-text.t2 отраслевых#[br]направлений
        a.trust__link(href="#")
          .trust__link-arrow.arrow
            .arrow__line
            svg.arrow__head
              use(xlink:href='img/sprite/symbols.svg#arrowhead')          
          p.trust__number-item-text.t2 Составить#[br]план обучения