section.trust.section
  .trust__container.container
    .trust__body.body
      .trust__top
        .trust__info
          h2.trust__title.t1 Доверьте обучение центру #[span.trust__title-accent #[nobr с 28-летним] опытом]
          .trust__main.main
            ul.trust__list
              li.trust__list-item.trust__list-item--bright
                p #[span.trust__list-item-bright Сосредоточьтесь на обучении], а мы обеспечим комфортную обстановку, европейский сервиси быструю работу с документами.
              li.trust__list-item
                p Проанализируйте с преподавателями рабочие задачи и #[span.trust__list-item-bright найдите свежее решение.]
              li.trust__list-item
                p Перед каждым курсом #[span.trust__list-item-bright мы анализируем состав слушателей] и корректируем содержание обучения с учетом их интересов.
              li.trust__list-item
                p Используйте курс для установления новых связей: 28 лет мы #[span.trust__list-item-bright обучаем и объединяем лучшие предприятия] со всей страны.
        .trust__photos
          .trust__photos-image-wrapper.trust__photos-image-wrapper--narrow
            img.trust__photos-img(src="img/main/trust/photo1.png" alt="")
          .trust__photos-image-wrapper.trust__photos-image-wrapper--wide
            img.trust__photos-img(src="img/main/trust/photo2.png" alt="")
      .trust__numbers
        .trust__number-item
          p.a1 1800
          p.trust__number-item-text курсов и семинаров#[br]ежегодно
        .trust__number-item
          p.a1 90
          p.trust__number-item-text тематических#[br]рубрик
        .trust__number-item
          p.a1 30
          p.trust__number-item-text отраслевых#[br]направлений
        a.trust__link(href="#")
          .trust__link-arrow.arrow
            .arrow__line
            svg.arrow__head
              use(xlink:href='img/sprite/symbols.svg#arrowhead')          
          p.trust__number-item-text Составить#[br]план обучения