section.values.section
  .container
    .body
      .col2.n1o1
        h2.title.twb Наши корпоративные ценности, и что это значит для вас
        .col3
          article.row.ais
            img.values__icon.x4i40(src="img/about/icon1.svg", alt="")
            .col7
              h3.t2d Ориентация на потребности клиента
              p.p1 Наши учебные программы – не то, что УМЕЮТ наши преподаватели, а то, что ВАМ НУЖНО
          article.row.ais.n3ol1
            img.values__icon.x4i40(src="img/about/icon2.svg", alt="")
            .col7
              h3.t2d Cтремление к новому
              p.p1 Ежегодное обновление ассортимента программ составляет как минимум 20%, содержание самих программ актуализируется перед каждым проведением
          article.row.ais.n3ol2
            img.values__icon.x4i40(src="img/about/icon3.svg", alt="")
            .col7
              h3.t2d Дружелюбие и внимательность к деталям
              p.p1 Мы всегда обеспечиваем самые высокие стандарты сервиса и клиентского сопровождения
