.header {
	width: 100%;
	padding-top: 30px;
	border-top: 6px solid $colorLight;

	&__container {
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		padding-bottom: 22px;
		@media (max-width: $md1+px) {
			justify-content: flex-start;
		}
		@media (max-width: $md2+px) {
			justify-content: space-between;
		}
	}

	&__burger {
		cursor: pointer;
		z-index: 2;
		display: flex;
		flex-basis: 30%;
		order: -1;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 7px;
		@media (min-width: $md2+px) {
			display: none;
		}
		&::before,
		&::after,
		& span {
			position: relative;
			content: '';
			width: 39px;
			height: 2px;
			background-color: $colorBright;
			transition: all 0.4s;
		}
		&::before {
			top: 25px;
		}
		&::after {
			bottom: 25px;
		}
		& span {
		}
		&._active {
			&::before {
				top: 42px;
				transform: rotate(45deg) translate(-7px);
			}
			&::after {
				bottom: 43px;
				transform: rotate(-45deg) translate(-7px);
			}
			& span {
				width: 0;
			}
		}
	}

	&__logo-wrapper {
		flex-grow: 1;
		order: -1;
		@media (max-width: $md2+px) {
			flex-basis: 70%;
			margin-bottom: 7px;
		}
		& img {
			width: 180px;
		}
	}

	&__logo {
	}

	&__phones-wrapper {
		display: flex;
		order: -1;
		flex-direction: column;
		row-gap: 20px;
		padding-top: 15px;
		@media (min-width: $md1+px) {
			margin-right: 44px;
		}
		@media (max-width: $md2+px) {
			order: 2;
			justify-content: flex-start;
		}
	}

	&__phone {
		font-family: 'RobotoCondensed';
		font-size: 19px;
		line-height: 20px;
		color: $TextBlue;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: $md2+px) {
			font-size: 17px;
		}
	}

	&__callback-wrapper {
		display: flex;
		align-items: flex-start;
		@media (min-width: $md1+px) {
			padding-top: 15px;
		}
		@media (max-width: $md2+px) {
			flex-basis: calc(100% - 54px);
			margin-bottom: 7px;
			order: -1;
		}
	}

	&__callback {
		border-bottom: 1px dashed $colorText;
	}

	&__second-section {
		display: flex;
		@media (min-width: $md2+px) {
			justify-content: flex-end;
		}
		padding-right: 8px;
		@media (max-width: $md1+px) {
			order: -1;
		}
	}

	&__links-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		row-gap: 10px;
		padding-top: 15px;
	}

	&__link {
		display: flex;
		align-items: center;
		&::before {
			font-size: 16px;
			margin-right: 14px;
		}
	}

	&__middle {
		display: flex;
		align-items: center;
		column-gap: 7px;
		flex-wrap: wrap;
	}

	&__menu {
		transition: left 0.5s ease-out;
		flex-grow: 1;
		background-color: $colorSecond;
		@media (max-width: $md1+px) {
			margin-top: 22px;
		}
		@media (max-width: $md2 + px) {
			z-index: 1;
			overflow-y: scroll;
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			left: -100%;
			margin-top: 0;
		}
		&._active {
			left: 0;
		}
	}

	&__menu-list {
		display: flex;
		height: 100%;
		@media (max-width: $md2 + px) {
			flex-direction: column;
		}
	}

	&__menu-item {
		color: #ffffff;
		text-transform: uppercase;
		font-size: 20px;
		display: flex;
		align-items: stretch;
		@media (max-width: $md2+px) {
			padding: 10px 0;
		}
		& a {
			transition: background-color 0.3s ease-out;
			padding: 12px 20px;
			&:hover {
				color: $colorBright;
				background-color: $colorLight;
			}
		}
	}

	&__call-button {
		transition: box-shadow 0.3s ease-out;
		font-size: 23px;
		color: #ffffff;
		width: 47px;
		height: 44px;
		background-color: $TextBlue;
		&:hover {
			box-shadow: 0 0 5px $colorSecond;
		}
		@media (max-width: $md2+px) {
			order: -1;
			margin-bottom: 7px;
		}
	}

	&__search-button {
		transition: box-shadow 0.3s ease-out;
		font-size: 23px;
		color: #ffffff;
		width: 47px;
		height: 44px;
		background-color: $colorBright;
		&:hover,
		&:active {
			box-shadow: 0 0 5px $colorSecond;
		}
	}

	&__search-wrapper {
		transition: border-color 0.3s ease-out;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		flex-basis: 364px;
		height: 44px;
		border: 7px solid $colorSecond;
		padding-left: 15px;
		@media (max-width: $md1+px) {
			flex-grow: 1;
			margin-right: 7px;
		}
		@media (max-width: $md2+px) {
			flex-basis: 216px;
			margin-right: 0;
			padding-left: 3px;
		}
		&:hover,
		&._focus {
			border-color: $colorBright;
		}
		&::before {
			font-size: 22px;
			color: $colorBright;
		}
	}

	&__input {
		font-size: 13px;
		line-height: 17px;
		flex-grow: 1;
		&::placeholder {
			color: $colorPlaceholder;
			@media (max-width: $md2+px) {
				font-size: 11px;
			}
		}
	}

	&__bread-crumbs {
		display: flex;
		padding: 18px 0 9px 20px;
		@media (max-width: $md1+px) {
			padding-left: 0;
		}
	}

	&__crumb {
		display: flex;
		font-size: 13px;
		line-height: 17px;
		margin-right: 8px;
		&::before {
			content: '→';
			margin-right: 4px;
		}
		&:first-child::before {
			content: '';
			margin-right: 0;
		}
	}
}
