@import 'mixins';
@import 'fonts';

$fontFamily: 'Roboto';
$minWidth: 300;
$maxWidth: 1170;

$maxWidthContainer: 970;

//Breakpoints:
//desktop
$md1: $maxWidth + 39.95;
//laptop
$md2: 767.95;
//pad
// $md3: 539.95;
//mobile

@import 'customize';
@import 'null';
@import 'icons';

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: $maxWidth + px;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	&._loaded {
	}
}

.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1 auto;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: $md2 - 40 + px;
	}
	// @media (max-width: $md2+px) {
	// 	max-width: $md3 - 80 + px;
	// }
	@media (max-width: $md2+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (min-width: $md1+px) {
		& ._second-section {
			flex: 0 0 400px;
		}
	}
}

._second-section {
	flex: 0 0 500px;
	@media (max-width: $md1+px) {
		flex-basis: 300px;
	}
	@media (max-width: $md2+px) {
		flex-basis: 50%;
	}
}

@import 'functions';

@import 'header';

@import 'blocks/offer';
@import 'blocks/description';

// @import 'footer';
