section.section#feedback
  .container
    h1.title обратная связь
    p.p1.tac.m5 Если у вас есть вопросы, пожелания #[br.n4hide]или вы хотите оставить отзыв #[br]о сайте или курсе, напишите нам,  #[br.n4hide]мы с удовольствием ответим.
    form.m2.n1o1
      .row.x3col.g5
        fieldset.col5.n1w5.n3w6.w4
          +inputWrapper({
            label: 'Фамилия',
            placeholder: 'Иванов'
          })
          +inputWrapper({
            label: 'Имя',
            placeholder: 'Иван',
            required: true,
          })
          +inputWrapper({
            label: 'Электронная почта',
            type: 'email',
            placeholder: 'example@mail.ru'
          })
          +inputWrapper({
            label: 'Телефон',
            type: 'tel',
            placeholder: '8 (999) 999-99-99',
            required: true,
          })
        fieldset.col5.n1w5.n3w6.w4
          +inputWrapper({
            label: 'Сообщение для:',
            value: 'Службы записи',
            fieldType: 'select',
            selectConfig: {
              options: [
                'Службы записи',
                'Службы корпоративных семинаров',
                'Службы гостиниц',
                'Отзыв о сайте или курсе',
                'Другое'
              ],
              activeIndex: 0
            }
          })
          +inputWrapper({
            label: 'Ваш вопрос или пожелание',
            fieldType: 'textarea',
            placeholder: 'Напишите свое сообщение'
          })
      .col5.ais.m3
        .row
          button(type="submit").button-primary.n1w2.n3w3.w2.x4w4 Отправить
          input(type="reset" value="Отмена").button-second.n1w2.n3w3.w2.x4w4
        +checkbox({
          label: 'Отправляя форму, я принимаю <a class="link" href="#">пользовательское соглашение</a>',
          checked: true,
          blueWrapper: true
        })

//- http://localhost:1709/page-feedback.html#feedback