.contact-item {
  @include r15;
  &__img {
    height: 107px;
    aspect-ratio: 97/107;
    @include cvr;
    @media (max-width: $md2+px) {
      height: 121px;
    }
    @media (max-width: $md3+px) AND (min-width: $md4+px) {
      height: 103px;
    }
  }
}
