section.recommended.section#recommended
  .container
    .body
      h2.title цнти прогресс рекомендует
      .row.ais.g3.x3wrap.m2
        a.recommended__item.n3w3.x3w2.x4w4(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended1.png", alt="")
          span.p1.tac.m5 Корпоративный тренинг по стресс-менеджменту — очно или онлайн. Время и место обучения выбираете вы!
        a.recommended__item.n3w3.x3w2.x4w4(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended2.png", alt="")
          span.p1.tac.m5 Good news! Удостоверение о повышении квалификации на английском
        a.recommended__item.n3w3.x3w2.x4w4(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended3.png", alt="")
          span.p1.tac.m5 Цифровизация бизнеса, учреждений и предприятий. Каталог курсов
        a.recommended__item.n3w3.x3w2.x4w4(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended4.png", alt="")
          span.p1.tac.m5 Университет там, где я. Дистанционная переподготовка в ЦНТИ Прогресс

//- http://localhost:1709/page-main.html#recommended