section.recommended.section
  .recommended__container.container
    .recommended__body.body
      h2.recommended__title.title цнти прогресс рекомендует
      .recommended__main.main
        a.recommended__item(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended1.png", alt="")
          span.recommended__item-span Корпоративный тренинг по стресс-менеджменту — очно или онлайн. Время и&nbsp;место обучения выбираете вы!
        a.recommended__item(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended2.png", alt="")
          span.recommended__item-span Good news! Удостоверение о&nbsp;повышении квалификации на английском
        a.recommended__item(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended3.png", alt="")
          span.recommended__item-span Цифровизация бизнеса, учреждений и&nbsp;предприятий. Каталог курсов
        a.recommended__item(href="#")
          img.recommended__item-img(src="img/main/recommended/recommended4.png", alt="")
          span.recommended__item-span Университет там, где я. Дистанционная переподготовка в&nbsp;ЦНТИ Прогресс