.corp-hero.section#hero
  .container.x1contents
    .baner
      img.bg.x4hide(src="img/corp/hero.png" alt="")      
      .corp-hero__body.n1o1
        .container.n1contents          
          h1.t1 КОРПОРАТИВНОЕ ОБУЧЕНИЕ ДЛЯ ГРУППЫ СОТРУДНИКОВ
          p.p1.m7 С вниманием к целям и задачам вашей компании
          ul.corp-hero__list.col5.n2w8.n3w7.w3.x4w4.m3
            li.r5.aic.p1 
              svg.corp-hero__svg.ss.i24.x2i20
                use(xlink:href='img/sprite/symbols.svg#check')
              | Обучение с выездом к вам / онлайн / в учебных центрах Петербурга и Москвы
            li.r5.aic.p1 
              svg.corp-hero__svg.ss.i24.x2i20
                use(xlink:href='img/sprite/symbols.svg#check')
              | Адаптация программ каталога / разработка курсов с нуля
            li.r5.aic.p1 
              svg.corp-hero__svg.ss.i24.x2i20
                use(xlink:href='img/sprite/symbols.svg#check')
              | Повышение квалификации / тренинги / групповые консультации



//- http://localhost:1709/page-corp.html#hero