section.corp-hero.section#corp
  .corp-hero__container.container.x1contents
    .corp-hero__body
      .container.n1contents
        .corp-hero__conntent.n1o1.n1w6.n2w8
          h1.corp-hero__title.t1 КОРПОРАТИВНОЕ ОБУЧЕНИЕ ДЛЯ ГРУППЫ СОТРУДНИКОВ
          p.corp-hero__subtitle.p1.m7 С вниманием к целям и задачам вашей компании
          ul.corp-hero__list.col5.n2w8.n3w7.x3w3.x4w4.m3
            li.corp-hero__list-item.p1 Обучение с выездом к вам / онлайн / в учебных центрах Петербурга и Москвы
            li.corp-hero__list-item.p1 Адаптация программ каталога / разработка курсов с нуля
            li.corp-hero__list-item.p1 Повышение квалификации / тренинги / групповые консультации


//- http://localhost:1709/page-corp.html#corp