.corp-hero {
  &__body {
    @media (min-width: $md4+px) {
      color: #{$text-second};
      padding: var(--S1) 0;
    }
  }

  &__list {
    @media (max-width: $md3+px) {
      margin-top: #{$S};
    }
  }

  &__svg {
    @media (max-width: $md4+px) {
      stroke: #{$text-main};
      width: 24px;
      height: 24px;
    }
  }
}
