.-burger {
  cursor: pointer;
  @extend .col;
  @extend .aic;
  @extend .jcc;
  row-gap: 2px;
  padding: 10px;
  @extend .bga;
  // &._active {
  //   & .-burger__line {
  //   }
  //   & .-burger__line:nth-child(1) {
  //     rotate: 45deg;
  //     translate: 0 7.75px;
  //   }
  //   & .-burger__line:nth-child(2) {
  //     width: 0;
  //   }
  //   & .-burger__line:nth-child(3) {
  //     rotate: -45deg;
  //     translate: 0 -7.75px;
  //   }
  // }
  &__line {
    // @extend .dur;
    width: 15px;
    height: 2px;
    background-color: var(--text-second);
    border-radius: 2px;
  }
}