section.breadcrumbs
  .breadcrumbs__container.container
    .breadcrumbs__body
      a.breadcrumbs__item(href="#")  Главная
      a.breadcrumbs__item(href="#")  Каталог семинаров
      span.breadcrumbs__item Семинары и курсы по управлению производством