section.choose.section#choose
  .container
    h1.title семинары и курсы по управлению производством
    form.row.x3wrap.g3.m2.n1o1
      fieldset.n1w3.n3w4.w2.x4w4
        legend.t2.ta Показать курсы в:
        .choose__checkboxes.r30.m5
          +checkbox({
            label: 'Санкт-Петербурге',
            name: 'city',
            checked: true,
          })
          +checkbox({
            label: 'Москве',
            name: 'city',
            checked: true,
          })
      fieldset.n1w3.n3w4.w2.x4w4
        legend.t2.ta Период проведения:
        .dates.m5
          label.dates__date.x4w2
            span.p1.ta с
            .choose__datepicker.datepicker
              input.choose__input.datepicker__input(value="17.02.2025" readonly)
          label.dates__date.x4w2
            span.p1.ta по
            .choose__datepicker.datepicker
              input.choose__input.datepicker__input(value="16.02.2026" readonly)
      .choose__buttons.row.aie.fg
        button.button-primary-s.n3w2.w1.x4w2 Подобрать
        a.button-second-s.n3w2.w1.x4w2(href="#" download)  Скачать PDF

//- http://localhost:1709/archive-courses.html#choose