section.choose.section#choose
  .container
    h1.title семинары и курсы по управлению производством
    form.row.x3wrap.g3.m2.n1o1
      fieldset.n1w3.n3w4.x3w2.x4w4
        legend.t2.ta Показать курсы в:
        .choose__checkboxes.row.m5
          label.checkbox
            input.checkbox__input(type="checkbox" checked)
            .checkbox__span-wrapper
              span.checkbox__span Санкт-Петербурге
          label.checkbox
            input.checkbox__input(type="checkbox" checked)
            .checkbox__span-wrapper
              span.checkbox__span Москве
      fieldset.n1w3.n3w4.x3w2.x4w4
        legend.t2.ta Период проведения:
        .dates.m5
          label.dates__date.x4w2
            span.p1.ta с
            .choose__datepicker.datepicker
              input.choose__input.datepicker__input(value="17.02.2025")
          label.dates__date.x4w2
            span.p1.ta по
            .choose__datepicker.datepicker
              input.choose__input.datepicker__input(value="16.02.2026")
      .choose__buttons.row
        button.button-primary-s.n3w2.x3w1.x4w2 Подобрать
        a.button-second-s.n3w2.x3w1.x4w2(href="#" download)  Скачать PDF

//- http://localhost:1709/archive-courses.html#choose