-
  subrubrics = [
    'Руководителям производств',
    'Управление цехов',
    'Конструкторам',
    'Технологам',
    'Обслуживание оборудования',
    'Автоматизация',
  ]
  
section#subrubrics.subrubrics.section
  .container
    .body
      h2.title показать курсы по теме
      .subrubrics__main.m2
        each link in subrubrics
          a.subrubrics__link(href="#") !{link}

//- http://localhost:1709/archive-courses.html#subrubrics