-
  subrubrics = [
    'Руководителям производств',
    'Управление цехов',
    'Конструкторам',
    'Технологам',
    'Обслуживание оборудования',
    'Автоматизация',
  ]
  
section.subrubrics.section
  .subrubrics__container.container
    .subrubrics__body.body
      h2.subrubrics__title.title показать курсы по теме
      .subrubrics__main.main
        each link in subrubrics
          a.subrubrics__link.t2(href="#") !{link}