.plan-bottom.section#bottom
  .plan-bottom__container.container
    .plan-bottom__body
      img.plan-bottom__img.n3w12(src="img/plan/bottom.png", alt="")
      .plan-bottom__main.row.x4col.g3.n1ol2.n3ol1
        .col5.n1w5.n2w6.n3w5.w2.x4w4
          a.t2d.hover(href="88003338844")  8 800 333-88-44
          p.p1.twb Возьмем часть забот на себя: поможем спланировать обучение большого штата или&nbsp;оформить сложную закупку.
        section.col5.n1w4.n2w5.n3w6.w2.x4w4
          h2.t2d Хотите скачать всё и сразу?
          .col5
            p.p1.twb Вот полный годовой план по всем направлениям. Внимание: в течение года план постоянно растет.
            a.button-accent.n1w3.n3w4.w2.x4w4 План 2024-2025

//- http://localhost:1709/page-plan.html#bottom