.plan-bottom {
  &__container {
    @media (max-width: $md3+px) {
      background-color: var(--bg-second);
    }
  }

  &__body {
    padding-bottom: var(--XL-2XL);
    @media (max-width: $md1+px) {
      padding-bottom: var(--M);
    }
  }

  &__img {
    @media (min-width: $md1+px) {
      height: 300px;
      object-fit: cover;
    }
    @media (max-width: $md3+px) {
      translate: -40px 0;
      width: calc(100% + 237px);
    }
    @media (max-width: $md4+px) {
      translate: -110px 0;
      width: calc(100% + 397px);
    }
  }

  &__main {
    @media (min-width: $md2+px) {
      margin-top: calc(-1 * var(--S)) ;
    }
    @media (max-width: $md3+px) {
      margin-top: var(--S);
    }
  }
}
