.hero-navigation {
  &__img {
    @include poa;
    top: 0;
    right: 0;
    @media (min-width: $md1+px) {
      width: var(--3columnsG);
    }
    @include n2w4;
    @media (min-width: $md3+px) {
      width: var(--3columnsG);
    }
    @media (min-width: $md4+px) {
      width: var(--column);
    }
  }
  &__text {
    @media (min-width: $md1+px) {
      margin-top: #{$XXL};
    }
    @media (min-width: $md2+px) {
      margin-top: 10px;
    }
  }
}
