.baner {
  display: grid;
  & > * {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.hero-navigation {
  &__text {
    @media (min-width: $md1+px) {
      margin-top: var(--XL);
    }
    @media (min-width: $md2+px) {
      margin-top: 10px;
    }
  }
}
