.section.hero-navigation#hero  
  .max.baner
    img.w.x2hide(src="img/navigation/hero.png", alt="")
    .container
      .hero-navigation__text.col3.n1o1.n1w5.n2w7
        h1.t1d Навигация по форматам обучения
        p.p1 За 27 лет работы ассортимент образовательных программ ЦНТИ Прогресс вырос до необъятной, разветвленной системы из 30 отраслевых направлений и тысяч самостоятельных курсов, тренингов, вебинаров. Такое многообразие потребовало расширения форматов обучения. Какие форматы мы предлагаем сейчас и в чем их отличия?

//- http://localhost:1709/page-navigation.html#hero