.promo-item {
  @include col;
  @include fs;
  @include n1w3;
  @include n3w4;
  @include w2;
  @include x4w4;
  @include bs2g;
  @include bpd3;
  &__img {
    @include w;
    height: 213px;
    @include cvr;
    object-position: left bottom;
  }
  &__main {
    @include col;
    @include fg;
    @include m3;
    padding-inline: 20px;
  }
}
