.-promo-item {
  @extend .col;
  @extend .n1w3;
  @extend .n3w4;
  @extend .w2;
  @extend .x4w4;
  @extend .bdg;
  @extend .pd3;
  @extend .pdb;
  &__img {
    @extend .w;
    height: 213px;
    @extend .cvr;
    object-position: left bottom;
  }
  &__main {
    @extend .col;
    @extend .fg;
    @extend .m3;
    padding-inline: 19px;
  }
}
