section.first.section#first
  .container
    h1.title Гостиницы на особых условиях
    .first__main.row.x3col.g3.m2.n1o1
      img.n1w5.n3w6.x3w4(src="img/hotels/first.png", alt="")
      .n1w5.n3w6.x3w4
        h2.t2d Бесплатно забронируем гостиницу с приятными бонусами
        .m5
          p.p1 Мы отобрали лучшие гостиницы недалеко от учебных центров ЦНТИ Прогресс и договорились о выгодных ценах и полезных бонусах для наших слушателей. 
          p.p1 Все привилегии действуют только при бронировании через службу гостиниц ЦНТИ Прогресс.

//- http://localhost:1709/page-hotels.html#first