
.section.pd1.bgs
  .container
    .col5
      .col7.aic
        p.p1 Заполните, пожалуйста, информацию об участниках или позвоните по телефону службы записи
        p.p2.r.aic
          a.sa-link.link.r5.aic
            svg.i24
              use(xlink:href='img/sprite/symbols.svg#phone')
            span +7(812)327-49-55
          | &ensp;
          span (многоканальный)
      .col7.aic
        p.p1 Для оперативного обмена документами присоединяйтесь к нам в ЭДО
        img(src="img/sign/contur.png", alt="")